[2022-04-27 20:14] alqurri77 opened #992 "Could you implement Dice score as metric"
I notice Dice score is implemented as functional, but it could not be used as metric (like accuracy metric example). Could you please implement Dice score as metric.

[2022-04-28 08:23] phaseolud commented on #956
I would like to pick up retrieval as well! 😄

[2022-04-28 10:26] Chris-hughes10 opened #994 "`ValueError: 0.5/0.75 is not in list` - when passing a custom set of IoU thresholds to `MeanAveragePrecision`"
## 🐛 Bug

When I try to use `MeanAveragePrecision` to compute the mAP over a custom range of IoU thresholds, a value error is thrown if `0.5` and `0.75` are not included in the list.

This is due to these values being hardcoded [here](https://github.com/PyTorchLightning/metrics/blob/c494f3575f542e7c264555a71fb97e8676f64700/torchmetrics/detection/mean_ap.py#L656).

### To Reproduce

Steps to reprod

[2022-04-28 10:36] bepuca commented on #994
I am facing the same issue when passing a single threshold, which I need to do some error analysis.

Maybe a potential solution is to have an optional argument at the beginning set by default at `[0.5, 0.75]` to indicate the desired thresholds to be reported? Then would be possible to iterate over the asked thresholds and report them? If you like the idea, maybe I could give it a go and do a PR.

[2022-04-28 12:05] SkafteNicki commented on #994
Hi @Chris-hughes10 and @bepuca,
I created PR #995 to address this. We will simply check for the 0.5 and 0.75 in the list of thresholds and if they are not present we will set them to -1. Hope this works for your both :]

[2022-04-28 12:18] bepuca commented on #994
Thank you very much for such a quick response @SkafteNicki !

[2022-04-28 17:15] SkafteNicki commented on #977
Hi @PCPJ,
Is your code in a public repository, because then I can take a look at what the problem might be?

[2022-04-28 22:59] PCPJ commented on #977
Thanks for your quick reply @SkafteNicki.
No, my code isn't in a public repository. What I did was taking my code, cropping all the unnecessary stuff and committing in a public repository.
[Here it is](https://github.com/PCPJ/Torchmetrics-BUG).
I tested this code, and it is presenting difference between versions. The graphs showing the difference is in the repo as well.
Thank you so much.

[2022-04-29 12:54] #780 closed

[2022-04-29 13:16] Borda commented on #992
@alqurri77 good point. Are you interested in sending such PR?

[2022-04-29 20:43] alqurri77 commented on #992
Do you mean creating a pull request. I don't I think have enough background to do this.

[2022-04-30 00:26] Borda commented on #992
it is not hard, pls have look at [Quick Open-Source Contribution Guide](https://devblog.pytorchlightning.ai/quick-contribution-guide-86d977171b3a)

[2022-05-01 15:48] tsteffek opened #1000 "Nested MetricCollection"
## 🚀 Feature

Allowing MetricCollection to contain other MetricCollections for even less boilerplate and coding effort.

### Motivation

When using both micro and macro metrics I either need to call two different collections or provide the collection with a dictionary of names, which could easily be created by appending a post-/prefix to the metric name.

### Pitch

I envision something like:
[cod

[2022-05-02 08:25] SkafteNicki commented on #1000
cc: @Borda and @justusschock
Seems like a good idea to me, but it will not work with the compute group feature we just implemented.

[2022-05-02 13:07] SkafteNicki commented on #977
Hi PCPJ,
I finally got time to debug this and I have some good news and some bad news:

The metrics never stopped working. We have CI to test this so I was sceptical that they would begin to produce wrong results.
What has changed is that the argument `compute_on_step` has be deprecated/removed. If you take your code with v0.7 of torchmetrics and set `compute_on_step=True` you can basically reprod

[2022-05-03 08:47] SkafteNicki opened #1001 "Classification refactor"
The classification package is long overdue for a refactor as we are seeing a rising number of issues that either request new features that are hard to implement in the current codebase, a disagreement between what users expect the metrics are doing and what they are actually doing.

A full list of issues marked that should be taken care of with the refactor can be found [here](https://github.com/P

[2022-05-03 08:58] justusschock commented on #977
@SkafteNicki I think so as well. Instead of nesting them, there is always the way of subclassing for extension. So I think we shouldn't  forbid it for single metrics but not put in effort to support this by collections

[2022-05-03 11:16] awaelchli commented on #1001
I like that we are thinking of simplifying this for the users. The classification module has grown organically - many more options have been added over time. I agree a refactor is appropriate here.

I like the alternative approach 1 where we keep the current basic classes as light wrappers. These are easy to remember and  frequently used (Accuracy, F1, Precision ...) by a large user base. If we go

[2022-05-03 11:58] ethanwharris commented on #1001
Sounds good, I agree with @awaelchli that it would be nice to keep the base `Accuracy` etc. classes with e.g. the `mode` argument seems reasonable. Flash can be updated to work with either API :smiley:

[2022-05-03 14:57] #977 closed

[2022-05-04 09:44] SkafteNicki commented on #956
@tanmoyio how is it going with the change for audio?

[2022-05-04 09:57] tanmoyio commented on #956
@tanmoyio sorry I was in vacation, I will do it today.

[2022-05-04 14:30] souravraha opened #1006 "AttributeError while updating MetricCollection with prefix/postfix."
When the metric collection object is initialized with either a prefix or a postfix (or both), updating throws an
**AttributeError: 'MetricCollection' object has no attribute '{prefix}MetricKey{postfix}'**. This is unexpected because after initialization, the MetricCollection keys already include the prefix as well as the postfix.

Here are some of my observations:
1. If the collection has is singl

[2022-05-05 09:20] Borda opened #1009 "Compatibility with future PT 1.12"
## 🐛 Bug

[code]

### To Reproduce

https://github.com/PyTorchLightning/metrics/runs/6275393755?check_suite_focus=true

#### Code sample

[code]

### Expected behavior

### Environment

- OS (e.g., Linux): linux
- Python & PyTorch Version (e.g., 1.0): py3.8 & pt1.12

### Additional context

context see https://github.com/pytorch/pytorch/pull/75647
slack: https://pytorch.slack.com/archives/C3PDTEV8

[2022-05-05 10:29] pietrolesci opened #1010 "CalibrationError bin_boundaries added to state_dict"
Hi there,

The `bin_boundaries` of the `CalibrationError` metrics are added to the state_dict when model are saved (e.g., in PL: `trainer.save_checkpoint`). This creates an error when the state_dict is reloaded (e.g., in PL: `MyModel.load_from_checkpoint`) because the keys relative to the `bin_boundaries` are not available in the model.

cc @SkafteNicki

https://github.com/PyTorchLightning/metrics

[2022-05-05 11:19] #1009 closed

[2022-05-05 11:27] Borda commented on #956
Cool! :tada: Thank you all!

[2022-05-05 11:27] #956 closed

[2022-05-05 13:16] #1000 closed

[2022-05-06 04:37] #1006 closed

[2022-05-06 08:31] MrShevan commented on #992
Hi, @Borda @alqurri77 !
If it is still unresolved, could you assign it to me?)

[2022-05-07 06:26] ragavvenkatesan commented on #789
+1 to this comment. Seems like,

* `forward` updates the state and returns the current input's metric.
* `compute` computes the metric from current state.
* `update` only updates the current state.

Is this right?
Thanks.

[2022-05-07 15:57] #1010 closed

[2022-05-07 15:57] SkafteNicki commented on #789
Yes, that is completely right :]

[2022-05-08 10:27] tsteffek commented on #918
If you're going in this direction, might be interesting to have Krippendorff's Alpha in mind as well. We chose it over Fleiss Kappa because of its ability to work with varying amounts of labelers per data point.

Not that I need it or anything, just as a note. We currently use [Simpledorff](https://github.com/LightTag/simpledorff) for that.

[2022-05-08 10:43] faber6911 opened #1017 "Some metrics are handling absent values ​​incorrectly"
## 🐛 Bug

Some metrics such as `Accuracy`, `Precision`, `Recall` and `F1Score` are handling the absent values incorrectly.
A value absent in target and pred, and therefore correctly predicted, is considered incorrect.
### To Reproduce

Steps to reproduce the behavior...
* Initialize the metric with `num_classes = 2`, `mdmc_average = "samplewise"` and `average = "none"`;
* create a batch of 2 eleme

[2022-05-08 10:44] tsteffek opened #1018 "PyTorch Lightning's Precision 64 and version 0.8: Expected scalar type double"
## 🐛 Bug

Since v0.8 (honestly, did only try 0.8.1 and 0.8.2) setting `precision` to 64 will crash any `stat_scores` dependent metric.

### To Reproduce

Just use any `stat_scores` metric within any trainer call, be it `validate` or `fit`.

#### Code sample
[code]

### Expected behavior

It shouldn't crash and calculate metrics as in any other precision.

### Environment

- pytorch/pytorch:1.11.0-

[2022-05-10 13:20] senarvi opened #1024 "MeanAveragePrecision is slow"
## 🐛 Bug

It's extremely slow to compute the mean-average-precision since torchmetrics > 0.6.0.

### To Reproduce

I noticed that my training times have almost doubled since I upgraded torchmetrics from 0.6.0, because validation using the MAP / MeanAveragePrecision metric is so much slower. During validation steps I call `update()`, and in the end of a validation epoch I call `compute()` on the `M

[2022-05-10 14:09] Borda commented on #1024
interesting and thx for such rigorous comparison per version... Could you pls also share your benchmarking code?

[2022-05-10 14:24] SkafteNicki commented on #1024
* So the change from 0.6.0 to 0.6.2+ was due to us changing from using Pycocotools to pure Pytorch https://github.com/PyTorchLightning/metrics/pull/632
* In 0.7.1 we did improve performance https://github.com/PyTorchLightning/metrics/pull/742
* I assume that in 0.8.0 it was this PR that made it slower https://github.com/PyTorchLightning/metrics/pull/950

@Borda we can either try to improve our own

[2022-05-10 18:30] thomasahle opened #1026 "Accuracy doesn't work with 64 bit precision"
## 🐛 Bug

Accuracy (and maybe other metrics?) seem to assume inputs are always 32 bit, so when they create new tensors they run into problems.

### To Reproduce

Set `precision=64` in your `pl.Trainer` and use accuracy in your model:

[code]

I get this error:

[code]

### Expected behavior

The metric should copy the `dtype` from the input when creating new tensors.

### Environment

- TorchMetri

[2022-05-10 18:50] thomasahle commented on #1026
I might be wrong about why this problem arises. Let me debug it a bit more and maybe reopen.

[2022-05-10 18:50] #1026 closed

[2022-05-11 05:59] SkafteNicki commented on #1024
@senarvi could you kindly provide the benchmarking script that you have used, such that we have something to use when trying to improve runtime

[2022-05-11 06:47] senarvi commented on #1024
I created a subclass of the [YOLO](https://github.com/groke-technologies/pytorch-lightning-bolts/blob/yolo-update/pl_bolts/models/detection/yolo/yolo_module.py) model, but I quess you could subclass any model in the same way. I used proprietary data, but you could use any data. However, if we want to compare each other's results, we should decide what model and data we use. But maybe it would be e

[2022-05-11 07:06] SkafteNicki commented on #1024
@senarvi, yes the model does not really matter, it is the metric computations that are the important.
Essentially, this is the code we want to measure:
[code]
This should remove any variation from other lightning code. If you could provide some code to generate random data for testing that should therefore be enough.

[2022-05-11 08:30] 3288103265 opened #1027 "FrechetInceptionDistance wrong behavior for calculating two features with different batch size"
## 🐛 Bug

I want to calculate FID between the real and fake images, but the batch_size of fake images is 5 times the real ones (according to the traditional setting in layout2img), and the result is wrong. Then I checked the implementation of [FID](https://github.com/PyTorchLightning/metrics/blob/a971c6b456e40728b34494ff9186af20da46cb5b/torchmetrics/image/fid.py#L270), which assumes the same batch

[2022-05-11 08:38] senarvi commented on #1024
I can try to do that.

[2022-05-11 08:48] 3288103265 commented on #1027
FYI, the more suitable behavior might be something like the following code
[code]

[2022-05-11 09:56] SkafteNicki commented on #1027
Hi @3288103265,
I have created PR #1028 with your proposed solution. Thank you for reporting this issue :]

[2022-05-11 10:05] #1027 closed

[2022-05-12 05:07] thomasahle opened #1029 "KL-Divergence gives NaN on 0-probabilities"
## 🐛 Bug

KL-Divergence defined `sum_i p_i log(p_i / q_i)` should allow `p_i`s to be zero, simply ignoring those terms. This is standard behavior, similar to how entropy `sum_i p_i log(1/p_i)` can be computed with some `p_i`s being zero.
(Note `q_i`s should not be allowed 0, unless the corresponding p_i also is.)

### To Reproduce

#### Code sample

[code]

### Expected behavior

Some value other

[2022-05-12 07:47] #344 closed

[2022-05-12 07:49] SkafteNicki commented on #1024
@senarvi cool, this already clearly shows that any improvements that we should be able to do is in `compute` :)

[2022-05-12 07:49] SkafteNicki commented on #1029
Hi @thomasahle
I created PR #1030 which will solve this problem. Thanks for reporting this issue.

[2022-05-12 12:00] SkafteNicki commented on #1024
I just ran a profile of the script.
![profile](https://user-images.githubusercontent.com/24896311/168069720-02600b85-d551-4f8b-b60d-ef802445d825.PNG)
It is clear that the majority of time is spend in the `_find_best_gt_match` function. It is important to note that each function call is actually quite fast, however the function gets called a ridicules number of times.

[2022-05-12 12:41] Borda commented on #1024
very nice finding, does any of you want to take it and find some boost?
cc: @twsl @PyTorchLightning/core-metrics

[2022-05-12 14:43] #1018 closed

[2022-05-12 17:26] thomasahle commented on #1029
You should try this test too: p=[0.5, 0.5, 0], q=[0.5, 0.5, 0], which should work without problems.
And maybe p=[0.3, 0.3, 0.4], q=[0.5, 0.5, 0] which should ideally return inf (not nan)

[2022-05-13 13:00] #1029 closed

[2022-05-14 06:43] xuyxu commented on #946
After a thorough look at the internal methods, I think it is quite easy to compute brier score based on existing metrics, therefore no need to add a new metric and inevitably bring some maintenance costs. Thanks!

[2022-05-14 06:43] #946 closed

[2022-05-14 07:10] tsteffek commented on #1018
As always amazed by the speed you guys work on issues 🙂

[2022-05-16 01:45] #992 closed

[2022-05-16 21:08] charlielito opened #1034 "Pytorch<1.8 not working despite requirements.txt"
## 🐛 Bug

In `requirements.txt` you depend on torch>=1.3.1 but while trying to use torchmetrics with torch1.4 I encountered an error in https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/utilities/data.py#L242 because `are_deterministic_algorithms_enabled` function is only available for torch>=1.8

### To Reproduce

Install torchmetrics and torch<1.8 and run the provided script.

[2022-05-17 03:55] Borda commented on #1034
I canot reproduce the issue :(
[code]

[2022-05-17 15:26] charlielito commented on #1034
That's weird :s What cuda version do you have?

[code]

[2022-05-20 16:54] mfoglio opened #1040 "Precision fails when using negative ignored index"
## 🐛 Bug

When setting `ignore_index=-1` accuracy can be computed, but precision fails with the following error:
[code]

I also tried to use a positive number, say `1000` and I get an error for Accuracy too:
[code]

### To Reproduce

[code]

### Expected behavior

Precision ignores the index `-1`.

### Environment

- TorchMetrics version 0.8.1
- Python & PyTorch Version (e.g., 1.0): 1.11.0+cu102

[2022-05-20 17:06] mfoglio commented on #1040
If the error above is really a bug and you can to point to the proper place where the ignored labels should be handled, I'll be happy to work on a fix.

[2022-05-24 04:43] #1034 closed

[2022-05-24 09:08] SkafteNicki commented on #1040
Hi @mfoglio,
We are fully aware of this issue that our classification metrics does not out of the box support negative index. We will make this part of a greater refactor of the classification package (this issue #1001) in the upcoming weeks.

[2022-05-24 16:59] justusschock opened #1044 "Investigate MPS support"
## 🚀 Feature

We need to investigate support for the new 'mps' backend. I assume this will not be working, as many operations are not yet supported. However, we should give it a try and currently raise an error if necessary.

For the record: https://github.com/PyTorchLightning/pytorch-lightning/pull/13123

[2022-05-25 07:42] timurlenk07 commented on #671
This issue still exists in 0.8.2: in a multi-GPU setup, MAP `compute` call fails with `RuntimeError: Tensors must be CUDA and dense`

[2022-05-25 12:06] kpoeppel opened #1045 "Accuracy, Precision, Recall, Specificity wrong accumulation with average='none' inside Wrapper."
## 🐛 Bug

The Classification Metrics Accuracy, Precision, Recall and Specificity in average='none' mode return negative metrics values, when called multiple times once with missing and once with present targets.

### To Reproduce

[code]

Output:
tensor([0., 0., nan])
tensor([0., 0., -1.])

### Expected behavior

Output:
tensor([0., 0., nan])
tensor([0., 0., 0.])

### Environment

- TorchMetrics v

[2022-05-25 12:50] Borda commented on #671
@SkafteNicki @tkupek mind having a look? ^^

[2022-05-25 13:25] ravikakaiya opened #1047 "CUDA TENSOR RuntimeERROR"
## 🐛 Bug

While Passing a cuda tensor we encounter a RuntimeERROR : Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!

### To Reproduce

Run the following code.
#### Code sample
[code]
### Expected behavior

Should return a tensor of a value.

### Environment

- TorchMetrics version (and how you installed TM, e.g. `conda`, `pip`, build from source): Tor

[2022-05-25 13:46] Borda commented on #1047
it is expected, that you need to have also the metric on the sam device or use PL logging which does it for you... :rabbit:
see: https://github.com/PyTorchLightning/metrics/issues/608#issuecomment-963153184

[2022-05-25 13:46] #1047 closed

[2022-05-25 13:58] timurlenk07 commented on #671
Sadly I cant share the current code, but I will try to create a similar sample script for it.

[2022-05-25 14:55] ravikakaiya commented on #1047
Thank You @Borda

[2022-05-25 16:10] #826 closed

[2022-05-25 16:16] tkupek commented on #671
I'm still using the pycocotools CPU version of this metric, because it's much faster in my case. Is the bug occuring on Single or Multi GPU setup?

[2022-05-26 01:58] richarddwang opened #1049 "Accuracy failed in dp (DataParallell) mode"
## 🐛 Bug

`RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cuda:1!`

### To Reproduce

The code below works well in ddp mode, but in dp mode it splits error.

#### Code sample

[code]

### Expected behavior

### Environment

- TorchMetrics version (and how you installed TM, e.g. `conda`, `pip`, build from source): pip, 0.8.2
- Python & PyTorc

[2022-05-26 14:27] maestro4 opened #1050 "ConfusionMatrix and MatthewsCorrCoef in a MetricCollection throw an Exception"
## 🐛 Bug

Following works:
[code]

But following throws an exception:
[code]

I believe the type of the tensor at the following line is the issue:
https://github.com/PyTorchLightning/metrics/blob/4a281494ee1113992dc69e3b471b2f3b43549929/torchmetrics/classification/matthews_corrcoef.py#L81

I'm using the version 0.8.2

[2022-05-26 15:13] maestro4 opened #1051 "Usage of MetricCollection throws warnings that compute method was called before update."
## 🐛 Bug

MetricCollection is using groups now. For e.g. Precision(), Recall(), F1Score() are put in a same group. These groups aren't being updated. Warnings are issued, but I've not checked whether the results are calculated correctly.

Warning:
[code]
### To Reproduce

Run following code:

#### Code sample
1. Initialize MetricCollection
[code]

2. Simulate first epoch:
[code]

3. Simulate secon

[2022-05-27 08:44] SkafteNicki commented on #1050
Hi @maestro4,
Thanks for reporting this issue. I could not reproduce on master and it seems to already be solve in this PR: https://github.com/PyTorchLightning/metrics/pull/1022.
Please upgrade to master or wait for release v0.9 that should be out in one of the following days.
Closing issue.

[2022-05-27 08:44] #1050 closed

[2022-05-27 09:55] #1045 closed

[2022-05-27 10:36] SkafteNicki commented on #1049
Hi @richarddwang,
To make the debugging easier, could you provide a fully reproducible script ?

[2022-05-27 12:32] rpgit12 opened #1053 "functional.fbeta_score memory use"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior...

#### Code sample

### Expected behavior

### Environment

- TorchMetrics version (and how you installed TM, e.g. `conda`, `pip`, build from source):
- Python & PyTorch Version (e.g., 1.0):
- Any other relevant information such as OS (e.g., Linux):

### Additional context

[2022-05-27 12:39] Borda commented on #1053
@rpgit12 do you have any question?

[2022-05-27 12:40] rpgit12 commented on #1053
Sorry for inadvertently hitting submit before entering text ...

I'm calculating macro f2 score as per the below. I believe this should be fairly straightforward to calculate, but the torchmetrics implementation usages excessive memory (attempting to allocate 32 GBs.) This is intended for an macro level f2 score, multilabel (not multiclass.)

Can you help confirm this is indeed a problem with the

[2022-05-27 13:15] SkafteNicki commented on #1053
Hi @rpgit12,
You are completely correct that `fbeta_score` currently are using large amount of memory when the input contains many classes/labels. The problem is the tensor created here:
https://github.com/PyTorchLightning/metrics/blob/0495862cae1fd4caa9b77e97bbb0a9d783ecd881/torchmetrics/utilities/data.py#L105-L111
which in your case will be [1000, 2000, 2000] tensor that fills around 30 GB as yo

[2022-05-27 13:29] rpgit12 commented on #1053
@SkafteNicki - thank you for confirming.  I think there is still another issue, as the F2 score returned between individual labels and the macros score doesn't seem to match (what I'd expect, at least.)

Below an example; I would expect that the arithmetic mean of the individual scores matches the macro f2 score for all labels combined.

[code]

Thanks again for looking at this!

[2022-05-27 13:57] SkafteNicki commented on #1053
This is another inconsistency that I hope to address in the upcoming refactor. Basically the problem is that the individual is calculates as an average of the positive and negative class, where as it should only be calculated over the positive class. A slightly adjusted version of your code does this correctly:
[code]
Again sorry for the troubles this is giving you.

[2022-05-30 14:28] gpucce opened #1055 "PearsonCorrCoef throws device when tensors are on cuda device"
## 🐛 Bug

### To Reproduce

[code]
### Expected behavior

Compite pesron corr coef

- TorchMetrics version: installed with pip , verison 0.8.2

[2022-06-01 09:40] Yura52 commented on #1001
While it is not directly related to the discussion, in theory, [this issue](https://github.com/pytorch/ignite/issues/1089) may also be relevant, since it highlights one more aspect of accuracy-like metrics that may be taken into account during the refactoring.

[2022-06-02 02:59] avinashsai commented on #937
@SkafteNicki @Borda Can I take this up?

[2022-06-02 09:37] Borda commented on #937
@avinashsai sure, you are more than welcome!

[2022-06-02 10:02] JeroenDelcour opened #1061 "Missing documentation for mask format for segmentation IOU type in mAP detection metric"
The [documentation](https://torchmetrics.readthedocs.io/en/v0.9.0/detection/mean_average_precision.html) seems to be missing the required format for masks when using the "segm" option for `iou_type`.

I'm assuming there has to be a dict entry with key "masks", but what should the shape and dtype of the masks be? I tried a few different options, but always got cryptic errors from pycocotools. The [

[2022-06-02 10:39] SkafteNicki commented on #1061
cc: @gianscarpe can you comment what the format should be then @JeroenDelcour can do the actual PR? :]

[2022-06-03 06:57] mszulc913 opened #1063 "Aggregation metrics ignore zeros tensors"
## 🐛 Bug

When feeding `CatMetric`, `MinMetric` or `MaxMetric` with zeros tensor, the metric isn't updated.

### To Reproduce

1. Create a new `CatMetric` instance and feed it with zeros tensor.
2. `compute()` returns empty list.

#### Code sample

[code]

### Expected behavior

Zeros tensor should update metric's state.

### Environment

[code]
Ubuntu 20.04.4

### Additional context
The problem i

[2022-06-03 11:29] Kr4is opened #1064 "UserWarning at functional confusion_matrix function"
## 🐛 Bug

When executing the function 'confusion_matrix' of the functional module, a `UserWarning` appears:

[code]

This call does not allow the `full_state_update` parameter to be passed, so as users we have no way to change this behaviour. So, we should not show a user warning.

### To Reproduce

Simply run the `confusion_matrix` function of the functional module

#### Code sample

`confusion_m

[2022-06-03 15:51] rasbt opened #1065 "Incorrect logits use in accuracy metric?"
Hey all,

in https://torchmetrics.readthedocs.io/en/stable/pages/overview.html?highlight=metriccollection#metriccollection

we pass "logits" into the `accuracy` function.

![Screen Shot 2022-06-03 at 10 49 03 AM](https://user-images.githubusercontent.com/5618407/171901005-4885afbb-a3b7-4525-bf3c-419f1fce9318.png)

According to the `Accuracy` docs, shouldn't the input be either class labels or prob

[2022-06-03 16:06] rasbt commented on #1065
Please nevermind, logits are supported :D

[2022-06-03 16:06] #1065 closed

[2022-06-03 16:23] rasbt commented on #746
Also, can we add a `"binary"` option for `average` so that we can compute the original recall score for binary classes?

Like

[code]

[2022-06-04 16:38] jlshin opened #1067 "Perason Correlation with cuda tensors raises error"
When computing the Pearson Correlation Coefficient with input cuda tensors (prediction and target), an error is raised because some default values (`mean_x`, `mean_y`) are initialized as torch.tensors (on the cpu).

Example:

Output:
[code]

Versions:
torchmetrics: 0.8.2
python3.9

[2022-06-05 11:22] SkafteNicki commented on #1067
As described [here in the documentation](https://torchmetrics.readthedocs.io/en/stable/pages/overview.html#metrics-and-devices) each metric object is a `nn.Module` and therefore should be moved to the same device as input. Your example therefore works if we move the metric to gpu:
[code]
Also we will be improving the error message for this case with this PR: https://github.com/PyTorchLightning/met

[2022-06-05 11:22] #1067 closed

[2022-06-05 11:24] SkafteNicki commented on #1064
Will be fixed by PR #1058

[2022-06-05 13:52] tkupek commented on #671
Is this already resolved or do we need further analysis?

[2022-06-05 18:06] tsteffek commented on #1064
There's also a warning with `MeanMetric` (and I assume all Aggregators, since `full_state_update` doesn't appear within the [aggregation file](https://github.com/PyTorchLightning/metrics/blob/567fa3405d5a60ba0a6052e57afe5a5d34c376a7/torchmetrics/aggregation.py)). Not entirely sure whether this is related or a separate issue.

[2022-06-06 01:14] jlcsilva opened #1068 "Error when providing superclass arguments as kwargs"
## 🐛 Bug

When some classes are instantiated with superclass arguments as kwargs, the superclass constructor receives multiple values for these arguments and instantiation fails with an error like:

`TypeError: torchmetrics.classification.stat_scores.StatScores.__init__() got multiple values for keyword argument 'reduce'`

This happens for the following classes:

- Accuracy
- Dice
- JaccardIndex
-

[2022-06-06 09:23] SkafteNicki commented on #1064
Hi @tsteffek,
It is the same issue since we have not been strict enough to test the new `full_state_update` feature. It will be added to aggregation metrics in PR #1070 (along some other changes to aggregation metrics).

[2022-06-06 10:18] gianscarpe commented on #1061
Hi! let me clarify this.
Predictions are a list of dictionaries. Each dictionary has 3 keys, "masks", "labels", and "scores". Labels and scores are the same as in bounding-boxes IOU. "masks" is a tensor of shape N_predxHxW, as the example below
[code]
In unit-test was easier to use the RLE version and decode it when giving it as input to `update`. Thanks for pointing out!

[2022-06-06 10:19] gianscarpe commented on #1061
Regarding the dependency, unfortunately, mask-IOU is time and computation-consuming, and pycocotools have a CPP implementation. What I suggest I implementing a RLE toolbox that also works with CUDA and integrate it in torchmetrics, removing pycocotools depency

[2022-06-07 08:17] icedpanda opened #1074 "Bleuscore from torchmetric give different results compare to NLTK"
## 🐛 Bug

### To Reproduce

Bleu's score from `torchmetric` and `nltk` is different.

I can only get the same result if `k` = 1. Otherwise, it returns a different Bleu score

#### Code sample

[code]
### Expected behavior

I would expect the same bleu score from `torchmetric` and `nltk`

### Environment

- TorchMetrics version: 0.9.0
- nltk: 3.4.5
- Python: 3.7
- Linux

### Additional context

[2022-06-07 08:35] SkafteNicki commented on #1074
cc: @stancld is probably the best to answer this but from out code I can tell this is the comparison function we use for our implementation:
https://github.com/PyTorchLightning/metrics/blob/3856db48f65c8c7cd17bda4fceaa3584ceeab593/tests/text/test_bleu.py#L30-L35
where `corpus_bleu` comes from:
[code]

[2022-06-07 08:36] stancld commented on #1074
Hello @icedpanda, thanks for raising this issue. The difference lies in the fact that `torchmetrics` uses a uniform weights `1/n` for weighting n-gram BLEU score. That means if you set weights for `nltk` like `[1/3, 1/3, 1/3, 0]`, you obtain the same results.

Question for @Borda & @SkafteNicki -> Don't we wanna allow to set weights manually, with the default behaviour following the current implem

[2022-06-07 08:43] SkafteNicki commented on #1074
@stancld I would be fine with adding a new argument:
[code]
where `None` is uniform weight or else the user can provide a list of floats.

[2022-06-07 08:50] #1064 closed

[2022-06-07 11:13] #1063 closed

[2022-06-07 14:40] ThoreMeyer12 commented on #1051
I also have the same problem. The same warning only occurs in 8.2. The problem still exists in 9.0 and 10.0dev0 (7.6.2022) with pytorch-lightning 1.6.3

A work-around is setting compute_groups = False

1.  Initialize MetricCollection
[code]
2.  Pytorch-lightning training_step
[code]
Using wandb as logger:
![image](https://user-images.githubusercontent.com/93486384/172405628-ff639c4f-b9a7-47ec-964a

[2022-06-07 20:37] #1068 closed

[2022-06-08 19:16] #1051 closed

[2022-06-09 02:11] griff4692 commented on #746
I am also having this issue as well - is there a simple way to fix this?

[2022-06-09 08:27] sian-chen commented on #932
Hi, is there any timeline to resolve this problem?
The solution provided above works well.
This is important for extreme multi-label experiments.

[2022-06-10 06:17] 24hours commented on #1024
Perhaps we can implement this for fast evaluation.
It does require c++ however.

https://github.com/facebookresearch/detectron2/blob/cbbc1ce26473cb2a5cc8f58e8ada9ae14cb41052/detectron2/evaluation/fast_eval_api.py

[2022-06-10 07:02] justusschock commented on #1024
@24hours I think the way to go here would be to first try and clean up the code before we decide to dispatch to C++

[2022-06-10 12:26] gianscarpe commented on #1061
@23pointsNorth thanks for trying this out! It seems from  your reported issue that you're using IOU type bboxes. Can you check at initialization what IOU type are you passing as argument? should be "segm" for using segmentation IOU
[code]

[2022-06-10 12:34] 23pointsNorth commented on #1061
Hi @gianscarpe , it was the case that if there are 0 predictions made by the model, another call was made that had some leftover area calculation that wasn't converted to use the `self.iou_type`. See here for the fix #1080.

Thanks for doing #822 in the first place!

[2022-06-11 16:01] lsecerovic commented on #1047
@Borda can you please comment how to use PL logging so that it does this for us?

[2022-06-12 11:58] tsteffek opened #1083 "MetricCollection doesn't merge compute groups on forward"
## 🐛 Bug

So I'm not entirely sure whether this is a bug or intentional, in that case this would be a doc fix request.

As the title states, the `MetricCollection` will not merge compute groups on `forward()`. While `update()` merges the compute groups and calls update on all metrics, forward will only call forward on all metrics and ignore compute groups altogether.

This is contradictory to the

[2022-06-12 13:03] tsteffek opened #1084 "Classification Multilabel Micro AveragePrecision does not form a compute group with comparable metrics"
## 🐛 Bug

While micro and macro `AUROC` play well with each other and macro `AveragePrecision`, micro `AveragePrecision` will not be merged into the same compute group.

This is due to AveragePrecision flattening its predictions and targets in the `update()` call ([see here](https://github.com/PyTorchLightning/metrics/blob/ea97d033ea3c7d77a927907c4d6232f1ada6469a/src/torchmetrics/functional/classi

[2022-06-14 15:38] faber6911 commented on #1061
Hi @gianscarpe,
one thing is not clear to me about the input format.

The masks must necessarily contain only one element for each mask?

e.g.
[code]
or it could be also something like
[code]

[2022-06-15 05:44] hslee-lunit opened #1088 "Some metrics do not support `compute_on_cpu` in DDP."
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior...

AUC calculation in DDP is not working when `compute_on_cpu` is True.
I guess the reason is that `x` and `y` are saved in CPU, but when computing the metric, `all_gather` is triggered.
Accuracy works fine, but AUC does not work.

<details>
<summary>Error message</summary>
<div markdown="1">

[code]

</div>
</details>

#### Code sample

[2022-06-15 16:31] jlcsilva opened #1089 "Generalized Dice Score"
## 🚀 Feature

Generalized Dice Score (= 1 - [Generalized Dice Loss](https://arxiv.org/abs/1707.03237)), to evaluate overall segmentation performance in multiclass scenarios.

### Motivation

Nice complement to Dice Score.

### Pitch

Addition of new class and function for generalized dice score computation.

### Additional context

Will make a PR for this right away

[2022-06-16 08:18] wooseok-shin opened #1092 "pesq metric reduction parameter"
Hi,

[code]

I want to extract pesq score for each individual instance in the batch.
For other metrics (SSIM, etc...), I found that there was a reduction parameter, but not pesq.
Why is there no reduction='none' in pesq?

Best Regards,

[2022-06-16 08:33] SkafteNicki commented on #1092
Hi @wooseok-shin, if you want to calculate the metric per batch element you can just use the functional implementation:
[code]

[2022-06-16 10:30] bepuca opened #1093 "Help needed - Disable automated syncing between processes"
## 🚀 Feature

We would like to disable automated gathering across processes and do that manually prior to calling the metric.

### Motivation

We need to apply some custom logic to our data for which we need all of it in a single process, so we gather before applying the metric. We would like then, to use that processed data against the metric without it doing extra gatherings and getting the same

[2022-06-16 12:12] ravikakaiya opened #1094 "Data accumulation while computing in GPU"
## 🐛 Bug

### To Reproduce

create a dataloader.
Passing batch wise images to GPU.
Computing SSIM on GPU.
After each batch the GPU memory allocation keeps on increasing.
Resulting into Cuda outof Memory

### Expected behavior

RuntimeError: CUDA out of memory. Tried to allocate 210.00 MiB (GPU 0; 15.78 GiB total capacity; 14.39 GiB already allocated; 138.50 MiB free; 14.42 GiB reserved in total by

[2022-06-17 08:24] lucienwang1009 commented on #746
Hi, I encountered a similar issue when using the Precision metric in MetricCollection. The output was always zero rather than consistent with other metrics.
**However, changing the `compute_groups` fixed my problem.**
Hope it will be helpful.

[2022-06-17 14:56] LarsHill commented on #987
Hey,

Are there any updates on this matter? After checking `metric.py` I don't see a particular reason for this restriction but maybe I overlooked something.
Also, the `reset` method could simply reset each state variable to the user defined default instead of checking the type to distinguish between `List` and `torch.Tensor`. Regarding reduction logic one can keep the current approach and if the

[2022-06-17 16:43] SpontaneousDuck opened #1095 "MeanAveragePrecision device error when no correct class predictions"
## 🐛 Bug

When using MeanAveragePrecision and calling update() with the case that there are no matching ground-truths and predictions, `gt_ignore` is not being set to the correct device and results in a device mismatch when calculating MAP metrics.

### To Reproduce

Call update on MeanAveragePrecision with all CUDA tensors being input and have cases where there are ground truth boxes with no matc

[2022-06-18 12:48] kouyk opened #1096 "MeanAveragePrecision does not handle empty predictions or ground truth boxes not in xyxy format"
## 🐛 Bug

When empty ground truth or prediction `boxes` tensor are provided, `MeanAveragePrecision` crashes during the conversion to `xyxy` from other formats.

### To Reproduce

Steps to reproduce the behavior...

1. Have empty `boxes` tensor in ground truth or prediction
2. instantiate `MeanAveragePrecision` with `box_format='xywh'`
3. run `update` with the ground truth and prediction boxes
4. c

[2022-06-18 17:15] cwognum opened #1098 "AUPRC `sample_weights` supported, but not used"
## 🐛 Bug

The [AUPRC](https://torchmetrics.readthedocs.io/en/stable/classification/average_precision.html?highlight=average_precisionv) metric supports the `sample_weights` argument, but it is [never used](https://github.com/Lightning-AI/metrics/blob/master/src/torchmetrics/functional/classification/average_precision.py#L93). Using the `sample_weights` argument won't throw any error, nor does its

[2022-06-18 17:16] cwognum commented on #1098
I would be happy to open a PR with my proposed fix once it is confirmed that this is indeed a bug.

[2022-06-20 08:09] AnkushMalaker opened #1099 "Links to detailed docs from "All torchmetrics" page are dead"
## 📚 Documentation

For typos and doc fixes, please go ahead and:

1. Create an issue.
1. Fix the typo.
1. Submit a PR.

Thanks!

While navigating to details of any metrics from https://torchmetrics.readthedocs.io/en/stable/pages/all-metrics.html , I get a 404 error.
For example, MAP has the following dead line : https://torchmetrics.readthedocs.io/en/stable/pages/detection/mean_average_precision.

[2022-06-20 09:29] gianscarpe commented on #1061
Hi @faber6911, thanks for reaching out. I believe you're referring to multi-predictions, but correct me if I'm wrong. In that case, you should have a mask of N channels (where N number of predictions), similarly to what it's already done with bounding-boxes. So that:
[code]

[2022-06-20 10:13] idow09 opened #1101 "Support ignore_index in ConfusionMatrix"
## 🚀 Feature

Add an `ignore_index` parameter to the classification metric `ConfusionMatrix`, as in `Accuracy`, `Precision`, `Recall`, etc...

### Motivation

I use a `MetricCollection` for my classifier evaluation, and every other metric in this collection supports `ignore_index` except `ConfusionMatrix`. This causes a lot of trouble and I don't see a reason for not supporting it.

### Pitch

`Co

[2022-06-20 11:27] SkafteNicki commented on #1099
cc: @ethanwharris can you help what is going wrong here?

[2022-06-20 11:40] SkafteNicki commented on #1094
Hi @ravikakaiya,
This is warned about when using the metric: https://github.com/Lightning-AI/metrics/blob/203ab6b13cad0219b484f3e47c34b6e7c8831af1/src/torchmetrics/image/ssim.py#L86-L90
We need to store preds and target for computing over all batches.

If you only want to compute the value on the current batch, you could use the functional implementation
https://torchmetrics.readthedocs.io/en/stab

[2022-06-20 11:40] #1094 closed, assigned to nobody

[2022-06-20 13:23] faber6911 commented on #1061
@gianscarpe Yep, thank you.
With bboxes it was easier for me to figure out how to feed the metric but with segmentation maps, it was difficult for me to have the same intuition.

[2022-06-21 11:20] bepuca commented on #1093
Hi @SkafteNicki thank you very much! I will give a try to the quick and dirty solution.

I think the optional parameter on the constructor would be great!

[2022-06-21 16:29] cwognum opened #1105 "Possible bug in binary classification `calibration_error`"
## 🐛 Bug

In `calibration_error()`, the accuracies in the binary classification setting are not correctly computed I think. It just [returns the `targets`](https://github.com/Lightning-AI/metrics/blob/master/src/torchmetrics/functional/classification/calibration_error.py#L148). I am guessing this should rather return `target == preds.round().int()` or something similar? Am I missing something?

##

[2022-06-21 19:10] SpontaneousDuck commented on #1095
Ah! Not sure how I missed it, but the issue is already resolved by #1080! Great work guys.

[2022-06-22 02:25] alstonlo opened #1106 "Minor discrepancy in AveragePrecision documentation for `average="none"`"
## 📚 Documentation

The [documentation](https://torchmetrics.readthedocs.io/en/latest/classification/average_precision.html) for the `torchmetrics.AveragePrecision` class and `torchmetrics.functional.average_precision()` function state that setting `average="none"` is permitted. However, the source code only seems to allow `average=None` (see [here](https://github.com/Lightning-AI/metrics/blob/mas

[2022-06-22 06:13] SkafteNicki commented on #1106
Hi @alstonlo, thanks for raising this issue.
To be consistent with the remaining codebase it should allow `"none"` also. It essentially boils down to changing these lines of code:
https://github.com/Lightning-AI/metrics/blob/e46258c5555491474e246936d4972351656177cd/src/torchmetrics/functional/classification/average_precision.py#L173-L175
to
[code]
Feel free to send a PR :]

[2022-06-22 06:38] #1098 closed

[2022-06-22 14:26] cwognum commented on #1105
Added a little example to better illustrate my point.

By the way, using just a 0-vector would have been a simpler example, but it turns out the `preds` can't be 0 exactly due to how the binning is done. It could make sense to clamp the predictions in the binning process to prevent this. E.g.:

[code]

[2022-06-22 23:21] celsofranssa opened #1108 "How to integrate `CompositionalMetric` into a `LightningModule`?"
Currently, I am computing two metrics at the `validation_epoch_end`, as shown in the code snippet below.

[code]

However, I would like to aggregate these two metrics to form a single one using the [CompositionalMetric](https://github.com/Lightning-AI/metrics/blob/376bc7d3716f85bb6749f1513827fde05257c6b0/src/torchmetrics/metric.py#L845-L953)?
Then, is there an example I can use to achieve this goa

[2022-06-23 07:43] huidiwiwi opened #1109 "RMSE by MeanSquaredError(squared=False) not correctly when using MetricTracker"
## 🐛 Bug

The tracked rmse metric is different from other metrics, and not the same as the normal rmse. rmse coincides with the sqrt(mse) or sqrt(mse_tracked)
### To Reproduce
Steps to reproduce the behavior...
in a litmoudle class:
initial the metrics:
[code]
log the metrics using pytorch lightning hoods:
[code]

#### Code sample

### Expected behavior

RMSE metrics under tracker should give a ne

[2022-06-25 07:12] stancld opened #1110 "Refactor `Bertscore` tests"
Bertscore test design is currently a bit odd considering the level of unification of the whole package => Refactor `Bertscore` tests to use a standard test suite.

[2022-06-25 09:15] stancld commented on #852
Hello @ashutoshml, very sorry for my really huge delay, last months have been pretty turbulent for me. Let me know if you're still interested in contributing this metric to `torchmetrics`. If so, I believe you can checkout branch [`metric/InfoLM`](https://github.com/Lightning-AI/metrics/tree/metric/InfoLM) and start working on `BaryScore` metric implementation. One thing is that the reference metr

[2022-06-25 09:15] stancld commented on #854
Hello @hassiahk , very sorry for my really huge delay, last months have been pretty turbulent for me. Let me know if you're still interested in contributing this metric to `torchmetrics`. If so, I believe you can checkout branch [`metric/InfoLM`](https://github.com/Lightning-AI/metrics/tree/metric/InfoLM) and start working on `DepthScore` metric implementation. One thing is that the reference metr

[2022-06-25 11:28] Lucienxhh opened #1111 "accuracy, recall, precision and f1-score are equal"
## 🐛 Bug

when i evaluate my model following the demo provided [here](https://torchmetrics.readthedocs.io/en/stable/pages/quickstart.html), i found the results were strange that accuracy, recall, precision and f1-score are equal.

### To Reproduce

[code]

exactly, the accuracy, recall, precision and f1-score should be different because of the randomly created `preds`
### Environment

ubuntu==18.0

[2022-06-25 13:53] ashutoshml commented on #852
Hi @stancld. I hope things are ok now.
I will be able to take up this only after Aug 5.

[2022-06-25 19:31] Borda commented on #1111
seems to be the same issue, closing in favor of #746

[2022-06-25 19:31] #1111 closed

[2022-06-26 06:58] Lucienxhh commented on #1111
@Borda thanks for your advice.
i follow your suggestion that set the average as 'macro', but it doesn't work
here is the code that compares `torchmetrics` and `sklearn.metrics`
[code]

i have read the doc of torchmetrics and sklearn.metrics, and found that torchmetrics didn't have `binary` option for `average`.
details are here: [sklearn.metrics](https://scikit-learn.org/stable/modules/generated/s

[2022-06-27 06:59] stancld commented on #1099
@SkafteNicki -- a potential hotfix might be to move `all-metrics.rst` from `./docs/source/pages/` to `./docs/source/` and update a path in `index.rst` accordingly.
I don't know what the real problem is, but currently, there's a problem that nesting `all-metrics.rst` into `pages` folder adds `pages` into the URL :/

[2022-06-27 12:07] JeroenDelcour commented on #1061
Hi, sorry for not responding sooner. Thank you @gianscarpe for explaining. I was hoping to have the time to help write the documentation, but unfortunately priorities at my work have changed. I'd still like to help, but there's not telling when I might have the time. Apologies!

[2022-06-27 13:47] Lucienxhh opened #1113 "accuracy, recall, precision and f1-score are equal"
## 🐛 Bug
@Borda thanks for your advice.
i follow your suggestion in #543 that setting the average as 'macro'. however, it doesn't work.
i @ u in #1111, but you have not replied yet. i try to re-open #1111 , but fail.
therefore, i have to create a new issue for discussion.

### To Reproduce
here is the code that compares `torchmetrics` and `sklearn.metrics`
[code]

the results differ, which makes m

[2022-06-27 16:33] #1099 closed

[2022-06-28 10:22] SkafteNicki commented on #1113
Hi @Lucienxhh,
We are aware of this problem when evaluating the metrics in for binary problems and are in the process of a larger refactor of the classification package (#1001)
In the mean time if you want to match the results of sklearn you can do something like this:
[code]

[2022-06-28 11:30] SkafteNicki commented on #1109
Hi @huidiwiwi,
Could you try initializing the metrics in this way:
[code]
if that solves the problem, it is not related to the metric tracker but instead the metric collection. I recently fixes some bugs related to this (https://github.com/Lightning-AI/metrics/pull/1076) so you can also try installing from master and see if that helps.

[2022-06-28 13:18] Lucienxhh commented on #1113
ok, the issue is closing.

[2022-06-28 17:08] alstonlo opened #1117 "Minor discrepancies in `average` typing hints for classification metrics"
A number of classification metrics allow for `average=None`. However, this is not reflected in their typing hints, which specify a string-only argument, Namely:

- Accuracy (class, functional)
- Dice (class, functional)
- F1 Score, FBeta Score (class, functional)
- Precision, Recall, PrecisionRecall (class, functional)
- Specificity (class, functional)

[2022-06-28 17:20] alstonlo commented on #1106
Sorry for the delay (I had forgotten about this), and thanks for taking care of the PR!

[2022-06-28 18:47] dkermany opened #1119 ""Weighted" JaccardIndex ignore_index throws RuntimeError"
## 🐛 Bug

I am trying to calculated a weighted Jaccard score for the COCO dataset

When I try to pass the options _average="weighted"_ and _ignore_index=0_ at the same time with _num_classes=81_, I get the following error:

_RuntimeError: The size of tensor a (81) must match the size of tensor b (80) at non-singleton dimension 0_

This error is not reproduced when using other values of _average_ o

[2022-06-29 11:46] JeroenDelcour commented on #1061
I found some time to do this after all :)

[2022-06-29 18:46] #1061 closed

[2022-06-30 09:21] #1117 closed

[2022-06-30 10:05] #1093 closed

[2022-06-30 10:19] huidiwiwi commented on #1109
Hi @SkafteNicki , thanks for your help. Yes, I tested with compute_groups=False, it updates now as expected. I will test the new master version later.
But the MetricTracker still not working perfectly as the sanity check will be tracked as well. I tried to reset(/reset_all) the tracker under the hook on_train_start, but it keeps giving then nans or 0 at each val end. Would be glad to see if you ha

[2022-06-30 12:30] stancld commented on #937
@avinashsai I think this implementation can be definitely used for creating Public API metric :] However, I'm not really sure if this implementation matches the one from NLTK metrics as I suspect there are multiple edit distance implementations.

[2022-06-30 13:08] SkafteNicki commented on #1109
I know this is the stupid solution, but you could disable sanity checking. That said, I would recommend you to call `self.val_metric_tracker.reset()` in the `on_train_start` hook, which should reset whatever was stored during sanity checking. I do not understand why this is not working for you as it should only be called once in the beginning.

[2022-06-30 17:56] rohitgr7 opened #1122 "source links are broken in docs"
## 📚 Documentation

There's something wrong with metrics source redirect:
1. On `stable`, If you click on source, it doesn't show up anything on master which is fine I guess since it's the stable one but I think it should lead to the release branch instead ([click source here](https://torchmetrics.readthedocs.io/en/stable/classification/accuracy.html))
2. On the `latest`, it leads to some weird UR

[2022-07-01 07:53] SkafteNicki opened #1123 "Links in readme are broken"
## 🐛 Bug

All these links are broken:
https://github.com/Lightning-AI/metrics/blob/820dd0fc912239716472be4e9112178da30e8411/README.md?plain=1#L274-L311
We should either completely drop the section, only mention what domains we cover or fix the links.

### To Reproduce

Steps to reproduce the behavior...

#### Code sample

### Expected behavior

### Environment

- TorchMetrics version (and how you

[2022-07-01 08:55] Borda commented on #1123
I am fine with it

[2022-07-02 17:19] celsofranssa commented on #1108
Currently, I implemented a custom metric combining entity and relation metrics (as each of them has its own `preds` and `targets`)

[code]
However, it seems not right:
[code]
since `0.5 * (entity_Mac-F1 + relation_Mac-F1)` should be equal to `val_FER` .
What am I missing?

[2022-07-03 17:48] Lee-Akita opened #1124 "mIoU"
Where is the semantic segmentation mIou?

[2022-07-04 16:31] pavanteja295 commented on #671
I had the same problem while using KID metric. Specifically, for KID the InceptionV3 has been loaded in CPU and the computation of the metric is on GPU.  Converting the features of Inceptionv3 to cuda did the trick.

[2022-07-06 07:56] hassiahk commented on #854
@stancld will start working on this.

[2022-07-06 07:57] hassiahk commented on #854
@stancld will start working on this.

[2022-07-06 12:48] patrickFuerst opened #1128 "ClasswiseWrapper yields different results"
## 🐛 Bug

Using `JaccardIndex` with  `ClasswiseWrapper` results in different values than without `ClasswiseWrapper`.

### To Reproduce

Steps to reproduce the behavior...

Run the code snippet.

#### Code sample

[code]

The code produces the following output:

[code]

### Expected behavior

I would expect that the wrapped metric outputs the same values as the simple `JaccardIndex`.

### Environme

[2022-07-07 08:54] stancld commented on #854
@hassiahk Great! Definitely let me know if you need any help :]

[2022-07-07 17:43] angadkalra commented on #971
Any progress on this? I actually implemented this metric for my own project and can contribute if needed.

[2022-07-07 18:10] angadkalra opened #1131 "Recall and Specificity values are the same"
## 🐛 Bug

I'm using Recall and Specificity module metrics when training a binary classification model. The graphs in MLFlow are the exact same. Please see code below for how I'm using the module metrics. I'm pretty sure I'm doing it correctly because I'm following the torchmetrics doc as close as I can.

#### Code sample

[code]
### Expected behavior

Expecting Recall and Specificity to be differe

[2022-07-10 03:18] akihironitta commented on #841
Found this issue via #1132.

The compatibility issue between `pesq` and `numpy` should be posted in their repository, too, right? Is there some reason why we haven't done so yet? https://github.com/ludlows/python-pesq

[2022-07-10 11:03] #1123 closed

[2022-07-10 12:39] #1128 closed

[2022-07-12 14:46] #849 closed

[2022-07-12 21:41] mossaab0 commented on #784
Up (to avoid auto closing).

[2022-07-13 04:09] Maitreyapatel commented on #1119
To add on this issue, there is another bug when `ignore_index>num_classes` it throws following error:
`RuntimeError: shape '[81, 81]' is invalid for input of size 6642`

Code sample:
[code]

There should be a better way to handle the `ignore_index` within `confusion_metrix.py` as well.

[2022-07-13 06:54] quancs opened #1142 "import error: cannot import name 'PILLOW_VERSION' from 'PIL'"
## 🐛 Bug

When import `torchmetrics` in python, it reports the error.

[code]

### To Reproduce

Install torchmetrics[audio]:
[code]

Import it in python:
[code]

#### Code sample

### Expected behavior

### Environment

- TorchMetrics version (and how you installed TM, e.g. `conda`, `pip`, build from source): 0.9.2
- Python & PyTorch Version (e.g., 1.0): Python 3.8.5, PyTorch 1.10.0
- Any other r

[2022-07-13 07:56] SkafteNicki commented on #1142
Actual problem comes from `torchvision` and not `torchmetrics`:
https://github.com/pytorch/vision/issues/1718
Either:
* Update torchvision to a newer version where it should have been fixed
* Install a version of pillow that is compatible: `conda install pillow=6.2.1`

[2022-07-13 07:56] #1142 closed

[2022-07-13 09:44] justusschock commented on #1131
can you actually give a few sample data (just raw tensor numbers that you think should produce different outputs?

[2022-07-13 09:44] SkafteNicki commented on #1109
Here is a solution to the sanity checking problem:
[code]
the counter will only reset after the sanity checking is done, else it will increase the tracker.
Closing issue.

[2022-07-13 09:44] #1109 closed

[2022-07-13 13:31] dreaquil opened #1144 "MeanAveragePrecision throw error in DDP mode"
## 🐛 Bug

Hi :) ! I am training a detection model (maskrcnn) and it works fine with the MeanAveragePrecision metric in single gpu mode. However, when I activate DDP with 4 GPUs, it throws an error on the first validation phase.

I have investigated and there are more detection labels than there are detections. However, I have gone through and made sure this is never the case when calling update on

[2022-07-15 20:19] V-Soboleva opened #1147 "RuntimeError when using MAP-metric"
## 🐛 Bug

Hi! I am training a detection model and use MAP-metric during validation.  I got the following error at the validation_step:
`RuntimeError: expected scalar type Float but found Bool`.

### To Reproduce

Pick a faster rcnn model, I used `fasterrcnn_resnet50_fpn_v2`() from `torchvision` . Implement validation_step where
`self.metrics.update(...)` is called for the model results and targets

[2022-07-16 13:22] KameniAlexNea opened #1148 "StructuralSimilarityIndexMeasure : Input type (torch.cuda.FloatTensor) and weight type (torch.FloatTensor) should be the same"
## 🐛 Bug

When `gaussian_kernel` is set to `False` and images are on gpu, we can compute ssim metric because type difference.

#### Code sample

[code]
RuntimeError                              Traceback (most recent call last)
<ipython-input-4-4817dbad2239> in <module>
----> 1 ssim(img, img), mean_squared_error(img, img)

~/anaconda3/lib/python3.8/site-packages/torch/nn/modules/module.py in _call

[2022-07-16 14:55] krshrimali commented on #1148
Hi, @KameniAlexNea - Thanks for the issue! I've attempted a fix here: https://github.com/Lightning-AI/metrics/pull/1149 and waiting for the CI. Haven't tested it locally yet, but it seemed to be a missing device propagation when `gaussian_kernel` is `False`.

[2022-07-16 19:50] KameniAlexNea commented on #1148
You're welcome. Thanks for quick response and bug fixed.

[2022-07-18 09:19] dreaquil commented on #1147
Hey @V-Soboleva, I've been dealing with the same issue. I think the issue occurs on the 'scores' prediction from the maskrcnn model. It seems that when no detection is found, the model outputs a tensor of type bool. I'm unsure if it's fixed yet but i've just type casted it as follows:

`output['scores'] = output['scores'].type(torch.float)`

[2022-07-18 10:53] V-Soboleva commented on #1147
Thank you @[dreaquil](https://github.com/dreaquil), but unfortunately it didn't help : (

[2022-07-18 11:05] dreaquil commented on #1147
Hey @V-Soboleva! Yeah, just ran into the same issue again... Will let you know if I find a resolution.

As a note:

I tried to type sanitise the entire pred input:
[code]

[2022-07-18 11:07] krishnakalyan3 commented on #918
@wisecornelius can I give it a stab. In case you have not started working on It already?

[2022-07-18 12:01] dreaquil commented on #1147
I don't think you can exclude problems in predictions (but perhaps in targets). In the above code, you're not doing any weight updates, therefore unlike in training your models output predictions aren't changing per epoch. It just means that with random initialisation, the output is unlikely to cause an error.

[2022-07-18 12:15] dreaquil commented on #1147
@V-Soboleva, when you were getting the error, was it at a random epoch or was it immediately?

[2022-07-18 13:11] dreaquil commented on #1147
okay I think I found it:

https://github.com/Lightning-AI/metrics/blob/31c384411bc9a28f4ad2085cf123f68f382b6f82/torchmetrics/detection/mean_ap.py#L505

I believe this type needs to be changed to `torch.float32` from `torch.bool`

Can you check that by changing the above, you're no longer experiencing the issue please?

[2022-07-18 14:11] dreaquil commented on #1147
Thanks for confirming @Simon128. Seems to have fixed it for me too. Will create a PR.

[2022-07-18 14:11] V-Soboleva commented on #1147
@dreaquil, changing the type helped me as well :)  Thank you very much!

[2022-07-19 08:24] SkafteNicki commented on #1147
For testing purpose to make sure the bug is indeed fixed, could someone provide a single input example where this fails currently?

[2022-07-19 08:37] dreaquil commented on #1147
Hi @SkafteNicki, the failure is related to the when the model outputs no detections. I will try get a specific example later this morning.

[2022-07-19 15:49] thistlillo opened #1152 "torchmetric freezes the training"
When I use `torchmetrics` in my pytorch code, training gets stuck in waiting for a process.

Please consider this code:

[code]
The training very often, but not always, gets stuck and only the information on the batch are printed. If I interrupt the process while nothing is happening, I get this error message:
[code]
As soon as I remove the code for the metrics (indicated with `#>1` and `#<1`) eve

[2022-07-19 17:48] V-Soboleva commented on #1147
Hi @[dreaquil](https://github.com/dreaquil), @[SkafteNicki](https://github.com/SkafteNicki) I tried to reproduce an error and save predictions and targets on which error occures during the training. However, when I tried to compute metrics with these saved tensors without training the error does not occures 🤷‍♀️.
But I have a [colab notebook](https://colab.research.google.com/drive/1Fg9aCp4RjyYHwx

[2022-07-20 09:18] SkafteNicki commented on #1152
Hi @thistlillo,
Could you please provide what the shape of `semantic_features` and `labels` are in the case when the code gets stuck?
This can probably help me figure out what is happening.

[2022-07-20 13:41] thistlillo commented on #1152
Sorry @SkafteNicki I would have replied later. I am still fighting against that freezing: it is the pytorch dataloder that gets stuck waiting for some process to end, torchmetrics had no fault. It does not happen 100% of the times and sometimes it does not freeze for several trainings: it happened to NOT have frozen when I removed torchmetrics, but then it started again after a while.

[2022-07-20 16:23] marckatzenmaier opened #1153 "`MeanAveragePrecision` (map) returns -1.0 if `max_detection_thresholds` is changed"
## 🐛 Bug
I found a bug when changing the max_detection_thresholds of MeanAveragePrecision to a large number e.g. [1, 10, 1000] the result of the map calculation becomes -1.0
I wanted to increase the number of detections per image since my data has up to several thousand instances per image. I detected that the same problem occurs with the example given in the class definition.

### To Reproduce
Ru

[2022-07-20 17:05] JamesLYC88 commented on #746
I encountered the same issue. As @lucienwang1009 said, initializing `MetricCollection` with `compute_groups` being false works. For example,
[code]
Some detailed observations:
* My results of P@8 and P@15 are correct on the validation data, but my values of P@8 and P@15 are exactly the same when testing on the testing set. I think that the bug might be related to the data.
* When I only place one

[2022-07-21 08:41] SkafteNicki commented on #1152
Alright, then I will close this issue as it seems the problem is unrelated to torchmetrics

[2022-07-21 08:41] #1152 closed

[2022-07-21 11:26] MattYoon opened #1154 "notation typo in Cosine Similarity docs"
## 📚 Documentation

There is a typo in the notation for the [pairwise_cosine_similarity](https://torchmetrics.readthedocs.io/en/stable/pairwise/cosine_similarity.html)

![cosine_sim](https://user-images.githubusercontent.com/57797966/180202448-a2970270-9a16-4405-b0d7-909e011a6315.jpg)

[2022-07-22 10:10] JamesLYC88 opened #1156 "Refine the warning message about `full_state`"
The warning message hints a non-existed function because the function `check_forward_no_full_state` has been renamed to `check_forward_full_state_property` in this [PR](https://github.com/Lightning-AI/metrics/pull/1048/). (Please also see [checks.py](https://github.com/Lightning-AI/metrics/blob/master/src/torchmetrics/utilities/checks.py) for details of the function.) Therefore, the message should

[2022-07-22 10:14] #1154 closed

[2022-07-22 12:34] pietrolesci opened #1158 "Support sequence tagging evaluation metrics (NLP)"
## 🚀 Feature

Support for sequence tagging evaluation metrics _à la_ [`seqeval`](https://github.com/chakki-works/seqeval). That is, support the evaluation of the performance of chunking tasks such as named-entity recognition, part-of-speech tagging, semantic role labeling and so on.

[2022-07-22 13:13] SkafteNicki commented on #1158
cc @stancld opinion on this?

[2022-07-22 15:28] #1156 closed

[2022-07-23 15:19] stancld commented on #1158
I'm not so familiar with this kind of metrics.. How much do these metrics differ from standard classification ones? :] @pietrolesci

[2022-07-23 15:38] pietrolesci commented on #1158
Hi @stancld,

I think it's not much different. The convenience of having sequence-level metrics already available is that

- they can be fed sequences directly (without manual iteration)
- can implement different evaluation "policies": "strict" vs non strict. For example
[code]
can be considered partially correct or incorrect. This, of course, has an effect on how results are aggregated. An practi

[2022-07-26 06:31] andredantasrocha commented on #652
hi guys, any updates on this? it would be amazing to have a feature like that :)

[2022-07-26 16:49] jhkonan opened #1160 "MAPE Memory Leak"
The `MAPE = torchmetrics.MeanAbsolutePercentageError().cuda()` has a memory leak.

This is my first time using torchmetrics. After much debugging, I have isolated MAPE as the source of the problem. The only reason this loop is written so explicitly is to isolate exactly where the issue is.

[code]

Commenting out the one line for MAPE makes the memory leak go away.

If you look at gc.get_objects()

[2022-07-27 19:20] adamklie opened #1161 "R2Score does not match sklearn.metrics.r2_score"
## 🐛 Bug

The `torchmetrics.R2Score` outputs are not consistently matching what I get from `sklearn.metrics.r2_score`. When I test on the tensors and arrays from both of the docs pages they are equal, but when I use my own data I get a large negative number from torchmetrics and a reasonable one from sklearn.

#### Code sample

[code]
[code]

### Expected behavior

I would expect these to be equal

[2022-07-27 20:43] stancld commented on #852
Hi @ashutoshml, it's completely fine - the time is really flying so we're almost there. If you're then interested, just let me know. I have some WIP we can discuss and can create a MR together :]

[2022-07-27 20:46] stancld commented on #1158
Hi @pietrolesci, I get the motivation and think this might be a nice contribution to `torchmetrics`. 👍

As these metrics will be very likely inherited from the classification ones, I'd just wait a bit with this addition for the finalization of the classification refactor currently ongoing #1001 :]

[2022-07-27 21:14] Borda commented on #1110
@stancld, how is it going here? :)

[2022-07-27 21:29] stancld commented on #1110
@Borda Just wrote down to my TODO list for tomorrow a few minutes ago. I guess I'll send a PR tomorrow then, shouldn't be anything complicated.

[2022-07-28 07:27] justusschock commented on #1160
Hi, Thanks for the issue.

A few things:
1. You are right, you don't have to re-instantiate it every epoch
2. You should call `.reset()` at the end of each epoch though
3. You do not calculate it with a `with torch.no_grad()` guard and you don't detach the results either. So maybe the memory leak is simply coming from the computational graph?

[2022-07-28 07:28] SkafteNicki commented on #1161
Hi @adamklie,
Could you please provide us with some testing data that creates this discrepancy between our implementation and sklearns?

[2022-07-28 14:25] jhkonan commented on #1160
In this case, MAPE is used when the model is in eval mode, so no further grad accounting should be necessary.

Re-instantiating is required if gc.collect() is used, but I will try .reset() instead.

If reset is required for MAPE, please include it in the documentation or the example usage.

Thank you for your help!

[2022-07-28 19:04] cemde commented on #918
@krishnakalyan3 @Borda I have the background code ready. I am just waiting for a response on the call signature to finish it up.

[2022-07-29 06:01] aaronzs commented on #1147
This issue happens when using PyTorch 1.12.0 on GPU device, the minimal code to reproduce this issue is shown below.

[code]

Although, the CPU implementation and other versions of PyTorch can cast 0-dim bool Tensor to float Tensor. The `dtScores` should be initialized because a float type as score is usually a real number.

@SkafteNicki

The current test case in `tests/unittests/detection/test_ma

[2022-07-29 11:05] 23pointsNorth opened #1164 "Discrepancy between values with metrics and detectron2 cocoeval"
## 🐛 Bug

Training a model with detectron2 and evaluating it with the built-in cocoeval results in different mAP estimates for both `box` and `segm` metric cases.

### To Reproduce

1. Train model with detectron2
2. Use CocoEval to generate mAP, mAR, etc
3. Use torchmetrics to calculate mAP, mAR, etc
4. Compare for a detection and segmentation models

### Expected behavior

The values generated to

[2022-07-29 16:01] masadcv opened #1166 "Links from documentation seem broken"
When looking at specfic metric in documentation,  some links to github source code seem to be broken.

For example,

On: https://torchmetrics.readthedocs.io/en/stable/regression/mean_squared_error.html

When I click on **source** for `MeanSquaredError`, it leads me to following error page:
![Screenshot from 2022-07-29 16-58-13](https://user-images.githubusercontent.com/3410225/181798885-2feda0f0-b

[2022-07-30 07:34] Borda commented on #918
That would be great, just not sure what you mean by "call signature", like API?

[2022-07-30 10:40] cemde commented on #918
Most metrics are called with `Metric.update(pred: torch.Tensor, target: torch.Tensor)`. This works for Cohens Kappa, because the we have two raters. One rater will be `pred`, one will be `target`. With Fleiss Kappa, we have `K` raters. Therefore, I suggest a function call like `Metric.update(ratings: torch.Tensor)` with `rating` having  `... x K` dimensions. As far as I can see, this is the first

[2022-07-31 13:14] #538 closed

[2022-08-01 11:38] SkafteNicki commented on #1166
Duplicate of #1122

[2022-08-01 13:57] justusschock commented on #1160
Eval-Mode of the model does not prevent it from gradient calculation, it only changes the way certain layers work. You probably still want to wrap a `with torch.no_grad` around it.

The `reset` is required for every metric, as you can see in our quickstart tutorial [here](https://torchmetrics.readthedocs.io/en/stable/pages/quickstart.html#module-metrics)

[2022-08-01 18:00] jhkonan commented on #1160
Thank you for this explanation. Everything is much clearer now — you do great work!

[2022-08-01 18:00] #1160 closed

[2022-08-03 19:35] ekmungi commented on #994
I know the issue is closed, but I feel the solution proposed is not the best case. Shouldn't the metric be general enough to provide mAP for any IOU?

[2022-08-04 11:02] claverru opened #1172 "JaccardIndex then multilabel=True not working"
## 🐛 Bug

JaccardIndex is not correctly coded when multilabel=True and average is different than "none".

### To Reproduce

Instantiate JaccardIndex(..., multilabel=True, average="micro") and call it as usually with a multilabel classification data.

#### Code sample

[code]

### Environment

- TorchMetrics version 0.9.3

### Additional context

When multilabel=True, you call _jaccard_from_confmat

[2022-08-04 14:59] luca-medeiros commented on #1124
You can find the segm key here:
https://github.com/Lightning-AI/metrics/blob/fbdd1465efff06b2119b30a4dbf90cf83e4e620d/src/torchmetrics/detection/mean_ap.py#L227

[2022-08-05 07:41] itz-vp opened #1174 "PESQ value for normalized (predicted & target) and denormalized (predicted & target) form differs"
## 🐛 Bug

Hi, I have tried to calculate metrics for my predicted output and target audio.

- Calculated PESQ with normalized input
- Calculated PESQ with de normalized input

I expect both values to be same but values differ. Only for few audios am getting a huge difference, for most of the audios it is negligible difference.

#### Code sample

Given normalized audio array
------------------------

[2022-08-05 13:14] SkafteNicki commented on #1174
cc: @quancs

[2022-08-05 13:19] quancs commented on #1174
@itz-vp  Hello, could you please upload the preds and targets (npz file) you found that have different pesq values.

[2022-08-05 13:48] quancs commented on #1174
The following is from [torchaudio document](https://pytorch.org/audio/stable/backend.html#torchaudio.backend.sox_io_backend.load). As it says, the normalize argument doesn't change the value of what you load, it only changes your datatype to float32. Thus, it doesn't matter whether it is normalized or not.

I suspect that your code changed the values such that normalized version and denormalized v

[2022-08-08 06:49] rabinadk1 opened #1176 "Add Area Under PR- curve metric"
## 🚀 Feature

There doesn't seem to be an easy way to calculate the AUPR using torchmetrics. If anybody has the recommended way, please comment below.

### Motivation

The area under the precision-recall curve (AUC-PR) is a model performance metric for binary responses that is appropriate for rare events and not dependent on model specificity.

### Pitch

I want a similar metric to AUROC where PR-

[2022-08-08 16:58] DomInvivo opened #1177 "Support for 2D tensors for pearson and spearman correlations"
Why constraint the pearson correlation to a single dimension? With a 2D tensor, the pearson correlation can be computed simultaneously for every column. Simply need to replace the `.sum()` and `.mean()` by `.sum(0)` and `.mean(0)` to compute the pearson per column.
See code here: https://github.com/Lightning-AI/metrics/blob/de94064e2eb562f0a06f311382e12368e997a801/src/torchmetrics/functional/regre

[2022-08-11 11:28] saikatkumardey commented on #1044
I am facing an [issue](https://github.com/Lightning-AI/lightning/pull/13123#issuecomment-1211859657) on MPS.

[2022-08-11 11:33] saikatkumardey opened #1180 "Typo in the docstring in precision_recall_curve.py"
There's a [typo](https://github.com/Lightning-AI/metrics/blob/58e7ac124ca8800c507558c5b0b477e5fa38a2af/src/torchmetrics/functional/classification/precision_recall_curve.py#L29) in the URL mentioned in the docstring.

Thanks!

[2022-08-11 13:23] justusschock commented on #1044
So far we don't officially support MPS for metrics. Most of the stuff should work, however. For the failing ops, we can only wait for official support from the pytorch side. Did you try tu run with `PYTORCH_ENABLE_MPS_FALLBACK=1`?

[2022-08-11 14:48] itz-vp commented on #1174
https://workdrive.zohoexternal.com/external/5faae69fe51950da6f4ceaec79a7b02b4874e560b246193a3cb2da3f37e2cbd4

[2022-08-11 15:57] quancs commented on #1174
@itz-vp I write a simple test with the `sample_29_clean_denorm.wav` you given trying to recover the problem in your code.

[code]

The output is
[code]

From the output, it is easy to confirm that the `.to(torch.int16)` you applied on a `float32` Tensor makes the tensor lost its original information. So, as I mentioned before, you code indeed changes the values of the wavs, making them not equal t

[2022-08-11 16:04] #1174 closed

[2022-08-13 15:56] yellowdolphin opened #1183 "dist_sync_fn seems dysfunctional"
## 🐛 Bug

`dist_sync_fn` is a documented kwarg of class Metric and suggests to pass an alternative to `torch.distributed.all_gather`. I suppose, the intend is to allow use of distributed contexts other than `torch.distributed`, for which the default works fine. This use case fails due to the following issues:

- passed `dist_sync_fn` is never called because hardcoded test `jit_distributed_availabl

[2022-08-15 15:15] RostyslavUA opened #1184 "Wrong Calculation of Mean Average Precision"
## 🐛 Bug

Wrong calculation of mean Average Precision (mAP). I get
[code]
while I would expect to have `'map': tensor(0.5)` and `map_per_class': tensor([ 1.,  1., 0, 0.])` (see example below)

### To Reproduce

Steps to reproduce the behavior...

[code]

### Expected behavior

AP per class 2 and 3 must be 0. Thus, the mAP would also become 0.5.

### Environment
- TM version is 0.9.3 (installed wit

[2022-08-16 15:45] mattclifford1 opened #1186 "Reduction on full image not required?"
https://github.com/Lightning-AI/metrics/blob/ff61c482e5157b43e647565fa0020a4ead6e9d61/torchmetrics/functional/image/ssim.py#L191-L194

To get the full SSIM image to be returned I have to change to `reduction=None`

Example:
imports and dummy images
[code]
Without reduction arg changed from default - get the mean SSIM twice:
[code]
With reduction arg changed (desired behaviour of outputting mean SS

[2022-08-17 18:06] ananyahjha93 opened #1188 "Cannot import perplexity"
## 🐛 Bug

Cannot import perplexity or other metrics under torchmetrics.text

### To Reproduce

[code]

None of the above imports work

### Environment

- TorchMetrics version (and how you installed TM, e.g. `conda`, `pip`, build from source): 0.9.3 installed using pip
- Python & PyTorch Version (e.g., 1.0): 1.12.0+cu116
- Any other relevant information such as OS (e.g., Linux): WSL

[2022-08-17 18:06] ananyahjha93 commented on #1188
@SkafteNicki

[2022-08-17 18:39] Borda commented on #1188
you are more than hapu to help them resolved :)

[2022-08-17 18:45] Borda commented on #1188
@ananyahjha93 pls see the release notes and eventually changelog, the `Perplexity` was not released yet, so you need to install it from source... :rabbit:
https://github.com/Lightning-AI/metrics/blob/13f19e52bda180581b6aede493cf756ccd700cd8/CHANGELOG.md?plain=1#L17

[2022-08-17 18:45] #1188 closed

[2022-08-17 19:09] SkafteNicki commented on #1188
@ananyahjha93 just to add: basically all my time is dedicated to the classification refactor #1001.
This is the reason why many issues are basically just on hold onto that is done.

[2022-08-21 22:33] barufa commented on #1180
Hi, I would like to contribute to this issue. I know it's just a typo, but it would be a good way to get involved with the community and learn more about how new PRs are handled.

[2022-08-22 14:14] weders opened #1190 "Memory leak when using JaccardIndex during multi-gpu training"
## 🐛 Bug

When using JaccardIndex as a metric during training on multiple GPUs, a memory leak causes the training to crash.

### To Reproduce

The problem is caused when returning the predictions and targets in the `training_step` function

`        return {"loss": loss, 'preds': logits.detach(), 'target': labels_wo_unknown.detach()}
`

which is then used in `training_step_end` to update the metri

[2022-08-24 07:56] benjs commented on #449
Hey, I am pushing this issue also for usability.
When using for instance binary cross entropy loss ([BCELoss](https://pytorch.org/docs/stable/generated/torch.nn.BCELoss.html)), the targets are required to be float, and when using the same targets with torchmetrics everything needs to be converted to int, which is quite an overhead I guess?

[2022-08-24 08:01] justusschock commented on #449
@benjs We discussed this as part of #1001 and likely won't enable this soon (if at all). The reason for that is two-fold:

1.) You may be able to train with soft-labels, but for validation in classification metrics there ultimately has to be a decision for each class.
2.) Do to 1) if we would enable it, all we would do is casting to int internally. We discussed this and chose not to support this a

[2022-08-24 11:33] #449 closed

[2022-08-24 11:37] baldassarreFe commented on #1190
Example to reproduce

[code]

Launch two processes:
[code]

Output from rank 0 (similar output on rank 1):
[code]

Memory usage slowly increases after every "epoch".

[2022-08-25 02:48] victor1cea commented on #799
Hi @Borda,
 I was looking into implementing  the Spatial Distortion Index, but there is a problem with the inputs.
 In this metric, a MS image and the respective PAN image are the targets that will be compared against the MS_low image. There is also a PAN_low image, but this is computed in a predefined way from the PAN image.
How will the `targets` and `preds` look like? One way would be to use th

[2022-08-25 05:42] justusschock commented on #799
Hi @victor1cea are `ms_1` and `ms_2` of the same shape? Are `pan_1` and `pan_2` of the same shape? Do they have the same size as the ms images?

[2022-08-25 08:04] #1180 closed

[2022-08-25 09:29] Paul-Aime commented on #799
The distortions indices were introduced in https://doi.org/10.14358/PERS.74.2.193

![formula](https://user-images.githubusercontent.com/36678697/186618720-4c4207b9-c2d1-43f4-aaec-4d87dc9dfcba.png "formula as found in https://doi.org/10.1109/MGRS.2020.2976696")

The reference implementation used in pansharpening (task for which the metric was introduced) can be found at [liangjiandeng/DLPan-Toolbox

[2022-08-25 17:07] victor1cea commented on #799
Thank you! :smile:

[2022-08-25 19:13] saikatkumardey commented on #1176
Average precision score is the same as AUPRC. [Source](https://sinyi-chou.github.io/python-sklearn-precision-recall/)

[2022-08-25 20:37] segalinc opened #1194 "Add Concordance Correlation Coefficient to metrics"
## 🚀 Feature

Add Concordance Correlation Coefficient to metrics

### Motivation

a lot of regression algorithm use this metric

### Pitch

add it to the set of metrics

### Additional context
python code

[code]

[2022-08-26 23:58] riccardomusmeci opened #1196 "JaccardIndex mps fails also with PYTORCH_ENABLE_MPS_FALLBACK=1"
## 🐛 Bug

JaccardIndex call fails with M1 mps backend since "aten::bincount" is not currently supported. This happens also when PYTORCH_ENABLE_MPS_FALLBACK=1 is set environment variable.

### To Reproduce

[code]

UserWarning: The operator 'aten::bincount' is not currently supported on the MPS backend and will fall back to run on the CPU. This may have performance implications. (Triggered internal

[2022-08-28 11:34] SkafteNicki commented on #782
Issue will be fixed by classification refactor: see this issue #1001 and this PR #1195 for all changes

Small recap: This issue describe the discrepancy between using `stat_scores` and `accuracy` in the binary case. The following example is provided:
[code]
both inputs are binary and the expected output is `2/3=0.666` in both cases when evaluation accuracy. Current implementation fails and gives `

[2022-08-28 11:45] SkafteNicki commented on #746
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describe that metric `F1`, `Accuracy`, `Precision` and `Recall` are all the same in the binary setting, which is wrong. The problem with the current implementation is that the metric

[2022-08-28 11:53] SkafteNicki commented on #663
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describes that multi-dimensional tensors are not supported in `BinnedPrecisionRecall`, which is correct. In the refactor `BinnedPrecisionRecall` will be completely deprecated and ins

[2022-08-28 12:01] SkafteNicki commented on #1172
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describes that `jaccard_index` is wrongly calculated in the multilabel setting. This is simply due to a wrong implementation. Issue have been fixed in the refactor such that everythi

[2022-08-28 12:59] SkafteNicki commented on #1101
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: Issue ask that `ConfusionMatrix` also supports `ignore_index` argument known from `Accuracy`, `Precision`, `Recall` . Is now supported in all the new introduced versions e.g. `BinaryConfusionMa

[2022-08-28 21:46] neel04 commented on #938
I'm facing the same issue @SkafteNicki - with DDP, it just hangs until timeout:
[code]

[2022-08-29 13:32] SkafteNicki commented on #625
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue ask for constant memory implementations of common metrics like `roc` ect. After the refactor, metrics such as `roc`, `auroc`, `precision_recall`, `average_precision` all now supports

[2022-08-29 13:35] SkafteNicki commented on #1040
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue ask for support that ignore_index can be outside the [0, num_classes] range for precision metric. After the refactor, all new classification metrics support this. Here is an example

[2022-08-29 13:40] SkafteNicki commented on #604
Issue will be closed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue ask for support that `one-vs-one` approach for calculating `auroc` in multiclass settings. During the refactor it was determined that we do not want to pursue this approach and stil

[2022-08-29 14:36] SkafteNicki commented on #530
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describe that metric `FBeta` metric is not the same as sklearn in the binary setting. The problem with the current implementation is that the metrics are calculated as average over t

[2022-08-29 14:53] mfoglio commented on #1040
Fantastic! Thank you!

[2022-08-29 15:31] nicolas-dufour opened #1198 "Change FID to be online"
## 🚀 Feature

The idea is to compute mean and covariance online after each update instead of storing the features and then computing the mean and covariance

### Motivation

The motivation is to avoid storing the features which will lead to a way more memory efficient metric.

### Pitch

This can be done the following way:
[code]

[2022-08-30 12:50] SkafteNicki commented on #1198
Hi @nicolas-dufour,
Thanks for raising this issue. Feel free to send a PR with your proposed change as it seems like an awesome enhancement :)

[2022-08-30 12:56] SkafteNicki commented on #837
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue ask that `target` can have dtype `float` for classification metrics. After the refactor, we have relaxed the constrain so most metric will work out of the box with `targets` that hav

[2022-08-30 12:59] SkafteNicki commented on #1131
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describe that metric Recall and Specificity are all the same in the binary setting, which is wrong. The problem with the current implementation is that the metrics are calculated as

[2022-08-30 13:07] SkafteNicki commented on #1119
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describes two issues:
* First one that using `average="weighted"` and `ignore_index=0` results in a runtime error.
* Secondly that `ignore_index` cannot be outside the `[0, num_class

[2022-08-30 13:21] SkafteNicki commented on #1105
Hi,
I checked this issue as an bigger refactor (see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195) and it seems that our calibration error is computing the right value.

First, in the example provided the metric is giving a score of 0.9942. As the metric is an calibration *error* the optimum would be 0 and not 1 and it

[2022-08-30 13:21] #1105 closed

[2022-08-30 14:16] SkafteNicki commented on #613
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describes that the `ignore_index` argument is not giving the right result currently in the `f1_score` metric. This is due to how `ignore_index` samples are currently accounted for. I

[2022-08-30 14:23] SkafteNicki commented on #1017
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describe that accuracy metric is not computing the right value in the binary setting. The problem with the current implementation is that the metric are calculated as average over th

[2022-08-30 20:11] SkafteNicki commented on #656
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describe that metric `stat_scores` is not correctly working in the binary setting. The problem with the current implementation is that the metrics are calculated as an sum of the sta

[2022-08-30 20:29] #1161 closed

[2022-08-30 20:29] SkafteNicki commented on #1166
Closing in favour of #1122.

[2022-08-30 20:29] #1166 closed

[2022-08-30 20:42] #1124 closed

[2022-08-30 21:51] SkafteNicki commented on #1196
@justusschock should we do anything to support this explicitly or do we need to wait for support from PyTorch side?

[2022-08-30 22:16] #926 closed

[2022-08-30 22:21] SkafteNicki commented on #918
Hi @cemde,
Sorry for being silent in regards to this issue.

I think it is fine for the call signature to be `metric.update(ratings: torch.Tensor)`,
since that is also what makes most sense to me :)

We just need to specify this in the documentation.

[2022-08-30 22:47] SkafteNicki commented on #1176
Based on @saikatkumardey comment it does not seem worthwhile implementing AUPRC as its own metric when the average precision metric is equivalent. However, I have added an note in the documentation for the upcoming classification refactor about this equvalence: https://github.com/Lightning-AI/metrics/pull/1195/commits/6b60bf318beb83b46925ee14497c2e3982749feb.
Closing issue.

[2022-08-30 22:47] #1176 closed

[2022-09-01 15:53] SkafteNicki commented on #655
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describes a number of inconsistencies in the classification package especially regarding how binary tasks are dealt with, both for single dimensional input but also multi dimensional

[2022-09-01 16:01] SkafteNicki commented on #961
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describes that using an negative `ignore_index` fails when combined with `subset_accuracy=True`. After the refactor, `accuracy` will no longer support the `subset_accuracy` argument.

[2022-09-01 20:18] SkafteNicki commented on #452
Issue will be fixed by classification refactor: see this issue https://github.com/Lightning-AI/metrics/issues/1001 and this PR https://github.com/Lightning-AI/metrics/pull/1195 for all changes

Small recap: This issue describes how the behaviour of `average="sample"` and `mdmc_average="samplewise"` is confusing and it is not clear what the computed result actually should be. During the refactor it

[2022-09-02 13:09] MihailMihaylov97 commented on #1184
Any updates on this issue?

[2022-09-03 14:24] merouone commented on #569
Hello, I am not sure about how to log non scalars with log_dict() for instance:
[code]

[2022-09-05 20:07] #1198 closed

[2022-09-06 07:23] stancld commented on #1196
Hi @SkafteNicki, I think as a temporary fix, we may adjust the following part of code:
[code]

[2022-09-06 07:28] stancld commented on #1196
Also, there are some other operations which are not yet supported on `MPS`. I can send a short PR fixing those issues and open an issue to check those handlings if they're still needed once `torch` is updated.

[2022-09-06 07:35] SkafteNicki commented on #1196
@stancld feel free to do so :)

[2022-09-06 07:55] #1186 closed

[2022-09-06 08:04] stancld commented on #1196
@Borda Do you think it'd be feasible and wise to run our test suites also on an M1 runner?
https://github.blog/changelog/2022-08-09-github-actions-self-hosted-runners-now-support-apple-m1-hardware/

[2022-09-06 16:58] justusschock commented on #1196
@stancld thanks for taking a stab!
Unfortunately we don't have m1 hardware for a self-hosted runner available at the moment.

@SkafteNicki other than the fixes pointed out by @stancld there is nothing we can do besides waiting.

[2022-09-06 18:39] amorehead opened #1206 "Add Kendall's Rank Correlation"
## 🚀 Feature

A `Metric` that computes Kendall's Rank Correlation (https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient).

### Motivation

This metric would be useful for many regressive tasks.

### Pitch

Add a new `Metric` that computes Kendall's Rank Correlation - specifically its `tau` values - possibly using SciPy's implementation as a reference (https://web.archive.org/web/2018

[2022-09-07 08:12] Borda commented on #1196
Correct, we do not have any m1 HW in our CI fleet yet... let us check what we can do here :)

[2022-09-07 21:14] simonlevine opened #1207 "MetricCollection should provide support beyond `torchmetrics.Metric` or `torchmetrics.MetricCollection` (such as CatMetric)"
## 🚀 Feature

Request `MetricCollection` to support `CatMetric` and other aggregation-based metrics.

### Motivation

Currently (https://github.com/Lightning-AI/metrics/blob/19355a9d2c51b3b39b311694d7b8e6856a73eae6/src/torchmetrics/collections.py#L345), we have that only Metric classes are allowed in to be placed into a `MetricCollection`. The motivation would be to streamline metric updating and

[2022-09-08 09:59] SkafteNicki commented on #1207
Hi @simonlevine,

I do not completely understand what the issue is. `CatMetric` inherits from `BaseAggregator` metric which in turns inherits from `Metric`:
https://github.com/Lightning-AI/metrics/blob/19355a9d2c51b3b39b311694d7b8e6856a73eae6/src/torchmetrics/aggregation.py#L24
Therefore, it should not be a problem using these kind of aggregation metrics with `MetricCollection`. Example:
![billede

[2022-09-08 12:50] stancld commented on #971
Hi @angadkalra, do you have any updates here? :]

[2022-09-08 12:52] stancld commented on #854
Hello @hassiahk, any updates here? O:]

[2022-09-08 12:52] stancld commented on #852
Helo @ashutoshml, any updates here? :]

[2022-09-09 04:34] ashutoshml commented on #852
Hi @stancld - Was occupied with some work. I will have a look at it this weekend.

[2022-09-09 13:11] pme0 opened #1208 "Incorrect inputs requirements for AUROC"
## 🐛 Bug

The `torchmetrics.AUROC` [documentation](https://torchmetrics.readthedocs.io/en/stable/classification/auroc.html?highlight=auroc) states that

and the `torchmetrics.ROC.update` documentation states that

The two problems I find are:
1. `num_classes=None` does not work for binary problems;
2. `preds` is not clearly defined; it works for predicted probabilities but not for predicted classe

[2022-09-09 14:57] SkafteNicki commented on #1208
Hi @pme0,
Thanks for raising this issue. I can report that this issue will be solved by the classification refactor which is currently ongoing and will be finalized in this PR #1195. Example after refactor:
[code]

[2022-09-10 15:11] rasbt opened #1209 "MAE can't handle MPS backend"
## 🐛 Bug

The currently, the mean absolute error can't handle the MPS backend. This is a simple fix and just requires casting to .float()

### To Reproduce

This works:

[code]

this also works:

[code]

but this crashes

[code]

[code]

### Environment

[code]

[2022-09-10 17:07] dhananjaisharma10 commented on #1184
### Why does the above happen?
- Precision and Recall are initialized as tensors containing `-1`s [here](https://github.com/Lightning-AI/metrics/blob/master/src/torchmetrics/detection/mean_ap.py#L747-L748).
- When the code enters these [nested for-loops](https://github.com/Lightning-AI/metrics/blob/master/src/torchmetrics/detection/mean_ap.py#L755-L757), the static method `MeanAveragePrecision.__c

[2022-09-12 06:30] SkafteNicki commented on #1209
Hi @rasbt,
Could you try the fix in https://github.com/Lightning-AI/metrics/pull/1210 and confirm this actually fix the issue.
We have no CI for testing MPS support so errors are found manually and need to be checked manually if they are solved.

[2022-09-12 10:40] amichayfeldman opened #1213 "Bug suspected in MS-SSIM\SSIM metric"
MS-SSIM was used to measure two image tensors (BxCxHxW),
 set _reduction_ flag to None to get the losses without any reduction.

When I executed it, I got an error of size mismatch for this line:
https://github.com/Lightning-AI/metrics/blob/19355a9d2c51b3b39b311694d7b8e6856a73eae6/src/torchmetrics/functional/image/ssim.py#L407

When debugging the code, I realized that the betas repetition one line

[2022-09-12 17:25] #1196 closed

[2022-09-12 19:22] Queuecumber opened #1214 "The LPIPS Module Has a Normalize Parameter"
## 🚀 Feature

I guess this is a feature request but the `lpips` module used by PM has a `normalize` parameter that allows users to pass tensors in the range [0, 1] instead of [-1. 1], PM should probably expose this parameter. The vast majority of pytorch codebases use [0, 1] for images.

### Motivation

I use image data in [0, 1] and I want to use lpips in a MetricsCollection, right now i need to

[2022-09-13 09:19] SkafteNicki commented on #1213
Hi @amichayfeldman,
Could you provide an minimal example to reproduce the shape error you are encountering?

[2022-09-13 09:24] #1001 closed

[2022-09-13 09:24] #304 closed

[2022-09-13 09:24] #452 closed

[2022-09-13 09:24] #530 closed

[2022-09-13 09:24] #604 closed

[2022-09-13 09:24] #613 closed

[2022-09-13 09:24] #625 closed

[2022-09-13 09:24] #655 closed

[2022-09-13 09:24] #656 closed

[2022-09-13 09:24] #663 closed

[2022-09-13 09:24] #837 closed

[2022-09-13 09:24] #935 closed

[2022-09-13 09:24] #961 closed

[2022-09-13 09:24] #1017 closed

[2022-09-13 09:24] #1040 closed

[2022-09-13 09:25] #1101 closed

[2022-09-13 09:25] #1119 closed

[2022-09-13 09:25] #1131 closed

[2022-09-13 09:25] #1172 closed

[2022-09-13 09:25] #1208 closed

[2022-09-13 10:11] NielsRogge commented on #935
Awesome, thanks @SkafteNicki

[2022-09-13 10:30] #1209 closed

[2022-09-13 12:38] celsofranssa opened #1217 "How not to compute a metric at each call of the `update`?"
I couldn't find it in the documentation (although I've seen it already) where it's specified how to compute a metric only when the `compute` method is called (and not every call of the `update` method).

[2022-09-13 12:45] SkafteNicki commented on #1217
Hi @celsofranssa,
I am not sure I understand the question. If you just call `update` the metric will not call `compute`. If you call `forward` then it is correct that the metric calls both `update` and `compute`.

[2022-09-13 14:32] celsofranssa commented on #1217
That was the reason. Then I have to call only compute.

[2022-09-13 20:56] geoffrey-g-delhomme opened #1218 "`list index out of range` in `_sync_dist`"
## 🐛 Bug

`list index out of range` out of range error when using a `list` state with a `default=[]`.

### To Reproduce

`self.add_state("p_true_positives", default=[], dist_reduce_fx="cat")`

when no value is added during update, it raises a list index out of range when hitting:

`if isinstance(output_dict[attr][0], Tensor):` in metric.py (l. 374).

#### Code sample

See above

### Expected behav

[2022-09-13 22:17] #1214 closed

[2022-09-14 02:44] geometrikal opened #1220 "__call__ using ClassWrapper does not update wrapped metric"
## 🐛 Bug

Using __call__ with ClasswiseWrapper does not update the Metric within, such that subsequent calls to compute are only using the last batch input.

### To Reproduce

See code sample

#### Code sample

[code]

Output is:

[code]

### Expected behavior

The values should be the same whether calling `update` or `__call__`

### Environment

- TorchMetrics version: 0.9.3
- Python & PyTorch Ve

[2022-09-14 02:52] geometrikal commented on #1220
I see this is because `full_state_update` is set to `True` inside the `ClasswiseWrapper` class. Perhaps the value of `full_state_update` should be set to that of the wrapped metric?

[2022-09-14 06:07] ashinkajay opened #1221 "Slower performance for Torchmetrics PESQ"
## 🐛 Bug

Multiprocessing capability is missing for Torchmetrics PESQ while the underlying library ludlows/python-pesq have that option.
As a result, the torchmetrics version of PESQ performs slower than ludlows/python-pesq.

### To Reproduce

Run PESQ for a batch of 100 audios with a minimum duration of 10 seconds for each audio.

#### Code sample

Attached a python notebook file (analysis.ipynb)

[2022-09-14 06:16] ashinkajay commented on #1221
Need to add more details

[2022-09-14 06:16] #1221 closed

[2022-09-14 06:18] ashinkajay opened #1222 "Slower performance for Torchmetrics PESQ"
## 🐛 Bug

Multiprocessing capability is missing for Torchmetrics PESQ while the underlying library ludlows/python-pesq have that option.
As a result, the torchmetrics version of PESQ performs slower than ludlows/python-pesq.

### To Reproduce

Run PESQ for a batch of 100 audios with a minimum duration of 10 seconds for each audio.

#### Code sample

Python notebook code attachment here: [analysis.

[2022-09-14 06:22] ashinkajay commented on #1222
Need to add more details

[2022-09-14 06:22] #1222 closed

[2022-09-14 06:23] ashinkajay opened #1223 "Slower performance for Torchmetrics PESQ"
## 🐛 Bug

Multiprocessing capability is missing for Torchmetrics PESQ while the underlying library ludlows/python-pesq have that option.
As a result, the torchmetrics version of PESQ performs slower than ludlows/python-pesq.

### To Reproduce

Run PESQ for a batch of 100 audios with a minimum duration of 10 seconds for each audio.

#### Code sample

Python notebook code attachment here:
[analysis.

[2022-09-14 09:03] stancld commented on #1223
Hi @ashinkajay, thank you for your post. As far as I know, the original PESQ code has a pretty restricting license regarding the way how PESQ can be implemented in `torchmetrics`  (see discussion in #726)

cc: @Borda @SkafteNicki Have you had any discussion about this besides the issue attached? :]

[2022-09-14 09:04] stancld commented on #1218
Hi @geoffrey-g-delhomme, can you share some minimal reproducible code please :]

[2022-09-14 09:32] SkafteNicki commented on #1223
Yes their license is very strict so we cannot re-implement. However, it seems like we could probably call `pesq_batch` from https://github.com/ludlows/PESQ instead of `pesq` to run the calculation in parallel. We would just need to add an `n_processor` argument to the modular and functional implementations.

[2022-09-14 12:11] Borda commented on #1222
duplicated with #1223

[2022-09-14 13:35] Borda commented on #1221
duplicated with #1223

[2022-09-14 16:56] SkafteNicki commented on #1217
You were probably looking for the `compute_on_step` argument which where deprecated in v0.8 (https://github.com/Lightning-AI/metrics/pull/792) and removed in v0.9. Setting this argument to `False` meant that `forward` would just call `update` and not also `compute`.
Closing the issue.

[2022-09-14 16:56] #1217 closed

[2022-09-14 17:11] SkafteNicki commented on #1223
@ashinkajay is this what you are thinking about when raising this issue?

[2022-09-14 23:05] Queuecumber opened #1224 "MS-SSIM crashes for different sized images"
## 🐛 Bug

My validation set has images of many different sizes. Currently the MS-SSIM module seems to cache all of these images and then computing only at the end of validation. That's probably not a good idea for a couple of reasons.

1. It makes the code crash when the images have different sizes which I think is a pretty common situation.
2. Some of the images could be quite large so caching th

[2022-09-15 00:37] Queuecumber commented on #1224
I can't even find any discussion about this using git blame because the ssim files have been moved around so many times

Anyway I have a fixed implementation of this that I will open a PR with. It looks like many of your image metrics suffer from this problem, so if you want I can probably fix them all for you.

[2022-09-15 12:58] SkafteNicki commented on #1088
As part of the classification refactor described in #1001 and implemented in #1189 it was decided that `auc` will no longer be available as an metric in itself but instead we only offer a functional implementation in ``torchmetrics.utilities.compute`. The reason being that `auc` is not really a metric but a tool to calculate the area under any given curve.

I know that this is not a reason for the

[2022-09-15 13:08] SkafteNicki commented on #1224
@Queuecumber thanks for raising this issue.
I am aware that many of our metrics are probably not optimal in some cases. We always welcome contributions to making our metrics faster or more memory efficient.

[2022-09-15 13:09] Queuecumber commented on #1224
I have a prototype for SSIM, probably will have something complete for a draft PR early next week

[2022-09-15 13:11] Queuecumber commented on #1224
I'm curious if you have any testimonials from people who are using the image metrics in production code

With the current implementation I don't see how it's possible outside of some very specific circumstances

[2022-09-15 13:26] XiaomoWu opened #1228 "Accuracy fails when: 1) fp16 is enabled, and 2) multi-dimensional, multi-class"
## 🐛 Bug

When 1) fp16 is used and 2) `preds` is multi-dimensional, multi-class, accuracy (perhaps also other classification metrics, though I haven't tested) fails to compute.

### To Reproduce

[code]

When `pred` is of `fp32` (like what's in the above code block), accuracy computes successfully:
[code]

However, if we change `preds` to `fp16` like below:
[code]

then accuracy fails to compute.

[2022-09-15 13:30] Queuecumber commented on #1224
That's definitively possible, I'm still scoping out what exactly is required for the other metrics

[2022-09-15 13:32] SkafteNicki commented on #1224
Cool, lets take one metric at the time. If we can make due with only saving some intermediate state that would be wonderful as long as the tests are still passing for correctness.

[2022-09-15 14:38] SkafteNicki commented on #1228
Hi @XiaomoWu,
Thanks for raising this issue. I am happy to report that this issue already seems to have been solved in by a large refactor of the classification package, described in this issue #1001 and changed merge in this PR #1195. Below is an example using the new `multiclass_accuracy` implementation. Note that some arguments may have changed names.
[code]
The changes are available if you ins

[2022-09-15 14:38] #1228 closed

[2022-09-15 17:05] #1218 closed

[2022-09-16 02:13] XiaomoWu commented on #1228
Hi @SkafteNicki,

I confirmed that accuracy is now successfully computed in v0.10dev0. Thank you!

[2022-09-16 02:27] XiaomoWu opened #1229 "Metrics fail to reduce across devices in PL when `multidim_average='samplewise'`"
## 🐛 Metrics fail to reduce across devices in pytorch-lightning when multidim_average='samplewise' (torchmetrics: master/v0.10dev)

Accuracy fails to compute when
1. doing a multi-dimensional, multi-class classification task, and
1. using pytorch-lightning, and
2. having multiple devices (e.g., >=2GPUs)

### To Reproduce

First, create a boring model and dataloaders. The following example is a "mu

[2022-09-16 08:20] Abdelrhman-Hosny opened #1230 "Add the option to modify the value of `epsilon` when using `MeanAbsolutePercentageError`"
## 🚀 Feature

I'm proposing that we add the option to modify the value of epsilon when using the class version of MAPE
$\text{MAPE} = \frac{\hat y - y}{\max (y ,\epsilon)}$
### Motivation
I was using the library and found that there is no way to modify the value of epsilon in MAPE and ended up having to implement my own

If this is not intentional, I would like to work on adding it

[2022-09-16 09:01] SkafteNicki commented on #1230
Hi @Abdelrhman-Hosny thanks for raising this issue.
Feel free to send a PR which adds `epsilon` as an argument.

[2022-09-16 13:00] #1220 closed

[2022-09-16 13:06] Abdelrhman-Hosny commented on #1230
I've added the argument but I'm unsure how would I write tests for it as the epsilon argument doesn't exist in `sklearn.metrics` function which is how current tests are done.

should I create a new file called `test_mape.py` and do my own tests instead ?

[2022-09-16 18:45] #1223 closed

[2022-09-16 20:44] amorehead commented on #1206
For those interested in a quick solution until someone implements a native PyTorch approach, the following custom `Metric` may suffice.

[code]

[2022-09-17 14:32] mjun0812 commented on #1024
Hi. Thanks for the great package.

I found the following simple corrections and redundancies about [`mean_ap.py`](https://github.com/Lightning-AI/metrics/blob/fbe06ef4d9c5b5a21ead813e40d371d6fdbd3cd7/src/torchmetrics/detection/mean_ap.py)

https://github.com/Lightning-AI/metrics/blob/fbe06ef4d9c5b5a21ead813e40d371d6fdbd3cd7/src/torchmetrics/detection/mean_ap.py#L479-L481

The above code should be

[2022-09-18 01:36] amorehead commented on #987
@LarsHill, I agree that this is an important question to ask. I am also encountering a use case where I need to track my custom `Metrics` state with a dictionary. Any thoughts on this query, @SkafteNicki or @Borda?

[2022-09-18 16:46] mjun0812 commented on #1024
According to my quick survey, this seems to be the most bottlenecked area

https://github.com/Lightning-AI/metrics/blob/fbe06ef4d9c5b5a21ead813e40d371d6fdbd3cd7/src/torchmetrics/detection/mean_ap.py#L734-L739

[2022-09-19 16:41] Queuecumber commented on #1224
BTW it looks like the "none" reduction is broken for MS-SSIM. If you pass anything larger than a batch size of 1 it crashes because the shapes of things aren't correct.

not sure what you want to do about that

[2022-09-19 16:43] Queuecumber commented on #1224
Is there any particular objection to depending on pytorch-mssim instead of reimplementing this?

The current implementation seems to be very broken, pytorch-mssim supports everything that it needs and it is known to be correct, and reinventing this code seems like it's just inviting bugs for no reason.

[2022-09-20 13:18] SkafteNicki commented on #1230
No, it would still keep it all in the `test_mean_errors.py`

[2022-09-21 01:56] mossaab0 commented on #784
Up (to avoid auto closing).

[2022-09-21 12:53] Queuecumber commented on #1213
I can confirm this bug, I fixed it as part of #1231

[2022-09-22 04:11] #932 closed

[2022-09-22 12:15] SkafteNicki commented on #1230
@Abdelrhman-Hosny what are the actual use cases for changing epsilon?

[2022-09-22 12:44] SkafteNicki commented on #1229
Hi @XiaomoWu,
Thanks for raising this issue. The metric seems to do exactly what it is supposed to. When setting `multidim_average='samplewise' it means that the metric will be calculated per sample and returned for each sample.

The relevant documentation can be found here:
https://torchmetrics.readthedocs.io/en/latest/classification/accuracy.html#multiclassaccuracy
Especially the returns section

[2022-09-22 12:44] #1229 closed

[2022-09-22 13:11] Abdelrhman-Hosny commented on #1230
I was working on some data that ranges from 0 -> 40k and any small overprediction when the label is 0 predicting 1 which is mot that far off ruins the whole metric.

So by setting epsilon to a higher number, that would make the results better.

[2022-09-22 14:06] SkafteNicki commented on #1230
What do you mean by label is 0 and 1 in this case?
MAPE is an regression metric so I do not see the need for labels when using this metric.

[2022-09-22 15:21] #1177 closed

[2022-09-22 15:53] Abdelrhman-Hosny commented on #1230
I was talking about 1 as a value not a label, a prediction of 1 when the label is zero results in a very large number (1 -0)/1e-06 which results in the mean not representing the actual error correctly just because of mispredicting the value of 0 as 1.

[2022-09-22 19:23] XiaomoWu commented on #1229
Thank you, @SkafteNicki! Yes, the documentation is very clear. Good job on the refactoring!

[2022-09-23 10:12] SkafteNicki commented on #1230
Actually, when I look at the description Sklearn have:
![image](https://user-images.githubusercontent.com/24896311/191937862-dc3fa5e6-927e-46bd-8f50-fd190ef62135.png)
taken from here:
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_absolute_percentage_error.html
it very much sound like what you are describing is a feature/shortcoming of this particular metric, and have nothi

[2022-09-23 22:44] DomInvivo opened #1235 "Add weights for the pearson, spearman, and r2_score"
## 🚀 Feature

We can provide a weight Tensor to the regression coefficients, such as pearson, spearman, and r2_score

### Motivation

It should be relatively simple to add weights to these computations. And it can be useful in many contexts, including masking by providing 0-weights, or adding more weights to the relevant sample/target pairs.

### Pitch

Adding `weights` parameter in `pearson`, `sp

[2022-09-25 07:59] YangLeiSX commented on #1124
I think it is ok to use jaccard_index to calculate mIoU and IoU over each class in segmentation task.

My code for 5-classes segmentation is as below.

[code]

[2022-09-25 20:59] aseemk98 commented on #387
Hi, is this issue still open?

[2022-09-26 10:47] #1194 closed

[2022-09-26 11:01] brambozz commented on #387
Seems like this is implemented already? https://torchmetrics.readthedocs.io/en/stable/classification/dice.html

So this can probably be closed.

[2022-09-26 15:47] segalinc commented on #1194
Thank you !!

[2022-09-27 07:34] LindaSt opened #1238 "Links to source broken"
## 📚 Documentation

Most of your links to the source code are broken, e.g. for [https://torchmetrics.readthedocs.io/en/stable/aggregation/cat.html#](https://torchmetrics.readthedocs.io/en/stable/aggregation/cat.html#) I get _"The 'Lightning-AI/metrics' repository doesn't contain the 'torchmetrics/aggregation.py' path in 'master'."_

[2022-09-27 13:32] AleRiccardi opened #1239 "MeanAvaragePregicision (segm): 'tuple' object has no attribute 'cpu'"
The problem rises when we instantiate the MeanAvaragePrecision class of type _segm_, call the `update(...)` method, and finally the `cpu()` method. I personally have no reason for calling the `cpu()` method, but pythorch lightning does. At the end of a training, it tries to place every inner module on the CPU (you can find the full traceback of the error at the bottom of this issue which proves wh

[2022-09-27 14:03] celsofranssa commented on #1217
Exactly.

[2022-09-27 20:50] lucadiliello opened #1241 "Improve modular retrieval metrics efficiency"
## 🚀 Feature

Retrieval metrics are very slow when fed with many predictions due to multiple indexing.

### Motivation

When computing results with modular metrics, predictions and targets are iteratively indexed a number of times equal to the number of queries, which can be very large.

### Pitch

Retrieval metrics to be faster.

[2022-09-28 13:59] Queuecumber opened #1244 "Allow FID to Use Float Images"
## 🚀 Feature / Motivation

The underlying FID library requires uint8 images in [0, 255] for input. I think the majority of people don't use that so it makes the code kind of ugly if you want to use the torchmetrics FID. I think there should be a parameter for converting the inputs automatically to uint8

### Pitch

1. Add a `normalize` parameter similar to lpips (fid.py ln 215)
2. If normalize is

[2022-09-28 14:05] Queuecumber opened #1245 "Do you want VMAF?"
## 🚀 Feature

VMAF is a widely used video quality metric developed by netflix, I have a working implementation of it that I can contribute if you want it.

Here's their mess of a codebase: https://github.com/Netflix/vmaf

Problems:

1. Currently there are no video metrics in the library so if you want it we'll have to decide where to put it
2. My metric depends on calling an external library becau

[2022-09-29 08:16] SkafteNicki commented on #1245
Hi @Queuecumber,
I think it would be a great contribution to have in torchmetrics as it would be our first metric focusing on video evaluation.

I think we should be able to install `vmaf` as an python library based on the description here:
https://github.com/Netflix/vmaf/blob/master/resource/doc/python.md
and then we should have access to the installed package as here:
https://github.com/Netflix/

[2022-09-29 08:18] SkafteNicki commented on #1244
Hi @Queuecumber,
What would be values images takes that you consider to be more normal? [0,1] or [-1,1]?

[2022-09-29 12:58] Queuecumber commented on #1244
I would say [0, 1] is the most common thing although I have seen [-1, 1] in the context of GANs

[2022-09-29 12:59] #1241 closed

[2022-09-29 13:44] Queuecumber commented on #1245
Yes we could try that but how do we specify it as a dependency if it isnt on pypi? That's the only real blocker I have with it

[2022-09-29 13:55] SkafteNicki commented on #1245
Installing directly from github is possible. Something like this should do it:
[code]
and it would be
[code]
in corresponding `requirement.txt` file.

[2022-09-29 13:56] Queuecumber commented on #1245
let me see if that works, and as long as you're ok with having a git dependency

[2022-09-29 13:58] SkafteNicki commented on #1245
we already have one :)
https://github.com/Lightning-AI/metrics/blob/3bf1491141ef30bf89251f11770cd49d500f3571/requirements/audio.txt#L1-L2

[2022-09-29 13:59] Queuecumber commented on #1245
Alright then I'll give this a go and get back to you

[2022-09-29 14:34] #1213 closed

[2022-10-01 01:00] Queuecumber commented on #1245
The good news is that it seems to install with pip, the bad news is that based on my reading of their code it still requires raw videos to be written to disk.

Will continue looking for a workaround for that.

[2022-10-01 01:46] Queuecumber commented on #1245
And more bad news, it looks like everything ends up just calling the binary anyway

https://github.com/Netflix/vmaf/blob/master/python/vmaf/__init__.py#L130

[2022-10-01 06:38] #1122 closed

[2022-10-01 06:39] #883 closed

[2022-10-04 17:00] #1083 closed

[2022-10-04 17:40] #1238 closed

[2022-10-05 10:18] stancld commented on #1158
Hi @pietrolesci -- I think I should be able to find some time in the near future to have a look at this class of metrics. However, I'm not fully familiar with the current state of tagging metrics. Do you think it will make more sense if our public API will accept something like `Sequence[Sequence[str]`, or it's better to use `torch.Tensor` here? (I think `transformers` models tend to output tensor

[2022-10-05 10:30] stancld commented on #1206
@amorehead It would be a really great addition to `torchmetrics`. Would you wanna try to add this in a PR, or you don't have enough time right now? 🐰

[2022-10-05 13:02] omerferhatt opened #1249 "`clone()` throwing exception on single `Metric` or `MetricCollection`"
## 🐛 Bug

`clone()` functionality not working and raising argument error.

### To Reproduce

[code]

### Expected behavior

It should create a new object with given template

### Environment

- TorchMetrics version (and how you installed TM, e.g. `conda`, `pip`, build from source):
  - `torchmetrics==0.10.0 (pip)`
- Python & PyTorch Version (e.g., 1.0):
  - `python==3.8.10`
  - `torch==1.12.1+cu11

[2022-10-05 18:46] #972 closed

[2022-10-06 09:18] #1249 closed

[2022-10-07 20:55] davesullivan41 opened #1257 "NLTK punkt is downloaded by Rouge even when unneeded"
## 🐛 Bug

torchmetrics.ROUGEScore uses nltk's punkt library to compute the RougeLSum metric, however punkt is downloaded even if RougeLSum is not selected. In certain environments, e.g. multiprocessing environments, this results in an exception being thrown. Errors are also thrown and handled in the case of an environment without internet access, e.g.
[code]

### To Reproduce

Run ROUGEScore on an

[2022-10-09 17:43] amorehead commented on #1206
Hi, @stancld. My availability is quite limited at the moment. Are you referring to a full PyTorch-tensors implementation of this metric, or instead one that transfers label and prediction tensors to the CPU and then computes this metric value using scikit-learn?

[2022-10-10 07:10] stancld commented on #1024
Hi @senarvi, thanks for reporting this issue. Could you please try the implementation from #1259 and verify if you can observe any improvement, and if all results are correct? :] I believe, there is more space to optimize the metric, but let's go step by step :]

[2022-10-10 11:47] okbalefthanded opened #1260 "Unable to unpickle a MatthewsCorrCoef saved object"
## 🐛 Bug

Matthews Correlation coefficient requires a positional argument num_classes, so it raises a TypeError:
missing 1 required positional argument: 'num_classes'

### To Reproduce

Steps to reproduce the behavior...

The error is reported in this colab notebook :
https://colab.research.google.com/drive/1UvhPyPbzpF61SY-51ti8R_O-Vc2FP-vO?usp=sharing

### Expected behavior

We expect the same be

[2022-10-10 13:09] stancld commented on #1260
@SkafteNicki

[2022-10-10 17:21] austinmw commented on #1147
What's the recommend workaround for this currently?

[2022-10-10 21:07] #1257 closed

[2022-10-11 03:36] kynk94 commented on #1244
Hi, I came across this issue while chasing issues about FID.
The FID is a metric used **only for image generation**, and often used with LPIPS.
So, I think there should be code consistency in using the normalize argument and [-1, 1] is the range to be more normal.

The update method should accept images in range [0, 1] if normalize else [-1,1].

[2022-10-11 03:41] Queuecumber commented on #1244
I buy that argument

The only issue I can think of is that it would break backwards compatibility if it stopped accepting images in [0, 255]

There's nothing about generation which prescribes [-1,1] btw. Replacing your tanh with a sigmoid would get you [0,1] and should work fine.

[2022-10-11 08:26] SkafteNicki commented on #1260
Hi @okbalefthanded, thanks for raising this issue.
Happy to report that it has already been solve in PR #1250. To fix the issue you can upgrade to master for now:
[code]
or wait until the next bugfix release.
Closing issue.

[2022-10-11 08:26] #1260 closed

[2022-10-11 08:30] SkafteNicki commented on #1244
As @Queuecumber I would be against breaking backwards compatibility.
The question then becomes if both [-1,1] and [0,1] are valid options we should still leave the conversion to the [0,255] domain up to the user?

[2022-10-11 08:56] kynk94 commented on #1244
I agree that this change should support BC.
As above, [0,1] could be an input if normalize is True. like LPIPS

[2022-10-11 10:44] #1147 closed

[2022-10-11 10:50] SkafteNicki commented on #1147
@austinmw should be fixed now by PR #1150.
Please try installing from master:
[code]
which should solve the issue. If not, please report back and we can reopen the issue and try to fix it.

[2022-10-11 11:43] SkafteNicki commented on #1239
Hi @AleRiccardi,
Thanks for raising this issue. After taking a look at it (thanks for all the info you have provided) it is a tricky issue, which stems from the limitation that torchmetrics states by default only can be tensors or list of tensors. However, for this metric with `iou_type = "segm" we actually need list of tuples of tensors (so on extra layer of nested structure).

I can think of two

[2022-10-11 11:54] SkafteNicki opened #1262 "Update minimum requirement of torch to 1.8"
## 🚀 Feature

Based on this comment thread https://github.com/Lightning-AI/metrics/pull/1259#discussion_r992212074 we have agreed on updating the minimum requirement of pytorch to be 1.8 which would still mean that `torchmetrics` would be compatible with 5 major versions of pytorch.

### Motivation

We are running into problems with core pytorch functions such as `torch.where` not supporting speci

[2022-10-11 12:00] justusschock commented on #1239
@SkafteNicki I would not used 2. as it is easy to break something we are not aware of that way.

I suggest introducing https://github.com/Lightning-AI/utilities as a dependency and rely on https://github.com/Lightning-AI/utilities/blob/main/src/lightning_utilities/core/apply_func.py for this case (similar to what PL does in several cases). This way you could nest how deep you wish and then use `ap

[2022-10-11 16:26] Queuecumber commented on #1244
Is this procedure too fancy:

* If the image has dtype torch.byte then assume [0, 255]
* If the image has dtype any float type *and* normalize is false, assume [-1, 1]
* If the image has dtype any float type *and* normalize is true, assume [0, 1]

where any float dtype is {bfloat16, float16, float32, float64, anything else I forgot}

[2022-10-11 19:16] ZhaofengWu opened #1264 "Import binary/multiclass/multilabel classification metrics into __init__"
## 🚀 Feature

For example, just like how users can do `from torchmetrics import Accuracy`, it'd ideal if users could do `from torchmetrics import MulticlassAccuracy` too.

[2022-10-11 19:48] ZhaofengWu commented on #54
Bumping this. I believe `ignore_index` could be fragile in certain circumstances, and a mask would be more reliable. For example, while it is a sensible default to set `ignore_index` to be the padding token index of a tokenizer, some tokenizers such as GPT-2's do not have a padding token. Masking is also how the AllenNLP metrics (https://github.com/allenai/allennlp/tree/main/allennlp/training/metr

[2022-10-11 20:46] davzaman commented on #54
There was also some sort of attempt to support masked Tensors but I think it has died out [https://github.com/pytorch/maskedtensor](https://github.com/pytorch/maskedtensor)

[2022-10-12 09:02] justusschock commented on #1264
Hey, thanks for this issue.

We actually thought about this a lot! The behaviour `from torchmetrics import Accuracy` originated in the time where we didn't have too many metrics so it made sense to have them all on root level.

Over time (and especially after the recent classification refactor), the number of metrics grew to a level where it did not make sense to pursue this further. So we decided

[2022-10-12 11:42] #1262 closed

[2022-10-12 14:31] omerferhatt opened #1265 "Adding metric visualization code snippets in guide/documentation to facilitate use"
## 🚀 Feature

Explaining the methods of visualizing visually interpretable metrics with matplotlib or another library will be much easier in terms of use. It would be nice if, as an example, it could be explained how ROC metric results can be visualized in a very simple way. A draft piece of code can be added even if no visual attachment is added.

### Motivation

I sometimes have trouble interpre

[2022-10-12 15:20] ZhaofengWu commented on #1264
Yes, that definitely makes sense! My use case is that I want the client of my code to simply obtain a metric with a string. In other words I want the entire training process to be specifiable with strings in a config file or something. Previously I could do `getattr(torchmetrics, metric_name)`, but with the refactor this is no longer possible (at least if I want to be using the recommended new cla

[2022-10-12 16:01] stancld commented on #1206
I meant full PyTorch implementation, would definitely refrain from using `scipy` implementation. Maybe I will have some spare time to look at that at the weekend, but cannot promise anything right now :]

[2022-10-12 18:04] SkafteNicki commented on #1265
Somewhat related to #652

[2022-10-12 18:06] SkafteNicki commented on #1264
@ZhaofengWu you should be able to do what you are already doing with nested `getattr`:
![image](https://user-images.githubusercontent.com/24896311/195416013-074d3b1a-7dfd-45bd-a11c-83b06a422d84.png)

[2022-10-12 18:09] ZhaofengWu commented on #1264
Right, yes, that's a workaround. I guess ideally specifying `"MulticlassAccuracy"` is easier than `("classification", "MulticlassAccuracy")` in a config file, and technically `"classification"` is unnecessary because there's only one `MulticlassAccuracy` metric.

[2022-10-12 18:13] SkafteNicki commented on #1264
Yes, as long as you are only trying to pull metrics from one subpackage e.g. not also needing `regression` metrics for the same experiment (which seems weird to me) then this should definitely work

[2022-10-12 18:16] #1264 closed

[2022-10-12 19:03] ZhaofengWu commented on #1264
I meant for cases when someone does need metrics from different subpackages. But not necessarily in the same experiment. For example, I want an experiment to be specifiable with something like
[code]
And in my code I can find the corresponding metric from torchmetrics using only "metric_name" (previous, with `getattr(torchmetrics, metric_name)`). This is currently impossible unless I hardcode "cla

[2022-10-13 12:59] omerferhatt opened #1267 "Performance difference between `v0.9.3` <-> `v0.10.0`"
## 🐛 Bug

Torchmetrics works on different speed accross v0.9.3 and v0.10.0

### To Reproduce

Same metric calculation on different versions installed environments.

[code]

[code]

#### Code sample

Since its private project, I can only say the used metric names and configurations

For training:

[code]
### Expected behavior

More performant results.

### Environment

- TorchMetrics version `v0.9.

[2022-10-13 16:20] tayden commented on #1267
I'm seeing something similar, particularly with `JaccardIndex`.

[2022-10-13 19:28] SkafteNicki commented on #1267
Hi @omerferhatt and @tayden
Could one of you provided the precise configuration you are using (`num_classes`) and what the shape of typical input to the metric looks like?
Just to know if you are running into an edge case that we had previously not thought about :]

[2022-10-13 20:46] omerferhatt commented on #1267
Absolutely @SkafteNicki
[code]

[2022-10-14 04:42] senzeyu opened #1270 "IndexError: index -100 is out of bounds for dimension 1 with size 2"
## 🐛 Bug

When average=None for the classification metric, negative ignore_index can't be properly ignored.
Negative ignore_index works fine when the average is set to other values.

### To Reproduce

run the code attached below

[code]
### ~Expected~ behavior
[code]
### Environment
torchmetrics=0.10.0

[2022-10-16 19:41] stancld opened #1272 "Add Cramer's V (Cramér's phi)"
## 🚀 Feature

Add Cramer's V -- correlation coefficient for categorical variables.

In [statistics](https://en.wikipedia.org/wiki/Statistics), Cramér's V (sometimes referred to as Cramér's phi and denoted as φc) is a measure of [association](https://en.wikipedia.org/wiki/Association_(statistics)) between two [nominal variables](https://en.wikipedia.org/wiki/Nominal_data#Nominal_scale), giving a va

[2022-10-16 19:45] stancld opened #1273 "Add Uncertainty coefficient (Theil's U)"
## 🚀 Feature

Add uncertainty coefficient

In [statistics](https://en.wikipedia.org/wiki/Statistics), the uncertainty coefficient, also called proficiency, entropy coefficient or Theil's U, is a measure of nominal [association](https://en.wikipedia.org/wiki/Association_(statistics)). (Source: https://en.wikipedia.org/wiki/Uncertainty_coefficient)

### Motivation

Add correlation metrics specific t

[2022-10-17 10:39] tokidoki42 opened #1274 "Cloning a MetricCollection containing JaccardIndex leads to TypeError"
## 🐛 Bug

Cloning a MetricCollection containing JaccardIndex is not possible.

### To Reproduce

1) Create JaccardIndex inside a MetricCollection
2) Clone the MetricCollection
[code]
#### Code sample
[code]
### Expected behavior

Successful cloning.

### Environment
- TorchMetrics 0.10.0 installed with conda
- Python 3.10.6 | packaged by conda-forge | (main, Aug 22 2022, 20:30:19) [MSC v.1929 64 b

[2022-10-17 11:49] stancld commented on #1274
Hi @tokidoki42, this is a known issue reported in https://github.com/Lightning-AI/metrics/issues/1249 and fixed in https://github.com/Lightning-AI/metrics/issues/1250, but yet not released.

cc @Borda -- it seems this issue affects more people -- Don't we wanna consider a patch release?

[2022-10-17 17:51] senarvi commented on #1024
Hi @stancld , sorry I didn't have time to respond earlier. I wrote my observations in that pull request. It was indeed a lot faster, but in one case the results were significantly different. I don't normally see such a large variation between test runs.

[2022-10-17 17:56] stancld commented on #1024
Hi @senarvi, thanks for the feedback. Do you have any batch example, you can share, where the results are different so that we can test it and debug please?

[2022-10-17 20:07] senarvi commented on #1024
@stancld Hmm. The data's not public. I wonder if you could debug it using random boxes, like in the speed test. I modified it to make the task a little bit easier and to make sure that the results are deterministic:

[code]

With torchmetrics 0.10.0 I get:

map: 0.1534
map_50: 0.5260
map_75: 0.0336
map_small: 0.1534
mar_1: 0.0449
mar_10: 0.3039
mar_100: 0.5445
mar_small: 0.5445

With the code from

[2022-10-17 20:14] stancld opened #1275 "Incorrect implementation of MAP"
## 🐛 Bug

After merging #1259, some discrepancies have occurred as described here https://github.com/Lightning-AI/metrics/issues/1024#issuecomment-1281424230 and #1259.

### Additional context

I'll try to investigate this more.

[2022-10-17 20:54] function2-llx opened #1276 "Compatibility with the latest tokenizers package"
## 🚀 Feature

It would be nice if torchmetrics would be compatible with the lastest tokenizers package. Currently, with the latest torchmetrics (0.10.0) and tokenizers (0.13.1) installed, I've got following error traceback (some information are omitted):

[code]

[2022-10-17 22:03] stancld commented on #1276
Hi @function2-llx, thanks for reporting this issue. Could you please provide us with a reproducible piece of code? I use package version you mention and try to do thet import and everything works fine to me 🤔

[2022-10-18 06:44] Borda commented on #1275
Good finding, so could we at fist place add a test to cover this correctness? :)

[2022-10-18 21:14] ductai199x commented on #1267
I am seeing extreme slowdown with MatthewsCorrCoef too. What used to take less than a second for me now takes 10 minutes! Reverting back to 0.9.0 or 0.8.2 works just fine.

[2022-10-18 22:18] ductai199x opened #1277 "MatthewsCorrCoef has massive slow down on both CPU and especially GPU"
## 🐛 Bug

It's extremely slow to compute the Matthew Correlation Coefficient since torchmetrics == 0.10.0.

### To Reproduce

During my testing, I am seeing massive slow down when computing the Matthew Correlation Coefficient, especially on the GPU (using pytorch-lightning to build, train and test a deep learning model's performance on this metric).

I have compiled a code sample (next section) an

[2022-10-18 22:53] Borda commented on #1277
wow, for GPU it is huge :octopus: :face_with_spiral_eyes:

[2022-10-19 02:46] aaronzs commented on #1275
#1259 replaces nested for-loop with `einsum` op, while the matching process implemented in `metrics` version 0.10.0 cannot be parallelized like this. The `gt_matches` (`n_threshold x m_gt`) matrix is used as **flags** to track previous matches, so that one `gt` is matched with one `det` at a IoU threshold level. I guess the incorrectness is caused by the different behaviour when more than one `det

[2022-10-19 12:25] Borda commented on #1274
@stancld @tokidoki42 could you pls check that is working correctly now on matser? :otter:

[2022-10-19 12:26] stancld commented on #1274
@Borda I tried it on `master` and worked for me w/o problems 👌

[2022-10-19 12:31] Borda commented on #1245
Binaries are quite tricky to maintain... :(

[2022-10-19 12:32] Borda commented on #1244
yes, if not we would just make much more confusion then gain benefit...

[2022-10-19 12:33] Borda commented on #1235
Sounds good to me, @DomInvivo would you interested in implementing it?
cc: @SkafteNicki

[2022-10-19 12:34] Borda commented on #1230
@SkafteNicki shall we add this epsilon to the base `Metric` class? :rabbit:

[2022-10-19 12:34] Queuecumber commented on #1245
Yeah I agree, what we need is a wrapper library around libvmaf, which is what I've been investigating. I don't think it's particularly difficult to do from what I saw

Ideally this would be separate from torchmetrics

Unfortunately we're getting into territory where Nvidia may have opinions about me donating that much code so it's not something I can just do without checking with them first

[2022-10-19 12:36] Borda commented on #1224
I would say that having our own implementation would be perfect; we just need to be careful of not copy their code for eventual licencing issues

[2022-10-19 12:38] Borda commented on #1190
@SkafteNicki did you succeed in debugging this issue? :otter:

[2022-10-19 12:39] Queuecumber commented on #1224
Yes I was able to get a correct implementation of both without needing the extra dependency

[2022-10-19 12:40] Borda commented on #1184
@dhananjaisharma10 would you be interested to send a draft PR with a suggested fix? :rabbit:

[2022-10-19 12:40] Borda commented on #1183
@justusschock, mind having a look at it? :otter:

[2022-10-19 12:45] Jintao-Huang opened #1278 "inplace operation in pairwise_cosine_similarity"
## 🐛 Bug
Hello !
The x, y values are modified inplace in the `pairwise_cosine_similarity` function.
This is not documented and may cause bugs that are difficult to find.
Thank you.

### To Reproduce

[code]

### Environment
torchmetrics==0.10.0

[2022-10-19 15:36] lucadiliello opened #1279 "`MulticlassAccuracy` using lot of memory with many classes"
## 🐛 Bug

After the refactor of the Accuracy package, I am experiencing memory problems in the classification with many classes. Basically, I have to compute the accuracy over 50K classes (output of a Transformer trained with MLM). I just need the “micro” accuracy, so something like `(preds == target).mean()`. I do not understand how I could use `MulticlassAccuracy` to avoid the instantiation of a

[2022-10-20 01:32] Queuecumber commented on #1244
Actually now that I think about it why is the implementation even using something that was trained in byte inputs? Was there any justification for it by the original implementer? It should have less dynamic range than float32

[2022-10-20 01:35] Queuecumber commented on #1244
Ah, the answer is that it immediately converts them to float images in [-1, 1]

https://github.com/toshas/torch-fidelity/blob/master/torch_fidelity/feature_extractor_inceptionv3.py#L96

That's not great, if it's going to do that why bother forcing byte inputs on people in the first place?

[2022-10-20 07:17] tokidoki42 commented on #1274
@Borda It works fine now, thanks.

[2022-10-20 11:34] Mehrabkhazraei opened #1281 "Mistake in website"
## 📚 Documentation

![Capture](https://user-images.githubusercontent.com/36899898/196937460-2874e110-edec-49fe-bd24-ff5a465deeb1.PNG)
I believe the mistake is obvious in photo.
traget = traget =....

Best regards

[2022-10-20 14:44] ZhaofengWu opened #1282 "Supporting mask"
## 🚀 Feature

In addition to `ignore_index`, metrics should also support masks, which are more robust.

I posted this reply under a closed issue https://github.com/Lightning-AI/metrics/issues/54#issuecomment-1275195071, but it might have been overlooked because it's closed. So just wanted to draw attention to this. Feel free to close this and reopen the original issue, if appropriate.

[2022-10-20 22:57] hanlint opened #1283 "Deepcopy broken for MatthewsCorrCoef"
## 🐛 Bug

The new release of `torchmetrics` breaks deepcopy for `MatthewsCorrCoef`

### To Reproduce
[code]

Has the following error:
[code]

This was _not_ an error in previous versions of `torchmetrics`.

### Expected behavior

Deepcopy is successful

### Environment

- TorchMetrics version (and how you installed TM, e.g. `conda`, `pip`, build from source): `pip install torchmetrics==0.10.0`
- P

[2022-10-21 09:14] stancld commented on #1283
Hi @hanlint, this is a similar issue to #1274, which has been resolved in #1250 after #1249. I can confirm, everything works fine on `master`. Will keep you updated

[2022-10-21 10:20] #1283 closed

[2022-10-21 13:07] stancld commented on #1274
@tokidoki42 Great! It's resolved in `master` and the patch release will be out pretty soon #1285 :]

[2022-10-21 13:07] #1274 closed

[2022-10-21 15:02] hanlint commented on #1283
Great, thank you!

[2022-10-24 14:17] SkafteNicki commented on #1282
Hi @ZhaofengWu,
Thanks for raising this issue. We can definitely agree that this would be an awesome feature to include in torchmetrics.
However, it will not be an priority for us right now.

[2022-10-24 14:32] SkafteNicki commented on #1276
I also just tried and everything seems to be in order when I try to import
[code]
on `v0.10.0` or master of torchmetrics.

[2022-10-24 14:53] #1270 closed

[2022-10-24 18:37] MaKaNu opened #1289 "MulticlassJaccardIndex without reduction over N"
## 🚀 Feature

The function `multilabel_jaccard_index` doesn't reduce over first dimension.

Small Example:

[code]

This should not reduce the first dimension and sets the `average='none'`.

### Motivation

I wrote this myself before with a bit different approach as I saw in your code. I recently discovered that IoU is simply jaccard index, so I was happy about finding this implementation. Sadly a

[2022-10-24 20:12] tijiang13 opened #1290 "SSIM returns incorrect results under mixed-precision training"
## 🐛 Bug
SSIM returns incorrect results under mixed-precision training

### To Reproduce

[code]

### Expected behavior

ssim returns 1.0

### Environment

- torchmetrics version: tested with 0.6.0 and 0.10.0, both return wrong results
- Python==3.8.10, Pytorch==1.12.1+cu116 (also tested on 1.10)

### Additional context

[2022-10-25 06:57] SkafteNicki commented on #1281
Fixed by #1287 . Closing issue.

[2022-10-25 06:57] #1281 closed

[2022-10-25 07:02] SkafteNicki commented on #1289
Hi @MaKaNu, thanks for raising this issue.
I am a bit confused about your usecase. In the first line of the issue you refer to `multilabel_jaccard_index` and the inputs in your example is clearly also `multilabel`. However, the function you are calling in the example is the `multiclass_jaccard_index` function. Therefore, are you trying to solve `multilabel` classification (all targets are [0,1] do

[2022-10-25 10:41] #1279 closed

[2022-10-25 11:44] #1278 closed

[2022-10-25 12:38] SkafteNicki commented on #1190
@Borda I was unable to execute the code on my local cluster.
Will try again.

[2022-10-25 14:10] SkafteNicki commented on #1290
Hi @tijiang13, thanks for raising this issue.
I created PR #1291 which will fix this. For the example you have provided
[code]
gives 1.0002 instead of 1.3245 (which is as close as we probably get when things gets casted to `torch.half`) and for
[code]
it gives 1.0000 as expected.

[2022-10-25 14:16] SkafteNicki commented on #1230
No, not if this would be the only metric. Also, as pointed out in my last comment, this epsilon parameters are only meant for numerical stability and should therefore not be exposed to the user. Closing issue.

[2022-10-25 14:16] #1230 closed

[2022-10-25 17:09] arroqc opened #1292 "Crash when using .clone on MetricCollection with MatthewsCorrCoef"
## 🐛 Bug

When building a MetricCollection with MatthewsCorrCoef as part of the list, the use of .clone method raises an error.
This happens only in 0.10.0. The same code in 0.9.3 will work.

### To Reproduce

1. Install torchmetrics 0.10.0
2. Use code sample below

This will lead to the following issue when .clone tries to deepcopy:
[code]

#### Code sample
[code]

### Expected behavior

Clone do

[2022-10-25 21:19] MaKaNu commented on #1289
I use a bit different naming because my usecase is coming from the [boxsup paper](https://arxiv.org/abs/1503.01640). The algorithm compares candidates (predictions) against boundingboxes (target) and than multiply the Jaccard Index result with 1 if bbox and candidate are the same class. This means the result of Jaccard Index should not reduced along the first dim. As a secondary loss CrossEntropy

[2022-10-26 06:16] SkafteNicki commented on #1292
Hi @arroqc, this is a similar issue to https://github.com/Lightning-AI/metrics/issues/1274, which has been resolved in https://github.com/Lightning-AI/metrics/pull/1250 after https://github.com/Lightning-AI/metrics/issues/1249. Please update to version `v0.10.1` that was released 5 days ago (https://github.com/Lightning-AI/metrics/releases/tag/v0.10.1)

[2022-10-26 06:16] #1292 closed

[2022-10-26 06:36] SkafteNicki commented on #1289
Alright, I am still not completely sure about the specifics of you usecase, but what I get is that you want to not reduce over two dimensions, which is not possible for our implementation of `jaccard_index` regardless of `multilabel` or `multiclass` setting. As it states in the [documentation](https://torchmetrics.readthedocs.io/en/stable/classification/jaccard_index.html#multiclassjaccardindex):

[2022-10-26 07:45] #1290 closed

[2022-10-26 08:12] MaKaNu commented on #1289
Okay that is relative close to my intermediate solution. In the meantime I have implemented two vectorized solution which might reduce the for loop overhead for my usecase.

[2022-10-26 08:17] SkafteNicki commented on #1289
Sounds good. We may in the future look into a more permanent solution for not reducing the metrics over the sample dimension, but for now we are closing this issue.
Thanks again for your interest in Torchmetrics, and sorry for not being able to provide the perfect solution for your usecase.

[2022-10-26 08:17] #1289 closed

[2022-10-26 10:06] baldassarreFe commented on #1190
I ran another test on a different machine.

System:
- NVIDIA Driver Version: 470.86
- CUDA Version: 11.4
- 2x NVIDIA GeForce GTX 1080 Ti

Setup:
[code]

Launch:
[code]

Outputs:
[code]

Attachments:
- [environment.yaml](https://github.com/Lightning-AI/metrics/files/9868410/environment.yaml.txt)
- [main.py](https://github.com/Lightning-AI/metrics/files/9868411/main.py.txt)

[2022-10-26 22:57] dakinggg opened #1294 "SpearmanCorrCoef has unnecessary explicit dtype check"
## 🐛 Bug
If you're running a model with `torch.cuda.amp.autocast` to `bf16`, you may have model outputs in `bf16` and labels in `fp32`, and then run `metric.compute()` outside of the autocast. Everything works completely fine for most (perhaps all other?) metrics, but `SpearmanCorrCoef` has an explicit check that the `dtype` of the `preds` and `target` are the same (https://github.com/Lightning-AI

[2022-10-27 08:50] SkafteNicki commented on #1294
Hi @dakinggg, thanks for raising this issue. We can agree that the dtype check is probably too restrictive but I still think it would probably be a good idea to check that `preds.is_floating_point() == target.is_floating_point()` such that we are not mixing float with int values. What do you say to this?

[2022-10-27 16:59] dakinggg commented on #1294
Sure, that seems fair, I think the current `SpearmanCorrCoef` implementation actually just crashes if you you use int right now, because of the `.mean()` call. Might want to add some check around that too, but just allowing different float types definitely solves my problem.

[2022-10-27 18:57] stancld commented on #1206
@amorehead Just FYI, we've prepared a MR adding the metric. It's almost done, we just need to figure out one failing mypy test and then we'll be ready to merge. We'll be happy if you will then give a try 🤗

[2022-10-28 09:19] ZhiyuanChen opened #1297 "AUROC on DDP returns inconsistent result"
## 🐛 Bug

AUROC return different results if the number of GPU is different.

### To Reproduce

Steps to reproduce the behavior...

#### Code sample

[code]

### Expected behavior

Consistent result across different number of devices.

### Environment

- TorchMetrics version (and how you installed TM, e.g. `conda`, `pip`, build from source):
- Python & PyTorch Version (e.g., 1.0):
- Any other relev

[2022-10-28 18:06] stancld opened #1299 "Add Tschuprow's T"
## 🚀 Feature

Add Tshuprow's T -- correlation coefficient for categorical variables.

In [statistics](https://en.wikipedia.org/wiki/Statistics), Tschuprow's T is a measure of [association](https://en.wikipedia.org/wiki/Association_(statistics)) between two [nominal variables](https://en.wikipedia.org/wiki/Nominal_data#Nominal_scale), giving a value between 0 and 1 (inclusive). It is closely relate

[2022-10-31 12:59] #1183 closed

[2022-10-31 13:29] SkafteNicki commented on #1297
Hi @ZhiyuanChen,
Is the number of samples in your dataloader equally divisible by `batch_size * num_gpu`? I am asking because default `DistributedSampler` is automatically adding additional samples to your dataloader if the number of samples cannot be equally divided between all processes:
https://github.com/pytorch/pytorch/blob/8ea19c802e38c061e79176360c1ecaa81ce2088a/torch/utils/data/distributed

[2022-10-31 13:29] SkafteNicki commented on #1276
Closing issue.

[2022-10-31 13:29] #1276 closed

[2022-10-31 14:04] #1294 closed

[2022-10-31 16:29] bruce-willis opened #1304 "MetricTracker best_metric() returns the step instead of the best value"
## 🐛 Bug

`MetricTracker.best_metric()` function returns the **step** with the highest metric value instead of the best **value** itself.

### To Reproduce
Please see [colab] for a full example and proposed solution.

#### Code sample
[code]

### Expected behavior
Function `best_metric` without any parameters should return the best value:

### Environment
Does not depend on the version.

## Additi

[2022-10-31 19:11] #1267 closed

[2022-10-31 19:11] #1277 closed

[2022-10-31 19:50] DomInvivo commented on #1235
@Borda It's no longer a priority for me, I found a way to achieve what I needed since I only needed weights of 1 and 0. Unfortunately, I do not have time at the moment but could consider it later.

[2022-11-03 11:20] #1304 closed

[2022-11-03 11:41] chinoll opened #1311 "Add CLIP score"
## 🚀 Feature

Calculate the correlation between image and text
### Motivation

Evaluating the performance of the text2image model
### Pitch

pytorch-like Pseudocode
[code]
### Alternatives

### Additional context

[clip score](https://wandb.ai/dalle-mini/dalle-mini/reports/CLIP-score-vs-FID-pareto-curves--VmlldzoyMDYyNTAy)

[2022-11-03 17:07] stancld commented on #1311
Hi @chinoll, this sounds like a nice addition to add the first multi-model metric. Would you have please any reference implementation?

[2022-11-03 23:23] #1206 closed

[2022-11-04 16:26] SkafteNicki commented on #1311
Here is at least one reference implementation:
https://github.com/mehdidc/DALLE_clip_score

[2022-11-04 16:27] amorehead commented on #1206
@stancld, will do! I greatly appreciate your time and help here, and I'm sure others will as well!

[2022-11-04 16:55] chinoll commented on #1311
simple implementation
[code]

[2022-11-05 08:58] SkafteNicki commented on #1311
I started the work of adding the metric in #1314

[2022-11-06 11:42] #387 closed

[2022-11-06 11:42] #1044 closed

[2022-11-06 13:22] stancld opened #1315 "Add `LogCosh` metric"
## 🚀 Feature

Add `LogCosh` metric.

### Motivation

Support another regression evaluation metrics as done in Keras Metrics https://github.com/keras-team/keras/blob/v2.10.0/keras/metrics/metrics.py#L2510.

[2022-11-07 00:22] davidgilbertson opened #1317 "`task` missing from `accuracy` docs"
## 📚 Documentation

In this file: https://github.com/Lightning-AI/metrics/blob/master/src/torchmetrics/classification/accuracy.py#L326

There's no description for the `task` arg.

[2022-11-07 10:47] Borda commented on #1275
@aaronzs, would you be interested in exploring this issue further? :rabbit:

[2022-11-07 11:46] Borda commented on #1190
@justusschock, mind having a look at it? :otter:

[2022-11-07 13:43] aaronzs commented on #1275
@Borda Sure, I'm interested in. I'll find some test cases that can fail current implementation.

[2022-11-07 14:25] bilelomrani1 commented on #784
That would be a nice addition to the package. For reference, I believe this is related to #94

[2022-11-07 15:40] dhananjaisharma10 commented on #1184
@Borda I was a little held up in the last 2-3 weeks, though I am relatively free now. Is it okay if I provide an update by this weekend?

[2022-11-07 20:00] Borda commented on #1184
sure, when ever you have time :)

[2022-11-07 20:35] Borda commented on #852
great, looking forward @ashutoshml :tada:

[2022-11-07 20:42] Borda commented on #1245
@SkafteNicki, any other thoughts? :rabbit:

[2022-11-07 20:45] Borda commented on #1224
@Queuecumber, can we look forward to some more contributions? :rabbit:

[2022-11-07 21:11] ZhaofengWu commented on #1282
Actually, I just realized that not all classes have a `ignore_index`. Then, for example, how should we do token-level regression, where the sequence lengths in a batch are variable, when `MeanSquaredError` doesn't take either `ignore_index` or a mask?

[2022-11-07 21:17] ZhaofengWu commented on #1282
And this was also kind of my initial point. It doesn't make sense to have `ignore_index` in many settings such as regression, while masks are more universal.

[2022-11-07 22:36] hieuchi911 opened #1318 "Classification metrics section: examples of input types"
Documentation file: https://github.com/Lightning-AI/metrics/blob/v0.10.2/docs/source/pages/classification.rst
For binary inputs target, the example used was: ```binary_target = torch.tensor([1, 0, 2])```, while for binary I believe there should be no more than 2 different integers. So it should be ```binary_target = torch.tensor([1, 0, 1])```

[2022-11-07 23:09] dakinggg opened #1319 "Iteration over a metric never ends"
## 🐛 Bug
If you try to iterate over a metric (by mistake in my case), it just spins forever, making it appear that the program is hung. I'm not sure internally to torchmetrics exactly why this behavior occurs and if it is desired, but it would be nice if it errored out or something, unless there is a use for iterating over a metric that I am not aware of?

[code]

The above code will spin forever,

[2022-11-08 05:35] function2-llx commented on #1276
Hello,

I am sincerely sorry for my late reply. I'm not doing things well in recent weeks.

After a closer look, I think this issue is caused by the incompatibility between https://github.com/huggingface/transformers and https://github.com/huggingface/tokenizers. I should have upgraded the `transformers` first or submitted an issue in either of the huggingface's repository. Now I've upgraded the `

[2022-11-08 07:49] soma2000-lang commented on #799
@Borda It would be great if you can give me some reference regarding  Block Sensitive - Peak Signal-to-Noise Ratio (PSNR-B).
Then I would like to work on that issue

[2022-11-08 08:47] SkafteNicki commented on #1318
Page was completly removed in this PR https://github.com/Lightning-AI/metrics/pull/1251 since the information was somewhat outdated. Instead the specifics of the expected shape are stated in the docs for each classification metric.
See for example:
https://torchmetrics.readthedocs.io/en/latest/classification/accuracy.html#binaryaccuracy
Closing issue.

[2022-11-08 08:47] #1318 closed

[2022-11-08 09:36] Telephone1024 opened #1322 "how to automaticaly reset the metrics, when I have tested one of the multiple dataloaders?"
## 🐛 Bug
I just noticed that when I tested my model with multiple dataloaders (which represent different datasets), the results of previous dataloaders will not be reset automaically. Thus all the results are wrong except the first one.

test both two dataloaders:
|  Test metric |            1st Dataloader  |    2nd DataLoader        |
|------|----|---|
|       test/acc |           0.8613571524620

[2022-11-08 09:44] jpcbertoldo opened #1323 "`compute_on_cpu=True` not respected"
## 🐛 Bug

I am using `torchmetrics.classification.roc.ROC` as a parent class in another project [1], and I had OOM issues because of the accumulation of preds and targes (when `threshold=None`).

I tried using `compute_on_cpu=True` but the class doesn't seem to respect the option.

**Am I missing something?**
`preds.device` at training_step: cuda:0
self.auroc.preds[-1].device: cuda:0
self.auroc.co

[2022-11-08 10:52] SkafteNicki commented on #1322
Hi @Telephone1024,
As stated under the common pitfalls section here: https://torchmetrics.readthedocs.io/en/stable/pages/lightning.html#common-pitfalls we recommend initializing a metric per dataloader when working with multiple datasets to make sure that states are not being mixed (as you are seeing).

[2022-11-08 11:14] Telephone1024 commented on #1322
thanks for your answer!

[2022-11-08 11:14] #1322 closed

[2022-11-08 11:18] Borda commented on #799
@SkafteNicki could you pls link some good resources? :)

[2022-11-08 14:01] #1319 closed

[2022-11-08 14:57] aaronzs commented on #1275
@Borda @stancld I generate random bounding boxes base on https://github.com/Lightning-AI/metrics/issues/1024#issuecomment-1281424230 and find following case that gives an incorrect result.

[code]

with torchmetrics v0.6.0 (pycocotools) and torchmetrics v0.10.2

[code]

with torchmetrics master branch

[code]

It is a 1-target and 3-detection case, with a lower IoU threshold, e.g. 0.5, two of thes

[2022-11-08 16:02] #1244 closed

[2022-11-08 18:00] rschireman commented on #799
I can take a stab at Visual Information Fidelity `VIF` if it hasn't been taken yet

[2022-11-09 09:55] SkafteNicki commented on #799
Hi @soma2000-lang,
Here is the reference paper:
https://ieeexplore.ieee.org/abstract/document/5535179
and here is a reference implementation in numpy:
https://github.com/andrewekhalel/sewar/blob/ac76e7bc75732fde40bb0d3908f4b6863400cc27/sewar/full_ref.py#L371-L395

[2022-11-09 15:46] dhananjaisharma10 commented on #1184
@Borda could you please check the Draft PR and guide further. Thanks.

[2022-11-09 18:08] Borda commented on #1184
could you pls open the PR to this repo? :otter:

[2022-11-10 00:05] P-Sood opened #1326 "How do i get the size of preds and truth tensors after i call .update()"
### Discussed in https://github.com/Lightning-AI/metrics/discussions/1325

<div type='discussions-op-text'>

<sup>Originally posted by **P-Sood** November  9, 2022</sup>
I am running my model using DDP, and 4 GPUS, and I want to make sure that the metrics being computed are consistent by checking their size after and before a reset, as well as seeing how they line up with my batch size</div>

[2022-11-10 07:07] SkafteNicki commented on #1326
Hi @P-Sood,
Is there a specific metric you are thinking about here or are we talking about a custom metric of yours?

[2022-11-10 07:34] ananiask8 commented on #1275
Have you removed this metric from newer versions due to this (or other issues)? I had to install ~0.6.1 to be able to use it. I think it's gone after 0.7.1. See [https://github.com/Lightning-AI/metrics/blob/v0.6.2/torchmetrics/__init__.py#L43](v0.6.2/torchmetrics/__init__.py#L43) vs [https://github.com/Lightning-AI/metrics/blob/v0.7.1/torchmetrics/__init__.py#L43](v0.7.1/torchmetrics/__init__.py#L

[2022-11-10 12:37] #1275 closed

[2022-11-10 13:42] stancld commented on #1275
The metric was just removed from the `torchmetrics/__init__.py` due to a third-party dependency. You can still use the metric, it's just needed to be imported from `torchmetrics.detection` ;)

[2022-11-10 17:54] P-Sood commented on #1326
This would be on any of the Multi class ones for Accuracy , F1 , Precison , Recall or Confusion matrix.

I am scared that my GPU's arent talking to each other and I would like a way to make sure before I call the compute function and after, that my code is correct and I don't have a silly bug in there.

[2022-11-11 01:32] Queuecumber commented on #1224
Yes, CVPR deadline tomorrow after that I should have more time to work on the rest of these

[2022-11-11 07:40] SkafteNicki commented on #1326
So by default we do not track those kind of statistics, but with a bit of custom code it should be possible to get the stats. In the example below I am simply adding a statistic that keeps track of how many samples the metric has seen (over all devices)
[code]
Is it something like this you are looking for?

[2022-11-13 03:05] shenoynikhil commented on #1273
I can take this up!

[2022-11-13 09:09] stancld commented on #1273
@shenoynikhil Great, thanks! I've assigned this issue to you! Feel free to open a PR (or draft PR) once you have anything ready :]

[2022-11-13 15:12] SkafteNicki opened #1332 "Add ExactMatch metric for multiclass"
## 🚀 Feature

### Motivation

Add `MulticlassExactmatch` to classification: https://torchmetrics.readthedocs.io/en/stable/classification/exact_match.html
Based on discussion here
https://pytorch-lightning.slack.com/archives/C010R4A7189/p1668192787385079
where a user wants sequence/sentence level accuracy where all tokens (multiclass) need to match to count as an match.

I think we had the feature

[2022-11-14 07:19] #1272 closed

[2022-11-14 08:54] #1323 closed

[2022-11-14 15:52] SkafteNicki commented on #1297
After conduction experiments myself, I get the same results using 1,2,3 gpus for auroc when making sure the number of samples are equally divisible by `batch_size * num_gpu` (see details for script).

<details>
  <summary>Experiment details</summary>
  A used below script which is adapted from https://github.com/Lightning-AI/lightning/blob/master/examples/pl_basics/backbone_image_classifier.py. I

[2022-11-14 15:52] #1297 closed

[2022-11-14 18:07] stancld opened #1335 "Add Pearson's Contingency Coefficient"
🚀 Feature
Add Pearson's Contingency Coefficient -- correlation coefficient for categorical variables.

Metric similar to Cramer's V and Tschuprow's T

Motivation
Add correlation metrics specific to categorical variables

[2022-11-15 00:41] davidgilbertson opened #1336 "`MulticlassAccuracy` should not require `num_classes`"
## 🚀 Feature

In version `0.10.0`, I can do `accuracy(preds, target)` and get a score. The underlying code works out what I want, giving me `(preds.argmax(dim=-1) == target).float().mean()`.

But I get a warning saying that I need to use `MulticlassAccuracy` now, which is fine, but when I do, I don't have the same sensible defaults I had before; I get an error if I don't provide `num_classes`.

Ca

[2022-11-15 06:46] ZhiyuanChen commented on #1297
hi @SkafteNicki, yes it does work when dataloader equally divisible by `batch_size * num_gpu`, but it it is like a Spherical cow in vacuum environment, cuz most dataset is not equally divisible by `batch_size`, let alone GPU.

[2022-11-15 07:00] ZhiyuanChen commented on #1297
The following code should work (though torcheval)
[code]

[2022-11-15 09:22] SkafteNicki opened #1338 "Investigate use of `join` context for distributed sync"
## 🚀 Feature

### Motivation

Based the problems from this issue: https://github.com/Lightning-AI/metrics/issues/1297
By implementing `join` context (https://pytorch.org/tutorials/advanced/generic_join.html) for our distributed syncronization we would remove the limitation that to correctly calculate a metric the number of samples needs to be divisible by `num_gpus * batch_size` (because pytorch b

[2022-11-15 10:02] SkafteNicki commented on #1297
Hi @ZhiyuanChen,
Thanks for your input. We have kind of considered "spherical cow in vacuum environment" to be a limitation on pytorch side and we do not consider `all_gather_object` to be the way forward as its implementation is way less efficient for general usage. That said your issue have prompted us to look into the `join` context (see this issue #1338) to hopefully remove this limitation.

[2022-11-15 19:59] #1299 closed

[2022-11-15 19:59] #1335 closed

[2022-11-15 20:47] Jelle-Plomp opened #1339 "torchmetrics.image.fid FrechetInceptionDistance normalize argument not working"
## 🐛 Bug

torchmetrics.image.fid FrechetInceptionDistance normalize argument is not working. The description states that if normalize=True, then the input images are expected to be of float type. Yet if I input float I still get the ValueError: Expecting image as torch.Tensor with dtype=torch.uint8

### To Reproduce
The following is adapted from the example provided with the docs, now using random

[2022-11-15 23:02] davidgilbertson opened #1340 "Docs: pages don't show in search results"
This is not an issue with the package exactly, but I think something is wrong with your Google setup for search indexing.

E.g. this Google search returns no results:
https://www.google.com/search?q=torchmetrics+%22Perplexity+measures+how+well+a+language%22

Even though that text is copy pasted from the Perplexity page here: https://torchmetrics.readthedocs.io/en/stable/text/perplexity.html

BTW I

[2022-11-17 19:10] EklavyaFCB commented on #1065
Hi,
Where does it say logits are supported ?

[2022-11-17 21:06] rasbt commented on #1065
[In the docstring](https://github.com/Lightning-AI/metrics/blob/master/src/torchmetrics/classification/accuracy.py#L52), I found the following

      [0,1] range we consider the input to be logits and will auto apply sigmoid per element.

There may be edge cases where you have no negative logits, where this would not work then.

[2022-11-18 10:13] EklavyaFCB commented on #1065
That's for binary accuracy. For [regular](https://github.com/Lightning-AI/metrics/blob/master/src/torchmetrics/classification/accuracy.py#L347) accuracy, it says one has to use the `top_k` parameter, no ?

[2022-11-18 10:32] #1311 closed

[2022-11-19 15:09] #1273 closed

[2022-11-19 15:48] stancld opened #1345 "Add Minkowski distance"
## 🚀 Feature

Add Minkowski distance, which is a metric that can be considered as a generalization of Euclidean and Manhattan distance

### Additional context
https://en.wikipedia.org/wiki/Minkowski_distance

[2022-11-20 12:02] clueless-skywatcher commented on #1345
Hi everyone. If this is still open, I would like to take this up. This is my first time to open source contributions and I feel this should be a good start.

[2022-11-20 19:57] rasbt commented on #1065
Just reading the sentence you referenced:

    parameter ``top_k`` generalizes this metric to a Top-K accuracy metric: for each sample the
    top-K highest probability or logit score items are considered to find the correct label.

It looks like it supports logits as well. The `top_k` parameter you mentioned is useful for multi-dimensional multi-class classification. Be default  it is `None` / `1

[2022-11-21 08:25] SkafteNicki commented on #1190
Hi @baldassarreFe
I finally was able to deep dive into this issue and can reproduce the error with the code you have provided. Thanks for that :]

The underlying issue here is how garbage collection work in python. When you `del miou` in the code it does not immediately delete the metric object, it only marks it ready to be deleted. If you really want to free up the memory you need to do:
[code]
u

[2022-11-21 11:18] #1326 closed

[2022-11-21 20:05] #1332 closed

[2022-11-21 20:23] baldassarreFe commented on #1190
Hello @SkafteNicki, thanks for looking into the issue and for the proposed solution. However, I wonder however if there is some underlying bug with memory management that we are overlooking here.

Here's why:

- As far as I understand, python's garbage collection and GPU memory caching simply mark objects for deletion. When memory is needed, marked objects are collected. With this behavior we shou

[2022-11-22 07:13] SkafteNicki commented on #1190
It may very well be something on Pytorch side on how they interact with the garbage collector. I can also get the code working if I do something like:
[code]
where I go in and explicit delete the tensors that are not cleaned up by the garbage collector normally. This of cause requires some knowledge about the internals of torchmetrics.

[2022-11-22 07:34] SkafteNicki commented on #1339
I can confirm @stancld that on master it is fixed/feature has been added. @Jelle-Plomp I think the confusion is that you had navigated to the `latest` page for our documentation which includes changes to master that have still not being release in a official version
https://torchmetrics.readthedocs.io/en/latest/image/frechet_inception_distance.html
However, if we look at the `stable` page
https://

[2022-11-22 07:34] #1339 closed

[2022-11-22 09:02] baldassarreFe commented on #1190
All right, it's probably related to pytorch then. I don't have enough knowledge of pytorch's internals to open an issue there, but let's hope it gets fixed in future releases. Meanwhile, I'll work around the OOM errors using your suggestions, thanks!

[2022-11-22 09:20] SkafteNicki commented on #1190
@baldassarreFe you are welcome, always happy to help and sorry it took so long to debug.
I try to keep this in mind if we ever run into other problems regarding OOM.
Closing issue.

[2022-11-22 09:20] #1190 closed

[2022-11-22 10:24] walternat1ve opened #1351 "bug in pairwise_euclidean_distance"
https://github.com/Lightning-AI/metrics/blob/e1c3fda24f90367803c2b04315ad7c8bced719db/torchmetrics/functional/pairwise/euclidean.py#L34
this line can become negative, resulting in a failure with the sqrt function and thus return "nan"

you can test this easily by checking this code:

`pairwise_euclidean_distance(torch.tensor([[772., 112.], [772.20001, 112.], [772.20001, 112.], [772., 112.00000], [

[2022-11-22 11:07] walternat1ve commented on #1351
furthermore i noticed there is also some noticeable difference in the values it computes. compared to many other similar functions, which among themselves are consistent in the output. please check those as well.

[2022-11-22 11:11] SkafteNicki commented on #1351
Hi @walternat1ve, I created PR to take care of the precision issue you mention first. For your second comment do you have any examples? We are comparing towards sklearn, so in most cases it should be correct however there may be corner cases we have not thought about.

[2022-11-22 12:07] #1351 closed

[2022-11-22 14:38] walternat1ve commented on #1351
here is one example, comparing various implementations:

inputs:
[code]

4 different functions:
[code]

[2022-11-22 14:50] Borda commented on #1340
@yurijmikhalevich could we also fix it on the public template? :)

[2022-11-23 02:30] zhangzp9970 opened #1355 "Can not import total variation"
## 🐛 Bug

can not import total variation. It seems that the TotalVariation is not imported in the __init__.py

### To Reproduce

Steps to reproduce the behavior...
from torchmetrics import TotalVariation
from torchmetrics.functional import total_variation

#### Code sample

### Expected behavior

### Environment

- TorchMetrics version (and how you installed TM, e.g. `conda`, `pip`, build from sou

[2022-11-23 02:33] zhangzp9970 commented on #1355
The link of the source button on the website is also wrong

[2022-11-23 06:47] SkafteNicki commented on #1351
Thanks for the further examples.
Happy to report with the changes in PR #1352 that the metric now also seems to match sklearns implementation on the provided example:
![image](https://user-images.githubusercontent.com/24896311/203486807-e6456bf9-05d4-4189-a91c-9f5cc6addb02.png)

[2022-11-23 06:55] SkafteNicki commented on #1355
Hi @zhangzp9970,
Its because total variation have not been released yet, it can be found on master, so to get it before the next release you can install with:
[code]
If you have found it in the documentation of torchmetrics it may be because you are looking at the `latest` version and not the `stable` version:
![image](https://user-images.githubusercontent.com/24896311/203487402-d9b02817-8624-4d39

[2022-11-23 07:01] zhangzp9970 commented on #1355
Thank you for your reply!

[2022-11-23 07:01] #1355 closed

[2022-11-23 07:37] Xiaotian0726 opened #1356 "Member variable declared wrongly in `metrics/src/torchmetrics/text/wer.py` and `metrics/src/torchmetrics/text/cer.py`"
Code block in `metrics/src/torchmetrics/text/wer.py` :

[code]

The member variable declaration line should be `errors: Tensor` rather than `error: Tensor`, due to how it was referred.

Same in `metrics/src/torchmetrics/text/cer.py`.

[2022-11-23 11:50] #1356 closed

[2022-11-24 06:49] Xiaotian0726 opened #1359 "I can't get rid of the userwarning of WER and CER: `Torchmetrics v0.9 introduced a new argument class property called `full_state_update` that has not been set for this class...`"
I can't get rid of this userwarning while using `WordErrorRate` and `CharErrorRate`:
[code]

According to the description above, a relevant property called `full_state_update` should be set for WER but not.

Actually, my `torchmetrics` version is:
[code]

and the `full_state_update` property has been set already according to source code:
[code]

Then I searched the source code for where this userw

[2022-11-24 06:53] Xiaotian0726 commented on #1359
And how to get rid of this? Thank you.

[2022-11-24 07:38] SkafteNicki commented on #1359
Hi @Xiaotian0726, thanks for reporting this issue.
I am a bit confused that you still get the warning even when you overwrite the property in your metric class. Here you can see that we do exactly that for our own metrics:
https://github.com/Lightning-AI/metrics/blob/ed2249d1e250dbfc4f2e654b455f43f3d29abfb1/src/torchmetrics/regression/mse.py#L42-L44
Also I cannot reproduce the error on v0.9.3 with

[2022-11-24 08:33] SkafteNicki commented on #1359
Yes, the warning is first removed it what will be v0.11.0, which will officially be released within the next week.
Closing issue.

[2022-11-24 08:33] #1359 closed

[2022-11-24 12:44] MihailMihaylov97 opened #1361 "Add OKS metric"
## 🚀 Feature

Add support for keypoints inside [torchmetrics map](https://torchmetrics.readthedocs.io/en/stable/detection/mean_average_precision.html#).

### Additional context

Should be fairly simple to do that using the [iou_type](https://github.com/Lightning-AI/metrics/blob/master/src/torchmetrics/detection/mean_ap.py#L314) flag, since [torchmetrics map](https://torchmetrics.readthedocs.io/en/

[2022-11-24 12:45] MihailMihaylov97 commented on #1164
I have also encountered the same issue. Is that bug fix in the agenda?

[2022-11-29 11:16] tabmoo commented on #1338
May using samplers like the one [here](https://github.com/SeungjunNah/DeepDeblur-PyTorch/blob/master/src/data/sampler.py) be a temporary hack to obtain correct results?

[2022-11-29 17:38] faroit opened #1363 "Make `._update_count` and `._update_called` public"
## 🚀 Feature

running `compute` on a metric that hasn't been updated can lead to unforseen consequences. Currently a warning is raised in

https://github.com/Lightning-AI/metrics/blob/ed2249d1e250dbfc4f2e654b455f43f3d29abfb1/src/torchmetrics/metric.py#L510-L516

but in some cases a user want's to check the metric's state first to avoid running into issues.
Torchmetrics should offer the state as a

[2022-11-29 21:15] jsappl opened #1364 "Squared LogRatio Metric"
## 🚀 Squared LogRatio Metric

A metric primarily designed for measuring forecast accuracy given forecasts $F_t > 0$ and actual values $A_t > 0$:

$$\frac{1}{n} \sum_{t=1}^n \ln \Big( \frac{F_t}{A_t} \Big)^2$$

![main](https://user-images.githubusercontent.com/10909765/204646264-30f163d0-8346-4a42-b950-2d93911af83c.png)

### Motivation

Very often forecast accuracy is measured with the mean absolut

[2022-11-30 11:00] SkafteNicki opened #1365 "Standardize modular documentation"
## 📚 Documentation

Similar to the work done in this PR:
https://github.com/Lightning-AI/metrics/pull/1360

We want to standardize the way documentation is organised for modular metrics. This includes:
* `update` and `compute` are excluded from docs as the docstrings are often not meaningful to begin with. Instead information about input/output tensors should be included in the class docstring
* r

[2022-11-30 11:06] Borda commented on #1361
@MihailMihaylov97 are you interested in taking it? :rabbit:

[2022-11-30 18:02] lifengjin opened #1366 "mismtach between document and implementation"
https://github.com/Lightning-AI/metrics/blob/2a055f5594a624685e26ba64bf20ab0d12225c86/src/torchmetrics/functional/text/perplexity.py#L86

The document says pred is probabilities, but softmax is applied to pred again treating it like logits.

[2022-11-30 23:46] angadkalra commented on #971
Sorry for the late reply! I will contribute ASAP.