[2021-08-24 17:32] ankitar commented on #432
@stancld do share the draft pr whenever ready!

[2021-08-24 18:28] stancld commented on #432
Hey @ankitar, please feel free to look at #473, it's almost ready for some initial review.

[2021-08-24 21:57] akihironitta commented on #459
As @Borda mentioned, if there're no optional packages installed, loading time doesn't change, but if there are all of them (in a rare situation maybe?), it's around 4x longer than #463 if I ran a benchmark correctly in the notebook below.

- With no optional dependencies
  - master: 916 ms
  - [#463](https://github.com/PyTorchLightning/metrics/pull/463): 912 ms
- With all optional dependencies
  -

[2021-08-25 01:31] ananthsub commented on #459
@Borda  here are some sample timings in our developer environment running this import script:
[code]

in our development environment:

Main branch:
[code]

with #463:
[code]

As the main issue states, we'd like to avoid importing from modules given the optional requirements. If someone is only defining a custom Metric, they shouldn't end up importing the whole package. Otherwise, the import time w

[2021-08-25 03:29] ankitar commented on #432
@stancld Do test for the following issue too, https://github.com/PyTorchLightning/metrics/issues/472

[2021-08-25 07:08] Borda commented on #459
@ananthsub so how about if we keep in the package root Metric which is truly dependent only on PT and all the needs other/external dependencies will be imported from its sub-packages? Pls understand that otherwise, this is a significant break change with any back compatibility and any warning...

[2021-08-25 07:28] ananthsub commented on #459
do you think this pattern is obvious to users for why some metrics are imported from submodules while others are imported at the root?

[2021-08-25 07:31] Borda commented on #459
no, it isn't, but also doe not harm actual users :rabbit:
to be systematic we would keep in root the basic metrics like classification or regression and move out domain-specific like CV or NLP

[2021-08-25 08:32] SkafteNicki commented on #459
Last week I discussed with @Borda about having some environment variable that can be set to indicate if the user want the faster import pattern:
[code]
it is not a pretty solution, but it is a compromise.

[2021-08-25 12:08] twsl commented on #53
I'd like to add, that this would be beneficial for object detection and segmentation as well

[2021-08-25 12:41] #414 closed

[2021-08-25 12:58] stancld commented on #432
@ankitar Should've already been there :)

[2021-08-26 14:50] cemde opened #482 "add option to automatically reset after compute."
## 🚀 Feature

Add an argument to every Metric name `reset_on_compute`, e.g.

[code]

would lead to something like

[code]

### Motivation
`torchmetrics` used to automatically call `reset` on `compute` (if I am not mistaken). Now it is a bit of work to call `reset` for every metric at the right point (given different values for compute_on_step per metric family / split) - even using `reset` on metr

[2021-08-27 16:23] phiyodr opened #483 "Question about the intended behavior of Accuracy with `average="none"` and `nan` results"
### Discussed in https://github.com/PyTorchLightning/metrics/discussions/466

<div type='discussions-op-text'>

<sup>Originally posted by **phiyodr** August 19, 2021</sup>
Hi,

I'm using your Accuracy metric without averaging and have difficulties with `nan` results, as I want to process the tensor further.

Example with 4 binary labels (cat, dog, horse, cow) and 3 samples:

[code]

On your [Docs]

[2021-08-27 22:35] leezu opened #484 "torchmetrics 0.4+ broke high-precision metric states"
## 🐛 Bug

Metric states with custom dtype are no longer handled correctly in torchmetrics 0.4 and 0.5.
Consider the following metric, which works fine in 0.3

[code]
#### Code sample to reproduce

[code]

### Actual behavior

This is the behavior with pytorch-lightning 1.3 or higher + torchmetrics 0.4 or higher.
Note the state is cast to fp16 by deepspeed automatically https://github.com/PyTorchLi

[2021-08-28 08:50] SkafteNicki commented on #484
Hi @leezu,
So this also came up in a recent PR #https://github.com/PyTorchLightning/metrics/pull/462.
It is not as much as a bug fix than this is a feature request. IMO the user should have a way of controlling which dtype they want to use with their metric, with the obvious that this should happen whenever `.half()`, `.double()` ect is called. That said, I understand that there is a need for disa

[2021-08-28 15:19] marsggbo opened #485 "`torchmetrics.Accuracy` is too slow than normal pytorch code"
## 🐛 Bug

### To Reproduce

[code]

timing

[code]

The result is on CPU

![image](https://user-images.githubusercontent.com/13477956/131214030-13a45369-6a10-481d-bce3-d63c27317d31.png)

#### Code sample

### Expected behavior

### Environment

- PyTorch Version (e.g., 1.0):
- OS (e.g., Linux):
- How you installed PyTorch (`conda`, `pip`, source):
- Build command you used (if compiling from source

[2021-08-28 22:33] leezu commented on #484
Thank you @SkafteNicki. I'd agree with you on "feature request" if this would have never worked. But it's a bug in that cda5dbd enabled overwriting of user defaults if a `fn` is applied recursively to a Module :)  This happens for example in mixed precision training, see https://github.com/microsoft/DeepSpeed/blob/5b393f1555143968fbac78ecbf3c00f65baf7d78/deepspeed/runtime/engine.py#L563-L570

As t

[2021-08-29 22:27] ashispati opened #486 "`torchmetrics.F1` bug with `ignore_index` and macro averaging"
## 🐛 Bug

An error is raised while using `torchmetrics.F1` if:
1) `ignore_index` set to a valid class index (< `num_classes`)
2) `average = "macro"
2) one of the non-ignored classes has no positive values in the target array

### To Reproduce

Run the following code:

[code]

The following error in raised in `torchmetrics/functional/classification/f_beta.py`:
`line 100, in _fbeta_compute
    num[i

[2021-08-30 08:44] #432 closed

[2021-08-30 08:44] #472 closed

[2021-08-30 12:32] Borda commented on #485
@marsggbo that is a good finding, interested in sending faster implementation?
I would say that the overhead comes with various validation checks and update/compute processes under the hood...
cc: @PyTorchLightning/core-metrics

[2021-08-30 12:34] Borda commented on #484
@leezu mind check today RC v0.5.1

[2021-08-30 16:04] leezu commented on #484
The issue persists on v0.5.1rc0 @Borda. The reason is that deepspeed calls `.half()` (https://github.com/microsoft/DeepSpeed/blob/5b393f1555143968fbac78ecbf3c00f65baf7d78/deepspeed/runtime/engine.py#L563-L570) and as of cda5dbd this is applied to the user defaults. Ie. without cda5dbd, when the defaults are re-applied after the `half()` call, the original dtype is restored.

[2021-08-30 21:46] stancld opened #487 "Support `sacrebleu` implementation under the `BLEUScore` metric"
## 🚀 Feature

Adjust the `BLEUScore` metric to support `sacrebleu` implementation from https://github.com/mjpost/sacrebleu.

### Motivation

In the paper ([Post, 2018](https://aclanthology.org/W18-6319.pdf)), it was demonstrated the reported research results can significantly vary based on different text tokenization and normalization strategies used for BLEU calculation. As the `sacrebleu` implem

[2021-08-31 14:25] MartaTintore commented on #468
The job gets killed and I am not able to compute the metric, anything I could do about it?

[2021-08-31 20:29] Ierezell opened #488 "Unhashable type list in validation loop"
## 🐛 Bug

When having metrics bleu and wer as instances in class, validation loop raise the following error :
<details>
<summary>Traceback</summary>
<br>

[code]

</details>

#### Code sample
In the `__init__` method

[code]

Commenting those let the validation loop run correctly. With it the TypeError is raised.
### Expected behavior

Being able to log bleu and were metrics in the validation loop

[2021-09-01 15:06] SkafteNicki commented on #488
Could reproduce the issue for WER but not BLEUScore with v0.5.0 of torchmetrics. However, running master everything seems fine. There, Please upgrade to master:
[code]
and the issue should disappear.

[2021-09-01 15:13] Ierezell commented on #488
Hi @SkafteNicki,
Maybe I found the error: the metric is unable to process empty lists (which didn't know I could get during training).

My Translation model is calling a beam search and I just discovered that it can generate nothing.... which makes the metric crash.

The first epochs were fine as they generate random gibberish but then, the model would output empty lists which make the metric cras

[2021-09-02 07:16] SkafteNicki commented on #488
Yes, I also came to the conclusion that was the problem.
Have you tried installing the master version of torchmetrics as I wrote in my previous message?

[2021-09-02 07:18] SkafteNicki commented on #487
@stancld sound like a great enchancement, please feel free to send a PR :]
Just to understand this correctly, it is not a different metric but instead a adjusted version of the original?

[2021-09-02 09:29] karthikrangasai commented on #488
Hello @Ierezell ,
We support Corpus BLEU like function from the nltk package.

Hence, for empty sentences the metric will try to iterate through an empty string because you will be passing a `Sequence[str]` to the metric as predictions.

[code]

Something like this should help as it wraps the inputs to a corpus bleu like input.

[2021-09-02 11:23] ethanwharris opened #492 "TorchMetrics 0.5.1 no longer works with PL save_hyperparameters"
## 🐛 Bug

The Metric object can no longer be dumped with yaml.

After a `git bisect` it seems the bug was introduced in #462

### To Reproduce

[code]

### Additional context

This worked for previous versions

[2021-09-02 12:25] Borda commented on #488
@stancld mind help here? :]

[2021-09-02 12:39] #433 closed

[2021-09-02 12:50] SkafteNicki commented on #492
It is caused by this line:
https://github.com/PyTorchLightning/metrics/blob/7b093813e2ae10effe0266015ecd631a5b547123/torchmetrics/metric.py#L87

[2021-09-02 13:43] SkafteNicki commented on #484
@leezu could you please try with PR #493. Calling `half`, `double`, `float` should no longer have effect on the metric states and they should be whatever you initialize them as. Only using the new metric `set_dtype` should affect it :]

[2021-09-02 13:47] Ierezell commented on #488
Hi @SkafteNicki, I will be trying that to see if anything changes thanks for the support!

@karthikrangasai I have indeed done that (something similar) as I have seen that this metric needed lists.
However, some of the `pred_lns` were empty which led to having `prediction.split()` as an empty list thus the `split() or [""]` which is hackish but fixed it.

I will try the master version and update y

[2021-09-02 14:58] jeweinb opened #494 "precision_recall supplying results in wrong order"
Below is an example of how to re-create the problem. If you call a function named precision_recall() you would expect to get results in the order of precision, recall. Torchmetrics returns the numbers in the order of recall, precision.

[code]

[2021-09-02 15:20] Borda commented on #494
That is a good point, mind send a PR to fix it?
cc: @SkafteNicki

[2021-09-02 17:10] SkafteNicki commented on #486
Hi @ashispati,
I created PR #495 that should fix the issue.

[2021-09-02 17:10] SkafteNicki commented on #494
Sounds good to me :] please feel free to send a PR

[2021-09-02 17:12] stancld commented on #487
@SkafteNicki  Yes, it's a standard bleu score. But it, for example, differs in tokenization :)

[2021-09-02 17:14] stancld commented on #488
@Borda  Yes, I'll be happy to take a look :)

[2021-09-02 17:14] jeweinb commented on #494
will do, ty

[2021-09-02 17:24] SkafteNicki commented on #488
I created PR #496 that adds hashing of all metrics.
As I already commented I am pretty sure the issue is already fixed on master due to the recent refactors of the text metrics, but if the tests in the PR passes then it is definitely solved.

[2021-09-03 07:19] SkafteNicki commented on #488
Okay PR #496 passed without problems, so closing the issue.

[2021-09-03 07:19] #488 closed

[2021-09-03 10:27] AndreiSiliUiPath commented on #452
@SkafteNicki happy to help. I did some digging and I think the issue relates to the interaction between `torchmetrics.functional.classification.f_beta._fbeta_compute` and `torchmetrics.functional.classification.stat_scores._reduce_stat_scores`:
- `_reduce_stat_scores` expects `denom` to be set to -1 for ignore cases. ```
line:179
ignore_mask = denominator < 0
...
line:194:195
if average not in (Av

[2021-09-03 12:16] #486 closed

[2021-09-03 13:18] alexsr commented on #304
I wrote a simple wrapper to flat out ignore the targets with `ignore_index`.
[code]

[2021-09-06 17:11] Borda opened #504 "Replace remaining docs links"
## 🚀 Feature

find remaining links in docstrings and replace them with global links
1. find all links in docstrings
2. create an entry in https://github.com/PyTorchLightning/metrics/blob/master/docs/source/links.rst
3. replace the docstring with this global

### Motivation

prune duplicates

### Pitch

finis docs unifications

### Alternatives

### Additional context

[2021-09-06 17:52] #73 closed

[2021-09-06 20:04] #471 closed

[2021-09-07 08:22] XFarooqi commented on #504
I have two questions and will be thankful for an appropriate answer.
1. What about the links in inline comments, should I add them too?
2. Can you please elaborate the term "additional context".

[2021-09-07 08:25] XFarooqi commented on #504
### I have two questions and will be thankful for an appropriate answer.
1. What about the links in **Inline comments**, should I add them too?
2. Can you please elaborate the term **Additional context**.

[2021-09-07 08:48] #484 closed

[2021-09-07 08:48] #492 closed

[2021-09-07 10:03] Borda commented on #504
no, let's keep comments as they are not mostly used in docs
(the special vase are comments which are starting with `#: `)

heh, I am not much aware of any, that came from the issue template :D

[2021-09-07 13:38] danieleschmidt opened #505 "TorchMetrics: NaN-compatible variants for common Metrics functions [nan_(mean, sum, max)]"
## 🚀 Feature

Now that callables are no longer supported (see https://github.com/PyTorchLightning/pytorch-lightning/issues/8894), here's a feature request for TorchMetric support for these metrics.

`pytorch_lightning.utilities.exceptions.MisconfigurationException: Only `self.log(..., reduce_fx={min,max,mean,sum})` are currently supported. Please, open an issue in `https://github.com/PyTorchLightn

[2021-09-08 12:54] SkafteNicki commented on #505
Hi @danieleschmidt,
Thanks for raising this issue. I created PR https://github.com/PyTorchLightning/metrics/pull/506 that introduces a couple of aggregation metrics (sum, mean, max, min, cat) that can all deal with with `nan` input in multiple ways. Please take a look and comment if anything is missing.

[2021-09-08 19:52] Ierezell opened #507 "ValueError: transformers.__spec__ is None"
## 🐛 Bug
When importing `torchmetrics`, it imports `transformers` which doesn't have the`__spec__` attribute and raises a `ValueError: transformers.__spec__ is None`

The problem have been raised here https://github.com/huggingface/transformers/issues/12904 and should be fixed here https://github.com/huggingface/transformers/pull/13321

Could we update torchmetrics requirements or fix this error ?

[2021-09-08 22:38] an1lam opened #508 "Implement MultioutputWrapper"
### Discussed in https://github.com/PyTorchLightning/metrics/discussions/498

We've been using torchmetrics internally and enjoying it, but two things we've had to work around are:

1. Some metrics like `SpearmanCorrcoef` don't support multioutput mode (unlike `R2Score` for example).
2. Even some (all?) metrics that do support multioutput mode, don't have support for missing data (`NaN` labels for

[2021-09-10 11:29] stancld commented on #487
@SkafteNicki FYI, I will have a look at this issue tomorrow and send a draft PR :) (has been busy with finishing papers)

[2021-09-12 09:23] senarvi commented on #53
PyTorch Lightning Bolts includes two object detection models. They take a list of dictionaries containing:

- "boxes": [num_boxes, 4] the ground truth boxes in (x1, y1, x2, y2) format
- "labels": [num_boxes] the class label for each ground truth box

The detections contain:

- "boxes": [num_boxes, 4] predicted boxes in (x1, y1, x2, y2) format
- "scores": [num_boxes] detection confidences
- "labels

[2021-09-12 10:10] tkupek commented on #53
@senarvi Thank you for your comment.
I think this is reasonable and fixed the dict keys to your suggestion (`boxes`, `scores`, `labels`).

The `(y1, x1, y2, x2)` format was an error in the docstring, we actually do use `(x1, y1, x2, y2)`. Fixed that, too.

@SkafteNicki @Borda where are we on the issues with DDP and adjusting the test. Any time to look at this yet? I'm happy to help but I need some

[2021-09-13 00:09] ronghanghu commented on #507
I'm also seeing the same error. I had to manually patch the transformers package according to https://github.com/huggingface/transformers/pull/13321

[2021-09-13 20:38] Ierezell commented on #507
I can confirm that updating `transformers` to ` 4.10.2` solve the issue.

[2021-09-13 20:38] #507 closed

[2021-09-14 20:48] hodgka opened #522 "Add MS-SSIM"
MS-SSIM is used quite frequently in tasks that compare image quality, such as deep image compression.

[Original paper](https://ece.uwaterloo.ca/~z70wang/publications/msssim.html)
[PyTorch Implementation](https://github.com/jorge-pessoa/pytorch-msssim)

There are also existing implementations in libraries like [scikit-video](http://www.scikit-video.org/stable/modules/generated/skvideo.measure.msss

[2021-09-16 18:28] stancld commented on #487
@SkafteNicki I found out `SacreBLEU` seems to actually differ from the bleu score implemented in the `NLTK` package.

Example:
[code]

[code]

I'll have a look at where these two metrics differ and if it's possible to make these two metrics compatible withinin a single `metrics` method/class.

[2021-09-17 14:29] manipopopo opened #529 "`_ssim_compute` creates extra tensors"
## 🐛 Bug

https://github.com/PyTorchLightning/metrics/blob/d354b7e30d3d0d4dbf9ea67f27d29f011670e2eb/torchmetrics/functional/image/ssim.py#L157

`output_list[5:]` are all unused empty tensors.

### To Reproduce

[code]

### Expected behavior

No extra tensors are created.

### Environment

- PyTorch Version (e.g., 1.0): 1.9.0
- OS (e.g., Linux):
- How you installed PyTorch (`conda`, `pip`, source):

[2021-09-17 23:00] zippeurfou opened #530 "FBeta binary average"
## 🚀 Feature

Have fbeta binary metric following sklearn

### Motivation

This is used and is the default in sklearn. It can be misleading if people use it without thinking.

### Code example
<img width="1713" alt="Screen Shot 2021-09-17 at 6 57 12 PM" src="https://user-images.githubusercontent.com/4520383/133862001-b7185540-0519-4160-a495-0a9dadad9de9.png">

[code]

[2021-09-18 01:19] cowwoc opened #531 "Metric not moved to device"
## 🐛 Bug

Version 1.4.7

Per https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metrics-and-devices if a metric is properly defined (identified as a child of a module) then it is supposed to be automatically moved to the same device as the module. Unfortunately, in my own project this does not occur.

When I run this code:

[code]

I get:

[code]

### Expected behavior

I expect the

[2021-09-18 01:44] cowwoc commented on #531
Interestingly, any states registered inside the metric *are* moved to the right device but `self.device` inside the metric evaluates to the wrong value. The reason this is relevant is I've got methods in my metric that create new Tensors on `self.device`. I suspect other users will also expect `self.device` to map to the same device used by the metric's state variables.

[2021-09-18 01:47] zsc1104 opened #532 "How to get the iou of each class?"
If I have 5 classes , I want to get the iou of each class , like the following code to get the acc of each class , how to use the torchmetrics.IoU ?
torchmetrics.Accuracy(num_classes=num_classes, average='none')

[2021-09-18 02:51] quancs opened #534 "pit bug: the device and type of preds and target may not the same with the results returned by metric_func"
## 🐛 Bug

the device and type of preds and target may not the same with the results returned by metric_func

### To Reproduce

use a self-designed metric-func which accepts complex tensor but return real tensor

#### Code sample

### Expected behavior

### Environment

- PyTorch Version (e.g., 1.0):
- OS (e.g., Linux):
- How you installed PyTorch (`conda`, `pip`, source):
- Build command you used

[2021-09-18 08:45] Borda commented on #531
see #340

[2021-09-18 13:34] cowwoc commented on #531
@Borda The linked issue does not resolve this problem. I am already doing what it recommends.

The documentation claims that the metric's device will be updated, but it is not. I consider this a bug report not a question.

Either the documentation or implementation are wrong. Please reopen this issue.

[2021-09-18 14:55] Borda commented on #531
I see, then the issue is in docs, no metrics is automatically moved unless you use it with PL logging... Mind send PR fix for it?

[2021-09-18 17:51] cowwoc commented on #531
The example code found at https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metrics-and-devices does say anything about having to use PL logging. Quoting the relevant parts:

[code]

It sounds a bit odd that you have to use PL logging in order for a metric to get moved to the correct device...

[2021-09-20 21:27] aleSuglia opened #538 "Allow broadcasting pickable Python objects in distributed setup"
## 🚀 Feature

A metric should support any pickable Python object as state variable.

### Motivation

Currently a `Metric` class cannot have a `List[Tuple[str]]` as state variable. The synchronization will be skipped in that case and the `compute` method will have only the values computed in the current rank.  This will inevitably invalidate the synchronization among processes for that metric.

###

[2021-09-21 09:02] SkafteNicki commented on #531
The problem seems to be that if you call `.cuda` on a parent module, it does not execute:
[code]
but it instead calls `self._apply` which will call
[code]
this will move the metric states to the correct device, but currently the `metric.device` is only updated when the `.cuda`, `.cpu`, `.to` methods are executed.

[2021-09-21 09:12] SkafteNicki commented on #530
You are right that the binary case of some of the classification metrics are not handle in a ideal way. Any suggestions what we could do to improve?

[2021-09-21 09:17] SkafteNicki commented on #532
Hi, by setting the `reduction` parameter you can achieve this:
[code]
Closing issue.

[2021-09-21 09:17] #532 closed

[2021-09-21 09:18] aleSuglia commented on #538
Another important consideration to make is that such special attributes should be treated with care. Especially when we use functions like `_apply()` from PyTorch `torch.nn.Module` which assume that every element in the class is a `Tensor`. For instance, I had to re-implement the Metric `_apply` method as follows:

[code]
Again, very hacky but it works...

[2021-09-21 12:07] SkafteNicki commented on #487
@stancld I am fine with this being two different metric if it is easier for you to deal with. As long as they produce the correct result :]

[2021-09-21 13:46] SkafteNicki commented on #522
Hi @hodgka, sounds like a great addtion :]
Would you be up for sending a PR?

[2021-09-21 14:33] SkafteNicki commented on #529
Hi @manipopopo, thanks for reporting this.
I created PR #539 that should fix it (thanks for the proposal) :]

[2021-09-21 15:57] #529 closed

[2021-09-22 09:38] #534 closed

[2021-09-22 20:53] mattwarkentin opened #543 "All classification metrics are the same when finetuning network with flash"
## 🐛 Bug

Hi,

I am trying to play around with the `ImageClassifier` finetune example from `flash`. However, when I finetune the network, all of my classification metrics are the exact same for any given epoch. Not sure whether this is a bug in my code or something about how `flash`, `torchmetrics`, and the `bolts` callback work. The code below should reproduce based on a slightly adapted version

[2021-09-22 21:50] zippeurfou commented on #530
Well sklearn binary = FBeta(num_classes=2, beta,average='none')[1]
So we could do a quick PR where we put the average by default to be binary the same way it is for sklearn and in the code just do average='none' and display only the positive one.

[2021-09-23 09:39] twsl commented on #53
I'm considering converting the COCOeval class to pytorch in order to make the mAP, mAR calculation a bit faster.
Is this a good idea? Would love to get some feedback.

[2021-09-23 13:24] senarvi commented on #53
Using the COCOeval based metric is slow. I haven't checked if it's the the GPU-CPU transfer or if the operation is just so slow. If you can make it faster, that would be great, but I have a feeling that it's going take some effort to utilize the GPU efficiently and still keep the implementation correct.

[2021-09-23 14:11] tkupek commented on #53
I agree with @senarvi, it would be great but is probably not trivial. Feel free to give it a try based on the existing PR and let us know what you learned 🙂

[2021-09-24 08:21] SkafteNicki commented on #543
Try changing the `average` method from `micro` to `macro`. Under the default `micro` average the formula for the metrics may be the same.

[2021-09-24 08:51] SkafteNicki commented on #504
Fixed by #518.

[2021-09-24 08:51] #504 closed

[2021-09-24 09:08] #531 closed

[2021-09-24 09:12] SkafteNicki commented on #49
@janhenriklambrechts any updates on this? :]

[2021-09-24 09:14] janhenriklambrechts commented on #49
Hi @SkafteNicki, completely lost track of this - I am starting this weekend! Thanks for pinging me :)

[2021-09-24 09:22] SkafteNicki commented on #49
@janhenriklambrechts no problem. Let me know if you need any help :]

[2021-09-24 09:33] SkafteNicki commented on #494
After taking a closer look there is no issue here. The difference is due to we having a different input order than sklearn e.g. `preds` first then `target` (this is how pytorch does it in their loss functions) compared to sklearn which have `target` first and then `preds`.
Thus, if you change your call to `precision_recall_fscore_support` to:
[code]
it will be in the same order. Closing issue.

[2021-09-24 09:33] #494 closed

[2021-09-24 11:06] #508 closed

[2021-09-24 13:49] SkafteNicki commented on #538
Hi @aleSuglia, thanks for raising this issue. It is a great addition to torchmetrics with the only downside that the feature is only compatible with newer version of pytorch (I think from v1.8), meaning that we still need to do some checking in the `self.add_state` function.
Lets try including it in the bigger API change #344 that is currently going on.

[2021-09-24 15:25] stancld commented on #487
@SkafteNicki Yes, I guess it would be slightly better to have a separate class for `SacreBLEUScore` which will inherit from the `BLEUScore` class. (I started working on that now and can send a PR soon)

One question though. Consider we have three sentences `(1, 2, 3)` and two reference systems `(a, b)`. SacreBLEU expects reference corpus in the following order:
[code]
while the `nltk` implementati

[2021-09-24 15:58] SkafteNicki commented on #487
@stancld sounds good :]

I think one of torchmetrics best features is that it is fairly unified e.g. all metrics basically take in a `pred` and `target` argument (even across domains). Therefore, i would prefer we keep this pattern .

[2021-09-25 17:13] jiwidi opened #550 "Implementing Normalized Discounted Cumulative Gain (NDCG)"
## 🚀 Feature

I want to implement a new metric( Normalized Discounted Cumulative Gain@K) used in information retrieval systems. I have used it for long in recommender systems, and it can expand the metrics capabilities. I'm reaching to the metrics team to validate the idea before working on it.

### Motivation

Normalized Discounted Cumulative Gain (NDCG)@K is a common metric for recommender syste

[2021-09-26 08:10] SkafteNicki commented on #550
Hi @jiwidi, if I am not mistaken we already have that metric in torchmetrics:
https://torchmetrics.readthedocs.io/en/latest/references/modules.html#retrievalnormalizeddcg
Please confirm this is the one :]

[2021-09-26 11:27] jiwidi commented on #550
Yes your are right. My bad I missed it! I have been using custom code when it was already in the library 😓.

Thank you!

[2021-09-26 11:30] #550 closed

[2021-09-27 13:13] #148 closed

[2021-09-29 12:40] aretor opened #552 "IoU reports incorrect performance on pretrained PyTorch segmentation model"
## 🐛 Bug

When evaluating a pretrained segmentation model (PyTorch `deeplabv3+_resnet101`) on a dataset (PyTorch `VOCSegmentation`), with `torchmetrics.IoU`, the CLI reporter returns ~34%, however when printing `iou.compute()` returns `~68%`. No training of the model has been performed, just a simple evaluation with `trainer.validate`.

### To Reproduce

Steps to reproduce the behavior:

1. Use th

[2021-09-30 07:41] SkafteNicki commented on #552
To me it seems like the logging is wrong
[code]
since you are passing the calculated metric values (and not the metric objects themself) and using `on_epoch=True` you are essentially not calculating the global IoU metric but instead the average of all the individual batches. Without having tested it, I recommend changing your code to something like:
[code]

[2021-09-30 10:27] aretor commented on #552
I was trying to follow [this documentation](https://torchmetrics.readthedocs.io/en/latest/pages/lightning.html#logging-torchmetrics), however, it seems that you cannot pass a `MetricCollection` object to `self.log_dict`. It returns the following error:

[code]

I tried the following:

[code]
You can then access the metrics with `val_metrics_epoch_IoU` and the like. This works when calling validate

[2021-09-30 11:49] MariaMsu opened #554 "Accuracy varies depending on the target labels form: dense or sparse"
## 🐛 Bug

If you calculate the accuracy for the same prediction, but in one case you use a dense target, and in the other case a sparse one, you will get a different result. This is a very unexpected behavior.

### To Reproduce

Steps to reproduce the behavior:
[code]

### Expected behavior

The accuracy should be the same for the sparse and dense target

### Environment

- PyTorch Version: 1.9.1+

[2021-09-30 18:20] #483 closed

[2021-09-30 18:21] Borda commented on #482
@cemde mind check and comment on this re-design #344

[2021-09-30 18:22] Borda commented on #530
@zippeurfou mind send a quick PR? :rabbit:

[2021-09-30 18:29] #487 closed

[2021-10-01 07:56] SkafteNicki commented on #554
That is fully expected. If you look at the table on this page: https://torchmetrics.readthedocs.io/en/latest/references/modules.html#classification-metrics you will see that the first case corresponds to doing multi-class evaluation (dense case) and the other corresponds to doing multi-label evaluation (sparse case).

First case computation:
[code]
Second case:
[code]

[2021-10-05 08:59] sirtris opened #558 "Dice not the same when computed individualy"
## 🐛 Bug

When I compute the DICE score for a whole batch I get a different value than computing it per instance and then averaging over that.

### To Reproduce

Example to reproduce:

[code]

### Output
[code]

### Expected behavior
I would expect both values to be the same.

### Environment

- PyTorch Version: 1.8.1
- Torchmetrics version: 0.5.0

[2021-10-07 07:42] #554 closed

[2021-10-11 07:22] #353 closed

[2021-10-15 10:38] Programmer-RD-AI opened #563 "[New Metric] dividing amount accuracy"
## 🚀 Feature

[New Metric] dividing amount accuracy

So this will be used for regression,

So if we have a small preds and y true

preds = [1000,2000,3000,4000,5000]
y_true = [1250,2500,3250,4526,5262]

we are going to round the preds and the y_true
so then

preds = [1,2,3,4,5]
y_true = [1,2,3,4,5]

I think this is like a small accuracy so this will evaluate the models on a small scale.

I have th

[2021-10-16 13:32] Programmer-RD-AI opened #567 "Average of Accuracy, Loss, Etc.."
## 🚀 Feature

Average of Accuracy, Loss, Etc.

there will be a parameter called `average`.
And if the user wants the average of the accuracy so I think this will be easier for some people.

This will be another metric for everyone.

### Motivation

I have used this myself a few times
and I think its really easy

### Alternatives

I couldn't find any

With best regards,
Ranuga

[2021-10-16 13:33] Programmer-RD-AI commented on #567
and I would create the feature.

If this feature is useful please assign me to this question.

With best regards,
Ranuga

[2021-10-17 13:51] prdai opened #568 "Accuracy for Object detection"
## 🚀 Feature

Accuracy for Object detection

### Motivation

I am doing a lot object detection projects and I was thinking it would be a bit easier if there was Accuracy because I am more used to be using accuracy

### Pitch

it is to have a Accuracy for Object detection

### Alternatives

I couldn't find any

### Additional context

None

With best regards,
Ranuga

[2021-10-18 10:30] SkafteNicki commented on #563
Hi @Programmer-RD-AI , thanks for opening this issue.
After looking at your implementation of the PR that you opened, the metric that you are proposing are no different from the `accuracy` metric we already have in torchmetrics except for a division by some factor (`dividing_amount` in your PR) together with rounding. It can therefore already be done like this:
[code]
I am therefore going to close

[2021-10-18 10:30] #563 closed

[2021-10-18 10:38] SkafteNicki commented on #568
Hi @Programmer-RD-AI,
Could you please explain how this accuracy for object detection would work differently from the accuracy metric that is already part of `torchmetrics`?

[2021-10-18 12:29] #567 closed

[2021-10-18 18:08] #568 closed, assigned to nobody

[2021-10-18 18:12] twsl opened #569 "Add metric logging tests"
## 🚀 Feature

Add tests to validate, that the metrics are returned in the correct format so they can be easily logged.

### Motivation

It became evident [here](https://github.com/PyTorchLightning/metrics/pull/467), that there are no tests validating whether the returned metrics can be properly logged and are implemented according to the documentation.

### Pitch

Add some tests to check if `log`

[2021-10-19 05:34] kboseong opened #570 "support same metric with different parameter with MetricCollection"
## 🚀 Feature

support multiple metric with different parameter with MetricCollection
ex) MetricCollection([torchmetrics.IoU(threshold=0.1), torchmetrics.IoU(threshold=0.2), torchmetrics.IoU(threshold=0.3),...])

### Motivation

When evaluating a model through a semantic segmentation metric, you may want to see different indicators on various iou thresholds.

### Pitch

PytorchLightning with metric

[2021-10-19 17:42] lucadiliello opened #571 "Add HitRate for Information Retrieval"
## 🚀 Feature

Add the HitRate metric.

### Motivation

Used in many works. Measures the fraction of queries for which at least a positive document was retrieved in the top k.

### Additional context

I didn't find an official definition for this metric. [Wikipedia](https://en.wikipedia.org/wiki/Evaluation_measures_(information_retrieval)) says it it equal to `recall` but I do not agree. This paper

[2021-10-20 17:29] ruro opened #573 "`tm.functional.precision_recall_curve`: `pos_label` automatically set 1"
## 🐛 Bug

The docstring of `tm.functional.precision_recall_curve` states that
[code]
From this documentation, it's reasonable to infer, that in the binary classification case, you don't need to provide any keyword arguments as the defaults are already correct. However, attempting to call `precision_recall_curve` with default (`None`) arguments in the binary case produces the following warning:
[co

[2021-10-21 10:18] lucadiliello opened #574 "Add R-Precision for Information Retrieval"
## 🚀 Feature

Add the R-Precision metric.

### Motivation

Used in many works. Defined [here](https://en.wikipedia.org/wiki/Evaluation_measures_(information_retrieval)#R-precision).

[2021-10-22 15:09] #571 closed, assigned to nobody

[2021-10-22 16:37] #573 closed, assigned to nobody

[2021-10-22 18:50] #574 closed, assigned to nobody

[2021-10-27 11:18] Borda opened #587 "re-implement mAP instead of using COCOtools"
## 🚀 Feature

As Coco is not maintained for a few years can we in the next step have our own implementation?
I have also opened a few fixes to the original repo but no reply for weeks/months

### Alternatives

https://github.com/PyTorchLightning/metrics/pull/467#discussion_r737354204

### Additional context

[2021-10-29 10:10] stancld opened #595 "Add METEOR metric"
## 🚀 Feature

Add another NLP metric - **METEOR** ([Lavie and Agarval, 2007](https://www.cs.cmu.edu/~alavie/METEOR/pdf/Lavie-Agarwal-2007-METEOR.pdf)).

### Motivation

METEOR is another metric used for the machine translation evaluation similarly to BLEU, however, it demonstrates a higher correlation with human judgements of translation quality.

### Pitch

To support the METEOR metric will be li

[2021-10-31 03:01] edwardclem opened #596 "Typo in CalibrationError metric docs"
I just noticed typos in the CE metrics - the max calibration error and RMS calibration error labels should be switched, and there's a square root sign missing from the root mean squared error (whoops). That's my mistake, I'll submit a PR to fix.

[2021-10-31 16:30] ashleve opened #597 "Inconsistent computation of accuracy with lightning"
Hello, I have the following code:
[code]
So the above code computes accuracy in 2 ways. What bothers me is how different are those 2 accuracies, even though, as far as I understand it, those values should be exactly the same. Here's what I get:
![image](https://user-images.githubusercontent.com/43458894/139592828-84bb70a5-3d39-487f-80ed-3bc952ce0651.png)
(here the difference for MNIST classificati

[2021-11-01 10:58] SkafteNicki commented on #597
Hi @ashleve,
The correct way to compute the value is the way you compute `val/acc_2`. The reason `val/acc` probably is wrong, is due to the accuracy calculated as the average over the accuracy per batch is not nessesarily the same as the global accuracy. It only holds if the batch size is the same for all batches (it will often be smaller for the last batch).
See the below example showcasing this

[2021-11-01 16:21] stancld opened #600 "Inconsistent input for BLEUScore compared to other metrics"
## 🚀 Enhancement

All text metrics except for `BLEUScore` expects input references and hypotheses are not tokenized. On the other hand, `BLEUScore` expects input sentences to be tokenized. I think it would be nice to unify the way of how sentences are passed in for the metrics calculation => all text metrics can be designed to receive non-tokenized input.

### Motivation

Unify the way of how the

[2021-11-02 16:11] dreaquil commented on #543
I came across this same problem. Your solution didn't work and I haven't really understood why micro would be an issue. Would you mind explaining further please? specificity, recall and accuracy are showing identical metrics. F1 is now different after the recommended change.

![image](https://user-images.githubusercontent.com/32460579/139898989-71457a00-764d-4bc9-a88f-f50035b35021.png)

[2021-11-02 23:39] Borda commented on #600
Yeah, that would be great to unify :]

[2021-11-03 01:49] SBoulanger opened #601 "MAP handling an empty prediction array."
## 🐛 Bug

When there are no predictions in an update, the MAP class returns a ValueError. Although in the case where no predictions are made and there are targets, the False Negative count should rise and make Recall worse, yet the MAP class does not seem to handle this case.

### To Reproduce

Run the code sample in `metrics/detection_map.py` but empty the tensors in the `preds` dictionary.

####

[2021-11-03 07:35] cnut1648 opened #602 "false device inconsistent runtime error"
## 🐛 Bug

When using weighted AUC even if the input tensors and metric are in the same device.

### To Reproduce
[code]
would result in
[code]
Based on this erorr message, I assume this because in the intermediate step some cpu tensors are created? But I am not too sure.

### Environment

- PyTorch Version (e.g., 1.0): 1.8.1
- OS (e.g., Linux): Linux Ubuntu
- How you installed PyTorch (`conda`, `p

[2021-11-03 08:11] Borda commented on #602
it seems as common confusion, please see #531

[2021-11-03 08:14] Borda commented on #601
I believe it was solved by #594 anyway feel free to reopen if the issue holds :rabbit:

[2021-11-03 08:14] #601 closed

[2021-11-03 08:15] Borda commented on #597
@SkafteNicki do you have a suggestion that we shall be more memory hungry and save all intermediate measures?

[2021-11-03 08:38] cnut1648 commented on #602
Thanks for the reply. I am using PL module and actually I think this is related to `AUROC` with average set to `weight`.
Here is my code
[code]

and in the `*_step_end` function I called
[code]

And I think
1. all metrics in the  are all in the same device (i.e. for `for metric_name, metric in metrics.items():
    print(f"{metric_name}: : {metric.device}")` have `cuda` for all metrics
2. all metri

[2021-11-03 09:01] chris-tkinter opened #604 "OvO support on AUROC"
## 🚀 Feature
Hi in the sklearn API there is a `multi_class` parameters which can be set to ‘ovr or ‘ovo'. But it seems that this is not yet implemented in the torchmetrics.

### Motivation

In sklearn we can compute ovo AUC, but currently this is not supported

[code]

### Additional context
Using torchmetrics 0.6.0

[2021-11-03 09:31] ashleve commented on #597
@SkafteNicki Thanks for the reply,

Am I correct to assume that setting `drop_last=True` on validation dataloader should make the two accuracies exactly the same? I just did that and still experience a significant difference.

I can prepare a reproducible example if you want

[2021-11-03 12:04] SkafteNicki commented on #597
@ashleve yes, that should be the case.
Please send me an reproduceable example so I can get to the bottom of this.

[2021-11-03 12:08] Borda commented on #596
Pls send a PR =)

[2021-11-03 12:10] Borda commented on #587
@twsl how is it going, when could we expect a draft PR? Really looking forward to... :cat:

[2021-11-03 12:34] Borda commented on #595
@stancld do want to take it on your own or you can promote it on slack #new_contributions and then supervise it :rabbit:

[2021-11-03 12:43] Borda commented on #366
@gagan3012 how is it going? :rabbit:

[2021-11-03 12:52] ashleve commented on #597
@SkafteNicki Here's the MNIST example:
https://github.com/ashleve/lightning-metrics-bug

[2021-11-03 13:28] stancld commented on #595
@Borda I've been working on that. :]

I've almost finished the implementation resembling the behaviour of the [METEOR metric](https://github.com/nltk/nltk/blob/develop/nltk/translate/meteor_score.py) from `nltk` package. Once ready, I'll send a PR.

The aforementioned implementation is, however, based on the original paper ([Lavie and Agarval, 2007](https://www.cs.cmu.edu/~alavie/METEOR/pdf/Lavie-

[2021-11-03 13:33] stancld commented on #600
@Borda Maybe a good PR for supervision in #new_contributors as this is a nice way for someone of how to familiarize themselves with a variety of NLP metrics? :]

[2021-11-03 13:36] yassersouri commented on #54
@Borda Sorry, but I am quite busy right now. I don't think I will have time to allocate to this or #362.

[2021-11-03 16:38] karthikrangasai commented on #366
Hello all,
I can take this up if work hasn't started yet.

[2021-11-04 00:08] SBoulanger commented on #601
Hey @Borda , I see the change now. Although I am still running into the issue when my tensor is `torch.Tensor([ ])`. It seems to address the case when a tensor is `torch.Tensor([[]])`. Should it handle both cases?

[2021-11-04 01:50] gagan3012 commented on #366
Sure go ahead @karthikrangasai

[2021-11-04 09:10] SkafteNicki commented on #602
Reopening as I can confirm there seems to be a bug in the code here.
It happens in the case when some labels are not present in `target` tensor it seems, where the code will evaluate these lines:
https://github.com/PyTorchLightning/metrics/blob/fef83a028880f2ad3e0c265b3e5bb8a184805798/torchmetrics/functional/classification/auroc.py#L138-L139
That tensor probably need to be initialized on the corre

[2021-11-04 09:37] SkafteNicki commented on #597
Hi @ashleve,
I took a look at your code and figured out the problem was something else. You basically need to change your `validation_epoch_end` to the following:
[code]
you need to reset the metric in between epochs. After looking at the documentation, this does not seem to be super clear and I will try to improve on that. The reason the missing reset was messing with your results was due to *Val

[2021-11-04 15:19] ashleve commented on #597
@SkafteNicki how about making lightning reset all metrics after validation sanity checks? Do you think it makes sense, or would it break something?

[2021-11-05 09:59] ThiruRJST opened #608 "Both tensors are on same device but raises an error both aren't"
### Discussed in https://github.com/PyTorchLightning/metrics/discussions/607

<div type='discussions-op-text'>

<sup>Originally posted by **ThiruRJST** November  5, 2021</sup>
[code]

I'm using torchmetrics to calculate the accuracy of model in pytorch but it raises an error that the tensors aren't in the same device. Actually both the tensors are in same device.

**ERROR: RuntimeError: Expected a

[2021-11-05 18:15] XiaomoWu commented on #597
Thanks for the clarification @SkafteNicki, missing `.reset()` is the culprit. I didn't realize that I should log directly instead of logging the computed value. My ExplainedVariance almost doubles after adding `.reset()`! However, this is such a painful lesson for me to learn. Issue #269 also discusses this.

Thank you for improving the document. I think it's super important for future users.

[2021-11-08 12:26] puhuk commented on #485
@Borda I send PR #609 regarding this issue, could you review this :)

[2021-11-08 13:28] Borda commented on #608
pls see #340 we would recommend to use Pytorch-Lightning which does this device sync for you
cc: @SkafteNicki

[2021-11-08 13:28] #608 closed

[2021-11-08 13:31] SkafteNicki commented on #608
Just going to add that the solution is to move your metrics to the correct device (similar to you moving `model` and `data`). So instead of
[code]
do
[code]

[2021-11-08 13:39] SkafteNicki commented on #597
@ashleve we could do that, however you would still have to do manual resetting between epochs e.g. calling `metric.reset()` yourself because you do not want to accumulate between epochs, which will also solve the problem with validation sanity checking. I still think the better option better documentation.

[2021-11-08 15:34] tchaton commented on #344
Here is a document resuming the current discussions for the Metric API refactor: https://docs.google.com/document/d/19Xm8z-Rf2d745z3plq5BrnB4pknFiJSJGJ0gNY_Fzrk/edit?usp=sharing

[2021-11-08 16:31] #602 closed

[2021-11-08 19:42] ashleve commented on #597
@SkafteNicki I'm a bit confused, doesn't lightning call `.reset()` for every metric at the end of every epoch? I believe this is [stated in the documentation](https://torchmetrics.readthedocs.io/en/latest/pages/lightning.html).

[2021-11-08 20:07] ashleve commented on #597
@SkafteNicki Thanks for clarifying, I didn't realise `.reset()` is not called automatically at the end of each epoch

[2021-11-08 20:12] SkafteNicki commented on #597
@ashleve to be fair we did automatically reset it at the end of each epoch a couple of releases ago, but we changed it since many users wanted more flexibility in when their metrics are reset.

[2021-11-09 06:59] Qcactus opened #611 "MeanMetric conflicts with EarlyStopping"
## 🐛 Bug

The states in MeanMetric are Tensors, which conflict with the output format of EarlyStopping in pytorch lightning.

#### Code sample

[code]

Output:
[code]

### Expected behavior

No conflict.

### Environment

- pytorch 1.10.0
- pytorch-lightning 1.5.0
- torchmetrics 0.6.0

### Additional context

This bug does not happen with Accuracy. This is probably because Accuracy defines the def

[2021-11-09 17:31] yukw777 opened #613 "`ignore_index` for F1 doesn't behave as expected."
## 🐛 Bug

F1 doesn't ignore indices properly.

### To Reproduce

Run the following code.

[code]
This gives you tensor(0.6000) not tensor(1.0).

### Expected behavior

The specified `ignore_index` should not count towards the F1 score. For example, the above code example should be effectively equivalent to the following:

[code]

### Environment

- PyTorch Version (e.g., 1.0): 1.10
- OS (e.g., Lin

[2021-11-09 19:59] yukw777 commented on #613
https://github.com/PyTorchLightning/metrics/blob/fef83a028880f2ad3e0c265b3e5bb8a184805798/torchmetrics/functional/classification/stat_scores.py#L132-L143

It seems like if reduce is not `macro` it just deletes that particular column, which I don't think is the right thing to do.. rather we should delete the "rows" whose value is ignore_index right?

[2021-11-10 15:41] carmocca commented on #611
There are 2 improvements to do here.

1. In Lightning, squeeze the Tensor
2. In torchmetrics, use `torch.tensor(0) == tensor(0)` instead of `torch.zeros(1) == tensor([0])`.

I can open a PR to Lightning for (1).

For (2), after snooping around the codebase, seems like some metrics use one option and other metrics the other. This should probably be fixed for all cc @SkafteNicki

https://grep.app/se

[2021-11-10 18:34] davzaman commented on #54
@Borda I don't think I have the time to allocate to this at the moment but I am happy to help move things along.

[2021-11-10 22:27] tqbl opened #614 "Multilabel ranking metrics"
## 🚀 Feature

The sklearn library provides a number of [multilabel ranking metrics](https://scikit-learn.org/stable/modules/model_evaluation.html#multilabel-ranking-metrics). It would be nice if torchmetrics implemented some of these metrics too. The three I have in mind are [coverage_error](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.coverage_error.html), [label_ranking_aver

[2021-11-11 20:09] tqbl commented on #614
Faster version of `label_ranking_loss`:
[code]

[2021-11-12 14:06] tkupek opened #626 "DDP mode stuck with multiple GPUs when calling MAP metric"
## 🐛 Bug

I have a detection model training on multiple GPUs in DDP mode with the MAP metric.
There is a weird behavior that in some iterations, the validation gets stuck when calling the `compute()` method. All GPUs are now working on 100% load and nothing is happening for hours.

### To Reproduce

I was able to reproduce the issue with the boring model.
:warning: Make sure to run this with at le

[2021-11-14 22:27] twsl opened #620 "Devcontainer Support"
## 🚀 Feature

Enable Devcontainers, for a standardized development environment and the option to use codespaces.

### Motivation

I hate setting up dev environments, especially if I can mess up something at some point.

### Pitch

Add Devcontainer files.

### Alternatives

Keep it as is.

### Additional context

[2021-11-15 08:44] Borda commented on #620
could you please link some best-practice or tutorial for new users on how to use codespaces

[2021-11-15 09:40] twsl commented on #620
[Devcontainers](https://code.visualstudio.com/docs/remote/containers) allows you to use docker containers to create reproducible development environments and removes the problems, that something doesn't run on your machine. [Codespaces](https://docs.github.com/en/codespaces) builds upon that and allows you to run a devcontainer on github, e.g. in case you want to edit something on the fly, but I'm

[2021-11-15 09:53] SkafteNicki commented on #597
Fixed by https://github.com/PyTorchLightning/metrics/pull/615. Closing.

[2021-11-15 09:53] #597 closed

[2021-11-15 12:29] SkafteNicki commented on #614
Hi @tqbl,
Thanks for proposing these metrics. I can probably covert them to proper torchmetrics format sometime in the future. Would it be possible for you to describe what the expected input looks like? Is it exactly the same as sklearn?

[2021-11-15 12:58] tqbl commented on #614
Thanks @SkafteNicki. The inputs are expected to be the same as in sklearn, except they should be PyTorch tensors rather than NumPy arrays. The inputs shapes and the data itself should be the same.

1. `y_pred` should be a `(N,K)` tensor of prediction scores (not necessarily probabilities).
2. `y_true` should be a `(N,K)` tensor of ground truth labels in binary indicator format.
3. `sample_weights`

[2021-11-15 19:43] tkupek commented on #601
@SBoulanger thanks. I will take care of this fix.
Until then I recommend to use `torch.Tensor([[]])`

[2021-11-16 01:05] timesler opened #625 "Constant-memory implementation of common threshold-varying metrics"
Thanks to the developers for their great work. I (and my work) use this package heavily and will continue to do so :).

## 🚀 Feature

Related to #128, it would be great to also have constant-memory implementations of the ROC curve and the AUC metric. Given that this has already been implemented for precision-recall, the work is 90% done, it just needs a minor extension.

### Motivation

The curren

[2021-11-17 09:06] #49 closed

[2021-11-19 15:04] OverLordGoldDragon opened #629 "`f1` seems wrong"
[code]
[code]
Unsure of intermediate processing steps but the following, interpreted directly, is incorrect:

https://github.com/PyTorchLightning/metrics/blob/2c8e46f87cb67186bff2c7b94bf1ec37486873d4/torchmetrics/functional/classification/stat_scores.py#L64-L67

TP is defined as "label is 1 and prediction is 1", which is, for binary classification,

[code]
Bug, or am I misusing the method?

[2021-11-19 15:49] miccio-dk commented on #625
I'm currently struggling with AUROC's memory footprint, so this would honestly be amazing!

[2021-11-19 18:29] stancld commented on #629
The difference is in the default `average` method. For `torchmetrics`, there is `average="micro"`, whereas `sklearn` has `average="binary"`.  The latter method is not directly supported by TM, however, according to the `sklearn` [docs](https://github.com/scikit-learn/scikit-learn/blob/0d378913be6d7e485b792ea36e9268be31ed52d0/sklearn/metrics/_classification.py#L1033)
[code]

it is nothing else than

[2021-11-19 20:04] #629 closed

[2021-11-24 08:56] #366 closed

[2021-11-24 09:33] stancld opened #633 "[New metric] Add `CharacTER`"
## 🚀 Feature

Add `CharacTER`,  a text metric used for NMT evaluation.

**Sources:**
Paper - [CharacTER: Translation Edit Rate on Character Level](https://aclanthology.org/W16-2342.pdf)
[Repo](https://github.com/rwth-i6/CharacTER)

### Motivation / Abstract

Recently, the capability of character-level evaluation measures for machine translation output has been confirmed by several metrics. This wo

[2021-11-24 09:41] stancld opened #634 "Add `ChrF++`"
## 🚀 Feature

Add `ChrF++`, a text metric used for NMT evaluation.

**Sources:**
Paper - [CHRF++: words helping character n-grams](https://aclanthology.org/W17-4770.pdf)
[Repo](https://github.com/m-popovic/chrF) / metric is also implemented in [`sacrebleu`](https://github.com/mjpost/sacrebleu/blob/master/sacrebleu/metrics/chrf.py)

### Motivation

Character n-gram F-score (CHRF) is shown to correl

[2021-11-24 09:51] stancld opened #635 "[New metric] Add `EED`"
## 🚀 Feature

Add `EED`, a text metric used for NMT evaluation.

**Sources:**
Paper - [EED: Extended Edit Distance Measure for Machine Translation](https://aclanthology.org/W19-5359.pdf)
[Repo](https://github.com/rwth-i6/ExtendedEditDistance)

### Motivation

Over the years a number of machine translation metrics have been developed in order to evaluate the accuracy and quality of machine-generate

[2021-11-24 09:54] stancld opened #636 "[New metric] Add `TER`"
## 🚀 Feature

Add `TER`, a text metric used for NMT evaluation.

**Sources:**
Paper - [A Study of Translation Edit Rate with Targeted Human Annotation](https://aclanthology.org/2006.amta-papers.25.pdf)
Code - Implemented in [`sacrebleu`](https://github.com/mjpost/sacrebleu/blob/master/sacrebleu/metrics/ter.py)

### Motivation

We examine a new, intuitive measure for evaluating machine-translation

[2021-11-24 11:53] #611 closed

[2021-11-24 12:28] SkafteNicki commented on #625
Hi @timesler,

This sounds like a great addition to torchmetrics. We are aware that some of our implementations suffer from a potential huge memory footprint, so this would be a great to have metrics that solves this.

Please feel free to send a PR :]

One small question: would it make sense to combine binned and non-binned metrics into a single metric with a parameter to change between them e.g.

[2021-11-24 14:18] somedadaism opened #637 "Metrics have bug for training."
## 🐛 Bug

I am under the impression that metrics can not be shared between validation and training as `validation_epoch_end` resets them before `training_epoch_end` is run.
As an end user this is highly counter intuitive to me.

#### Code sample

[code]
### Expected behavior
[code]
Here `training/accuracy_epoch` is always 0. I would have expected it to be non-zero.

### Environment

- PyTorch Vers

[2021-11-24 19:06] SkafteNicki commented on #637
Hi @somedadaism,
As you state yourself we highly recommend that users use separate metrics for train, val and test to not mess up the state between them. Also stated as the first note on [this page](https://torchmetrics.readthedocs.io/en/latest/pages/overview.html) in the documentation. So instead of having
[code]
in the beginning, please exchange with
[code]
then I would add a extra argument to y

[2021-11-24 19:09] somedadaism commented on #637
Hi thanks for your help. Yes I have already fixed this accordingly.
Nonetheless the fact that `validation_end` comes before `training_end` will predictably result in user error.
You are correct to point to the documentation. What the documentation honestly should say in my opinion is that it is guaranteed with the current state of the framework to introduce error when trying to manage shared metri

[2021-11-24 19:41] SkafteNicki commented on #637
So I am going to agree with you that it is probably impossible to get it working correctly in lightning if you only is using a single instance of the metric. That is the reason we have the note in the docs.

However, `torchmetrics` is not only used with lightning but was also developed to be used with just native `torch`. Using just `torchmetrics+torch` it is absolutely possible to do train/val/te

[2021-11-24 21:52] somedadaism commented on #637
Yes I think that is the best option.
I concur that using vanilla `torch` you can use the metrics in a shared manner.
All in all this probably is more of an `pytorch_lighting` issue than a `torchmetrics` issue.
I will close my issue and remember to RTFM next time. 👍

[2021-11-24 21:52] #637 closed

[2021-11-25 05:51] mrleu commented on #600
Hello there! Just saw this on #new_contributors, and would love to work on this!

[2021-11-25 07:17] mrleu commented on #600
Ready to review ^ Happy to accept any feedback!

[2021-11-25 08:45] #626 closed

[2021-11-26 10:34] Rajathbharadwaj commented on #633
Hey @stancld @SkafteNicki, I want to contribute, how do I get started? Thanks.

[2021-11-28 11:16] c00k1ez opened #642 "[Documentation] incorrect table data for Retrival Input Details"
## 📚 Documentation

Hi!
[Input Details table](https://github.com/PyTorchLightning/metrics/blob/master/docs/source/references/modules.rst#input-details) has incorrect data (shape and dtype columns swapped). [Link](https://github.com/PyTorchLightning/metrics/edit/master/docs/source/references/modules.rst#L505)

[2021-11-28 11:23] c00k1ez commented on #642
PR: #643

[2021-11-29 09:50] stancld commented on #633
Hi @Rajathbharadwaj, I hope you can have a look at #641 and try to prepare a PR for `CharacTER` accordingly. Once you have anything ready, you can open a draft PR and ping us :]

[2021-11-29 10:07] SkafteNicki commented on #633
Hi @Rajathbharadwaj, agree with @stancld that PR #641 I good place to look what how a complete implementation (+ docs ) should be structured. If you do not have time to fully implement it all, feel free to also open a PR with a partial implementation and then we can guide you to the rest :]

[2021-11-29 14:11] Callidior opened #644 "CompositionalMetric only returns value for last batch"
## 🐛 Bug

When using a compositional metric, i.e., `metric_a + metric_b` or `2 * metric_a` with `forward()` instead of `update()`, the value returned by `.compute()` will be based only on the last batch.

This is because the default implementation of `Metric.forward()`, which is inherited by `CompositionalMetric`, calls `reset()`, which in turn resets all child metrics. Their state, however, is no

[2021-11-29 15:16] #642 closed

[2021-11-29 19:04] Rajathbharadwaj commented on #633
Okay, I will check out and hopefully open a draft PR. Thanks!

[2021-11-29 19:51] stancld commented on #636
I'll take this one:]

[2021-11-30 13:51] stancld opened #647 "Enable `BERTScore` evaluates hypotheses against multiple references."
## 🚀 Enhancement

Enable `BERTScore` evaluates hypotheses against multiple references.

### Motivation

Plenty of NMT evaluation metrics allow evaluating a hypothesis against multiple references if provided. I think it would be nice to enable this option also for `BERTScore` for consistent behaviour.

### Pitch

Enable `BERTScore` evaluates hypotheses against multiple references.

[2021-11-30 15:48] #620 closed

[2021-11-30 18:28] twsl opened #648 "Devcontainer invalid format"
## 🐛 Bug

Property `image` is not allowed. The docker image cannot be directly specified inside the `devcontainer.json`.

### To Reproduce

Steps to reproduce the behavior:

1. Open devcontainer in vscode
2. Still builds from python devcontainer

#### Code sample

### Expected behavior

Load pytorch lightning metrics devcontainer iamge.

### Environment

- PyTorch Version (e.g., 1.0): 1.10
- OS (e

[2021-11-30 19:36] #644 closed

[2021-12-01 10:23] justusschock commented on #648
According to https://code.visualstudio.com/docs/remote/devcontainerjson-reference it should be allowed to specify it like that. I just missed the comma in the end

[2021-12-01 23:49] #648 closed

[2021-12-02 19:03] SkafteNicki opened #652 "Support basic plotting for some metrics"
## 🚀 Feature

Add plotting functionality for metrics where it makes sense.

### Motivation

Some metrics like confusion matrix, roc, pr-curve are non-scalar metrics that are best inspected when plotted.
It would be great if we could support some basic functionality for metrics where it makes sense to plot something (there are probably not that many).

### Pitch

Either have a utility module:
[code

[2021-12-03 20:04] stancld opened #653 "Move text test examples into `tests/text/inputs.py`"
## 🚀 Text

Move all text test examples into a new dedicated file `tests/text/inputs.py` similar to as it is the case for classification metrics, see `tests/classification/inputs`.

### Motivation

Gather all text test examples in one place and reduce copy-pasting examples.

### Pitch

Create a new file `tests/text/inputs.py` which will gather all text test examples, and remove individual definitio

[2021-12-04 09:52] Rajathbharadwaj commented on #633
@SkafteNicki @stancld So I did check out the PR #641 and I can see there are some helper functions or some extra functions compared to the source repo. It'd be great if I could get some help in those regards. I will go ahead and create the module now. Thanks!

[2021-12-05 01:05] #587 closed

[2021-12-05 13:58] mayeroa opened #655 "Classification metrics consistency"
## 🚀 Feature

First of all, thank you very much for this awesome project. It helps a lot evaluating deep learning models on standard and out-of-the-box metrics for several application domain.

My request(s) will be more focused on classification metrics (also applied to semantic segmentation). Maybe, we will need to split that into several issues. Do not hesitate.

### Motivation

I have made some

[2021-12-06 00:45] durvesh8 opened #656 "Stat_Scores does not behave as expected"
## 🐛 Bug

torchmetrics.functional.stat_scores gives out wrong values

### To Reproduce

Steps to reproduce the behavior:
[code]
The output of this function is as follows:
[code]

### Expected behavior
As this function is supposed to print out True Positives, False Positives, True Negatives, False Negatives and TP+FN,
In the given example, all the values should be equal to 1.
expected behaviour: te

[2021-12-06 08:59] twsl opened #659 "Add IoU/GIoU for boxes"
## 🚀 Feature

### Motivation

IoU/GIoU are ametrics essential for the detection domain.

### Pitch

Add metrics, for fast implementation these could be based on torchvisions functions.

### Alternatives

### Additional context

[2021-12-06 11:06] mayeroa commented on #655
Additional question, if I am correct, `TorchMetrics` handles those 4 scenarii for now (based on that: https://github.com/PyTorchLightning/metrics/blob/6bcc8b0f7f52b370583aff4a9192d7a399f3da75/torchmetrics/utilities/checks.py#L73):

[code]

Would `MULTIDIM_BINARY` make sense to handle properly binary semantic segmentation?

[2021-12-06 13:26] #600 closed

[2021-12-06 20:12] #636 closed

[2021-12-07 09:17] omerferhatt opened #663 "`BinnedPrecisionRecall` not working for multi-dimensional arrays"
## 🐛 Bug

Binned Precision Recall Curve not working expected with multi-class and multi-dimensional input/target

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'torchmetrics/classification/binned_precision_recall.py'
2. See line 172 to 174

Here's stack trace
[code]
#### Code sample

[code]

### Expected behavior

It should be worked for multi-dimensional data

### Environment

- Py

[2021-12-07 09:41] omerferhatt commented on #663
I think, since it's working with single value comparison we can just flatten n-dimensional array (N, C, ...) to (N, C, F) which F is flattened axis.

[2021-12-07 20:10] twsl opened #664 "Sort currently does not support bool dtype on CUDA"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Run mAP on CUDA

[code]

#### Code sample

See tests

### Expected behavior

Calculate mAP on CUDA without issues

### Environment

- PyTorch Version (e.g., 1.0):
- OS (e.g., Linux):
- How you installed PyTorch (`conda`, `pip`, source):
- Build command you used (if compiling from source):
- Python version:
- CUDA/cuDNN version:
- GPU

[2021-12-07 20:14] tkupek commented on #664
Thanks for opening this.

### Environment

- PyTorch Version (e.g., 1.0): 1.10.0
- OS (e.g., Linux): Linux
- How you installed PyTorch (conda, pip, source): pip
- Build command you used (if compiling from source):
- Python version: 3.8
- CUDA/cuDNN version:
- GPU models and configuration: GTX 2080
- Any other relevant information:

[2021-12-07 20:22] stancld commented on #653
I'll take care of this :]

[2021-12-07 21:53] stancld opened #667 "Enable `ROUGEScore` to evaluate hypotheses against multiple references."
## 🚀 Feature

Enable `ROUGEScore` to evaluate hypotheses against multiple references.

### Motivation

In the original paper, [Lin (2004)](https://aclanthology.org/W04-1013.pdf) proposes the evaluation of a hypothesis against the multiple references, and eventually, the maximum pairwise score is used.

### Pitch

Enable `ROUGEScore` to evaluate hypotheses against multiple references as it is the c

[2021-12-07 22:37] stancld commented on #635
I'll handle this :]

[2021-12-08 01:07] Borda commented on #635
@mathemusician could you comment here so we can assign this issue to you... :rabbit:

[2021-12-08 01:09] Borda commented on #663
@omerferhatt mind sending a PR so we can check your suggestion? :]

[2021-12-08 18:50] #653 closed

[2021-12-08 20:37] #664 closed

[2021-12-09 07:47] stancld commented on #633
Hello @Rajathbharadwaj, any update on this here? Let me know if you need any help :]

[2021-12-09 08:16] ashutoshml commented on #667
I can take a look at this

[2021-12-09 08:21] stancld commented on #522
Is there any update on this? I'll be glad to have a look if it's still unassigned. :]

[2021-12-09 10:15] ashutoshml commented on #667
I started working on it. The requirements say: "maximum pairwise score is used". Depending on rouge_types - there are `1, 2, L`, different highest values, and consequently `precision, recall` and `fmeasure.` Which rouge_types' highest value should be used? `1, 2, L` and which metric `precision, recall` and `fmeasure`?

[2021-12-09 14:48] vahvero opened #671 "`RuntimeError`s when attempting use of `MAP`-metric"
## 🐛 Bug

When using `MAP`-metric during `test_step` to update values and `test_epoch_end` to compute the values, the `MAP.compute` fails with `RuntimeError: Tensors must be CUDA and dense` in `all_gather`.

### To Reproduce

Pick a regional neural network, from for example lightning bolts' `FasterRCNN`. Implement `test_step` where
`MAP.update()` is called for the model results and targets and the

[2021-12-09 16:01] ashutoshml commented on #667
@stancld I have written the code for `maximum pairwise`.
I wanted to know if we can quickly test just the `test_rouge.py` using `pytest`. `make test` seems to be taking a lot of time.
I'll run the full test once `test_rouge.py` works.

[2021-12-09 16:04] stancld commented on #667
Hi @ashutoshml, thanks a lot for your effort! O:] I'll have a look tomorrow, but you can run:
[code]
in the project directory to run ROUGE test only :]

[2021-12-10 06:54] ashutoshml commented on #667
Currently, we have

`def update(self, preds: Union[str, List[str]], targets: Union[str, List[str]]) -> None:`

Should we convert it into

`def update(self, preds: Union[str, List[str]], targets: Union[str, List[str], List[List[str]]]) -> None:`

?

For handling cases where we have list of predictions and list of list of references for that ?

[2021-12-10 08:36] SkafteNicki commented on #671
Hi @vahvero,
Could you try running master version of torchmetrics:
```pip install git+https://github.com/PytorchLightning/metrics.git@master```
We recently had a PR that fixed cuda issues for the MAP metric (https://github.com/PyTorchLightning/metrics/pull/665) so this issue may already be solved.

[2021-12-10 09:15] lucadiliello opened #672 "Add `ignore_idx` to retrieval metrics"
## 🚀 Feature

Add `ignore_idx` as keyword argument to all `retrieval` metrics. Instantiation will be like `RetrievalMAP(ignore_idx=-100)`. Entries where the labels are equal to `ignore_idx` will not be considered.

### Motivation

It is common to have some examples where the predictions should not be considered.

### Pitch

Predictions where the labels are equal to `ignore_idx` will be skipped.

#

[2021-12-10 09:16] lucadiliello commented on #672
Once this feature is approved, I will start implementing it.

[2021-12-10 13:44] twsl opened #675 "Test all metrics on GPU"
## 🚀 Feature

Add an option to run tests on a single GPU.

### Motivation

Currently tests for metrics are usually run via  [`run_class_metric_test`](https://github.com/PyTorchLightning/metrics/blob/master/tests/helpers/testers.py#L391), which defaults to CPU if only a sinlge GPU is present. This can cause issues with CUDA to go into a release unnoticed.

### Pitch

Fix quietly switching to cpu ev

[2021-12-10 14:43] vahvero commented on #671
The installation of the latest version removed the first and second errors, but it caused a third one.

`RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!`

This would suggest that some of the parametres of `__init__` might not transfer correctly, as I checked that submitted results were on graphical processor. I try to hack later if I can

[2021-12-10 15:38] vahvero commented on #671
The error happens in `map.py` line 443

[code]

 where the `det_matches` is not on CUDA.

Expression in debugger is:
[code]

[2021-12-10 15:42] tkupek opened #677 "Performance issue for own mAP implementation"
## 🐛 Bug

The new mAP implementation that replaced the `pycocotools` implementation seems to have a performance issue. In my measurements it is 10-15x slower.

These are are some performance measurements I did on a CPU and single GPU (same machine):

New implementation
[code]

Preview implementation (pycocotools)
[code]

### To Reproduce

Steps to reproduce the behavior:

Run mAP implementation as

[2021-12-10 15:45] stancld commented on #667
Hi @ashutoshml, yes I think we may start with something like this. Feel free to open a draft issue once ready and we'll have a look :]

[2021-12-10 15:54] mathemusician commented on #635
I got this.

[2021-12-10 21:34] Borda opened #678 "Tests refactoring"
## 🚀 Feature

thinking about https://github.com/PyTorchLightning/metrics/pull/676#issuecomment-991161059 raised by @lucadiliello
we can make an assumption that there shall not be too many differences among the Python versions and OS, right?
in such a case we can have three lines of testing:
- doctest on the package [we have now] which is testing examples in docs and imports
- some general and most

[2021-12-11 11:27] ashutoshml commented on #667
@stancld During testing, we compare our score against the scores given by the `rouge-score=0.0.4` package. It does not have a multiple-reference version. How do we write the test cases for it i.e., what would be the baseline?

[2021-12-12 05:21] ashutoshml commented on #667
@stancld Opened a draft pull-request. Kindly check

[2021-12-12 13:26] avieini-sunbit opened #681 "MetricCollection with Tracker"
## 🚀 Feature

enable the option to pass into MetricCollection the wrapper of MetricTracker including increment (per epoch) and getting the best epoch (by one of the metrics inside )

### Motivation
 As most of the times , I need more than one metric the first choice will be the MetricCollection but in the same way I want to have the option to keep track on my results

[2021-12-13 02:47] Phinnik opened #682 "Support for metric names"
## 🚀 Feature

First of all, thank you for developing this project!

My request is to support metrics name property for Metric class. I don't know if it is a feature or may be a bug fix.

### Motivation

I found, that if I want to use multiple *MultioutputWrapper* in my *MetricCollection* it throws the error `ValueError: Encountered two metrics both named MultioutputWrapper`

Here is the code snipp

[2021-12-13 10:59] OlofHarrysson opened #683 "mAP metric crashes when there are no ground truth boxes"
## 🐛 Bug

The `torchmetrics.detection.map` class crashes if there are no ground truth boxes.

### To Reproduce

Steps to reproduce the behavior:

Run the example below. Produces the error `IndexError: The shape of the mask [0] at index 0 does not match the shape of the indexed tensor [1, 0] at index 0`

#### Code sample
[code]

### Expected behavior

### Environment

### Additional context

[2021-12-13 14:33] #683 closed

[2021-12-13 14:34] SkafteNicki commented on #682
Hi @Phinnik,
We do not support specifically what you are asking for, but you can solve the problem you currently have by giving metrics as a dict instead of a list for `MetricCollection`. So instead of:
[code]
you would do:
[code]
this will essentially set the `name` in the `MetricCollection` to whatever you want :]

[2021-12-13 14:40] SkafteNicki commented on #678
In my experience, most times the difference lies in the Pytorch version that is being tested where something may work for version (x+1) but not for version x. So I would still do full Pytorch testing on each PR.

[2021-12-13 14:50] SkafteNicki commented on #655
Hi @mayeroa, thanks for raising this issue.
You are completely right that there are some problems with the consistency of our classification metrics, which are becoming more and more clear as we gain more users.

The optimal case would be that all metrics support `binary`, `multi-label` and `multi-class` classification and that the user can have as many additional dimensions as the want for each m

[2021-12-13 15:25] SkafteNicki commented on #675
Hi @twsl,

All metrics should already run on single GPU:
https://github.com/PyTorchLightning/metrics/blob/d071eb2f1245112c599b7fe0d165b8ac55663083/tests/helpers/testers.py#L450

[2021-12-13 16:21] twsl commented on #675
@SkafteNicki You are correct, this mistake on my end was probably caused by a reset of the devcontainer settings disabling the gpu and me then just carelessly checking the device value..
However these is still no option to test all four combinations (single and multi cpu,gpu). Depending on the machine configuration, some tests are never considered. I'd much rather see a dedicated skipped test, if

[2021-12-13 16:48] #672 closed

[2021-12-13 17:39] OlofHarrysson commented on #568
Hi, I think this is a good idea. It's great that mAP exists now since it's the most common metric for object detection.

I think it would be valuable to also include precision, recall, f1, true positive, false positive, and false negative (true negative doesn't make sense to me in a detection setting). Here's why

1. The suggested metrics are more common and easier to understand. This is great for

[2021-12-13 20:57] Phinnik commented on #682
Oh, thank you so much, sir. Probably, need to read documentation more attentively next time :)

[2021-12-13 20:57] #682 closed

[2021-12-14 13:39] brambozz commented on #387
Can I pick this one up? Was just looking for this functionality for my own project :)

[2021-12-14 13:48] OlofHarrysson commented on #677
I've come across a profiling tool that measures time spent per line. I'll share a modified version of your code @tkupek

[code]

This outputs
[code]

I used this information to find that line 438 `iou = min([thr, 1 - 1e-10])` takes a significant amount of time. It's quicker to convert the threshold to a float beforehand i.e. `iou = min([thr.item(), 1 - 1e-10])`.

I'm running a M1-macbook so haven'

[2021-12-15 07:57] tkupek commented on #677
@OlofHarrysson this is good insight! I can test this today on a GPU.
@twsl FYI

[2021-12-15 08:00] SkafteNicki commented on #681
Hi @avieini-sunbit,
Could you please provide an code example of what you want to do? :]

[2021-12-15 08:03] SkafteNicki commented on #675
@twsl I see your point.
Any recommendation how to do this the most easy way?

[2021-12-15 08:06] OlofHarrysson commented on #677
@tkupek Please do :)

Note that profiling CUDA calls with this profiler can be incorrect. Actions performed after CUDA operations, e.g. moving a tensor from gpu to cpu with tensor.cpu(), will often incorrectly be attributed to the .cpu() line while Python is actually blocked/waiting for the CUDA call to finish.

You basically have to sprinkle in a bunch of `torch.cuda.synchronize()` to wait for th

[2021-12-15 08:29] tkupek commented on #677
I ran the profiler on a GPU.

[code]

Your suggestion helped a bit, but there is a little overall effect:

[code]

[2021-12-15 09:52] avieini-sunbit commented on #681
@SkafteNicki
I think I would like to have the following option:

[code]
currently it's not an option as MetricTracker gets only Metric and not MetricCollection.
I would be glad if you can add the option to include multiple metrics into the MetricTracker object and add functionality to get the best epoch (or step) per specific metric

[2021-12-15 15:36] Borda commented on #678
lest also explore auto-canceling via group: https://github.com/marketplace/actions/auto-cancel-redundant-workflow

[2021-12-15 19:26] stancld opened #685 "Split `text` metrics into `text` and `speech` metrics."
## 🚀 Enhancement

Split `text` metrics into `text` and `speech` metrics.

### Motivation

Currently, both `text` and `speech` metrics are all stored under `text` metrics. However, I think there are some good reasons why they should/may be split into two categories:
1. Text and speech are two different modalities
2. For `text` metric evaluation, we allow evaluating a hypothesis against multiple ref

[2021-12-15 19:35] stancld opened #686 "Unify the input order for `text` (NLG) metrics"
## 🚀 Enhancement

Unify the input order for `text` (NLG) metrics

### Motivation

We aim to unify text (NLG) metrics in a way that all of them will allow evaluating a hypothesis against multiple references. Nonetheless, there remains another distinction as some metrics presume `preds, targets` input order, while some expect `targets, preds` order. With respect to the whole TM ecosystem, we will go

[2021-12-16 01:26] #482 closed

[2021-12-16 09:09] Borda commented on #685
could you pls elaborate more on the difference as we would also need to make such an explanation in docs...

[2021-12-16 12:14] Borda commented on #686
I would try to make it for this `0.7`

[2021-12-16 16:08] SkafteNicki commented on #685
Is there a difference between `speech` and `audio`?

[2021-12-16 16:11] SkafteNicki commented on #686
If this is as simple as changing the order in a couple of metrics, then lets fit it into `0.7`

[2021-12-17 08:33] OlofHarrysson commented on #677
Ok. By looking at the time spent on different code parts, there's a section that can be reworked to speed up the calculations by almost ~2 if `class_metrics=True`.

[code]

The results from `self._evaluate_image(...)` can be saved so it's not recomputed twice in the `compute()` method.

[code]

Seems like an easy fix.

But measuring time on this data can be a bit misleading as there is always one

[2021-12-17 09:45] stancld commented on #686
Yes, I think it's a simple change that affects only `ROUGEScore` and `BERTScore`:]

[2021-12-17 18:26] #667 closed

[2021-12-18 08:33] ashutoshml commented on #686
@stancld Incase you aren't working on this, I can take it up.

[2021-12-18 08:54] stancld commented on #686
@ashutoshml I've been finishing some other stuff, so it'd be great if you can have a look! O:]

[2021-12-18 18:18] SkafteNicki commented on #686
@stancld is there a reason why we should standardize to
`target, preds`
instead of
`preds, target`
as the remaining codebase?

[2021-12-18 18:40] stancld commented on #686
And actually I see that in the TM version `0.6.x` there were only `BLEUScore` which had `target, preds` pattern

[2021-12-18 18:42] ashutoshml commented on #686
Also, naming standardization would help
`targets` or `references`?
`preds' or 'hypothesis`?

I personally would prefer `references` and `predictions`.

[2021-12-18 18:50] stancld commented on #685
It seems to me that, for now, `speech` metrics consume text inputs while `audio` ones consider tensor inputs

[2021-12-18 23:22] Borda commented on #686
I think that standardization would be needed, for example, if you have a collection and one of the metrics have its inputs in reverse order, could be bad...

[2021-12-19 05:06] ashutoshml commented on #686
In case we decide on the order `targets, preds`, the current PR is ready for review.
If `preds, targets`, we might need to change the requirements/description of the issue, and change all files, other than the ones I have currently changed.

[2021-12-20 14:54] tkupek commented on #677
I do have a real-world detection model + data on hand where I can test your improvements. Will hopefully find some time in the next 1-2 weeks.

[2021-12-21 10:19] Borda commented on #659
I think we can use this code, right?
https://github.com/PyTorchLightning/lightning-bolts/blob/0.5.0/pl_bolts/metrics/object_detection.py

[2021-12-21 15:02] twsl commented on #659
There is an even easier solution if we use torchvision. I can create a draft tomorrow

[2021-12-21 15:31] Borda commented on #659
I would try to keep own implementations if possible :rabbit:

[2021-12-21 16:28] twsl commented on #675
@SkafteNicki the refered proposal takes care of the pytest arguments. Each method there accepts a device to run on. I just dont know if that option is already supported in the ddp implementation

[2021-12-22 09:01] stancld commented on #686
@SkafteNicki So I guess we will go for `preds, targets` order for all metrics? :]
cc: @ashutoshml

[2021-12-23 09:43] ashutoshml commented on #686
Slightly confused.
What should be the final order then? `targets, preds` or `preds, targets`?

[2021-12-23 09:51] stancld commented on #686
As also suggested in [#687](https://github.com/PyTorchLightning/metrics/pull/687#discussion_r773769245), we will go with `preds, targets`. I'll re-formulate the issue. Sorry for the confusion @ashutoshml :]

[2021-12-23 10:24] ashutoshml commented on #686
@stancld Thanks for updating the issue. I'll start working on it this weekend.

[2021-12-23 13:04] Chrixtar opened #693 "Keyword Argument Filtering for Metric Compositions/Collections does not behave as expected"
## 🐛 Bug
Metric collections / compositions (using metric arithmetics) do not filter keyword arguments based on update signature, if a metric does not expect any of the given keyword arguments.

### To Reproduce
Steps to reproduce the behavior:
[code]
The output of this function is as follows:
[code]
### Expected Behavior
If a metric does not expect any of the given keyword arguments, it should be

[2021-12-26 11:39] ashutoshml commented on #686
@stancld: Should I modify all the files in `torchmetrics/text` to have `predictions` and `targets` or only the ones you've mentioned in the description of this issue?

[2021-12-27 16:11] tkupek commented on #677
I performed the tests on a real-world dataset and the CUDA issue confirms:

CPU
[code]

CUDA
[code]

I will now test the performance impact of your suggestions and try to get insights from the profiler.

[2021-12-28 17:40] mathemusician commented on #686
@ashutoshml @stancld Now I'm really confused. I thought it was `preds` and `targets`, not `predictions` and `targets`?

[2021-12-28 17:47] ashutoshml commented on #686
@mathemusician Use `predictions` and `targets` as naming.
The earlier comments were primarily for the order of inputs by the metrics.

[2021-12-29 16:16] twsl commented on #678
[concurrency](https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency) is preferred because the auto-cancel repo is no longer maintained

[2021-12-30 08:01] 2533245542 opened #700 "Add AUPRC metric"
## 🚀 Feature

Currently there is only Precision-Recall curve, but like AUROC, AUPRC is also a common metric for classification tasks.

### Motivation

### Pitch

### Alternatives

### Additional context

[2022-01-01 03:03] 2533245542 opened #701 "Code example error for AveragePrecision and PrecisionRecallCurve"
## 📚 Documentation
In their binary case code examples, the `pred` inputs are integers, but shouldn't they be probabilities?
<img width="575" alt="image" src="https://user-images.githubusercontent.com/28517073/147843097-ca5049ac-c3e0-4aa8-8988-b670552d1956.png">

Here is the scikit-learn counterpart, where probabilities are used.

<img width="520" alt="image" src="https://user-images.githubusercont

[2022-01-01 03:13] #700 closed

[2022-01-02 15:02] Borda commented on #596
@edwardclem still interested in sending the PR?

[2022-01-02 23:58] edwardclem commented on #596
Whoops, let this slip! Yup, I'll fix it up and submit one ASAP.

[2022-01-03 13:58] walidsst opened #703 "ImportError: cannot import name 'SDR' from 'torchmetrics.audio'"
I have the following:
version : '0.6.2'
python: 3.7

[code]

Traceback (most recent call last):
  File "trainer.py", line 5, in <module>
    from train.train import Trainer
  File "/home/**/train.py", line 5, in <module>
    from torchmetrics.audio import SDR
ImportError: cannot import name 'SDR' from 'torchmetrics.audio' (/home/**/torch/lib/python3.7/site-packages/torchmetrics/audio/__init__.py)

[2022-01-03 15:06] Borda commented on #703
@walidsst I think that you swapped it with Scale-invariant signal-to-distortion ratio (SI-SDR), checking the history and seems it was always `SI_SDR` not just `SDR`... cc: @quancs @SkafteNicki

[2022-01-03 15:07] Borda commented on #693
@justusschock mind have a look :rabbit:

[2022-01-03 15:08] stancld opened #704 "Clean `text` tests - remove `input_order` argument"
## 🚀 Clean `text` tests - remove `input_order` argument

As we aim to unify `preds, target` order across the `text` package, we can remove the `input_order` argument from `torchmetrics.tests.text.helpers._class_test` and `torchmetrics.tests.text.helpers._functional_test` methods.

I can do that once #696 will be merged :]

cc: @Borda @SkafteNicki

[2022-01-03 15:08] Borda commented on #685
yeah, but if `speech` has input text, why not keep it as `text`?

[2022-01-03 15:12] walidsst commented on #703
I found it in the docs of the package [here](https://torchmetrics.readthedocs.io/en/latest/references/modules.html#sdr) alsoo the sdr in functional doesn't exist but in docs exist check [here](https://torchmetrics.readthedocs.io/en/latest/references/functional.html#sdr-func)

[2022-01-03 15:19] Borda commented on #701
yeah, it shall be named as multi-class or fix the prediction... are you interested in sending PR with a quick fix? :]

[2022-01-03 15:24] Borda commented on #703
ohh, I see now, the case is that it was added recently but it was not released yet...
you are referring to the **latest** docs not **stable**, so to get this metric you need to run
[code]
 or wait for the next v0.7 release which is coming soon

[2022-01-03 15:24] #703 closed

[2022-01-03 15:49] walidsst commented on #703
yeah I didn't know, I check the last released package it was as mine, thank you for the clarification.

[2022-01-03 18:03] jscottcronin commented on #701
@Borda - I'm looking to get more involved with contributions for pytorch lightning. Are you ok if I pick up this issue?

[2022-01-03 19:59] jscottcronin commented on #701
There is already an example for multi class, so I went ahead and updated the documentation for the binary class to fix the prediction values as floats. Also updated the values of `precision`, `recall`, and `thresholds` to match the output and validated that the floats match that from sklearn. Will link to the PR once completed.

[2022-01-03 20:26] jscottcronin commented on #701
Hmm, it looks like I also need to do this update for AveragePrecision

[2022-01-03 20:32] stancld commented on #685
@Borda I also see the difference that `text` predictions can be naturally compared against multiple references, which is not the case for `speech` (at least I guess)... However, I have no strong opinion on this for now so we can definitely leave it as it is :]

[2022-01-03 20:41] Borda commented on #685
well, I think that with this we go into too many details and we could also talk about if binary and multi-label classification shall be in a single package... :rabbit: lest put it on hold and reopen later if we have more reasons for such split... :angel:

[2022-01-03 20:43] stancld commented on #685
yep, agree :]

[2022-01-03 20:43] #685 closed

[2022-01-04 10:40] justusschock commented on #693
@Borda the issue is this line: https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/metric.py#L566 if no kwarg was found, the filter mecahanism returns all kwargs to match possible **kwargs. We could check if some **kwargs exist and only in that case return all kwargs

[2022-01-04 13:28] mona0809 opened #708 "ConfusionMatrix is float32 which gives slightly varying ground truth counts"
## 🐛 Bug

confmat in ConfusionMatrix is of data type float32 (see: https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/classification/confusion_matrix.py#L121). This results in slightly varying ground truth counts when the confusion matrix contains a lot of values (e.g. for semantic segmentation):

### To Reproduce

Steps to reproduce the behavior:

[code]

The output is:

[code]

[2022-01-04 19:17] #686 closed

[2022-01-04 19:18] #596 closed

[2022-01-04 19:56] #693 closed

[2022-01-04 20:14] #701 closed

[2022-01-04 20:52] Borda commented on #708
interesting, probably using float64 or uint64 would help... are you interested in sending fix? :rabbit:

[2022-01-05 07:31] ryandaryl commented on #625
I'm beginning some exploratory work on this feature now in consultation with @timesler .

[2022-01-05 16:18] stancld opened #716 "Unify `preds, target` input arg naming across all `text` metrics"
## 🚀 Enhancement / API / design

Unify `preds, target` input argument naming across all `text` metrics.

Metrics:
- [x] `bert` #723
- [x] `bleu` #723
- [x] `cer` #727
- [x] `chrf` #723
- [x] `mer` #727
- [x]  `rouge` #727
- [x] `sacre_bleu` #723
- [x] `ter` #727
- [x] `wer` #727
- [x] `wip` #723
- [x] `wil` #723
- [x] `squad` #727

Additional context:

@ashutoshml and I will handle that.

[2022-01-05 16:20] stancld commented on #716
@ashutoshml

[2022-01-05 17:18] jscottcronin commented on #704
@stancld @Borda - I can take this one. Please assign to me?

[2022-01-05 20:39] jscottcronin commented on #704
PR Created: https://github.com/PyTorchLightning/metrics/pull/717

[2022-01-05 22:49] #704 closed

[2022-01-06 02:07] ashutoshml commented on #716
@stancld: Sounds good. I'll start working on `cer, ter, wer, sacrebleu, rouge, squad`

[2022-01-06 11:32] SkafteNicki opened #719 "Expand section in docs"
## 📚 Documentation

Expand the "Metrics API references" section by default. It is the core part of this package and it make no sense that the user have to expand the section to actually get  since that only have two subsections "Module metrics" and "Functional metrics"
<img width="263" alt="Screenshot 2022-01-06 at 10-50-27 TorchMetrics documentation — PyTorch-Metrics 0 7 0dev documentation" src="

[2022-01-06 11:34] SkafteNicki opened #720 "Unify naming of domains"
## 📚 Documentation

In both the "Module metrics" and "Functional metrics" subsections we are inconsistent with how we have the domains:
They should either be just the domain name or have the "metrics" postfix. IMO it should just be the domain name.

![Screenshot 2022-01-06 at 11-19-19 Module metrics — PyTorch-Metrics 0 7 0dev documentation](https://user-images.githubusercontent.com/24896311/148376

[2022-01-06 15:47] #719 closed

[2022-01-06 20:32] Borda opened #726 "reimplement PESQ"
## 🚀 Feature

reduce dependency and ideally implement it with Pytorch

### Motivation

preferable in-house solution...
there is some strange collision between `pesq`
https://github.com/ludlows/python-pesq/blob/05f835a196ea1aea01e6d7e51c38a242e9049b64/setup.py#L46
and used `pycocotools` for testing
https://github.com/cocodataset/cocoapi/blob/8c9bcc3cf640524c4c20a9c40e89cb6a2f2fa0e9/PythonAPI/setup.

[2022-01-06 20:52] Borda commented on #655
cc: @aribornstein @ethanwharris

[2022-01-07 04:26] Hommus commented on #613
I've had a similar experience using ignore_index with IoU (Jaccard Index), where the IoU value will start at 100.00 and as training progresses the value tends towards 0.

[2022-01-07 04:47] tchayintr commented on #613
Since I am not sure about the original intention of ```ignore_index```.
To make it works as the expected behavior for now, I make some modifications for the tensor before passing to the ```torchmetric.F1()```;

[code]

[2022-01-07 07:29] AndresAlgaba commented on #720
I will fix this :)

[2022-01-07 09:48] Borda opened #729 "Unify functional metrics names"
## 🚀 Feature

let's unify the names of the metrics across the package and use `sklearn` and good [reference](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics)

### Motivation

let's apply the same assumption for all domains and preferably use fully expanded names (as a new person to the domain may not know the particular abbreviation)

### Pitch

be consistent across dom

[2022-01-08 20:31] #720 closed

[2022-01-09 21:05] getgaurav2 commented on #729
@Borda  - I will  take `hinge -> hinge_loss`...Thank you

[2022-01-09 21:27] Borda opened #733 "Improve doctests - conditional dependency skip"
## 🚀 Feature

use conditional skip for doctest which are showing metrics with additional dependency
Thx @ethanwharris for finding this nice pytest extension - `pytest-doctestplus`
see sample usage: https://github.com/astropy/pytest-doctestplus#doctest-dependencies

### Motivation

have all doctests/examples tested again

### Pitch

At this moment we are skipping all which are not pure PyTorch so t

[2022-01-10 09:14] #522 closed

[2022-01-10 12:24] ethanwharris commented on #733
This is how we do it in Flash:
[code]
Then enable pytest-doctestplus in `setup.cfg` with `doctest_plus = enabled`

[2022-01-10 13:59] puhuk commented on #729
@Borda Can I take pit

[2022-01-10 15:41] cuent commented on #729
I can take `fbeta_score` if @Fariborzzz hasn't yet started 😄

[2022-01-10 15:58] Fariborzzz commented on #729
@cuent Take it please.
I'm having some problems with my local git, might take some time to fix it 😄.

[2022-01-10 16:05] cuent commented on #729
Okay, :) if you have working commits, I can start from there 😄

[2022-01-10 16:09] Fariborzzz commented on #729
here is the commit which also includes PSNR changes.  https://github.com/PyTorchLightning/metrics/pull/732/commits/8c7c062dbc750bbf1faa1e85eb8235ef4253f044

[2022-01-10 19:05] #708 closed

[2022-01-10 19:07] Borda commented on #729
still would need back-compatibility patch but good start :rabbit:

[2022-01-10 20:35] #635 closed

[2022-01-10 22:26] stancld opened #741 "Remove `type: ignore` across `text` metrics"
## Code health

Remove `type: ignore` statements used on various places across `text` metrics that are used for `mypy` compatibility when handling the backward compatibility during the transition to the unified `preds, target` input naming.

Following issue #716 and PRs #723, #727

[2022-01-11 12:27] Borda opened #744 "use `FutureWarning` for deprecations"
## 🚀 Feature

see suggestion in https://github.com/PyTorchLightning/metrics/pull/740#discussion_r782088021

### Motivation

most of the deprecations in TM are meant to users not developers

### Alternatives

### Additional context

- **exception `DeprecationWarning`** Base class for warnings about deprecated features when those warnings are **intended for other Python developers**. _Ignored by the

[2022-01-12 06:40] FeryET opened #746 "F1, Accuray, Precision and Recall all output the same value consistently in a binary classification setting."
## 🐛 Bug

I am trying to report F1, Accuracy, Precision and Recall for a binary classification task. I have collected these metrics in a `MetricCollection` module, and run them for my `train`, `val` and `test` stages. Upon inspecting the results, I can see that all of these metrics are showing the exact same value.

### To Reproduce

Create a random binary classification task and add these metrics

[2022-01-12 11:14] Borda commented on #746
seem to be duplicate to #543 if you still find this in need, feel free to reopen :rabbit:

[2022-01-12 11:32] FeryET commented on #746
Sorry if I'm reopening the issue, but I think this is at the very least an issue with the documentation. The way the `micro` option is computed is confusing. Can you explain to me how exactly these options work in torchmetrics? I read the documentation before using these but was sure `micro` was the flag I should have used.:-/ I write what I had thought first upon inspecting the documentations, so

[2022-01-12 11:46] Borda commented on #746
cc: @SkafteNicki @aribornstein

[2022-01-12 17:03] jscottcronin commented on #744
@Borda - I can take this issue.

As I understand, I will convert `DeprecationWarning` objects to `FutureWarning` in PR: https://github.com/PyTorchLightning/metrics/pull/740

Correct?

[2022-01-12 17:17] Borda commented on #741
I think that this won't be needed in the end... :rabbit:

[2022-01-12 17:17] #741 closed

[2022-01-12 17:18] Borda commented on #744
@jscottcronin lets wait till all deprecation lands, and then I think it ll be updating stream in #745

[2022-01-13 08:07] Borda commented on #729
Well done everyone!
@cuent @Fariborzzz @puhuk @getgaurav2

[2022-01-13 08:09] Borda commented on #716
great work @stancld @ashutoshml! :tada:

[2022-01-13 08:09] #716 closed

[2022-01-13 11:46] stancld commented on #716
@ashutoshml Thanks a lot for your contribution! O:]

[2022-01-13 12:29] quancs commented on #726
I'm not sure if it legal to do so... Seems the pesq is owned by some organization

https://github.com/ludlows/python-pesq/blob/master/pesq/dsp.h

[2022-01-13 16:56] Borda commented on #744
can you make it today so we can shoot the final release soon after?

[2022-01-13 16:59] jscottcronin commented on #744
@Borda No problem, working on it now.

[2022-01-13 18:17] stancld commented on #733
@Borda Is there any help needed to finish `v0.7`? :]

[2022-01-13 20:07] Borda commented on #733
It would be nice, but not rush with this one =)

[2022-01-13 20:25] #744 closed

[2022-01-14 12:17] SkafteNicki commented on #726
Agree with @quancs, the text is pretty clear:
[code]
we would violate 1. Closing issue.

[2022-01-14 12:17] #726 closed

[2022-01-14 12:32] Borda commented on #726
Well, how about we implement it purely in Python/PyTorch no compiled C code?

[2022-01-14 13:36] ethanwharris opened #756 "missing 'ROUGEScore' from 'torchmetrics.text' in 0.7.0rc0"
## 🐛 Bug

ImportError: cannot import name 'ROUGEScore' from 'torchmetrics.text' in 0.7.0rc0
See: https://github.com/PyTorchLightning/lightning-flash/runs/4817286433?check_suite_focus=true

[2022-01-14 15:39] Borda commented on #678
we can benefit from principle that domains are independent, so we can for each PR determine if it is related only to domain level (adding new NLP metric) or it affects all metrics (for example changes in the base `Metrics` class)

[2022-01-14 20:56] jscottcronin commented on #659
@Borda - I can take this issue :)

[2022-01-14 22:33] #756 closed

[2022-01-14 23:03] daniellepintz commented on #744
Should we do the same for Lightning?

[2022-01-17 10:05] #733 closed

[2022-01-17 13:05] daMichaelB opened #766 "Metric Cache seems to get inconsistent when state variable is a list"
## 🐛 Bug

I debugged into this for a longer time now. I am not 100% sure if it is a bug, but i have no idea what i am doing wrong.

I have attached my custom metric to the `Trainer` and call `trainer.validate(model, datamodule)` to compute the metric on the whole Validation set. In each step i print my metric in the `.compute()` function.

What confused me a lot is, that the `val_mymetric` value i

[2022-01-17 13:40] daMichaelB commented on #766
Creating a new list-object instead of clearing the existing one seems to fix it. The list in cache is then a different object then in the metric. Maybe worth mentioning in docs?

[code]

[2022-01-17 13:44] ramonemiliani93 opened #767 "Remove for loop on calibration error."
## 🐛 Improvement

More than a bug I wanted to see if the calibration error could be speed up by removing the loops and using native pytorch operations. Please correct me if I am wrong but the current implementation could go from:

[code]
To something similar to this:
[code]

[2022-01-17 19:30] Borda commented on #767
@ramonemiliani93 we are more than happy to welcome your help and if you are willing to send a PR with improvement...

[2022-01-17 19:32] Borda commented on #766
@daMichaelB what TorchMetrics version are you using? :rabbit:

[2022-01-17 19:49] ramonemiliani93 commented on #767
@Borda Sure! Let me work on it 👌

[2022-01-17 20:33] daMichaelB commented on #766
Hey @Borda: it is version 0.6.2

[2022-01-17 21:56] daavoo opened #770 "Error importing torchmetrics"
## 🐛 Bug

When `transformers.models.auto` is imported somewhere before `torchmetrics`, the following error is raised: `ValueError: transformers.models.auto.__spec__ is None`.

I believe this is caused by how transformers lazyly [adds this module to `sys.modules`](https://github.com/huggingface/transformers/blob/master/src/transformers/models/auto/__init__.py#L251) combined to how torchmetrics chec

[2022-01-17 22:35] Borda commented on #766
mind send a PR?
cc: @SkafteNicki

[2022-01-17 23:04] Borda opened #771 "Prune deprecated metrics"
## 🚀 Feature

Remove all deprecated metrics, lets group this cleaning per domain:
- [x] audio #805
- [x] image #796
- [x] classification & regression #806
- [x] detection & pairwise #804
- [x] text #773

### Additional context

[2022-01-17 23:15] Borda commented on #770
that is interesting, I can replicate it and it is about this combination in a single python call, in contrast, if I call them separately everything works fine:
[code]

[2022-01-18 03:32] ashutoshml commented on #771
@Borda Can help with text

[2022-01-18 08:14] daMichaelB commented on #766
Sure! I will add a PR to mention it in the docs

[2022-01-18 20:27] tridao opened #779 "Matthews correlation coefficient should return 0 instead of NaN"
## 🐛 Bug

By [definition](https://en.wikipedia.org/wiki/Phi_coefficient), "if any of the four sums in the denominator is zero, the denominator can be arbitrarily set to one; this results in a Matthews correlation coefficient of zero, which can be shown to be the correct limiting value."
However, the [code](https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/functional/classificati

[2022-01-19 01:32] tridao commented on #530
I agree that this could be quite misleading for the default to diverge from sklearn (which I assume is most ppl are used to).

[2022-01-19 11:08] stancld commented on #633
Hi @Rajathbharadwaj, any updates? :]

[2022-01-19 11:20] stancld opened #780 "Add `RetrievalRecallAtFixedPrecision`"
## 🚀 Feature

Add a new metric calculating (retrieval) recall at K at fixed precision  (typically `K=1` for this case).

### Motivation

From my experience in IR, there are use cases when a user should be provided with some results on top position (e.g. featured snippets in google search) only with some precision threshold. Subsequently, one may be interested in the recall to know which portion of

[2022-01-19 12:29] SkafteNicki commented on #766
Hi @daMichaelB,
Maybe I am misunderstanding something here, but normally we do not recommend that users implement their own `reset` method. If all states are initialized with `self.add_state` the default `reset` method will reset them for you:
https://github.com/PyTorchLightning/metrics/blob/43a226101e05ec8e5a5fe4ad64b90c44af1a3b34/torchmetrics/metric.py#L396-L409
In the case of list it will autom

[2022-01-19 14:31] daMichaelB commented on #766
Hey @SkafteNicki . Oh damn, that explains a lot. Thanks for clarification. then i misunderstood this 😄
I guess we can then close it ?! Thanks!

[2022-01-19 14:46] ThScheeve opened #782 "Accuracy outputs conflicting results in a binary classification setting"
## 🐛 Bug

`Accuracy` (functional implementation; most likely the module as well) gives conflicting results. `StatScores` (functional) does give expected results when I follow the docs.

As so many input types are supported and (therefore) we have so many parameter options/combinations, it is hard to understand when to use which combination of `average`/`reduce`, `multiclass`, `num_classes`.

### T

[2022-01-19 15:28] SkafteNicki commented on #766
Hi @daMichaelB ,
No I think this is a clear indication that we do not communicate well enough that `reset` method should not be implemented by the user. So let's keep it and figure out a doc fix :]

[2022-01-19 21:34] #779 closed

[2022-01-19 21:38] Borda commented on #766
@daMichaelB could have an idea how to reformulate it... mind sending your proposal as a PR?

[2022-01-19 21:39] Borda commented on #782
@stancld mind have look at this one? ^^ :rabbit:

[2022-01-19 21:40] Borda commented on #656
@SkafteNicki or @lucadiliello mind have look? :]

[2022-01-19 21:41] Borda commented on #613
@tchayintr would you be interested in sending a PR and @stancld may help if needed? :rabbit:

[2022-01-19 21:42] Borda commented on #452
@SkafteNicki so this shall be addressed within the suggested classification revamp, correct? :rabbit:

[2022-01-19 22:19] Rajathbharadwaj commented on #633
Hey sorry about the delay. I will start contributing, been a bit busy.

Thanks.

[2022-01-20 01:35] #54 closed

[2022-01-20 01:35] #485 closed

[2022-01-20 10:21] tchayintr commented on #613
@Borda Sure.
Let me throughly review the code, particularly ```metrics/torchmetrics/functional/classification/stat_scores.py```, before considering possibilities and drafting a PR.

[2022-01-20 12:26] lucadiliello commented on #656
I found that the bug is caused by the checks on the following lines:

https://github.com/PyTorchLightning/metrics/blob/e2f7105ddd97371042b9a5bc5a49404109d42c83/torchmetrics/utilities/checks.py#L418 and
https://github.com/PyTorchLightning/metrics/blob/e2f7105ddd97371042b9a5bc5a49404109d42c83/torchmetrics/utilities/checks.py#L421
and the fact that the default value of `multiclass` is `None`.
However

[2022-01-20 14:17] mossaab0 opened #784 "Instance Weighting"
## 🚀 Feature

Support providing weights for instances (not classes).

### Motivation

As is the case with search engines, I have a dataset in which a document (e.g., query) might appear more than once. From a binary relevance stand point (i.e., the classification task), all occurrences of the same document have the same label. To save some memory and computation, instead of having a unique documen

[2022-01-20 14:20] SkafteNicki commented on #766
@daMichaelB could you take a look at PR #785 if that improves the documentation on this issue?

[2022-01-20 14:55] daMichaelB commented on #766
Hey @SkafteNicki . Thats perfect! thank you very much for the great work here! I think that makes it very clear

[2022-01-20 15:44] SkafteNicki opened #789 "Deprecate `compute_on_step`"
## 🚀 Feature

Deprecate `compute_on_step` argument in all modular metrics.

### Motivation

Setting `compute_on_step` argument to `False` essentially turn `forward` into `update`, since this is the only code that is then being executed:
https://github.com/PyTorchLightning/metrics/blob/5b6cb1d0e735544e6c42cc39bbe7eb29561b75e1/torchmetrics/metric.py#L204-L205
It is sometimes a good thing to have mul

[2022-01-20 15:58] Borda commented on #789
I do not have any very strong opinion, I feel we can deprecate it... :rabbit:
cc: @PyTorchLightning/core-metrics

[2022-01-20 19:18] #767 closed

[2022-01-20 20:52] stancld commented on #782
@Borda @SkafteNicki

I've had a look specifically at the problematic case and found out that for:
[code]

the derived classification mode is: `DataType.MULTICLASS`, even though it is explicitly set `multiclass=False` in the function call. As the result of this discrepancy, the calculation diverges within the [`_acuracy_compute`]( https://github.com/PyTorchLightning/metrics/blob/51d952d3e969d68d966

[2022-01-24 07:28] edwardpwtsoi opened #793 "[Doc] Confusion in the torchmetric with lightning"
## 📚 Documentation

https://torchmetrics.readthedocs.io/en/stable/pages/lightning.html

In the second session, it stated that `Metric objects can also be directly logged in Lightning using the LightningModule self.log method. `

And I tried to log the MAP metric for object detection and it will resulted in an error which trying to call detach method of the return of the metric which indicated this

[2022-01-24 11:01] OlofHarrysson opened #794 "MeanAveragePrecision incorrect calculations when predictions are empty"
## 🐛 Bug

There seem to be some strange results when an image contains GTs but no predictions. This image is not considered when summarizing the results from all images. I've created a test to illustrate this

#### Code sample

[code]

I believe that there is some error in `torchmetrics/detection/map.py MeanAveragePrecision._evaluate_image()`.

[code]

When `len(det_label_mask) == 0` the function

[2022-01-24 14:34] SkafteNicki commented on #793
Hi @edwardpwtsoi , thanks for raising this issue and sending a PR :]
However, it seems that you have opened the PR in your own fork. Can you re-send to this repository?

[2022-01-24 17:03] #793 closed

[2022-01-25 12:55] SkafteNicki commented on #794
cc: @tkupek, @twsl

[2022-01-25 18:45] ananthsub commented on #789
@SkafteNicki  - n00b question: why should forward call update vs the functional definition of the metric if available?

[2022-01-25 23:00] Borda opened #799 "More image metrics"
## 🚀 Feature

just found this package and seems we have not yet all Image metrics :]
some inspiration came from https://github.com/andrewekhalel/sewar but we aim on own implementation with `torch`

### Alternatives

- ~Mean Squared Error (MSE)~
- ~Root Mean Sqaured Error (RMSE)~
- ~Peak Signal-to-Noise Ratio (PSNR)~
- ~Structural Similarity Index (SSIM)~
- ~Universal Quality Image Index (UQI)~
- ~

[2022-01-25 23:02] Borda commented on #794
@OlofHarrysson could you please clarify what TM version you are talking about? :rabbit:

[2022-01-26 06:53] nishant42491 commented on #799
i would like to work on this can you assign it to me

[2022-01-26 07:06] ankitaS11 commented on #799
Hi, @Borda

Thanks for creating the issue tracker. Would love to help in this, as I also look forward to contributing to the lightning framework.

I would like to begin with MSE and RMSE, if that's fine with you and everyone else. Please let me know if I can start working on these two metrics.

Thanks!

[2022-01-26 07:53] SkafteNicki commented on #799
@ankitaS11 Please note we already have MSE and RMSE in the regression package:
https://torchmetrics.readthedocs.io/en/latest/references/modules.html#meansquarederror (this takes an `squared` argument)
So I do not think we should re-implement them in the image domain.

[2022-01-26 08:02] Borda commented on #799
cool, which one do you want to take? (we have many :zap:)

[2022-01-26 08:07] ankitaS11 commented on #799
Hi, @SkafteNicki - Got it. Thank you for updating the issue as well, I can try Quality with No Reference then, just want to also make sure that it doesn't collide with @nishant42491. Nishant, curious to know if you have any metric in mind to pick up first? I can pick the others then, if that's okay.

[2022-01-26 08:36] SkafteNicki commented on #789
@ananthsub forward will still have a double purpose of both returning the metric on the current batch and adding to the global metric state. So this will be the recommend way to do things in TM:

* want the metric only on the current batch -> call functional
* want to only aggregate the metric for all batches -> call update and then compute
* want both metric on current batch + aggregation for all

[2022-01-26 08:59] #766 closed

[2022-01-26 09:22] justusschock commented on #799
@Borda @SkafteNicki are we aiming for an integration or a direct torch reimplementation here?

[2022-01-26 09:25] Borda commented on #799
reimplementation, I put this package just as inspiration for what other image metrics exist...

[2022-01-26 09:28] justusschock commented on #799
I'd think so as well :)

@ankitaS11 @nishant42491 You can however use this package for testing :)

[2022-01-26 10:15] nishant42491 commented on #799
@Borda @ankitaS11  may I start with implementing spatial correlation coefficient first?

[2022-01-26 10:17] justusschock commented on #799
@nishant42491 sure, I'll add you to it. Open a draft PR early and ping us there if you need help :)

[2022-01-26 10:19] nishant42491 commented on #799
thank you :)

[2022-01-26 20:52] ananthsub commented on #789
@SkafteNicki would this be the pseudocode for `forward` in the future?
[code]

[2022-01-26 22:22] Borda opened #803 "re-implement SDR"
## 🚀 Feature

seems we start to have hanging tests with SDR, moreover `fast_bss_eval` is only v0.1
moreover checking some license discrepancies as TM uses apache and BSS is MIT

### Motivation

reduce dependencies :rabbit:

### Alternatives

keep them only as a reference for testing

### Additional context

[2022-01-26 22:25] Borda commented on #633
no pressure, take your time :rabbit:

[2022-01-26 22:26] Borda commented on #771
@ashutoshml would you take some more? :rabbit:

[2022-01-26 22:34] Borda commented on #393
@YovelRom are interested in contributing this metric? :rabbit:

[2022-01-27 08:26] ashutoshml commented on #771
@Borda Done. Please check.
Integration test is failing for #806 for `python 3.6`. Not sure how to resolve it.

[2022-01-27 09:44] ashutoshml commented on #771
@Borda Please check #804  and #805 as well.

[2022-01-27 09:53] Borda commented on #771
@ashutoshml very helpful, THANK YOU!

[2022-01-28 07:28] Piyush-97 commented on #799
I would like to work on Relative Average Spectrul Error, it would be a great way for me to learn new stuff.

[2022-01-28 10:09] inpefess opened #807 "The authors affiliation info is incomplete in paper.md"
For more details see https://github.com/openjournals/joss-reviews/issues/4101#issuecomment-1022812990

[2022-01-28 10:28] inpefess opened #808 "pip install failure for Python 3.10"
## 🐛 Bug

pip fails to install required dependencies

### To Reproduce

Steps to reproduce the behavior:

[code]

### Expected behavior

`pip` instals all dependencies itself and then installs `torchmetrics`.

### Environment

- PyTorch Version (e.g., 1.0): No
- OS (e.g., Linux): Ubuntu 21.10
- How you installed PyTorch (`conda`, `pip`, source): pip
- Build command you used (if compiling from sour

[2022-01-28 10:41] inpefess opened #809 "Missing DOI in paper.md"
For more details please look [here](https://github.com/openjournals/joss-reviews/issues/4101#issuecomment-1022813164) and [here](https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax)

[2022-01-28 10:50] Borda commented on #808
I think the problem comes from PyTorch dependency as they have not officially released wheels for python 3.10 so for this python version you would need to compile PyTorch from the source... the binaries for python 3.10 are expected for PT 1.11

see: https://github.com/pytorch/pytorch/issues/66424

[2022-01-28 11:13] inpefess commented on #808
So, `torchmetrics` doesn't support Python 3.10 officially, although there is a badge claiming that on the front page. PyTorchLightning doesn't claim 3.10 support, for example, and `torch` documentation recommends using 3.6, 3.7, or 3.8.

I suggest either dropping the Python 3.10 support claim or adding specific 3.10 installation instructions to the documentation as a form of weak support.

[2022-01-28 11:14] justusschock commented on #808
@inpefess you are correct. For now, we certainly need to remove the badge.

[2022-01-28 11:18] justusschock commented on #808
@inpefess I opened a PR to fix this, the badge will only update after the next release. However, we want to wait with that one for all reviews. Are you fine with that? Can you install it with python <3.10?

[2022-01-28 11:23] justusschock commented on #807
Hi @inpefess ,

Yes the author @maximsch2 chose not to have an affiliation. I asked the editor how to handle that (see https://github.com/openjournals/joss-reviews/issues/4101#issuecomment-1024121296)

[2022-01-28 11:29] justusschock commented on #809
Hi, Thanks a lot, I did look into this before and the missing doi is completely unrelated to the software it links it to.

The doi seems to be part of an encyclopaedia explaining the term `keras`. The software is cited as suggested by the authors [here](https://keras.io/getting_started/faq/#how-should-i-cite-keras)

[2022-01-28 11:29] #809 closed

[2022-01-28 11:58] Borda commented on #808
`torchmetrics` does but Pytorch does not provide wheels for it so when PT releases we would have it but if we change the tag we can't add it back so it won't be correct in two months' time that TM does not support 3.10 when it does...

[2022-01-28 12:59] sivakhno opened #811 "F1 compute metric warning"
## 🐛 Bug

Get a warning in F1 metric compute after following documentation: torchmetrics/utilities/prints.py:36: UserWarning: The ``compute`` method of metric F1 was called before the ``update`` method which may lead to errors, as metric states have not yet been updated. I checked docs and tutorials carefully and all looks correct to me - any suggestions would be most appreciated! Many thanks for

[2022-01-28 13:31] justusschock commented on #811
Hi @sivakhno

I think the issue is that you log it two times (once in your validation_step and once in the _epoch_end). This means, that it will likely be resetted already in the epoch_end. Can you try the following:

[code]

[2022-01-28 16:42] inpefess commented on #808
Sure, I've already done that! Thank you.

Yes, I think it's not a question of tags but the documentation. If it mentions that for Python 3.10, one should use Anaconda, no one will probably try doing something like I did. But I noticed the badge, executed the first line from the docs, and failed.

[2022-01-28 16:49] weningerleon opened #812 "3D SSIM"
The metrics `StructuralSimilarityIndexMeasure` and `MultiScaleStructuralSimilarityIndexMeasure` current only support 2D image data. A 3D version would be nice to have, and an extension to allow 3D data should be straightforward to implement. If you are interested in such an extension, I could take over the implementation.

[2022-01-28 18:56] riklopfer opened #813 "`RetrievalPrecision` hangs in DDP mode."
## 🐛 Bug

`RetrievalPrecision(k=1)` hangs in DDP mode. Running on a single node with multiple GPUs.

### To Reproduce

Steps to reproduce the behavior:

1. Run a model which computes `RetrievalPrecision` as a validation metric in DDP mode
2. Wait for it to hang on validation

Or

1. Run code below (successfully fails with `--gpus=0` or otherwise)
2. Observe the below error. **However** I am experi

[2022-01-28 21:09] Borda commented on #812
@weningerleon that would be a great addition, love to see your contributions! :rabbit:
cc: @SkafteNicki

[2022-01-29 11:11] cemde opened #815 "Improving Classwise Metrics Logging"
## 🚀 Feature
Simplify logging of classwise metrics.

### Motivation

Often, we are not only interested in averaged metrics, but also in classwise metrics. These cannot be used in well MetricCollections because the pytorch-lightning logging mechanism does not allow non-scalar values.

This code computing class wise recalls:

[code]

yields this error when computing the metricCollection together wit

[2022-01-30 10:34] Borda commented on #815
@SkafteNicki this may be a nice addition to the smart update, right? :rabbit:

[2022-01-31 09:16] sivakhno commented on #811
@justusschock - many thanks for fast reply and suggestions. I've used your code but still get the same warnings. They persist even if I turn off (False) on_epoch or on_step flags.

[2022-01-31 10:04] justusschock commented on #807
Fixed by #817

[2022-01-31 10:04] #807 closed

[2022-01-31 10:05] justusschock commented on #812
@weningerleon If you have a prototype, just open a PR and we can also see how we go there with testing

[2022-01-31 10:59] #808 closed

[2022-01-31 11:37] SkafteNicki commented on #813
Hi @riklopfer,
When trying to run your code I indeed also gets the error. However, I also get the following warning:
[code]
indicating that the retrieval precision metric is probably not behaving well due to it not being updated before you try to compute.

[2022-01-31 13:13] weningerleon commented on #812
Opened a PR. :)
The implementation produces sensible results on my data. If there's any standard way of testing please let me know. Once this gets green light, I'll have a look at MultiScaleStructuralSimilarityIndexMeasure.

[2022-01-31 15:37] riklopfer commented on #813
@SkafteNicki any suggestions on how to avoid this?

[2022-01-31 16:12] SkafteNicki commented on #813
@riklopfer Initialize the trainer with `num_sanity_val_steps=0`
[code]
problem is that doing the sanity checking the default is to check 2 batches. It is very likely that both batches end up updating `self.val_metrics_other` and not one for `self.val_metrics_other` and one for `self.val_metrics`, thus the latter end up having its metric state not updated before compute is called (at the end of the

[2022-01-31 16:25] SkafteNicki commented on #811
@sivakhno did you remove the `validation_epoch_end` method from your own example when you tried the solution of @justusschock. I am pretty sure that both logging the metric object `self.log(self.metric)` in validation step and logging the computed value `self.log(self.metric.compute())` is what gives the warning. When the metric object is logged, lightning will take care of resetting the metric fo

[2022-01-31 16:32] riklopfer commented on #813
@SkafteNicki you successfully debugged the BoringModel but my problem still exists. See the description -- the metric **hangs** in DDP mode -- does not raise and exception. I am struggling to reproduce the issue with minimal code.

Any idea why this metric would be hanging? Is there a way I can get more verbose output so I might see where it's hanging? Maybe there is a way that I can avoid having

[2022-01-31 16:36] riklopfer commented on #813
Unfortunately, it's confidential.

[2022-01-31 17:59] SkafteNicki commented on #813
Okay in general if a metrics hang it nearly always has to do with unequal workload between the different devices. If you directly had
[code]
then that is a near guarantee that it will hang. As I understand it, your code has an if-else statement and it is very likely that will lead to unequal workload.

For debugging, I am often doing the most stupid thing you can do: just print stuff. Printing sha

[2022-01-31 18:42] riklopfer commented on #813
Yeah. That's what I've been doing on this branch https://github.com/riklopfer/metrics/tree/retrieval-metrics-hang

The last message I see is from here: https://github.com/riklopfer/metrics/blob/93d639c6a022ca1cc7c6125ef1251ea13ee282ab/torchmetrics/utilities/distributed.py#L111

[code]

[2022-01-31 19:31] SkafteNicki commented on #813
Does it print multiple times? One for each process?

I am confident that it is this specific line where it hangs:
https://github.com/riklopfer/metrics/blob/93d639c6a022ca1cc7c6125ef1251ea13ee282ab/torchmetrics/utilities/distributed.py#L119
One process must be waiting for some other process at this point which they for some reason will never get to

[2022-01-31 20:27] riklopfer commented on #813
Yes.

That makes sense. It's just unclear to me why it's happening or how I can resolve it. As I mentioned at the top, this only seems to happen for the Retrieval metrics, so if I do the same thing and only compute e.g. F1Score, everything is fine. This indicates that there is something different in the RetrievalMetric that is causing the hang.

[2022-01-31 21:11] #677 closed

[2022-01-31 21:30] riklopfer commented on #813
https://github.com/pytorch/pytorch/pull/54159

Could this be the root cause of my issue?

[2022-02-01 07:58] SkafteNicki commented on #813
Not sure about that. Does not seem to be the problem to me.
I core difference between RetrievalPrecision and F1Score is in their states. In retrieval metrics the states are lists:
https://github.com/PyTorchLightning/metrics/blob/408cabed8120033dc6a904fa67902572dabe3ce7/torchmetrics/retrieval/base.py#L107-L109
whereas in most classification metrics they are tensors:
https://github.com/PyTorchLightn

[2022-02-01 08:34] ankitaS11 commented on #799
Hi, @Borda

I was going through the referenced repo (`sewar`) for QNR, and found that it depends on: `D_LAMBDA` and `D_S` - and both of them depend on `UQI`. So, probably it will be easier and more sensible to implement `UQI` first, and then go to `D_LAMBDA`, `D_S` and finally `QNR`.

Do you have any opinions on this? Just wanted to confirm if I'm moving in a right direction here. In a gist, I wou

[2022-02-01 08:36] justusschock commented on #799
Hey @ankitaS11 in that case it definitely makes sense to go with your proposed way :) I updated the issue. Just let us know here, when I should assign new metrics to you :)

[2022-02-01 15:18] riklopfer commented on #813
My use case is that I am training a semi-supervised model where I would like to see validation metrics for examples with observed labels and unobserved. The `rng.random() < 0.2` in BoringModel is a stand-in for `not has_supervision()`.

I am getting the impression that the way I have implemented this is not really supported. If that's the case, is there a preferred way to implement this? One idea

[2022-02-01 15:48] gianscarpe opened #821 "IOU type for mean average precision"
## 🚀 Feature
would be nice to have detection.map.MeanAveragePrecision similar to what pycocotools provides. In particular, introduced a parameter "iou_type" in order to choose between "bbox" and "segm" (for instance segmentation).

### Motivation
Having a metric for instance segmentation, which is currently unavailable.

### Pitch
Instantiate MeanAveragePrecision(..,, iou_type="segm") to evaluate

[2022-02-03 12:49] hookSSi opened #825 "Can add additional parameters in calculating scores like rouge?"
## 🚀 Feature

Add tokenizer, normalizer parameters in calculating scores like rouge

### Motivation

I wish I could consider another language when calculating scores like rouge

Because of `_normalize_and_tokenize_text`, I can only use english.

If only this is supported as a parameter, it will be good to be able to use other languages easily.

### Pitch

[code]

[code]

[2022-02-03 14:28] SkafteNicki commented on #825
cc: @stancld opinion?

[2022-02-04 06:42] razmikmelikbekyan opened #826 "Micro Average IoU"
## 🚀 Feature

It would be nice to have IoU accept parameters similar to Recall and Precision, in a way that we can able to calculate the micro average version as well. The current implementation is calculating the macro one when `reduction=elementwise_mean`.

[2022-02-04 18:36] Borda commented on #826
Sounds interesting, do you want to send a PR for it?

[2022-02-04 19:16] razmikmelikbekyan commented on #826
with pleasure, will do during up coming days

[2022-02-05 09:57] ashutoshml commented on #771
Since all PRs have been merged, this issue can be closed :)

[2022-02-05 10:02] stancld commented on #825
Hi @hookSSi, I think it's a good idea. The `sacrebleu` implementation of `BLEUScore` also allows to use of different tokenization techniques depending on the target language, so feel free to open PR. Looking forward :]

[2022-02-05 10:48] #771 closed

[2022-02-08 09:08] SkafteNicki commented on #815
@Borda lets just make this a general wrapper such that it can also be used outside metric collections.

[2022-02-08 10:29] #789 closed

[2022-02-08 11:42] cemde commented on #815
My suggestion above is fairly independent of the MetricCollection. The only thing the MetricCollection needs to do is to flatten a nested dictionary and the wrapper does most of the extra work. I think this way anyone can also add their own Wrappers and go wild - as long as it outputs a dict?!

[2022-02-08 14:05] drozzy opened #829 "Jaccard Index behaviour when num_classes is absent"
The [jaccard index function](https://github.com/PyTorchLightning/metrics/blob/8fade87062a7b87c1e6429bbe1c4e0112b3713a5/torchmetrics/functional/classification/jaccard.py#L69) determines the number of classes automatically.
This can result in strange results if the user forgets to specify `num_classes`. For example, in IoU determination in semantic segmentation, not all images have all classes. So d

[2022-02-08 14:09] drozzy commented on #821
Could you explain the difference between bbox iou and the segmentation IoU?
I saw a reference to this in the torchmetrics docs and wasn't sure what that meant.

[2022-02-08 20:22] #143 closed

[2022-02-09 17:56] SkafteNicki commented on #261
Closing based on @justusschock comment.

[2022-02-09 17:56] #261 closed

[2022-02-10 07:20] SkafteNicki commented on #393
After taking a second look at this, I have not been able to find any references or open-source implementation of this metric. Closing the issue.

[2022-02-10 07:20] #393 closed

[2022-02-10 15:00] mmlynarik commented on #789
Hi, can you please explain in your terms what is the difference between functional call and forward? I'm still not quite sure all the details regarding metrics evaluation. Thanks a lot!

[2022-02-10 17:41] #815 closed

[2022-02-11 10:02] Borda commented on #811
@sivakhno would you be interested in sending a PR to docs update upon you learning from this discussion? :rabbit:

[2022-02-11 10:12] Borda commented on #821
@gianscarpe ^^

[2022-02-11 12:34] SkafteNicki commented on #829
Its fine by me to update this to be a required argument.

[2022-02-11 12:38] SkafteNicki commented on #813
@riklopfer I think we have come to the agreement that the `RetrievalPrecision` metric does not seem to be the main problem here and I am therefore going to close the issue.
For your particular application I would recommend that you split your data into separate datasets, one supervised and one unsupervised, and process them with individual metrics.

[2022-02-11 12:38] #813 closed

[2022-02-11 21:12] freud14 opened #837 "Allow float targets for binary classification"
In PyTorch, binary cross-entropy with and without logits expects floats as targets. However, if you try to use say the AUROC metric, you get an exception when passing the same targets. The exception comes from this line:

https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/utilities/checks.py#L33

Not sure about the impact of removing it or replacing it somewhere by `target = targ

[2022-02-12 09:45] gianscarpe commented on #821
Hi and thanks for the question! As in pycocotools (the official COCO library for mAP), the difference between the two regards how to compute positive and negative pairs of bounding-box. BBox_IOU computes how much the bounding-boxes overlap, while segmentation-iou evaluates how much the segmentation masks (ground-truth and predicted). Different way to compute intersections and unions  :)

[2022-02-12 17:43] ankitaS11 commented on #799
Hi @justusschock, I am done with the implementation of `UQI` metric, now I would like to work on `D_Lambda`.

[2022-02-14 21:25] drozzy commented on #821
Is it perhaps similar to the Non-Mac Suppression? Pages 41-45:
https://web.eecs.umich.edu/~justincj/slides/eecs498/FA2020/598_FA2020_lecture15.pdf

![Screenshot from 2022-02-14 16-23-44](https://user-images.githubusercontent.com/140710/153948769-23ec2e18-a141-471f-85e4-8bb8f7234e65.png)

[2022-02-14 22:30] davidmartinrius opened #841 "Error numpy.ndarray size changed"
## 🐛 Bug

Hello,

I Installed a clean Ubuntu 20.04, installed nvidia drivers 440 for RTX 3080. Then I followed the instructions to train a model with NVIDIA NeMo Tacotron2.

I got the next error. It seems that the latest release of metrics is not compatible with the latest release of numpy.

numpy fails with the next error:
valueerror: numpy.ndarray size changed, may indicate binary incompatibilit

[2022-02-14 22:41] cnut1648 opened #842 "classwisewrapper doesn't support prefix"
## 🐛 Bug
Hi, good afternoon.

I have defined `ClasswiseWrapper` inside a `MetricCollection` which looks like this

[code]
But it seems that when I call
[code]
although I can get other metrics with prefix all right (e.g. `train/epoch/UF1`),classwisewrapper doesn't take prefix into account, and I get `acc_label1` `acc_label2` etc.

### Expected behavior

I think once classwisewrapper is inside a `Me

[2022-02-14 22:42] Borda commented on #841
it is about `numpy`, we have a similar issue in our CI and mostly it is when the `pesq` is compiled with a different version of NumPy that is later used... I would recommend freezing NumPy version to 1.20
[code]

[2022-02-14 22:46] Borda commented on #726
just for the record... 841

[2022-02-14 22:48] davidmartinrius commented on #841
Hi Borda, thanks for responding. The latest version of Nvidia NeMo only works with Numpy 1.21 or above. Unfortunately, version 1.20.0 is not compatible. I already tried it...

[2022-02-14 23:07] Borda commented on #841
you can give it try, just be patient as these compilation issues are tricky...
pls, let us know if it worked for you... :rabbit:

[2022-02-14 23:45] davidmartinrius commented on #841
Ok, thank you. Absolutely, I am going to try it.

[2022-02-16 10:10] SkafteNicki commented on #842
@cnut1648 thanks for reporting this. I take a look at it today (should be a simple fix). Great to know that the wrapper is useful to some users :]

[2022-02-17 15:57] mossaab0 opened #844 "Incorrect True Negative in a Binary Classification"
## 🐛 Bug

True negatives seem to be coming from nowhere. When computing the confusion matrix of a single positive prediction against itself, we get TP = TN = 1.

#### Code sample

[code]

### Expected behavior

[code]

### Actual behavior

[code]

### Environment

- PyTorch Version (e.g., 1.0): 1.10.2
- OS (e.g., Linux): Linux
- How you installed PyTorch: `pip`
- Python version: 3.7.0
- CUDA/cuDNN

[2022-02-17 16:36] mossaab0 commented on #844
Using `StatScores(multiclass=False)` solves the problem (although it's not intuitive).

[2022-02-17 16:36] #844 closed

[2022-02-17 18:37] mossaab0 opened #845 "Different F1 Score with Different batch_size"
## 🐛 Bug

When I change the batch size, the F1 score (`val_f1`) changes. I suspect that the F1 score reported is the average F1 score across all minibatches. The suspicion comes from the observation that TP, TN, FP and FN in the `batch_size=100` run are averaged over the 19 minibatches (compared with a single pass across the entire dataset with `batch_size=1900`). E.g., `val_tp = 12 = 228 / 19`.

[2022-02-17 19:59] SkafteNicki commented on #845
I assume this has to do with the argument `reduce_fx` in `self.log` by default being `mean`:
https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#log

Essentially, if you log the values returned by the metric objects instead of object itself, lightning will be the one doing the accumulation instead of torchmetrics, which may lead to the wrong result.
To counter this, you

[2022-02-17 20:03] SkafteNicki commented on #845
Also, you can find more info on this page:
https://torchmetrics.readthedocs.io/en/latest/pages/lightning.html

[2022-02-17 20:21] #845 closed, assigned to nobody

[2022-02-17 21:31] EvanZ opened #846 "TweedieDevianceScore producing nan results when setting power=1.0"
## 🐛 Bug

### To Reproduce

[code]

[2022-02-18 07:47] SkafteNicki commented on #846
Hi @EvanZ, thanks for reporting this. This is indeed a bug and it happens due to a unsafe log operation in the metric calculation. Will be fixed in PR #847.

[2022-02-18 08:04] SkafteNicki commented on #841
Since we cannot implement `pesq` ourself due to the original license, I guess that the best we can do here is to include better install/re-install instructions in the documentation.

[2022-02-18 08:43] #842 closed

[2022-02-18 17:25] EvanZ commented on #846
Oh that's great to hear. Thanks!

[2022-02-19 17:32] kynk94 opened #848 "Allow caching on cpu when compute some metrics."
## 🚀 Feature

Currently, some metrics like FID and KID only use GPU computing.
Since all datasets are cached in gpu memory, there is a big limitation on hardware.
It may be helpful to add `compute_on_cpu` option to compute these metrics like below.

[code]

### Motivation

I can compute FID on cloud system but not my local, because of the memory issue.
Currently, warn large memory foorprint. #468

[2022-02-21 09:37] #846 closed

[2022-02-21 09:53] SkafteNicki commented on #848
Hi @kynk94,
I do not completely understand the problem here. If you initialize a metric, it will by default be on the CPU:
![image](https://user-images.githubusercontent.com/24896311/154930705-80c2ec53-452f-4349-adab-8ca0ee9de767.png)

Do you want to keep the overall metric on GPU, meaning that `features = self.inception(imgs)` is still calculated on the GPU but when you store the features for lat

[2022-02-21 10:22] stancld opened #849 "Add `InfoLM`"
## 🚀 Feature

Add `InfoLM`

### Sources:
- Paper: [InfoLM: A New Metric to Evaluate Summarization & Data2Text Generation](https://arxiv.org/pdf/2112.01589.pdf) ((accepted at AAAI '22))
- [Repo](https://github.com/PierreColombo/nlg_eval_via_simi_measures/)

### Motivation

The recent NLG metrics are more often based on BERT (or related) embeddings. As such, I believe, we should also start adding su

[2022-02-21 10:35] Borda commented on #848
My understanding is that if you run training and you use all GPU memory it could be interesting to force/offload the metric computation to CPU... is it correct @kynk94?

[2022-02-21 10:40] Borda commented on #826
@razmikmelikbekyan how is it going, have you had a chance to look at it? :rabbit:

[2022-02-21 10:41] Borda commented on #829
@drozzy mind sending a PR? :rabbit:

[2022-02-21 11:46] kynk94 commented on #848
Yes, that's right.
If training on GPU, the inception features are stored in GPU memory to compute metric.
If have a lot of GPU, there are enough memory.
But most local desktops not have enough memory, and CPU memory capacity is larger than GPU memory.

In this case, to avoid memory overflow errors, need to cache the features on CPU memory.

[2022-02-21 12:25] SkafteNicki commented on #837
Hi @freud14, thanks for this suggestions. I marked this issue to be part of a larger refactor of the classification package that we will start on soon.

[2022-02-21 14:14] stancld opened #852 "Add `BaryScore`"
## 🚀 Feature

Add `BaryScore`

### Sources:
- Paper: [Automatic Text Evaluation through the Lens of Wasserstein Barycenters](https://aclanthology.org/2021.emnlp-main.817.pdf)
- [Repo](https://github.com/PierreColombo/nlg_eval_via_simi_measures/)

### Motivation

The recent NLG metrics are more often based on BERT (or related) embeddings. As such, I believe, we should also start adding such metrics

[2022-02-21 14:23] SkafteNicki commented on #829
Should be fixed in PR #853

[2022-02-22 10:15] stancld opened #854 "Add `DepthScore`"
## 🚀 Feature

Add `DepthScore`

### Sources:
- Paper: [A Pseudo-Metric between Probability Distributions based on Depth-Trimmed Regions
](https://arxiv.org/pdf/2103.12711.pdf)
- [Repo](https://github.com/PierreColombo/nlg_eval_via_simi_measures/)

### Motivation

The recent NLG metrics are more often based on BERT (or related) embeddings. As such, I believe, we should also start adding such metric

[2022-02-22 11:33] #829 closed

[2022-02-22 12:08] #841 closed

[2022-02-22 15:15] ashutoshml commented on #852
Interested!

[2022-02-23 14:03] #825 closed

[2022-02-23 21:16] razmikmelikbekyan commented on #826
@Borda I did not have chance to look yet, but will try to do it in upcoming week.

[2022-02-23 21:17] mtailanian commented on #794
Hi @OlofHarrysson,
I just found the exact same bug, and started searching if someone else also found it.

I completely agree with you, the model should be punished when it doesn't find any object and there is some ground truth.

Did you manage to fix it? Is it enough to change
`if len(gt_label_mask) == 0 or len(det_label_mask) == 0:`
by
`if len(gt_label_mask) == 0 and len(det_label_mask) == 0:`
?

[2022-02-23 21:43] Borda commented on #794
@mtailanian mind send a PR with also adding a test for this corner case?

[2022-02-24 12:05] mtailanian commented on #794
Hi @Borda.
Sure, I'm working in a possible solution. For sure only changing the OR by an AND is not enough.
My attempt right now is returning a dict of tensors filled with False:

[code]
But I still need to test it...

For testing the code of @OlofHarrysson works perfectly...

Thanks,

[2022-02-24 12:41] quancs commented on #803
The slow tests may from the metric itself, not the implementation.

It's a good idea to not depend on the external package `fast_bss_eval` for any possible imcompatible changes in future version of `fast_bss_eval`. For the licenses, if we use the code of `fast_bss_eval`, we need to put the MIT license at the head of that file?

[2022-02-24 14:04] Borda commented on #803
I am rather thinking to implement it directly based on a paper like this one https://arxiv.org/pdf/1811.02508.pdf

[2022-02-24 14:32] quancs commented on #803
Well, seems the paper you refered to is si-sdr.
SDR is https://arxiv.org/abs/2110.06440, and fast_bss_eval is the official implementation of this paper.

[2022-02-24 17:08] Borda commented on #803
unless they have an exclusive right on the SDR metric I think we are fine to implement it too and run tests against it so we can be sure we compute the correct values :)

[2022-02-24 22:32] MordehayM opened #859 "check shape"
https://github.com/PyTorchLightning/metrics/blob/21ba6502418f537a7ca3618be0b19f617f83a062/torchmetrics/functional/audio/pit.py#L148
Hi,
I don't understand why the target shape and pred shape must be equal?
This question arises from the fact that the loss can be the categorical cross-entropy with multiple outputs (for each speaker, for instance) and then this constraint does not apply(categorical c

[2022-02-25 07:04] hassiahk commented on #854
Hi. Can I work on this?

[2022-02-25 09:45] ankitaS11 commented on #633
Hey @stancld @SkafteNicki, I want to pick this issue, if its fine with everyone.

[2022-02-25 10:11] stancld commented on #633
@ankitaS11 Yes, it's fine to take this one, but please be sure #855 to be merged before diving into this one :]

[2022-02-25 10:12] stancld commented on #854
Hi @hassiahk, yes you can take this one! But please give us some extra time to finish #849 first as there will be some common dependencies. I'll ping you once #849 is ready.

[2022-02-25 10:15] ankitaS11 commented on #633
Sure. Will make that PR ready for review by this weekend.

[2022-02-25 11:39] hassiahk commented on #854
Sure!

[2022-02-25 12:38] SkafteNicki commented on #859
cc: @quancs

[2022-02-25 13:01] quancs commented on #859
Hi, you are right this constraint is not designed correctly for all possible use cases... Could you give some example input and output for your use case

[2022-02-27 16:18] quancs commented on #859
1) the batch dim of the pred and target should be the same by nature
2) the speaker dim should be the same required by PIT
3) For speech separation, the metrics like SDR, SI-SDR, PESQ require the pred and target to have the same shape at the time dim.
I guess it is (3) could not be applied to other audio sub-domains. Is that right? @MordehayM

[2022-02-27 16:28] MordehayM commented on #859
Yes, exactly.
When the loss is categorical cross entropy, the target and pred do not have the same shape, the target's shape is [B, num_speaker, d1..dk] while the pred's shape is [B, num_speaker, C, d1..dk] where C is the number of categories.

[2022-02-27 17:07] quancs commented on #859
@MordehayM  So, it works for your case if we just check the first two dimensions, batch and speaker?

[2022-02-27 17:11] MordehayM commented on #859
Sorry, but I didn't check that. I chose another implementation of PIT.
In my opinion it should work.

[2022-02-27 17:18] quancs commented on #859
Thanks for your opinions. I will fix this problem.

just a little bit curious, could you tell me which one? If we find it's faster, we could implement it in TorchMetrics ^^

[2022-02-27 17:27] MordehayM commented on #859
This one:
https://github.com/asteroid-team/pytorch-pit/blob/master/torch_pit/pit_wrapper.py

[2022-02-27 18:56] freud14 opened #865 "Unable to cross-reference a metric in the sphinx doc."
## 🐛 Bug

When trying to cross-reference a metric in another sphinx doc using for instance `` :class:`torchmetrics.AUROC` ``, the link is not created. Looking at the result of `python -m sphinx.ext.intersphinx https://torchmetrics.readthedocs.io/en/latest/objects.inv | grep AUROC`, you can see that there are no entry for `torchmetrics.AUROC`.

### To Reproduce

1. Add torchmetrics entry into conf.

[2022-02-27 20:48] Borda commented on #865
didn't know it, mind sending a PR? :)

[2022-02-27 21:32] freud14 commented on #865
Hi, unfortunately, it seems that this works only with "modules" and not autodoc. I just made an issue in Sphinx: https://github.com/sphinx-doc/sphinx/issues/10222 .

[2022-02-28 04:48] aaronzs opened #866 "`MeanAveragePrecision` CPU overload when using multi-device ddp"
## 🐛 Bug

I was using `pytorchlightning.Trainer` in `ddp` mode with 8 GPUs on a HPC. There are 5k images in my validation set, and I find all the CPU cores are fully loaded (100%) for extremely long time (~2 hours) at `validation_epoch_end()` stage.

### To Reproduce

1. using `ddp` mode with `number of device > 2`
2. using large validation/test set.

#### Code sample

[code]

### Expected behavio

[2022-02-28 12:46] #859 closed

[2022-03-02 05:14] Abdelrhman-Hosny commented on #803
I would like to work on this.

I would be required to re-implement the functions that are imported from `fast_bss_eval` with my own, correct?

[2022-03-02 06:49] quancs commented on #803
You could refer to the [paper](https://arxiv.org/abs/2110.06440) of `fast_bss_eval`

[2022-03-03 10:00] nils-werner commented on #49
Right now I can't log this if it is inside a `MetricCollection()`, right?

[code]

because `.compute()` will return

[code]

and I get an error message

[code]

It would be great if we could have a `MaxMetric()` wrapper that simply returns the max value, so that `.compute()` returns

[code]

[2022-03-03 10:17] awaelchli commented on #344
Hello! Adrian from Lightning core here <3

In #840 we changed two core Metric APIs: `update` was renamed to `_update` and compute was renamed to `_compute`. The dynamic wrapping around these methods was removed.

The change
- has no impact on users of built-in metrics
- is a breaking change for users who have custom metrics

**My recommendation is to revert #840 and I feel quite strongly about thi

[2022-03-03 10:45] awaelchli commented on #344
@Borda Yes, in my post I missed to emphasize that I'm not against removing the wrapping. This is an internal detail but when choosing between one or the other I would put more weight on the user facing API, then work backwards from there.

[2022-03-03 11:22] Borda commented on #344
Yes, that is why we are doing it now rather than later :)

On Thu, 3 Mar 2022 at 11:46, ananthsub ***@***.***> wrote:

[2022-03-06 22:18] razmikmelikbekyan commented on #826
#874 PR is open

[2022-03-09 08:41] martinwhl opened #879 "RMSE value is not equal to the square root of MSE"
## 🐛 Bug

I'm currently working on a multivariate time series forecasting problem, and RMSE is one of the evaluation metrics. After evaluating the model on the test set, I find that the RMSE value might be a little bit lower than expected, and then I find that the square of RMSE value is not equal to the MSE value.

### To Reproduce

Here's my simple implementation of RMSE:

[code]

#### Code samp

[2022-03-09 11:54] e-pet commented on #421
I'd just like to comment that I'd very much like a) a warning to be shown - otherwise it's essentially a silent fail, which as a user I always find particularly frustrating - and b) an option for how to handle zero divisions being exposed to the user.

[2022-03-09 15:54] mayeroa opened #880 "[Feature Request] Deterministic ConfusionMatrix on GPU"
## 🚀 Feature

For now, we cannot use `ConfusionMatrix` with a lightning `Trainer` configured like this: `Trainer(gpus=1, deterministic=True)`.
The following error is returned:

[code]

### Motivation

The idea would be to replace the call to `torch.bincount` with something deterministic on GPU to properly use the GPU for metrics computation under a reproductible scenario (using a `seed` and `deter

[2022-03-09 16:39] lodm94 opened #881 "Abnormal behavior in mAP calculation"
## 🐛 Bug

MeanAveragePrecision from torchmetrics.detection.map exhibits abnormal results when there are False Positives or empty GT/predictions.
I'm running the latest version of torchmetrics.

### Code sample to Reproduce
[code]

This code returns a map of -1!
How is this possible?

I take advantage of this thread to ask another thing: how can i calculate just precision and recall for object dete

[2022-03-09 17:24] Borda opened #882 "Allow soft target labels for classification tasks"
## 🚀 Feature

if the target labels are float we will perform the thresholding with the same value as we use for predictions...

### Motivation

in principle, we shall be able to compute scores even for soft labels
In practice, I am trying Kaggle competition classifying birds in audion, but it also includes some birds in the background which could be labeled as 0.5 (half presented) needed for optim

[2022-03-09 17:28] Borda commented on #881
@twsl @tkupek ^^ pls :rabbit:

[2022-03-09 18:52] davidetalon opened #883 "Disentanglement Metrics"
## 🚀 Feature
Add disentanglement metrics

### Motivation
Disentanglement metrics might be helpful to understand the properties of the learnt representation.

### Metrics
Disentanglement is still an ambiguous concept, some alternatives might be:
- [ ] BetaVAE [ArXiv](https://openreview.net/forum?id=Sy2fzU9gl)
- [ ] FactorVAE [ArXiv](https://arxiv.org/abs/1802.05983)
- [ ] Mutual Information Gap [Ar

[2022-03-09 18:53] davidetalon commented on #883
I am open to help :)

[2022-03-09 19:35] tkupek commented on #881
Hi @lodm94 thanks for your contribution.

Regarding the question on classification: Object detection models mostly combine detection (localization) and classification problems. For example the famous [COCO detection challenge](https://cocodataset.org/#detection-2020) looks for bounding boxes and the respective class of the objects.
If you don't classify your objects that is equivalent to only havi

[2022-03-09 19:48] Borda commented on #883
Very nice! how about choosing one which you think is the most valuable and drafting a PR?
cc: @SkafteNicki @stancld

[2022-03-09 19:52] Borda commented on #852
@ashutoshml how is it doing? :rabbit:

[2022-03-09 19:54] Borda commented on #849
@stancld ho is it doing, seems that this is the key for two additional metrics where we have volunteers to help... :rabbit:

[2022-03-09 20:06] davidetalon commented on #883
Thank you @Borda!  A good all around metric is DCI Disentanglement!
If there are no problems, I would start with it!

[2022-03-10 07:44] vumichien commented on #799
@Borda I will work on  `Spectral Angle Mapper (SAM) `

[2022-03-10 08:09] Paul-Aime commented on #799
@vumichien if I'm not mistaken, SAM is just the arccos of the cosine similarity [which is implemented here](https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/functional/regression/cosine_similarity.py).

[2022-03-10 10:25] Paul-Aime commented on #799
@vumichien My bad, SAM being an image metric and being about **spectral** characteristics, it is needed to assume N**C**HW shape, and using `torchmetrics.functional.cosine_similarity` with those assumptions will require some useless reshaping.

Here is some code as an excuse and to explain myself:

<details>
<summary>Code</summary>

[code]

</details>

[2022-03-10 11:25] vumichien commented on #799
@Paul-Aime No problems. SAM is a metric to determine the spectral similarity between two images by the angle between each spectrum, in short, it's the mean arccos of the cosine similarity in each dimension. Thank you for your snippet code.

[2022-03-10 12:58] MatiTaila commented on #881
Hi @tkupek and @lodm94,

@lodm94 You have a point. As mentioned in issue #794, the problem is that the metric calculation is not taking into account the images that do not have any detection or any ground truth. Therefore, in your code example, you are computing the metric over 0 images, and it returns the default initialization value, -1. It means it couldn't compute the metric.

Note that usuall

[2022-03-10 14:20] lodm94 commented on #881
Hi @mtailanian! Thanks for your kind reply! I would like to show you another strange behavior:
### Input 1
[code]
### Output 1
[code]

### Input 2
[code]

### Output 2:
[code]
Isn't it strange that these different inputs produce the same output? The second result is coherent with expectations, but in the first case it seems that metric computation does not take into account two False Positives on

[2022-03-10 14:32] tkupek commented on #881
Hi @lodm94,

the behavior you posted is correct. The second prediction is not a "false positive". It's filtered out by NMS because it's the exact same box as the first prediction. This is a standard behaviour in object detection.

Source: https://towardsdatascience.com/non-maximum-suppression-nms-93ce178e177c

This is done because, as mentioned by @mtailanian, object detection models output a lot

[2022-03-10 15:11] lodm94 commented on #881
Yes @mtailanian  it is absolutely clear.
If you want, you can close the issue, your call!

Best

[2022-03-11 18:52] stancld commented on #849
@Borda Sorry, was a bit busy this week, but it's already wip. I'm gonna try to finish it this weekend so that the other two PRs can be opened.

[2022-03-12 02:20] vumichien commented on #799
@Borda I would like to work on `Erreur Relative Globale Adimensionnelle de Synthèse (ERGAS)` next after the process of reviewing `SAM` is completed

[2022-03-14 10:57] stancld opened #886 "Allow automatically adjusting `k` for `RetrievalPrecision` when `k > num(retrieved documents)`"
## 🚀 Feature

Allow `RetrievalPrecision` to use `k=min(k, preds.shape[-1])` for individual queries.

### Motivation

When one calculates `precision at k` for a query over the list of documents `D`, where `len(D) < k`, there's an ambiguity whether `k` should be fixed or adjusted w.r.t. `len(D)` when `D < k`.

### Pitch

Add an input argument for an option of how to handle these edge cases. Set a de

[2022-03-17 12:54] ZeguanXiao opened #889 "Integrate multiple Retrieval metrics together for efficiency when group number is large"
## 🚀 Feature

A way to wrap multiple Retrieval metrics together in order to speed metric computing.

### Motivation

When I want to compute k metrics with same (indexes, preds, target) data, TorchMetrics will group indexes k times. When the number of groups is very large, it takes a very long time to do this.

### Pitch

I function or class  take a list of metrics name to achieve this.

### Altern

[2022-03-17 14:23] zuenko opened #890 "Inefficient memory consumption by MeanMetric"
https://github.com/PyTorchLightning/metrics/blob/3af729508289d3babf0e166d9e8405cb2b0758a2/torchmetrics/aggregation.py#L333-L408

Old average meters eats nothing compare to 16+ gb RAB by MeanMetric
[code]

[2022-03-17 20:08] mtailanian commented on #881
Hi @tkupek, I just saw your edited message. Great, thanks!
As @lodm94 suggested, please feel free to close the issue (I cannot do it as I'm not a contributor (I think...)).
Best!

[2022-03-18 10:28] kuku-miku commented on #671
Did u found any fix? seeing same error with "torchmetrics 0.7.2".

[2022-03-18 10:52] vahvero commented on #671
At least some of the errors were previously fixed, the sorting on the GPU for example. I do not know whether this is something in progress or not, all information I have is in this thread. Feel free to reopen or open and refer to this issue. I currently have access to only one GPU, so I cannot recreate the problem.

[2022-03-19 16:27] quancs opened #895 "The sdr metric in TM sometime gives NaN for some input"
## 🐛 Bug

This issue is related with `fast-bss-eval`'s torch version, see https://github.com/fakufaku/fast_bss_eval/issues/5

### To Reproduce

[code]

outputs:
[code]

unzip [data.zip](https://github.com/PyTorchLightning/metrics/files/8309638/data.zip) to get the `debug.npz`

#### Code sample

### Expected behavior

the results given by signal_distortion_ratio is close to the one given by `mir_ev

[2022-03-20 22:13] ryandaryl commented on #625
We're still working on this.

[2022-03-21 10:04] #614 closed

[2022-03-21 13:18] SkafteNicki commented on #890
Hi @zuenko, could you please provide an example of such that we can debug?

[2022-03-21 13:29] SkafteNicki commented on #895
Hi @quancs,
From the issue that you linked it seems that the solution from the author is basically to do the evaluation in `double` instead of `float`. I can confirm that doing this fixes the example you send. Do you think we should cast the users input here:
https://github.com/PyTorchLightning/metrics/blob/865a08fcf102c2eb1b776b13643bc87aadf7f4f7/torchmetrics/functional/audio/sdr.py#L140-L141
to

[2022-03-21 13:43] #889 closed

[2022-03-21 13:59] SkafteNicki commented on #882
@Borda this is duplicate of: https://github.com/PyTorchLightning/metrics/issues/449
Closing in favour of the old issue.

[2022-03-21 13:59] #882 closed

[2022-03-21 14:00] SkafteNicki commented on #881
Closing the issue based on the discussion.

[2022-03-21 14:00] #881 closed

[2022-03-21 15:20] SkafteNicki commented on #879
I am investigating this issue, but I am confident that this is not an issue with torchmetrics but with lightning. If I after running the script try to compute:
[code]
i get the correct result, meaning that the internal metric computations are right.
@martinwhl Also I want to note that the `MeanSquaredError` metric has a `squared` argument that you can set to `False` if you want the `RMSE` metric.

[2022-03-21 15:23] SkafteNicki commented on #879
Another observation, if the value instead is logged as:
[code]
then it also works.

[2022-03-21 15:34] SkafteNicki commented on #879
Okay final update. The issue is this line:
[code]
the problem is that `self.metrics(pred, y)` will return the a dict of metrics on the current batch, thus the input will be a dict of tensors. When lightning detects that the input to `self.log` is a tensor it will automatically average the value over all the batches, which give a slightly biased value due to the square root not being a commutative

[2022-03-21 15:34] #879 closed

[2022-03-21 16:32] walidbou6 opened #897 "ScaleInvariantSignalNoiseRatio from spectrogram"
## 🚀 Feature

Scale Invariant Signal Noise Ratio logic computed with waves data, but in some model training cases we work on predicting the spectrogram from a given data so to get the performance of your training you should invert the estimated spectrogram to wav and run the SI_SNR on it, it would be great if we can compute the SI_SNR direct with the spectrogram

check [here](https://nussl.github.

[2022-03-21 16:34] lucadiliello commented on #886
It makes sense for me. Actually someone may want to use it because, at the moment, if you have `k` greater than the number of documents you cannot get `1` on that query even if your system is perfect.

I can implement it if you want. I would add a `adaptive_k` boolean parameter. Do you suggest other names?

[2022-03-21 17:21] SkafteNicki commented on #886
`adaptive_k` is fine by me :]

[2022-03-21 18:52] #794 closed

[2022-03-22 03:56] dangne commented on #746
Hi, I'm having the same issue on:

- `torch 1.9.1`
- `torchmetrics 0.7.2`

[2022-03-22 06:03] martinwhl commented on #879
Thanks a lot for your help!

[2022-03-22 08:33] SkafteNicki commented on #895
3) is fine by me :]

[2022-03-22 09:17] mayeroa commented on #880
Hi @SkafteNicki ,
The PR looks great to me.
One additional note, it seems like some other metrics are also relying on `torch.bincount`(https://github.com/PyTorchLightning/metrics/search?q=bincount)

- Average Precision: https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/functional/classification/average_precision.py#L105
- AUROC: https://github.com/PyTorchLightning/metrics/blob/m

[2022-03-22 09:17] SkafteNicki commented on #897
cc: @quancs any opinion on this?

[2022-03-22 09:21] SkafteNicki commented on #880
Hi @mayeroa,
Thanks for making me aware of this. Will adjust the PR accordingly.

[2022-03-22 09:24] mayeroa commented on #880
No problem. Should have checked before. :)
Thanks again for your help and work!

[2022-03-22 11:21] quancs commented on #897
@walidbou6 Hello, I checked you link. Seems the code is not clear how it is relevant to spectrogram, as the input shape is [num_batch, num_samples, num_sources] not containing the frequency dimension. It would be great if you can elaborate the SI_SNR on spectrogram ^_^

[2022-03-22 13:01] walidbou6 commented on #897
let me tell you a funny story, I wanted to train a model to predict a mask for speech enhancement, done building the model and the training logic and for the loss metric I wanted to use SI_SNR or SI_SDR, but those are using wave data to compute the model performance, so I needed to invert spectrogram to wav to preform the calcultion and here where the problems started, I was using librosa to gener

[2022-03-22 13:13] quancs commented on #897
Seems you find a new land... Maybe you should carefully check if it could be your paper  ^_^

For your case, you can try the STFT and iSTFT provided by torch, which would not drop the grad.

[2022-03-22 13:35] #897 closed

[2022-03-22 17:28] lucadiliello commented on #886
I will add this argument to all the retrieval metrics which have `k` as parameter ok?

[2022-03-23 01:02] #895 closed

[2022-03-23 02:00] FeiWang96 opened #904 "No difference between RougeL and RougeLsum"
## 🐛 Bug

### To Reproduce

I finetune BART on CNN/DailyMail dataset using lightning transformers.

#### Code sample

https://github.com/PyTorchLightning/lightning-transformers/blob/master/lightning_transformers/task/nlp/summarization/model.py#L43

### Expected behavior

Each document and summary in CNN/DailyMail have multiple sentences, so RougeL and RougeLsum should be different.

### Environmen

[2022-03-23 05:46] #880 closed

[2022-03-23 07:56] dudeperf3ct commented on #746
Facing same issue.

TorchMetrics

Micro: `[{'val_accuracy': 0.725820004940033, 'val_precision': 0.725820004940033, 'val_recall': 0.725820004940033, 'val_f1score': 0.725820004940033, 'val_crossentropyloss': 0.5334660410881042}]`

Macro: `[{'val_accuracy': 0.7145940661430359, 'val_precision': 0.6611627340316772, 'val_recall': 0.7145940661430359, 'val_f1score': 0.6683363318443298, 'val_crossentropylo

[2022-03-23 07:56] SkafteNicki commented on #904
cc: @stancld

[2022-03-23 07:57] SkafteNicki commented on #886
@lucadiliello sounds good to me :]

[2022-03-23 09:24] OlofHarrysson opened #906 "Rename detection map file"
## 🐛 Bug

The MeanAveragePrecision metric is located in a file `torchmetrics/detection/map.py`. If you want to import this file, you would write `from torchmetrics.detection import map`. This replaces the built-in map function which is not so pretty.

Changing this file would avoid this. I suggest mean_ap.py.

[2022-03-23 09:27] Borda commented on #906
Good point, mind sending a PR? :rabbit:
cc: @SkafteNicki

[2022-03-23 09:38] SkafteNicki commented on #906
Fine by me :]

[2022-03-23 11:41] #811 closed

[2022-03-23 12:33] OlofHarrysson commented on #906
PR ready https://github.com/PyTorchLightning/metrics/pull/908
@SkafteNicki @Borda

[2022-03-23 14:03] #906 closed

[2022-03-23 15:53] #890 closed

[2022-03-23 17:13] om-hb opened #909 "BERTScore raises RuntimeError when device="cuda""
Hi,

when I run the following (exemplary) code,
[code]
I get the following RuntimeError:
[code]
As a workaround, changing `cos_sim = torch.einsum("blpd, blrd -> blpr", preds_embeddings, target_embeddings)` to `cos_sim = torch.einsum("blpd, blrd -> blpr", preds_embeddings, target_embeddings).to("cuda")` in `torchmetrics\functional\text\bert.py` seems to work for me.

Encountered with:
- Python: 3.8

[2022-03-24 08:46] avieini-sunbit opened #911 "Metric Collection Tracker Comptability"
## 🐛 Bug
Hi ,
In the last version , you added the option to combine MetricTracker with MetricCollection.
When I used it , I tried to use the "best_metric" method for MetricTracker. Unfortunately , When I have metrics which doesn't have a best metric option (like confusion matrix) in the MetricCollection object , "best_metric" method return an error.

I think that as this function should be general

[2022-03-24 10:25] Borda commented on #883
cool pls send out your first PR :)

[2022-03-25 01:09] #812 closed

[2022-03-25 07:42] niberger commented on #50
Hello, I will give a try this week, inspired from the COCO implementation: https://github.com/cocodataset/panopticapi/blob/master/panopticapi/evaluation.py

Any preliminary comments are most welcome, especially on the signature that the methods should have.
In any case I will submit a draft PR soon.

[2022-03-25 13:29] davidetalon commented on #883
I am sorry for being late. I am working on it! If you don't mind I would open the draft PR next week :)

[2022-03-25 13:49] #911 closed

[2022-03-27 22:01] dreaquil opened #916 "AttributeError: 'tuple' object has no attribute 'detach' for ROC when logging."
## 🐛 Bug

Cannot log ROC using the pl module log method. What is the best way to go about returning the ROC metrics (FPR, TPR, Thresholds) from test?

### To Reproduce
[code]
#### Code sample

### Expected behavior

### Environment

- OS (e.g., Linux):
- Python & PyTorch Version (e.g., 1.0):
- How you installed PyTorch (`conda`, `pip`, build command if you used source):
- Any other relevant inform

[2022-03-28 02:06] #886 closed

[2022-03-28 06:31] Voleraa opened #917 "Accuracy, Precision, Recall raises RuntimeError when device="cuda""
## 🐛 Bug

Hi,

when I run the following code,
[code]
I get the following RuntimeError:
[code]
This error also occurs when I use Recall and Precision.

### Environment

- OS: Linux
- Python Version: 3.8
- PyTorch Version: 1.8.1

[2022-03-28 07:02] Borda commented on #917
Hi, in such case you also need to move the metric to the device
[code]
if you want to have a seamless experience, please use the PytorchLightning logging feature
https://pytorch-lightning.readthedocs.io/en/stable/extensions/logging.html#automatic-logging

[2022-03-28 07:02] #917 closed

[2022-03-29 23:20] cemde opened #918 "Fleiss Kappa"
## 🚀 Feature

Fleiss Kappa

[Wikipedia](https://en.wikipedia.org/wiki/Fleiss%27_kappa)

### Motivation

Fleiss Kappa is a metric of inter-rater agreement between $k$ raters. It is useful in many areas for example: combining multiple measures or ensemble methods.

### Pitch

Add Fleiss Kappa as metric. I implemented it myself a while ago, but think it might be a nice addition to torchmetrics: [http

[2022-03-30 00:39] ChickenTarm opened #919 "How to log custom metric where compute returns a dict?"
## 🐛 Bug
I get this error when I try to log a metric whose return is of the form: {"metric_name_1": <metric value in the form of a torch.Tensor>, "metric_name_2": ...}

[code]

### Expected behavior

If a metric class returns multiple metrics like the detection metric that is built-in, the logging should iterate over the returned metrics and log them individually.

### Environment

CUDA:
- GPU:
-

[2022-03-30 01:56] Borda commented on #918
cool, @cemde are you willing to contribute this metric? :)

[2022-03-30 10:55] wisecornelius commented on #918
@Borda I'll give it a go!

[2022-03-31 08:19] #909 closed

[2022-03-31 18:51] stancld commented on #852
Hi @ashutoshml - I'd like to apologize for my delay here. I've been quite busy and unable to complete my part yet. Gonna try to proceed this weekend as much as possible.

[2022-03-31 21:49] rasbt opened #925 "Update the PDF"
## 📚 Documentation

I got some feedback from a colleague that the PDF is out of date and points to version 0.2. I don't even know where to find the PDF, lol.

I see two ways we can handle this

a) Remove the PDF and links to the PDF (assuming that no one will miss them)

b) Fix the PDF and add this as a automated step to the build process.

[2022-03-31 21:54] rasbt opened #926 "Metrics in multiple categories"
## 📚 Documentation

Okay, this is a bit of a tricky one. I received some feedback about the organization:

I think we have it organized that each metric is currently only in one category (audio, image, etc.). I think this is useful for not bloating the page. At the same time, if there is someone looking for metrics for e.g., an image context, they might miss some relevant ones because those are ge

[2022-03-31 22:07] ethanwharris commented on #926
One option here would be to use the tag filtering view we have in PL / Flash (e.g. https://lightning-flash.readthedocs.io/en/stable/?badge=stable).

This could allow for metrics to have potentially multiple tags for each dtype they are relevant for.

[2022-03-31 23:48] rasbt commented on #926
Yeah, that's actually pretty good. Maybe we can have a list of all metrics in alphabetical order by default, and then via the tags, we can narrow it down to the tag-specific ones

[2022-04-01 09:50] SkafteNicki commented on #925
Hi @rasbt,
What PDF is you referring to?

[2022-04-01 09:52] SkafteNicki commented on #926
I do like the idea of tagging each metric. However, one potential problem is that we currently have some subsections like this one:
https://torchmetrics.readthedocs.io/en/latest/references/modules.html#input-details
that basically explains what we expect the input to look like for those specific metrics.

[2022-04-01 10:02] SkafteNicki commented on #919
Hi @ChickenTarm ,
If what you are trying to log is a dict where each value is a *scalar* tensor, then you simply need to replace `self.log` with
[code]
where each metric will then be logged under its respective key in the dict. If some of the values are not scalar tensors you will need to pop those from the dict and then manually log them.

[2022-04-01 10:07] hassiahk commented on #854
That's totally fine! @stancld :]

[2022-04-01 10:11] SkafteNicki commented on #916
Hi @dreaquil,
`self.log` only supports logging of *scalar* tensors (documented [here](https://torchmetrics.readthedocs.io/en/latest/pages/lightning.html#logging-torchmetrics)). For metrics that do not return scalar tensors, the logging will depend on the specific metric.
For ROC metric i would personally render the results as a figure (probably using [RocCurveDisplay](https://scikit-learn.org/stab

[2022-04-01 10:12] Borda commented on #926
just for the record, I think that the docs deserve some more care and refactoring as we are still using structure from the time we had just 15 metrics, and now we have more the 60... so I like tagging idea, and/but I would personally join it with some larger docs revamp... :rabbit:

[2022-04-01 10:13] ethanwharris commented on #926
@SkafteNicki I guess you would break it down by metric. So you can filter all metrics by data-type / task (e.g. find all metrics that can be used for image classification). Then in each metrics page it could explain the input format it requires

[2022-04-01 10:16] dreaquil commented on #916
Hi @SkafteNicki,
Thanks for the suggestion!

[2022-04-01 10:16] #916 closed

[2022-04-01 14:43] rasbt commented on #925
This one here: https://torchmetrics.readthedocs.io/_/downloads/en/v0.2.0/pdf/
Not sure how my friend found it haha

[2022-04-01 17:22] EvanZ commented on #846
Don't know if anyone will ever read this but here goes. Thanks for fixing the bug. It definitely works now in terms of calculating the loss. However, a secondary problem has arisen, which maybe is just unfixable. I'm trying to use the deviance score as a loss function. There exists a poisson loss function in PyTorch, which I'm currently using, but it would be convenient to use TweedieDevianceScore

[2022-04-01 18:29] Borda commented on #925
well if you request a pdf of version `v0.2.0` it is quite natural that you get such docs/PDF :)
try the correct - https://torchmetrics.readthedocs.io/_/downloads/en/stable/pdf/

[2022-04-01 18:29] #925 closed

[2022-04-01 18:32] rasbt commented on #925
We had this discussion on Slack so you probably fixed it in the meantime 😉. Is this part of the version release process now to ensure that stable is always up to date?

[2022-04-01 20:34] SkafteNicki commented on #846
Hi @EvanZ,
Thanks for reporting this back. To easier debug this (and maybe solve) would it be possible for you to provide an example input that result in Nan?

[2022-04-01 20:44] EvanZ commented on #846
@SkafteNicki appreciate your quick reply. The problem as I'm trying to explain (maybe not well) is that it's not the `TweedieDevianceScore` that is directly giving me `nan` values. **You guys definitely fixed that issue**. This "new" issue is occurring at some point after the loss for the first batch is calculated and backprop step (I assume this is when the `nan` values are being generated). But

[2022-04-02 02:48] Borda commented on #925
I had not touch anything, it was there all the time... so rather the question is how the person got to the strange/old link :thinking:

[2022-04-04 03:24] Guan-t7 opened #928 "Add `WeightedAbsolutePercentageError`"
## 🚀 Feature

Add Weighted Absolute Percentage Error (WAPE) metric. The description and formula can be found here: https://en.wikipedia.org/wiki/WMAPE

### Motivation

WAPE is a common metric used in time series forecasting.

### Alternatives

I don't think this metric can be implemented using arithmetics of existing metrics.

### Additional context

A draft implementation is as follows. I'd like

[2022-04-04 14:32] niberger commented on #50
Regarding the spirit of implementation to adopt I do have a few question since it is my first contribution to PL.
- Should the metric return a single float (the actual panoptic quality) or should it return a dict of detailed intermediate results like in the reference implementation in COCO api?
- If I see small bugs/differences between the reference implementation and the reference paper, which on

[2022-04-04 15:52] stancld opened #931 "Update and unify a number of metrics in `torchmetrics` docs"
## 📚 Documentation

Before the next feature release, it'd be nice to update the number of implemented metrics and unify this number over all occurrences within the docs/pages.

**Additional context:** It looks like we've already had almost 80 metrics, so it'd be pity to underestimate these before another feature release O:]

[code]

[2022-04-04 17:24] JamesLYC88 opened #932 "Add Normalized Discounted Cumulative Gain (nDCG) Score for Classification"
## 🚀 Feature

Normalized Discounted Cumulative Gain (nDCG) score for classification.

### Motivation

We are using torchmetrics nDCG score in multi-label classification. ([Reference](https://github.com/ASUS-AICS/LibMultiLabel/blob/master/libmultilabel/nn/metrics.py))
[code]
At the end of the validation step (finish one data batch, see toy example below), we would call update() of the nDCG metric.

[2022-04-06 09:21] NielsRogge opened #935 "Add ability to let ignore index be outside of number of classes"
## 🚀 Feature

Hi,

So I wanted to use the [Jaccard index](https://torchmetrics.readthedocs.io/en/latest/references/modules.html#jaccardindex) for evaluating my semantic segmentation model. However, regarding the `ignore_index` argument, in the docs it is said that:

=> it says "Has no effect if given an int that is not in the range [0, num_classes-1]"

However, I'd like to specify the `ignore_inde

[2022-04-06 12:30] aniketmaurya opened #937 "Metrics for Levenshtein edit-distance between two strings"
## 🚀 Feature

I want to calculate `edit_distance` between two strings. I would prefer an API similar to [NLTK.metrics](https://www.nltk.org/api/nltk.metrics.distance.html#module-nltk.metrics.distance)

### Motivation

### Pitch

[code]

### Alternatives
[code]

### Additional context

cc: @Borda @stancld

[2022-04-06 13:05] Waterkin commented on #746
Hi, I'm having the same issue on: `accuracy`

[2022-04-06 13:07] Waterkin commented on #543
have the same value for `accuracy`

[2022-04-06 23:56] Alec-Stashevsky opened #938 "Using Module Metrics with PyTorch DDP (without PyTorch Lightning)"
## 🐛 Bug

I have a base PyTorch model that I implement distributing training using `torch.nn.parallel.DistributedDataParallel.` I only perform evaluation on a single GPU.

I have a `MetricCollection` that I use to calculate metrics during test time. I only run the test function on a single GPU (rank 0), however, I train on multiple GPUs using the base PyTorch `DistributedDataParallel` wrapper:

[c

[2022-04-07 02:52] Borda opened #939 "stabilize Transformer testing"
## 🚀 Feature

Find a way how to stabilize tests using `Transformers`, so far they are quite flaky while failing for random connection issues, so it makes all our testing nondeterministic :(

### Motivation

Make tests with `Transformers` or replace their models in testing

### Alternatives

we already have in configuration
[code]
but it is a secondary option and it always asks for a new model if p

[2022-04-07 06:37] stancld commented on #939
Hi @Borda, I encountered the same issue on another project yesterday. At this moment, I'm not aware of any proper solution, but as a short-term fix I currently use a wrapper like this:

[code]

i.e. tests run normally if a HF checkpoint is successfully retrieved, and they're marked as skipped if this procedure fails.

[2022-04-07 06:50] Borda commented on #939
that could be interesting hotfix, mind send a PR with this wrapper and lest explicitly set the exception types :)

[2022-04-08 19:21] MrShevan commented on #780
Can i get this assigned to me please?

[2022-04-08 19:25] EvanZ commented on #784
I am using `TweedieDevianceScore` and a loss function and was also thinking along these lines. It would be really useful to be able to provide weights for each sample. Would the best way to do this currently to implement my own version of the `TweedieDevianceScore` as a custom metric?

[2022-04-08 19:43] EvanZ commented on #784
It would be easy to incorporate weights if the metrics had an option to not reduce to a single scalar number, similar to setting `reduction='none'` in PyTorch loss functions.

[2022-04-08 20:44] stancld commented on #780
@MrShevan Yes, of course, great! :] Feel free to open a draft PR and tag me there once you have anything ready

[2022-04-09 20:03] kuntiik opened #943 "MeanAveragePrecision devices mismatch"
Version: TorchMetrics 0.7.3

I have noticed a bug in MeanAveragePrecision() class.
How to reproduce:
The code in pytorch-lightning module is:
[code]
I get a device mismatch error at line 715 in map.py, when I run my code on a GPU.

I dug deeper and found the problem:
On line 781 is the following code:
[code]
This means, that all gt boxes and detections are stored in the CPU, but in the function _e

[2022-04-09 22:44] stancld commented on #633
Hi @ankitaS11, any updates here? :]

[2022-04-10 10:16] SkafteNicki commented on #943
Hi @kuntiik,
I have trouble reproducing the error you get. If I run the simple MAP example:
https://github.com/PyTorchLightning/metrics/blob/master/tm_examples/detection_map.py
where I move everything to `cuda` I do not get any errors.

Could you try updating to master, just to make sure we have not solved the issue between 0.7.3 and now?

[2022-04-10 10:45] kuntiik commented on #943
Hi,
you tested it on a simple example, which does not catch the error. Try to do the following. Move MeanAveragePrecision to Cuda. Then do update twice: In one of the updates, there has to be a prediction and a ground truth. In the update delete ground truth (pass empty) then try to compute the metrics. I will try to postminimal example asap.

[2022-04-10 10:51] kuntiik commented on #943
[code]

[2022-04-10 12:53] xuyxu opened #946 "feat: brier score for uncertainty estimation on classification"
## 🚀 Feature

### Motivation

Brier score ([WIKI](https://en.wikipedia.org/wiki/Brier_score)) is a popular metric used for uncertainty estimation, an important machine learning task that receives growing interests recently. See this paper for details: https://proceedings.neurips.cc/paper/2017/file/9ef2ed4b7fd2c810847ffa5fa85bce38-Paper.pdf.

It is also a metric already implemented in [scikit-learn

[2022-04-10 18:53] kuntiik commented on #938
I am facing the same issue even with pytorch-lightning. The code is stuck at MeanAveragePrecision.compute(). Should I open a new issue?

[2022-04-10 23:57] #931 closed

[2022-04-11 07:54] #904 closed

[2022-04-11 08:23] SkafteNicki commented on #946
Hi @xuyxu,
Sounds like a great addition to Torchmetrics, feel free to send a PR with full (or partly) implementation of the metric and then we can help you get it merged :]

[2022-04-11 08:25] SkafteNicki commented on #943
Hi @kuntiik,
Thanks for the example that you provided, it does indeed lead to device errors. Going to fix immediately.

[2022-04-11 10:21] Borda opened #949 "Tests: Prepare reference scores once for all env. configs"
## 🚀 Feature

If we use the reference metric only for generating static results, these results will be loaded and used in all testing environments?

The proposed flow is semi-online; still, the references are generated during CI test time but only once and shared to remaining tests... so consider using some JSON or YAML universal format.

_TIP1: The references can be shared among jobs as artifact:

[2022-04-11 10:22] Borda commented on #678
Another point for discussion about static testing references #949

[2022-04-11 14:51] #442 closed

[2022-04-11 15:29] justusschock commented on #949
I support this option in general, I just request that this is implemented with proper caching to ensure that the reference creation is fast most of the time and frequent cache-invalidation that we are always up to date.

@Borda knows all this already since we discussed offline, but mentioning it here for completeness :)

[2022-04-12 00:05] #675 closed

[2022-04-12 08:08] #928 closed

[2022-04-12 13:49] #943 closed

[2022-04-12 22:58] Alec-Stashevsky commented on #938
@SkafteNicki I seem to be having trouble using this. I use SageMaker to train, so I have the following code in my train.py:

[code]

This creates a process_group for the entire world (say a single instance with 8 GPUs). THe problem is I cannot go and create a new process of rank 0 because it is already being used by the smddp process_group. I would just like to select the rank 0 process in the exi

[2022-04-14 12:16] fakufaku commented on #803
Hi @Borda , I have fixed some of the bugs that caused the permutation solver to hang. I have also extended the compatibility back to pytorch 1.4. You may want to bump up the version and give it another go. For torch<=1.7 the package [torch_complex](https://github.com/kamo-naoyuki/pytorch_complex) is necessary.

[2022-04-14 13:10] quancs commented on #803
Hi, @fakufaku your work is great!
But the current implementation of `SDR` in `TorchMetrics` largely depends your inner functions in `fast_bss_eval` which might change in the future versions of `fast_bss_eval`. [inner functions used](https://github.com/PyTorchLightning/metrics/blob/5216c50ba4d1407aa039e6cbde390c07866ffc69/torchmetrics/functional/audio/sdr.py#L23-L37)

So, would you mind to implemen

[2022-04-14 20:39] thomasahle commented on #682
It would be nice if MetricCollection used repr(metric) instead of classname(metric). This would allow the metric designer to come up with a useful name based on the parameters.

[2022-04-15 02:11] Borda opened #956 "Remove deprecated code for next v0.9"
## 🚀 Feature

Let's start standard deprecated API cleaning and also split it into smaller contributions that are not affecting each other, and they are easier/faster to review... So each of the following ToDO shall be addressed in a single PR.
Before you start working on any, pls ping/comment us here so we can assign it to you to reduce work collision :rabbit:

### Motivation

Regular API cleaning

[2022-04-15 11:01] cemde commented on #946
isnt this just an alias for the MeanSquaredError?

[2022-04-15 13:14] xuyxu commented on #946
Hi @cemde, I agree with you from the point of formula. Essentially,  the brier score is the MSE between the one-hot encoded classification label and the probability output. However, after looking at the function sigature of [MSE](https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/functional/regression/mse.py#L56) and classification-related metrics, e.g., [ACC](https://github.com/

[2022-04-15 19:24] tanmoyio commented on #956
`compute_on_step` in classification 🖐

[2022-04-15 20:25] ragavvenkatesan opened #960 "PSNR - Higher is better."
## 🐛 Bug

`PSNR.higher_is_better` should be `True`

### Additional context

This is a simple change, created [PR#959](https://github.com/PyTorchLightning/metrics/pull/959) with the change.

[2022-04-15 21:52] antifriz opened #961 "Accuracy metric - negative `ignore_index` fails when combined with `subset_accuracy=True`"
## 🐛 Bug

### To Reproduce

Combine `ignore_index=-1` with `subset_accuracy=True`

#### Code sample
[code]

### Expected behavior

Not crashing

### Environment

- OS (e.g., Linux): OSX
- Python & PyTorch Version (e.g., 1.0): 3.9 (torch==1.11.0, torchmetrics==0.8.0)
- How you installed PyTorch (`conda`, `pip`, build command if you used source): `pip`
- Any other relevant information:

### Addition

[2022-04-16 12:38] #960 closed

[2022-04-16 16:54] tanmoyio commented on #956
`compute_on_step` in audio 🖐

[2022-04-17 09:38] bishshoy opened #963 "Implement Average() and Sum()"
## 🚀 Feature

Is an Average and Sum metric already implemented? I couldn't seem to find one. It would be great if it can be added to the existing API.

### Motivation

Often, we want to just observe the average of the loss or some other quantity over time. Most pytorch github repos implement something called an `AverageMeter()`, which is basically a class that keeps average of the quantities in tr

[2022-04-18 14:42] cemde commented on #918
What should the design of the call signature be? For Cohen's kappa, the two raters are implemented through the `preds` and `target` variable. With Fleiss Kappa, we have `N > 1` raters, so this is not possible. Further, in its nature, it is an unsupervised metric, which raises the question of the call signature for unsupervised metrics - I couldn't find any in `torchmetrics`. We only need `preds`,

[2022-04-19 09:57] SkafteNicki commented on #963
Hi @bishshoy,
We have a average and sum metric already implemented:
[code]
Docs can be found here: https://torchmetrics.readthedocs.io/en/stable/references/aggregation.html (for now, may change location since they are a bit hidden away)
Closing issue.

[2022-04-19 09:57] #963 closed

[2022-04-19 11:48] vumichien commented on #956
I will work on `compute_on_step` in regression

[2022-04-19 13:21] SkafteNicki commented on #938
I am not familiar on the `smddp` backend, but to call operations such as `torch.distributed.all_gather`, `torch.distributed.barrier` we need to define a process group which we want to call the operations on (by default the world). I therefore see no way around actually defining a new process group only containing rank 0.

To me it seems like the easier solution here, would be to refactor the code

[2022-04-20 04:17] DuYicong515 opened #969 "BinnedPrecisionRecallCurve throws error when `thresholds` is not passed"
## 🐛 Bug

BinnedPrecisionRecallCurve argument `thresholds` is default to `None`, when `None` is passed, `self.num_thresholds` is not initialized, causing error like  `AttributeError: 'BinnedAveragePrecision' object has no attribute 'num_thresholds'`.

Before thresholds argument is removed in #379, not passing in `thresholds` and using the default argument value works fine.

### To Reproduce

[code

[2022-04-20 20:45] iamharsha1999 opened #971 "Add classification metrics: `SensitivityAtSpecificity` and `SpecificityAtSensitivity`"
### Discussed in https://github.com/PyTorchLightning/metrics/discussions/965

<div type='discussions-op-text'>

<sup>Originally posted by **iamharsha1999** April 19, 2022</sup>
I was specifically looking for the following two metrics:
1. Sensitivity at Specificity
2. Specificity at Sensitivity

However I was not able to find it ? Would it be possible to add these implementations to torchmetrics.

[2022-04-20 22:00] ragavvenkatesan opened #972 "Total Variation Loss"
## 🚀 Feature

Hi, in the image package, we are missing the [total variation loss](https://en.wikipedia.org/wiki/Total_variation_denoising).

### Motivation

Total variation loss is a useful loss in reconstruction models such as in auto-encoders. Traditionally used in denoising, it is now being used in several other types of hi-res reconstruction.

### Pitch

### Alternatives

### Additional contex

[2022-04-21 08:27] sudomaze commented on #746
I have encountered this issue and here is a [Colab notebook](https://colab.research.google.com/drive/11gBgDQC0en-5-kMBmSFN0ubV3ylILZKF?usp=sharing) to replicate the issue and the solution.

I agree with @FeryET, the setup is confusing and it would be great if there is a warning or a better example to showcase the difference.

[2022-04-21 10:54] pietrolesci opened #974 "Calibration error does not support negative logits"
Hi there,

It appears that `CalibrationError` currently does not support some of the input data types mentioned in [this table](https://torchmetrics.readthedocs.io/en/stable/pages/classification.html#input-types) from the docs. In particular, it seems to break when fed with

- `preds=logits` where `logits` is a `(N, C)` float32 tensor with potentially negative values.
- `preds=predictions` where `

[2022-04-21 14:08] #803 closed

[2022-04-21 15:02] phaseolud commented on #956
Hey, I would like to work on compute_on_step in image, is that possible?

[2022-04-21 15:06] gianscarpe commented on #821
PR: #822

[2022-04-21 16:47] sergeyf opened #975 "Multi-label example breaks when adding lr_scheduler"
## 🐛 Bug

I'm looking at the example here: https://lightning-flash.readthedocs.io/en/latest/reference/text_classification_multi_label.html#text-classification-multi-label

Specifically, the relevant code is up to and including training:
[code]

### To Reproduce
Add a single line to the `TextClassifer` as follows `lr_scheduler='cosine_schedule_with_warmup'`:

[code]

#### Error

[code]

### Environ

[2022-04-21 16:48] sergeyf commented on #975
Thank you, completely unthinking robot.

[2022-04-21 20:03] stancld opened #976 "Add `Sensitivity` metric."
## 🚀 Feature

Add `Sensitivity` metric, which is a close one to [`Specificity`](https://torchmetrics.readthedocs.io/en/stable/classification/specificity.html#specificity) metric already implemented in `Torchmetrics`.

### Motivation

To cover another classification metric. Also, this allows us to implement `SpecificityAtSensitivity` and `SensitivityAtSpecificity` proposed in #965.

### Pitch

Add

[2022-04-21 20:14] stancld commented on #972
Hi @ragavvenkatesan, looks like a good addition. Do you wanna try to tackle this one and send a PR? :]

[2022-04-21 20:43] #976 closed

[2022-04-21 21:13] PCPJ opened #977 "Jaccard and FiScore metrics aren't working properly in 0.8 version"
## 🐛 Bug

I am using the IoU and F1 metrics to evaluate my segmentation model. Everything was running fine, until the 0.8 version was released.
I just changed the Metric names from IoU to JaccardIndex, and F1 to F1Score. The problem is that my the metric calculation looks random now.

Before 0.8:
![before](https://user-images.githubusercontent.com/8596365/164522205-c66ac3e1-8792-4127-8955-17c58c63

[2022-04-22 03:08] ragavvenkatesan commented on #972
Sure. I can try and add. I have a version of this that I use already, which is `subclassed` from the Metric class.

[2022-04-22 11:27] stancld commented on #956
Yes, definitely! Feel free to start! :]

[2022-04-23 08:17] Chris-hughes10 opened #981 "Sort currently does not support bool dtype on CUDA: Regression in version 0.7.3 +"
## 🐛 Bug

When I try to compute MaP on the GPU with no predictions, I receive the error:`RuntimeError: Sort currently does not support bool dtype on CUDA.`

This occurs in `torchmetrics==0.7.3` and `torchmetrics==0.8.0`, the error does not occur in `0.7.2`.

### To Reproduce

Steps to reproduce the behavior...

[code]

#### Code sample

[code]

### Expected behavior

I would like to be able to com

[2022-04-23 19:38] krshrimali commented on #981
Hi, @Chris-hughes10 - Great first issue! 🎉 I love the description and thanks for sharing the code for reproducing the bug.

I can confirm that this is a regression from release 0.7.2, IMO: an explicit cast from `torch.bool` to `torch.uint8` (on CUDA only) while applying `torch.argsort` should fix this. Looks like PyTorch doesn't support sorting for boolean dtypes on CUDA devices:

[code]
https://g

[2022-04-24 03:19] Borda commented on #981
@krshrimali mind sending PR with fix?

[2022-04-24 05:12] krshrimali commented on #981
Done :))

[2022-04-24 15:03] #981 closed

[2022-04-25 10:01] SkafteNicki commented on #977
Hi @PCPJ, thanks for raising this issue.
At first glance I cannot reproduce the behaviour you are reporting. If I run the following script:
[code]
I get the same values regardless of version.
Only thing I can think of is that `MetricCollection` received a pretty huge update in v0.8 which might have introduced some unwanted bugs. Could you please try to initialize them with the new compute group fe

[2022-04-25 10:35] SkafteNicki commented on #974
Hi @pietrolesci,
I have now created PR #985 to fix the issue. One note is that the metric cannot the case where `preds` is an `int` tensor since the metric needs access to the raw probabilities/logits of the model.

[2022-04-25 10:54] #938 closed

[2022-04-25 10:56] SkafteNicki commented on #971
Hi @iamharsha1999,
You are completely right that these metrics are not implemented in torchmetrics, yet ;)
Would you like to contribute them to the project?

[2022-04-25 11:14] jacanchaplais opened #986 "Clarification: why do binned metrics outnumber bins?"
Hi there - this is a very basic question, but couldn't find it in the docs.

For `BinnedPrecisionRecallCurve`, if you ask for 5 thresholds, you get 6 values of precision and recall. I'm just wondering what this means. To copy and paste the docs:

[code]

I would expect that there would be `num_thresholds - 1` values for precision and recall, so that, for instance, the first values could sit within

[2022-04-25 11:22] jacanchaplais commented on #986
Or am I looking at this backwards? Are the bin edges actually the precision and recall, and the threshold is being binned by them?

[2022-04-25 12:59] pietrolesci commented on #974
Hi @SkafteNicki,
Thanks for acting so quickly on this!

[2022-04-25 13:48] jacanchaplais commented on #986
Many thanks for this - might be worth including in the docs for people similarly confused! :)

Jacan.

[2022-04-25 13:50] #986 closed

[2022-04-26 13:45] #974 closed

[2022-04-26 14:06] LarsHill opened #987 "Allow arbitrary types for metric states"
## 🚀 Feature

Metric states seem to be limited to `torch.Tensor` or `List[torch.Tensor]`.

In my usecase i want to store a dictionary as state. My dataset comprises of samples who can be assigned to different documents. In order to calculate macro metrics (calculate metrics per document and average) I want to store my metric states (e.g. true positives, false positives, etc.) as a dictionary. Here

[2022-04-26 16:31] lighthouseai opened #988 "cannot import name 'F1' from 'torchmetrics'"
### To Reproduce

Steps to reproduce the behavior...

Tried in python3.9 local machine and colab

used the below line to install torchmetrics
pip install torchmetrics

--> from torchmetrics import F1, MetricCollection

Triggers the following error:
ImportError: cannot import name 'F1' from 'torchmetrics' (/home/countai/miniconda3/envs/myenv/lib/python3.9/site-packages/torchmetrics/__init__.py)

[2022-04-26 17:13] #988 closed