[2020-03-30 13:08] justusschock opened #50 "[Metrics] Panoptic Quality"
## 🚀 Feature
Implement Panoptic Quality

[2020-03-30 13:13] justusschock opened #51 "[Metrics] ROUGE"
## 🚀 Feature
Implement ROUGE

[2020-05-19 15:47] justusschock opened #52 "[Metrics] WER"
Add WER cc @oplatek

https://github.com/PyTorchLightning/pytorch-lightning/issues/973#issuecomment-592420431

[2020-07-08 16:06] ternaus opened #53 "Feature request: Add Mean Average Precision (mAP) metric"
The main metric for object detection tasks is the Mean Average Precision, implemented in PyTorch, and computed on GPU.

It would be nice to add it to the collection of the metrics.

The example implementation using `numpy`:

https://github.com/ternaus/iglovikov_helper_functions/blob/master/iglovikov_helper_functions/metrics/map.py

[2020-07-11 04:31] YuxianMeng opened #54 "Metrics support mask"
## 🚀 Feature

Current metrics like Accuracy/Recall would be better to support mask.

### Motivation

For example, when I deal with a Sequence Labeling Task and pad some sequence to max-length, I do not want to calculate metrics at the padding locations.

### Pitch

I guess a simple manipulation would work for accuracy.[(here is the original one](https://github.com/PyTorchLightning/PyTorch-Lightnin

[2020-11-06 04:46] NumesSanguis opened #62 "Add a property to the Metric class from which can be determined if it can be self.log (scalar or not)"
## 🚀 Feature

Add a property to Metrics which can be checked to see if it can be logged or not.
Or better?, what the computed shape will be.

### Motivation

So far all Metrics in PL v1.0.x compute a scalar. The recommended way therefore is to call:
[code]
which has worked up until now.
However, with upcoming metrics like ConfusionMatrix, the computed value returned is not necessary a scalar, whic

[2020-11-20 14:58] junwen-austin opened #55 "Update class metrics interface of Precision/Recall/Fbeta to allow calculate them for each individual class"
## 🚀 Feature

I'd like to propose to update class metrics interface of `Precision/Recall/Fbeta` to have the `average` argument include `none` and `weighted` as in the corresponding functional metrics interface.

### Motivation
Current interface with `average` argument restricts to `macro` and `micro`, and because of that one could not use class metrics interface to calculate precision/recall/fbeta

[2020-12-14 11:16] Borda opened #56 "Some metrics return NaN for edge cases"
## 🐛 Bug

### To Reproduce

https://github.com/PyTorchLightning/pytorch-lightning/blob/74171efadf5ea94416d26f1e2c27c1586a3a84b3/pytorch_lightning/metrics/classification/average_precision.py#L71

### Expected behavior

Some metrics for unused classes return NaN, I would say it shall be rather 0

[2020-12-31 11:47] Llannelongue opened #57 "Some metrics don't work on CPU using float16"
## 🐛 Bug

It looks like some metrics such as Precision-Recall curve don't work on CPUs when using `float16`, perhaps due to a missing feature in pytorch?

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1xDv043rRi5WBshP4m5aoxTt2ChlfxjIk?usp=sharing

### Expected behavior

the metrics should work in half precision on CPUs as well.

### Environment
* CUDA:
	- GPU:

[2021-01-04 22:35] teddykoker opened #3 "Remove Lightning as Dependency"
Requires just a little modification to remove lightning as a dependency (it will still be used for testing)

[2021-02-05 04:24] Whisht opened #58 "F1 and Precision/Recall value not consistent."
## 🐛 Bug

The return of f1 and precision is wrong.

### To Reproduce
[code]
As mentioned above, If we take `0` as positive class, then `tp, fp, tn, fn = [8, 8, 0, 0]`, and `precision` will be `0.5`, `recall` should be `1`. But the `precision()` method get a `0.5` output.

### Expected behavior

The value could be consistent. And a give parameter that could make any class as positive (like sklearn)

[2021-02-22 03:58] veritas9872 opened #59 "Cohen Kappa Score and Matthews Correlation Coefficient Metrics"
## 🚀 Feature
I would like to request the (re-) implementation of the Cohen Kappa score and the new implementation of the Matthews Correlation Coefficient (MCC) in PyTorch Lightning's metrics.

### Motivation

The Cohen Kappa and MCC are often used metrics in classification tasks, especially in a medical setting to determine such things as inter-grader reliability. The Kappa score was originally im

[2021-02-22 12:40] rivi opened #64 "`log_dict` is missing `prefix` parameter that is mentioned in docs"
## 🐛 Bug

[`MetricCollection` documentation](https://pytorch-lightning.readthedocs.io/en/1.2.0/extensions/metrics.html#metriccollection) mentions using `self.log_dict(self.train_metrics, on_step=True, on_epoch=False, prefix='train')`. The `prefix` parameter doesn't seem to be present in `log_dict` function header.

### Expected behavior

`prefix` is most likely usable in this context, so this feat

[2021-02-22 20:20] its-dron opened #60 "Allow unnormalized class scores for Accuracy"
## 🚀 Feature
Presently, when using `Accuracy` metric on multi-class with scores (`N,C` entry in [input types](https://pytorch-lightning.readthedocs.io/en/1.2.0/extensions/metrics.html#input-types)), the scores are required to be probabilities in [0, 1].

However, un-thresholded accuracy can be computed without normalized probabilities as inputs, as relative ordering of scores is all that is needed

[2021-02-24 10:41] #3 closed, assigned to nobody

[2021-02-26 09:36] Borda opened #18 "finishing TM"
## 🚀  To Be Done

You still need to enable some external integrations such as:
 - [x] add relevant badges (docs, tests, coverage, pypi)
 - [x] init Read-The-Docs (add this new project)
 - [x] enable Discussion - https://github.com/github/feedback/discussions/24#discussioncomment-318095

[2021-03-05 10:25] SkafteNicki opened #26 "Test for differentiability"
## 🚀 Feature

Add a property that for which the user can determine if a metric is differentiable or not
[code]
and add appropriate tests. We can take inspiration from what kornia is doing:
https://github.com/kornia/kornia/blob/master/test/color/test_gray.py#L69

### Motivation

Some metrics support differentiability, some does not. Would be great if we were more explicit about it and actually have

[2021-03-05 13:35] SkafteNicki opened #27 "Add contribution guidelines"
## 📚 Documentation

All build-in metrics follow a very fixed structure:
* implement core logic in `new_metric.py` file and place that in the functional folder
   - should contain a `_new_metric_update`, `_new_metric_compute` and `new_metric` function
* implement the corresponding `new_metric.py` file in the appropriate class based folder
   - should inherent from `Metric` class
   - should call th

[2021-03-09 23:42] stas-sl opened #61 "Add ignore_index option to Accuracy metric"
## 🚀 Feature

It would be nice if `Accuracy` metric accepted `ignore_index` as it works for `StatsScore` or `torch.nn.CrossEntropyLoss`

[2021-03-10 08:48] SkafteNicki opened #35 "Add gpu/multi-gpu testing"
## 🚀 Feature

Currently we only test the metrics on single cpu and distributed cpu. While we had no explicit issues that links back to the metrics not beign tested on gpu, we should do it anyway.

### Motivation

### Pitch

### Alternatives

### Additional context

[2021-03-10 19:40] #27 closed, assigned to Borda, SkafteNicki

[2021-03-10 23:43] #18 closed

[2021-03-11 12:54] Borda opened #46 "register conda forge"
## 🚀 Feature

Publish package also to Conda distribution

### Motivation

Allow user to install from any source

### Additional context

[2021-03-11 13:12] Borda commented on #46
waiting for the final release, opened PR https://github.com/conda-forge/staged-recipes/pull/14229

[2021-03-12 12:13] janhenriklambrechts opened #49 "MinMaxMetric for wrapping other metrics"
## 🚀 Feature

### Motivation

- `MinMaxMetric` is a metric that simply wraps another metric (e.g.`val_acc`) and creates a new metric that tracks the `min`, `max`  or both values of `val_acc`.

### Pitch

- I personally use it to quickly see the `max_val_acc` of a complete experiment in TensorBoard (instead of going through the graph manually to find the max value) but I can see other usecases as w

[2021-03-13 04:34] bhadreshpsavani commented on #26
Can I take this?

[2021-03-13 06:40] avinashsai commented on #61
Hi,
Anyone working on this? I can try the implementation.

[2021-03-13 07:50] SkafteNicki commented on #26
@bhadreshpsavani please feel free to do so :]
Ping me either here or on our slack channel if you need any help.

[2021-03-13 07:51] SkafteNicki commented on #61
@avinashsai please feel free to do so :]
Ping me either here or on slack if you need any help.

[2021-03-13 07:53] SkafteNicki opened #65 "[New metric] FID"
## 🚀 Feature

Add Fréchet inception distance (FID) metric.
Standard measure for image quality of generative models.

Originally proposed here:
https://arxiv.org/abs/1706.08500

Other links:
https://en.wikipedia.org/wiki/Fr%C3%A9chet_inception_distance
https://machinelearningmastery.com/how-to-implement-the-frechet-inception-distance-fid-from-scratch/

### Motivation

### Pitch

### Alternatives

#

[2021-03-13 08:00] SkafteNicki opened #66 "[New metric] KLDivergence"
## 🚀 Feature

Add KLDivergence metric. Measures the distance between two probability distributions p(x) and q(x).
Given by (pseudo implementation):
[code]
where s_p are samples from the p(x) distribution and s_q are samples from the q(x) distribution.
https://en.wikipedia.org/wiki/Kullback%E2%80%93Leibler_divergence

### Motivation

### Pitch

### Alternatives

### Additional context

[2021-03-13 08:40] ananthsub opened #67 "Offer a dedicated sync() interface on the base Metric class"
## 🚀 Feature
Offer a dedicated `sync()` interface on the base Metric class. This would consolidate state across a provided process group using a given `dist_sync_fn` and would let us deprecate the `dist_sync_on_step` flag on the metric constructor.

### Motivation

The reason we'd like this is to decouple metric computation and global syncing. As a result, we'd be able to inspect both the local me

[2021-03-13 12:51] SkafteNicki commented on #64
@jspaezp please checkout the PR I have opened #70 to see if anything is missing :]

[2021-03-13 12:59] SkafteNicki commented on #62
With the separation of metrics from lightning this feature does not really fit this package any more as it is lightning specific.
Closing it.

[2021-03-13 12:59] #62 closed

[2021-03-13 13:30] avinashsai commented on #61
@SkafteNicki I have a query:
This ignore_index should ignore that class label and calculate accuracy for the rest?
Ex: y_pred - [1, 0, 1, 1, 0], y_true - [1, 0, 0, 1, 0]

Accuracy(y_pred, y_true, ignore_index=0) = 100%
Ignoring class label '0', there are only two samples belonging to class '1' and hence accuracy is 100%.

[2021-03-13 14:03] hassiahk commented on #66
Hello @SkafteNicki, can I start working on this?

[2021-03-13 15:03] SkafteNicki commented on #66
Yes @hassiahk, I will assign you to this issue, thank you for wanting to contribute :]
Please remember to read our contribution guidelines: https://torchmetrics.readthedocs.io/en/stable/generated/CONTRIBUTING.html and this page https://torchmetrics.readthedocs.io/en/stable/pages/implement.html#contributing-your-metric-to-torchmetrics

[2021-03-13 15:12] SkafteNicki commented on #61
@avinashsai that at least how I would like the argument to work, as it is similar to how `torch.nn.CrossEntropyLoss` works.

[2021-03-13 16:02] hassiahk commented on #66
Sure, will take a look at them. :) Thanks @SkafteNicki

[2021-03-13 18:37] SkafteNicki opened #73 "[New metric] Deviance scores"
## 🚀 Feature

Add deviance scores:
* Poisson deviance https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_poisson_deviance.html#sklearn.metrics.mean_poisson_deviance
* Gamma deviance https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_gamma_deviance.html#sklearn.metrics.mean_gamma_deviance
* Tweedie deviance https://scikit-learn.org/stable/modules/generated/sk

[2021-03-13 18:41] hassiahk commented on #73
Hi @SkafteNicki, can I also work on this simultaneously with `KLD`?

[2021-03-13 20:07] justusschock commented on #26
@bhadreshpsavani for the metrics that ware not differentiable, please also wrap the `forward` and `compute` functions with `torch.no_grad` to reduce the memory footprint.

[2021-03-13 20:17] justusschock opened #74 "Non-Softmaxed Classification"
## 🚀 Feature

### Motivation

Support other types for classification metrics. I.e non-softmaxed network outputs.

For outputs of categorical classification, it does not matter if the output is softmaxed or not. The argmax of these tensors is the same. Can we support those by simply taking an argmax even if the values are out of the 0-1 range?

cc @SkafteNicki Whether we want to support this.

[2021-03-14 08:19] SkafteNicki commented on #74
Agree that we should support this. This issue is similar to https://github.com/PyTorchLightning/metrics/issues/60, but we should make it more general than just Accuracy metric.

[2021-03-14 08:20] SkafteNicki commented on #73
@hassiahk yes, I will assign you :]

[2021-03-14 08:28] #64 closed

[2021-03-14 08:33] SkafteNicki opened #75 "[New metric] CosineSimilarity"
## 🚀 Feature

Add Cosine similarity metric
https://en.wikipedia.org/wiki/Cosine_similarity
Measures the similarity between two feature vectors by calculating the angle between them.

### Motivation

### Pitch

### Alternatives

### Additional context

[2021-03-14 08:46] jspaezp commented on #64
@SkafteNicki looks great! Amazing work!

@uwaisiqbal (just mentioning you so you know it is getting merged)

[2021-03-14 08:46] SkafteNicki opened #76 "Allow MetricCollection to combine calculations"
## 🚀 Feature

Allow `MetricCollection` to combine metrics internally to reduce redundant computations.

### Motivation

Many metrics currently shares the same redundant computations underneath. Take `Recall` and `Precision` for example, they will both calculate tp, fp, tn, fn during their update step and then use them differently during the compute step. We have chosen to do it this way to make th

[2021-03-14 16:17] janhenriklambrechts opened #78 "MetricLists for updating multiple metrics at once"
## 🚀 Feature

### Motivation
I am using my own version of `MetricLists` in my personal workflow for some time now and it has proven to be very helpful in keeping code clean.

A `MetricList` wraps multiple metrics together and puts them on proper devices (much like a `ModuleList`). What makes it different is that  it also allows you to update all of them in one `compute()` statement and log all of

[2021-03-14 16:23] janhenriklambrechts commented on #78
Did not notice that there are `MetricCollection`s now. Closing this issue as it basically implements this usecase.

[2021-03-14 16:23] #78 closed

[2021-03-15 14:16] avinashsai commented on #75
Hi,
https://pytorch.org/docs/stable/generated/torch.nn.CosineSimilarity.html. There is already cosine similarity in torch. Can I use it?

[2021-03-15 14:48] SkafteNicki commented on #75
@avinashsai depends on your purpose.
If you want the calculate the mean score on a single batch, no problem.
But lets say that you want to accumulate over a complete dataset, then you need some kind of custom accumulation:
[code]
the global mean does not equal the mean of the score on the individual batches.
This is basically the reason why we also have custom implementation of mean squared error,

[2021-03-15 15:52] avinashsai commented on #75
@SkafteNicki Thanks for the clarification. So, this cosine similarity metric will compute between 2 n-dim tensors??

[2021-03-15 19:47] SkafteNicki commented on #75
It should still be two [N, d] tensors meaning N tensors each with dimension d.
First the function should calculate the cosine similarity between the two tensors and then it should have a `reduction` argument that determines if we should take the `sum` or the `mean` over the batch dimension

[2021-03-15 19:54] #59 closed

[2021-03-16 07:25] SkafteNicki opened #89 "[New Metric] Hinge losses"
## 🚀 Feature

Add Hinge losses to classification package:
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.hinge_loss.html#sklearn.metrics.hinge_loss
possibly with an added parameter `squared` to also calculated squared hinge loss

### Motivation

### Pitch

### Alternatives

### Additional context

[2021-03-16 12:40] hassiahk commented on #66
Hi @SkafteNicki,

I have seen people using this metric for `regression` tasks but I will be adding this to `classification` because we deal with probabilities and their distributions. Will that be fine?

And how do we test this metric since `sklearn.metrics` does not offer this metric?

[2021-03-16 13:58] SkafteNicki commented on #66
Fine by me adding it to `classification`.
You can use http://scipy.github.io/devdocs/generated/scipy.stats.entropy.html function. It calculates the KL-divergence if two distributions are given.

[2021-03-16 19:22] maximsch2 opened #94 "Support sample_weight in metrics"
## 🚀 Feature
Metrics should give an option to be compute with per-sample weights, similar to Scikit-Learn (e.g. https://scikit-learn.org/stable/modules/generated/sklearn.metrics.average_precision_score.html)

### Motivation

For a lot of applications, per-sample weighting is important and so metrics package should provide support for this.

### Additional context

Keras metrics provide sample_weig

[2021-03-16 19:27] maximsch2 opened #95 "Constant-memory implementation of precision-recall related metrics"
## 🚀 Feature

Metrics that depend on precision-recall curve are currently implemented in a way that requires storing all of the predictions and labels in memory, making it's use impractical for large datasets or problem with large label spaces. We should support binning-based metrics implementation to solve this. Prototype is here: https://gist.github.com/maximsch2/2b55bab6deba629a5686258cb8152e53

[2021-03-16 19:40] maximsch2 opened #96 "Bootstrap wrapper for metrics?"
## 🚀 Feature

We should provide ability to compute bootstrapped confidence intervals for metrics.

### Motivation

Confidence intervals are important and we should make it easy for people to increase rigor of their research and model evaluations.

### Pitch

I'm thinking we can have something like this (very high level):
[code]

which will let people to wrap any metric, have a set of copies of the

[2021-03-16 20:11] SkafteNicki commented on #96
Hi @maximsch2, great idea. Would you be up for doing a PR?
Just to be clear, would the `compute` method look something like:
[code]
or would you just return the computed values?

[2021-03-16 20:28] SkafteNicki opened #99 "Allow Accuracy to return metric per class"
## 🚀 Feature

Implement the `average` argument like in Precision and Recall such that accuracy metric can return the metric per class label.

### Motivation

Sometimes it may be beneficially to look at the accuracy per label, especially when working with very unbalanced datasets

### Pitch

### Alternatives

### Additional context

[2021-03-16 20:45] SkafteNicki commented on #95
That would be a great improvement @maximsch2, and from the gist it already seems like you have nearly done the hard work. Please feel free to send a PR :]

[2021-03-16 20:49] maximsch2 commented on #96
Yes, we need to decide how we want to represent the bootstrapped result (e.g. mean + std, or maybe 5%, 50%, 95% percentiles, possibly even configurable), but yes, your compute function is approximately what I have in mind.

I don't have too much bandwidth to do it right now, so throwing it out there if someone wants to take it on. I might get back to it in the future though.

[2021-03-16 21:44] SpontaneousDuck opened #100 "Functional Confusion Matrix with Multi-Label"
## 🐛 Bug

I am trying to analyze a model that has multi-label predictions. When creating a confusion matrix with the functional `confusion_matrix` method, I get a much different result than expected. I may be misunderstanding how this is supposed to work so any help would be appreciated!

### To Reproduce

Steps to reproduce the behavior:

1. Predict multi-label data that has had `torch.sigmoid` a

[2021-03-17 11:51] SpontaneousDuck commented on #100
So I guess the more usefull expected behavior would be the Multi-Label Confusion Matrix output like `sklearn.metrics.multilabel_confusion_matrix` where the output is `(n_outputs, 2, 2)`. It appears like `torchmetrics` is kind of doing this but extending the 2x2 matrix to the size of `num_classes` where the multi-label confusion matrix occupies the first two rows and columns. `pytorchmetrics` is al

[2021-03-17 17:17] SpirinEgor opened #102 "Unable to call metric from any step in Lightning module"
## 🐛 Bug

I implemented my own Metric class that returns from the `compute` data class with some aggregated metrics -- precision, recall, and f1-score. But when I try to call metric inside `*_step` I got the error from PyTorch internals.

The error happened in this [line](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py#L1054). If I call validation metric (initialized with

[2021-03-17 17:36] FlorianMF commented on #100
IMO yes if the philosophy is to create a pytorch optimised sklearn.

[2021-03-17 17:51] FlorianMF opened #103 "Multi-label ROCs"
## 🚀 Feature

Similary to issue https://github.com/PyTorchLightning/metrics/issues/100 it would be nice to be able to make `roc` work with multi-label inputs.

### Motivation & Pitch
`auc` and hence `_auroc_compute` do work with multi-label inputs and return a AUROC value for each label/class by iterating over `range(num_classes)` when passing `average=None`.
`_roc_compute` and hence `roc` differe

[2021-03-17 18:00] FlorianMF commented on #103
a possible implementation would be :
[code]

[2021-03-17 18:41] FlorianMF opened #104 "Micro average for auroc"
## 🚀 Feature
Add 'micro' to list of allowed averages.

### Motivation
For now, 'average' must be in [None, 'macro', 'weighted].
For multi-label classification it would be nice to allow micro averaging.
This comes down to calculating `auroc(preds.flatten(), target.flatten())`.

Similarly to https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html.
One could also consider

[2021-03-17 19:12] SpirinEgor commented on #102
You can find metric code (here)[https://github.com/SpirinEgor/commode-utils/blob/master/commode_utils/metrics.py]. Since it is something like repo with further useful for me things, I add it to PyPI too. You can install it to your test dev and try inside the PyTorch Lightning module.
Btw, there are some simple (tests)[https://github.com/SpirinEgor/commode-utils/blob/master/tests/test_metrics.py].

[2021-03-18 09:35] SkafteNicki commented on #102
@SpirinEgor I must be doing something different from you, because if I call your metric inside `training_step` I cannot reproduce the error. Could you provide what your `training_step` looks like?

[2021-03-18 09:55] SpirinEgor commented on #102
Sure, here what I'm doing.
[code]

This is very strange for me too. Because when I wrote tests for metric class it was work just fine...
I also tried to use the last version of PyTorch-Lightning, but it doesn't change anything.

[2021-03-18 10:49] SkafteNicki commented on #102
Strange, still cannot reproduce your error. Both training and validation seems to run fine :/
Do you have any backward hooks registered in your code? because it should only get to that location in the pytorch code if you have.

[2021-03-18 11:10] SpirinEgor commented on #102
Oh, it's become really tough...
I didn't define any hooks. Any chancing Lightning can do it? Also, I used DGL to train on graphs, maybe it defines hooks.

[2021-03-18 12:13] FlorianMF opened #106 "[New Metric] Specificity"
## 🚀 Feature
In addition to Precision and Recall it would be nice to have a Specificity metric.

For the implementation I think it would be enough to make a copy of Recall (class und function) and adapt numerator and denominator in _precision_compute.

### Alternatives
For binary classification Specificity is the same as Recall with 0 as true label.
For multiclass classification this is not as eas

[2021-03-18 12:15] SpirinEgor commented on #102
I found the reason for all my troubles. In the main train function, I use `WandbLogger` and I also use
[code]
This step adds backward hooks to track gradients, their norms, etc. After I disable it metric start working as I expected.

Anyway, big thanks for your response! The library is great, hope to see more cool features.

[2021-03-18 12:15] #102 closed

[2021-03-18 12:18] FlorianMF opened #107 "[New Metric] Negative predictive value"
## 🚀 Feature
In addition to Precision and Recall it would be nice to have a Negative predictive metric.

For the implementation I think it would be enough to make a copy of Precision (class und function) and adapt numerator and denominator in _precision_compute.

### Alternatives
For binary classification Specificity is the same as Precision with 0 as true label.
For multiclass classification this

[2021-03-18 12:32] SkafteNicki commented on #102
Thanks for letting me know, and glad that you like the library!

[2021-03-18 14:45] N-georgakopoulos commented on #75
Hey, I would like to work on this, could you assign it to me?

[2021-03-18 15:43] jspaezp commented on #53
@Borda I can give this a go.

But I am wondering what input format would be the most consistent with the rest of the package ...
Most of the stuff that it implemented in the package takes directly tensors of shape [N,C, ...] ... and what scope would you like for it ...

So directly ...

1. Should it support only pre-aligned inputs?
    -  `(preds =  [N,C] , targets =  [N,C] )`
2. Should it support

[2021-03-20 03:34] vilon888 opened #112 "in DDP training, run ROC.compute() will results gpu to 100% usage and hang the training process"
## 🐛 Bug

### To Reproduce

follow the sample code like https://github.com/PyTorchLightning/metrics,
we use `metric = torchmetrics.ROC()`
`model.roc_metric = metric`

in test epoch,
`metric.update (output, target)`

and after test epoch, run compute
`metric.compute()`

hang training process and result two gpu in 100% usage

btw, use the metric code in the  pytorch_lightning have the same issue as

[2021-03-21 00:07] davzaman commented on #54
Hello, perhaps I'm missing something but I'm not sure that there's a one-size-fits-all answer to this that can just be implemented as a wrapper.

I may be breaking down the problem incorrectly. For metrics with a simple internal sum, just replacing values in the mask with 0 will suffice. For metrics that have an internal mean, the generic solution would be to sum over `dim=1` and then replace`n_ob

[2021-03-21 05:59] VinhLoiIT commented on #52
I believe both CER (Character Error Rate) and WER (Word Error Rate) metrics are pretty commonly used in OCR problems and might be in audio/speech as well.

I did implement the metrics in Lightning before but in the older version, so I think it would not be a problem to upgrade the code. However, it might rely on another library such as `editdistance` that I don't know whether I could be able to us

[2021-03-21 08:52] ethanwharris commented on #89
Hi @SkafteNicki, I'd like to take a look at adding `hinge_loss` to `torchmetrics` :) Could you assign me to the issue?

[2021-03-21 09:25] SkafteNicki commented on #89
@ethanwharris Nice, thanks for wanting to contribute :]

[2021-03-22 09:17] lucadiliello commented on #53
mAP was added to PL some months ago and is now part of the `torchmetrics` package.

[2021-03-22 09:40] Borda commented on #53
added with 60c0eec4954b8a9a44f437d312fd0698a75f3630

[2021-03-22 09:52] SkafteNicki commented on #53
reopening as the current implementation in torchmetrics is for information retrieval and here is being asked for an implementation for object detection.

[2021-03-23 15:11] uwaisiqbal commented on #64
Awesome thanks for the update and for the amazing work!

[2021-03-23 17:43] #104 closed

[2021-03-23 20:41] #103 closed

[2021-03-24 10:04] janvainer commented on #52
It could be interesting to use [pytorch-edit-distance](https://github.com/1ytic/pytorch-edit-distance) instead of editdistance. It should support CUDA operations.

[2021-03-24 12:21] Borda opened #125 "Add testing agains each feat PT version"
## 🚀 Feature

Add a conda setup for testing against all PyTorch feature releases such as 1.4, 1.5, 1.6, ...

### Motivation

have better validation if some functions are not supported in old PT versions

### Pitch

### Alternatives

use CI action with conda setup, probably no need for pull large docker image

### Additional context

take inspiration from past Conda matrix in PL

[2021-03-24 15:09] SkafteNicki commented on #49
Hi @janhenriklambrechts are you still interested in sending a PR for this feature?

[2021-03-24 15:11] janhenriklambrechts commented on #49
Absolutely, you can assign it to me.
Think I will be able to start working on it in a few days :)

[2021-03-24 15:30] SkafteNicki commented on #49
@janhenriklambrechts Nice :]
Feel free to ping if you have any question (here or on slack).
If you need inspiration, then I have a open PR for another wrapper metric (https://github.com/PyTorchLightning/metrics/pull/101) for creating bootstrapped versions of metrics.

[2021-03-24 15:31] janhenriklambrechts commented on #49
Thank you so much for the inspiration! Very useful!

[2021-03-24 16:39] janvainer opened #126 "Change order of updates in metric forward to increase efficiency"
## 🚀 Feature

Refactor `Metric.forward()` to call `update` only once.

### Motivation

The `update()` method in `Metric` gets computed twice in `forward()` in case the `compute_on_step` is True.
This means repeated computation, which can slow down execution. For example, I have a custom `SmoothL1Metric` and the `update` function calculates element-wise  `L1` distance  (see below). The problem aris

[2021-03-24 19:13] Borda commented on #126
@PyTorchLightning/core-metrics thoughts?

[2021-03-24 19:32] #55 closed

[2021-03-24 19:32] #58 closed

[2021-03-24 19:58] maximsch2 commented on #126
This makes sense to me. Another nit/question is that `self._forward_cache` seems like it doesn't necessarily belong on `self` as it can also be a heavy object we don't want to store long-term. I would suggest even something like this:

[code]

[2021-03-24 21:46] alanhdu opened #129 "Include AverageMeter?"
One common pattern I've seen copy-pasted across many different projects is a generic `AverageMeter`, which takes the average of things of a quantity.

This isn't strictly a "metric", but I'm wondering whether you'd be open to having an implementation in this metrics repository -- it's quite common and having it in a centralized place could be helpful. If you are open to it, I'd be happy to contrib

[2021-03-25 00:58] VinhLoiIT commented on #52
I think this implementation has some redundant features, such as `remove_blank` and `strip`, which are not necessary, but the CUDA support is useful though.

Moreover, the current implementation requires both `blank` and `space` characters, as I skim through the CUDA code, which does not cover the general use of this metric. For example:
- In OCR, we also need the CER (Character Error Rate) metric

[2021-03-25 08:22] janvainer commented on #126
@maximsch2 I think the `self._forward_cache` is used in [tests](https://github.com/PyTorchLightning/metrics/blob/b429dbdb2e71c29fcd7ccdc9636ef5180f51152a/tests/bases/test_metric.py#L180).

[2021-03-25 08:42] SkafteNicki commented on #126
`self._forward_cache` is also used for internally logging in lightning, see this file:
https://github.com/PyTorchLightning/pytorch-lightning/blob/555a6fea212e340f0b3a9684829e6027e4ba27c0/pytorch_lightning/core/step_result.py#L303
so that cannot be removed.
@janvainer I really like this suggestion. I cannot completely comprehend if changing will work for all metrics (I am sure it will work for the

[2021-03-25 08:45] janvainer commented on #126
Yes, I will make a PR :) But probably not today, but on the weekend.

[2021-03-25 08:45] SkafteNicki commented on #129
@alanhdu I think it is a great addition to torchmetrics.
We would still need it to fit into the general `torchmetrics` layout meaning that it should inherent from `torchmetrics.Metric` and implement both a `update` and `compute` method.

[2021-03-25 12:25] carmocca commented on #52
I agree with you @VinhLoiIT

Although I have found the package https://github.com/life4/textdistance to be better supported, for example: https://github.com/roy-ht/editdistance/issues/46

If we agree on a package, we can move forward with the implementation

[2021-03-25 12:27] carmocca commented on #51
@SeanNaren you could take this at some point, as you already have a working implementation relying on https://pypi.org/project/rouge-score/

[2021-03-25 16:13] victorjoos opened #132 "Implement __getitem__ as "metric arithmetic""
## 🚀 Feature

Allow a user to define a new metric that takes an item out of an other metric.

Basically :

[code]

### Motivation

There are multiple metrics (like IoU and confusion matrix) that would benefit from the use of such a feature, and it is close to the mechanism of metric arithmetic.

### Pitch

This would only need to define
[code]

### Alternatives

The straightforward alternative is

[2021-03-25 19:44] #125 closed

[2021-03-25 20:16] #89 closed

[2021-03-25 20:49] SkafteNicki commented on #132
@justusschock

[2021-03-26 15:49] jspaezp commented on #53
Just FYI, I have been working in a implementation over here https://github.com/jspaezp/metrics/tree/feature-spatial-average-precision but it is not quite ready for a PR.

Right now it needs ... (this is more a personal checklist before I send the PR)
- [ ] DDP testing
- [ ] Documentation (it is there, just has some argument updating and moving it up the classes and be more user friendly)
- [ ] "Tr

[2021-03-26 18:06] lucadiliello opened #136 "Improve test utilities to accept metrics with more input arguments"
## 🚀 Feature
Improve test utilities to accept metrics with a variable number of arguments (at the moment only 2 args are allowed).

### Motivation

At the moment the test utilities accept only 2 arguments in input: `preds` and `target`. Some metrics, like `RetrievalMAP` and `RetrievalMRR` require a different number of arguments.

[2021-03-26 19:58] jspaezp commented on #136
I can give it a go (I am working on adding spatial metrics and have to deal with this anyway...)

Nonetheless I had a couple of questions...
 1. should it support named arguments and positional matching or only one of those?
 2. should it support different matchings between the reference metric and the implemented metric? (let me know if this makes sense ...)

[2021-03-26 23:35] lucadiliello commented on #136
I think it would be better to allow both arguments types. But let's hear the opinion of @Borda and @SkafteNicki. For the second question, I do not know.

[2021-03-27 08:28] #96 closed

[2021-03-28 13:00] SkafteNicki commented on #53
@jspaezp if you are going to send a PR, please also take a look at this PR https://github.com/PyTorchLightning/pytorch-lightning/pull/4564 (it got closed after we moved from lightning to torchmetrics)
It basically was a nearly finished PR with working map implementation, but just need a bit more work on the testing aspects.

[2021-03-28 13:48] janvainer commented on #126
@SkafteNicki the current code is a bit problematic when it comes to the use of `dist_reduce_fx` argument.
The reduction function should mimic what happens in the update function. But the current framework does not enforce that.
So for example, in the tests, the DummyMetric uses `dist_reduce_fx=None`, but in update there is `self.x += x`, so the reduction for distributed use and update are not alig

[2021-03-28 14:16] SkafteNicki commented on #126
@janvainer i agree that this is problemation. I am pretty sure that `dist_reduce_fx` is aligned with the operations for all "real" implemented metrics (else test should fail) and the dummy metric is a special case where we have not aligned. With that in mind we could make the change.

However, it is troublesome that we do not have a explicit check. To get this correct, we would need a API change,

[2021-03-28 14:19] jspaezp commented on #53
@SkafteNicki thanks for letting me know! I feel like that implementation would be really hard to convert to a class metric due to how "monolitic" it is but I can definitely work on it.

Best,
Sebastian
(btw: it would have been nice to have that PR referenced in this issue before this time)

[2021-03-28 14:25] SkafteNicki commented on #53
@jspaezp I am fine with only having a functional interface (atleast to begin with).
Sorry about not referencing this before, some work got forgotten in the transfer.

[2021-03-28 17:47] SkafteNicki commented on #136
I think the proposal solution @jspaezp has implemented is fine. Atleast, it will cover our needs right now. We can always add support for more whenever the case may be.

[2021-03-29 09:59] victorjoos opened #143 "Smart update of Collection of CompositionalMetrics"
## 🚀 Feature

When updating metrics that are composed of other metrics there are two ways of dealing with updating too many times :

 * Always update the underlying metric (the pytorch lightning way)
 * Never update the underlying metric (the pytorch ignite way: https://pytorch.org/ignite/metrics.html#ignite.metrics.MetricsLambda)

I don't think there is a clean way of only updating the necessary

[2021-03-29 10:21] Borda commented on #143
@justusschock what do you think about it? ;]

[2021-03-29 11:49] SkafteNicki commented on #143
I had a similar proposal here: https://github.com/PyTorchLightning/metrics/issues/76

[2021-03-29 12:11] #132 closed

[2021-03-29 13:06] #136 closed

[2021-03-29 13:51] SkafteNicki commented on #54
@davzaman I definitely see the problem. My original idea for this feature would be a simple wrapper that just internally does `metric(pred[mask], target[mask])` when the user calls `metric(pred, target, mask)` (or something similar). However, that would not work for all metrics I guess.

[2021-03-29 15:36] janvainer commented on #126
Thanks, what you are suggesting makes sense to me. This looks relatively nice :) The question is how big api changer this would be for existing users? Should I implement this?
[code]

[2021-03-29 15:45] janvainer commented on #126
Ok I like this solution. The api change seems quite big though. Is it ok?

[2021-03-29 17:28] davzaman commented on #54
yeah I think each metric would need to have its own,  there's not an insane amount of metrics but the overhead of including tests for all of them might be much. should we just let users figure out  masking on their own? Is there  something we can at least include to make the process easier?

[2021-03-29 18:22] maximsch2 opened #148 "Metrics support for sweeping"
## 🚀 Feature

We would like to have tighter integration of metrics and sweeping. This requires a few features:
1. Knowing if `higher_is_better` (e.g. are we trying to minimize or maximize the metric in a sweep)
2. Knowing what value to optimize for. E.g. if a recall@precision metric returns both recall value and corresponding threshold, we want to optimize by maximizing recall and ignoring the thr

[2021-03-29 18:31] maximsch2 opened #149 "Formalize task type?"
## 🚀 Feature

Let's have a formal system of task types. Things like `BinaryClassificationTask`, `MultiClassClassificationTask`, `MultilabelClassificationTask`, etc.

### Motivation

1. We are seeing slowdown from format checking https://github.com/PyTorchLightning/pytorch-lightning/issues/6605
2. We would like to be able to do more sanity checking that metrics specified by a LightningModule are a

[2021-03-29 19:39] SkafteNicki commented on #148
I think it is great addition.
@maximsch2 is there a specific framework that you had in mind where this would give better integration?

[2021-03-29 19:40] SkafteNicki commented on #126
@janvainer as this is a fundamental API change we need more input on it.
@PyTorchLightning/core-metrics any opinions?

[2021-03-29 21:23] #100 closed

[2021-03-29 22:43] maximsch2 commented on #148
Yeah, maybe something like this: https://ax.dev/tutorials/tune_cnn.html

But I do imagine that any sort of sweeping requires us to be able to a) select the target metric b) compare two runs to see if the metric

[2021-03-29 22:48] maximsch2 commented on #126
One potential issue here is that this prevents in-place updates, right?

In https://github.com/PyTorchLightning/metrics/pull/128/files#diff-a605698e7c4a7849117d5d944263ea2218cc58795426cd2c98165794dc31365eR70-R74 I'm going over each column separately to avoid constructing full matrix as it OOMs for us otherwise (very large number of classes).

[2021-03-30 07:17] justusschock commented on #143
@Borda Yes, this is necessary at some point. The only question here is: Should we define "compatible" metrics, that share their internal state or should this be defined by the user?

IF we define it, we have to maintain this list, but we know about the implementation details of the metrics. If the user defines it, we don't need to care about that list but expect the user to know about our internal

[2021-03-30 07:34] SkafteNicki commented on #148
@maximsch2 what do you think about something like this:
[code]
this is basically a wrapper for metrics that adds additional properties that can tell if the metric should be minimized/maximized and after `compute` is called if it has improved.

[2021-03-30 07:41] SkafteNicki commented on #46
@Borda can this be closed?

[2021-03-30 07:59] #46 closed

[2021-03-30 08:00] Borda commented on #46
just for the record: https://anaconda.org/conda-forge/torchmetrics

[2021-03-30 14:24] SkafteNicki commented on #61
@avinashsai how is it going here?

[2021-03-30 17:56] maximsch2 commented on #148
Usually sweeps will be run in a distributed fashion (e.g. schedule runs with different hyperparams separately, compute metric values, pick the one with the best metric), so `has_improved` might not be as useful there.

Thinking about it a bit more, just providing a way to convert a metric to optimization value might be enough (with a semantics that we are increasing or decreasing it).

[2021-03-31 00:23] calebclayreagor commented on #112
I'm running into the same issue with PrecisionRecallCurve and calling .compute() during or after any step if using ddp

[2021-03-31 05:01] avinashsai commented on #61
@SkafteNicki I am working on it. Will submit PR in a couple of days.

[2021-03-31 08:26] justusschock commented on #149
@maximsch2 I like the idea. The only thing I'm a bit afraid of is that if we don't check on each update, we will silently calculate wrong inputs. therefore I like having the method explicitly, but I'd probably do it on an opt-out basis rather than opt-in. (i.e. having a flag for that that defaults to true and can be set to false). What do you think?

@SkafteNicki  @Borda  thoughts?

[2021-03-31 13:20] gatoniel opened #152 "Retrieval metrics problem with pytorch lightning integration in compute()"
## 🐛 Bug

I use the commit https://github.com/PyTorchLightning/metrics/commit/f06488faf79d4f4792cd392e964870d4898dde45 to calculate `RetrievalMAP` and `RetrievalPrecision` in a pytorch-lightning module. The `validation_step` and `validation_step_end` functions work, but the `fast_dev_run=True` gives an error in the `compute()` step.

However, when I run `self.log("val_MAP", self.metric.compute())`

[2021-03-31 14:44] gatoniel commented on #152
Actually, the above example does not work properly with the mentioned `MeanAbsoluteError` either. It produces NaNs.

The `MeanAbsoluteError` metric produces NaNs in `compute` if it is set back to its default values.

The default value for `self.idx` of the `RetrievalMAP` is an empty list. I assume that in `trainer.run_evaluation` (https://github.com/PyTorchLightning/pytorch-lightning/blob/a72a7992

[2021-03-31 19:45] lucadiliello commented on #152
Which version of `pytorch-lightning` are you using? I cannot reproduce your error by installing `torchmetrics` both from your commit and from master and with `pytorch-lightning-1.2.6`. `Retrieval` metrics had problem with `fast_dev_run` because with the `skip` action there could have been cases with empty tensors. But know they should be solved (and tested).

[2021-03-31 20:33] gatoniel commented on #152
That´s odd, I have pytorch-lightning version 1.2.6 installed.

[2021-04-01 11:11] breznak commented on #148
I'd like to see this implemented as well. We're using PL + Optuna (+ Hydra's plugin_sweeper_optuna) and running into the same problem. Esp. when a metric of a model is configurable.

I think the approach with property `direction() -> 'min'/'max'` is simple and would suffice.

While the solutions with wrappers work, I think it'd be good if PL somehow standardized this, so the other HP optimization

[2021-04-01 13:33] SkafteNicki commented on #148
Okay, then settle on adding a property to each metric.
1. What should it be named?
`direction->'min'/'max'`,
`minimize->True/False`,
`higher_is_better->True/False`
2. It should not be implemented for all metrics. `ConfusionMatrix` comes to mind where it does not make sense to talk when one if better than another
3. How do we deal with metric with multi output and metrics with multidim output.

[2021-04-01 13:44] SkafteNicki commented on #149
I would argue that the first step would be trying to lower the computational time of our implementations (they may not be optimal)

I think it is important that we remember that torchmetrics are not intended to be used only with lightning but also with native pytorch. Also the concept of task is more related to flash than lightning right?

If this really boils down to our implementations being too

[2021-04-01 14:00] Borda commented on #26
@bhadreshpsavani how is it going, have you started on adding these tests?

[2021-04-01 14:41] SkafteNicki commented on #66
@hassiahk how is it going here? :]

[2021-04-01 16:24] bhadreshpsavani commented on #26
Hi @Borda,
I have made changes for two metrics. I was not very confident about the changes. Since I don't know how to run that test cases and check the changes. I am not very sure I did it the right way.

Shall I create a PR so someone can review it and suggest?

[2021-04-01 17:10] maximsch2 commented on #149
Performance optimizations is not the main goal (as that can be addressed by other implementations anyway).

Connection between training task and metrics is the key. Assume you are building a framework that allows people to train various tasks of different shape and you want to add metrics configurability in it. For simplicity, you can say that task==LightningModule, but of course this doesn't have

[2021-04-01 17:42] SkafteNicki commented on #26
@bhadreshpsavani please feel free to open a PR with what you got, then we can better help out :]

[2021-04-01 17:44] Borda commented on #26
sure, open a draft PR and we can help you there 🐰
to run tests locally, you can use `make test` which is running following command under the hood
https://github.com/PyTorchLightning/metrics/blob/fb0ee3ff0509fdb13bd07b6aac3e20c642bb5683/Makefile#L20

[2021-04-01 17:54] jspaezp commented on #60
Just my opinion but I feel like if this is implemented, it should come with a warning the first time it happens. Since sometimes you  (I definitely) would like the metric to be calculated with the current behavior.

[2021-04-01 20:43] breznak commented on #148
add ` -> min/max/None`?

Ie. Optuna let's you define a tuple
[code]

I'd say we don't care for the first iteration and just leave these as None. And we cannot decide anyway on pareto-optimal front.

... and you probably meant multi-dim metric's output, not multidim optimization, right?
For the multidim output, we need a form of reduction.

Can we say that for the first draft, this feature works on

[2021-04-02 05:01] bhadreshpsavani commented on #26
I have made a pull request but a lot of tests are failing,
I try to test the changes using the below commands `make test`, ` python -m pytest torchmetrics tests -v --cov=torchmetrics `  before making changes but it was giving an error.
[code]
and
[code]

[2021-04-02 05:14] hassiahk commented on #66
@SkafteNicki, been busy with some other work, I will create a draft PR for this, this weekend. Thanks!

[2021-04-02 17:44] maximsch2 commented on #148
For multi-output metrics we need ability to extract the value that is actually being optimized over. E.g. some metrics can return value and corresponding threshold (e.g. recall@precision=90%) and we only want to optimize over the actual value.

[2021-04-04 21:16] arvindmuralie77 commented on #99
Dear @SkafteNicki , can I work on this?

[2021-04-05 07:37] SkafteNicki commented on #99
@arvindmuralie77 yes, I will assign you. Thanks for wanting to contribe :]
Please make sure that the feature follows the same pattern as with `precision`, `recall` ect. by adding an argument `average` which normally can take the values `'micro'`, `'macro'`, `'weighted'`, `'none'` and `None` where the two last corresponds to returning the score per class.

[2021-04-05 14:53] edenlightning commented on #56
@SkafteNicki is this still relevant?

[2021-04-05 14:55] edenlightning commented on #57
looks like this was fixed in https://github.com/pytorch/pytorch/commit/5d93e2b8180a495b6e78467ac470758134aac983

[2021-04-05 14:55] #57 closed

[2021-04-05 17:58] SkafteNicki commented on #152
Cannot reproduce either using latest master of both `torchmetrics` and `pytorch-lightning`.

[2021-04-05 19:52] maximsch2 opened #159 "MetricCollection should enforce order when passed a dict"
## 🐛 Bug

Not a clear bug yet, but just thinking about distributed metric computation, in here: https://github.com/PyTorchLightning/metrics/blob/53d570158a503497351ae45ec895ca44a0546068/torchmetrics/collections.py#L81
we should make sure to sort the names before the insert so that we insert things in the same order (ModuleDict is already OrderedDict otherwise). If we don't we will get deadlocks wh

[2021-04-05 20:30] arvindmuralie77 commented on #99
Sure, will do. Thanks @SkafteNicki

[2021-04-06 08:17] gatoniel commented on #152
I am sorry, but I just created a new conda environment with python 3.8, installed torch and the latest branches of `torchmetrics` and `pytorch-lightning` via pip. Then I copied the above code into a new file and ran it. I got the same error as reported above.

Is this function correct

[code]

or should `self.log("val_MAP", self.metric)` not be called here?

[2021-04-06 08:23] lucadiliello commented on #152
Please check whether `outputs["indexes"]`, `outputs["preds"]` and `outputs["targets"]` are not empty.

[code]

[2021-04-06 09:07] gatoniel commented on #152
Hi, they are not empty.

As I said, the metric collects the values and calculates them when calling `self.metric.compute()´ in the `validation_epoch_end` function.

[2021-04-06 11:19] SkafteNicki commented on #159
I agree that this should make the it more robust.
I think the only reason we have not seen this as a problem before, is that you explicit need to construct it in a different order on each process.

[2021-04-06 16:47] arvindmuralie77 commented on #99
I was thinking of changing the parent class from `Metric` to `StatScores` in `Accuracy`. This way, I can use `tp`, `fp`, `tn`, and `fn` to calculate accuracy for all values of `average`. Would that be alright @SkafteNicki ?

[2021-04-06 17:22] arvindmuralie77 commented on #99
I was thinking of changing the parent class from `Metric` to `StatScores` in `Accuracy`. This way, I can use `tp`, `fp`, `tn`, and `fn` to calculate accuracy for all values of `average`. Would that be alright or should I try without changing the base class @SkafteNicki ?

[2021-04-06 17:34] SkafteNicki commented on #99
@arvindmuralie77 Fine by me, that is basically also what I would do :]

[2021-04-06 19:12] SkafteNicki commented on #152
@gatoniel can I ask why you are actually using `validation_step_end` and not putting all the code in `validation_step`?

[2021-04-07 06:16] gatoniel commented on #152
I wanted to prepare the metric for use in data parallel mode as explained in the last note here https://torchmetrics.readthedocs.io/en/stable/pages/lightning.html

This gives the same error:
[code]
But this runs without problems:
[code]
Then again using only
[code]
gives the error.

[2021-04-07 09:48] lucadiliello commented on #152
Hi @gatoniel . Sorry but I still cannot reproduce your error. What I believe is that you are calling `.compute()` on a metric that didn't receive and `update` yet (it was not provided with data). Please try again by installing from `master` branch because we pushed a lot of updates yesterday.

Btw, I do not understand why you are using the `indexes` in this way. Did you set them to random values o

[2021-04-07 10:28] gatoniel commented on #152
Hi, yes, I just used random indexes for testing purposes.

I will try to reproduce with the boring model on colab and then share the notebook.

Yes, I think the problem is that the metric did not receive updates. But I think this is because the metric was set back to defaults in the epoch_end call so that all values it received during the epoch are erased.

[2021-04-07 11:42] lucadiliello commented on #152
It could be an explanation but it does not explain why we cannot reproduce this error with the same `pytorch-lightning` and `torchmetrics` versions. Using Colab to reproduce is a fantastic idea :).
P.s. `torchmetrics==0.3.0rc0` is out.

[2021-04-09 00:21] maximsch2 commented on #112
@calebclayreagor , how big is your data? PrecisionRecallCurve stores the entire dataset in memory and on compute() it needs to consolidate it on single rank. If your model is big and dataset is big, then at some point model + all predictions/labels will not fit into GPU memory which will lead to NCCL issues/GPU OOMs/hangs.

I have a solution for PrecisionRecall-based metrics in #128 by doing binni

[2021-04-09 18:46] arvindmuralie77 commented on #99
Hey @SkafteNicki , I have created a draft for this issue. When pytest for accuracy is run, 23 tests are failing out of 102 because the  mdmc_average parameter does not have default value. If it is set to `global` all test cases are passing.
I think new test cases will have to be added since there are new parameters.

[2021-04-10 08:20] Yuejiang-li opened #167 "Tensor device configuration bug"
I found that when calculating accuracy, there are some temporary variables created without indicating the device.

In `accuracy.py` - [line121](https://github.com/PyTorchLightning/metrics/blob/a17ccb23d31942e920bf1ecb420382a17911e4cd/torchmetrics/classification/accuracy.py#L121), the member tensor `self.correct` and `self.total` are created without indicating the device.

If this is an expected be

[2021-04-10 08:24] Borda commented on #167
@Yuejiang-li mind check latest `v0..3.0rc`?

[2021-04-10 08:26] Borda commented on #112
@SkafteNicki have you check this issue? 🐰

[2021-04-10 08:32] Yuejiang-li commented on #167
Sure, and the issue still exists.

[2021-04-10 10:51] Borda commented on #167
@Yuejiang-li interested in sending out a fix? 🐰

[2021-04-10 11:53] Yuejiang-li commented on #167
My pleasure. A new pull request?

[2021-04-10 17:02] maximsch2 commented on #167
I think the reason for this is that usual workflow/tests are assuming we keep the metric on the same LightingModule that produces the predictions, so scores/predictions and the metric are always on the same device and you don't need to do any moves manually.

It does make sense for all metrics to take `device` argument as well though for ad-hoc cases like this.

[2021-04-11 01:09] Yuejiang-li commented on #167
Aha, I did forget that! Transferring the metric instance to gpu ahead can solve this issue. Thanks @maximsch2 .

@Borda Seems like there is no need to fix this "bug"?

[2021-04-11 13:28] EduardKononov opened #168 "Postfix arg for MetricCollection.clone in order to support TensorBoard grouping"
TensorBoard supports metrics grouping by name using forward slash. It's really convenient in most situations.
There are two ways of grouping:
* using prefix: "train/accuracy", "valid/accuracy"
* using postfix: "accuracy/train", "accuracy/valid" (by the way, this one is [demonstrated in the official PyTorch documentation](https://pytorch.org/docs/stable/tensorboard.html))
The first one can be easil

[2021-04-11 15:32] justusschock commented on #167
@maximsch2 IMO, when you want a different device, couldn't you just do `metric.to(device)` independently of the module?

[2021-04-11 16:37] SkafteNicki commented on #112
@Borda cannot debug myself currently as my local cluster is under maintenance

[2021-04-11 17:29] ohayonguy opened #169 "Add support for the FID metric."
## 🚀 Feature
Add support for the Frechet Inception Distance as a metric, to evaluate generative models (https://arxiv.org/abs/1706.08500)

### Motivation
This metric is used in many recent GAN applications to evaluate the perceptual quality of the generated images.
It is therefore a very helpful and important metric to implement.

### Alternatives
The inception score could be also used as well, bu

[2021-04-12 00:27] Yuejiang-li commented on #167
Yes, I actually solved this problem by transferring metric first.

[2021-04-12 08:57] SkafteNicki commented on #167
Please also see this part of the documentation: https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metrics-and-devices
Closing as issue seems resolved.

[2021-04-12 08:57] #167 closed

[2021-04-12 08:57] SkafteNicki commented on #168
@EduardKononov great enhancement! Want to send a PR? :]

[2021-04-12 16:28] calebclayreagor commented on #112
@maximsch2 my dataset is quite large (>6m examples) but it still fits in memory. My problem was actually due to ghost processes, and I solved the issue by doing `kill -9 <pid>` before starting training in ddp mode. Newbie error.

[2021-04-13 18:07] #26 closed

[2021-04-13 22:17] #95 closed

[2021-04-14 18:51] #129 closed

[2021-04-15 13:08] SkafteNicki commented on #159
@maximsch2 after thinking a bit more about this, is it just an artificially problem?
You need to explicit create a different order dependent on the rank of the process for this to be a trouble.

[2021-04-15 15:49] uwaisiqbal commented on #64
When is the update with the `prefix` arg going to be released? Also, the documentation for the `MetricCollections` is out of date where it mentions the `prefix` arg can be used when cloning the `MetricCollection` https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metriccollection

[2021-04-15 16:26] maximsch2 commented on #159
I think it's not super easy issue to trigger with simple code, but if you have a framework that wraps your code and constructs metric collections, then things can go weird. Given that it's pretty simple problem to solve, I think it's worth it to be defensive here. Let me just send a PR actually.

[2021-04-16 10:28] AnselmC opened #174 "Better per-class metric handling for unbalanced data sets"
## 🐛 Bug
For imbalanced data sets it is often desirable to compute metrics per-class; especially when performance w.r.t. the less prevalent class(es) is important and needs to be tracked.
However, such class imbalance also leads to the fact that a given mini batch will not necessarily contain samples of all classes.
If, for the same batch, the model being trained does not make predictions for ever

[2021-04-16 15:25] #99 closed

[2021-04-16 16:36] SkafteNicki commented on #61
Closed by #166

[2021-04-16 16:36] #61 closed

[2021-04-18 09:17] bhadreshpsavani commented on #26
Hi @SkafteNicki,
Is it possible that for few metrics can't have this property?
I was trying to implement this for `cohen_kappa` and ``avarage_precision` i wrote code but few test cases I wrote were failing. I could not figure out how to fix it.
Let me create PR for that so that you can review the changes.

[2021-04-18 23:06] ncuxomun opened #179 "Can't import the metric straight away"
## 🐛 Bug

Not able to import Pearson and Spearman coefficient metrics.

### To Reproduce

Steps to reproduce the behavior:

1. Go to website example
2. Run from torchmetrics import PearsonCorrcoef
3. See error

ImportError: cannot import name 'PearsonCorrcoef' from 'torchmetrics' (C:\Users\ulugb\AppData\Local\Programs\Python\Python39\lib\site-packages\torchmetrics\__init__.py)

#### Code sample

#

[2021-04-19 02:53] rajs96 opened #180 "Useful abstraction for timeseries metrics"
## 🚀 Feature
Integrating timeseries metrics. We can create an abstraction, or class, that should contain the metrics recorded in a time series.

### Motivation
At work, we've often been interested in seeing how metrics besides the loss change throughout the training process - using a designated object with built-in functionalities would save the time of having to implement these functionalities ou

[2021-04-19 08:02] IgorHoholko opened #181 "Metrics are on another divice when create with __dict__ inside pl.LightningModule"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Create an accuracy object in any file (metrics.py) `accuracy  = Accuracy( compute_on_step=False)`  {or any other metric}
2. `import metrics`
3. inside your `class BaseLitModel(pl.LightningModule)` set the metric
`self.__dict__[f'train_{metric_name}'] = getattr(metrics, metric_name)`
4. When call `self.__dict__[metric_key](logits, y)`

[2021-04-19 08:24] SkafteNicki commented on #181
This is a general limitation with any Pytorch module, that any submodule needs to be correctly identified as a child module if you want it to move to the correct device when moving the hole module. Take this small example:
[code]
therefore `self.__dict__` cannot be used. It is also explained in this part of the documentation:
https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metric

[2021-04-19 08:24] #159 closed

[2021-04-19 08:31] SkafteNicki commented on #179
`PearsonCorrcoef` is still not officially released, but will definitely be part of the 0.3.0 release (which is going to be released any time soon).
If you want access right now, please install directly from master
```pip install git+https://github.com/PytorchLightning/metrics.git@master```

[2021-04-19 08:43] SkafteNicki commented on #152
Hi @gatoniel
So after a longer investigation it seemed this is a general problem, that due to some changes in torchmetrics (not related to retrieval metrics) passing a metric object directly to `self.log` in lightning resulted in that error.
This PR on the lightning side will solve the error:
https://github.com/PyTorchLightning/pytorch-lightning/pull/7055

[2021-04-19 08:56] IgorHoholko commented on #181
Thank you @SkafteNicki.
MetricCollection is what I needed.

[2021-04-19 08:56] #181 closed

[2021-04-19 08:58] #179 closed

[2021-04-19 09:22] SkafteNicki commented on #56
Closing this as the general consensus in other frameworks is that it should map to nan in these specific cases (makes sense as the score is undefined and not "just" 0).
Lets re-open if a user comes up with a specific use case where it may be beneficially to map to 0 instead.

[2021-04-19 09:22] #56 closed

[2021-04-19 09:36] GeorgWa opened #183 "Precision Metric based on Quantiles"
## 🚀 Feature
The precision is only calculated for the selected Quantile (top 1%, top 5% etc..) of every class.

### Motivation

Im working on ML Classifiers for CRISPR/Cas9 screens and we screen millions of cells to find a subset (for example 1%, 0.1%) which shows a highly enriched feature. As the base rate of the feature may be very low compared to all other features, the false positive rate need

[2021-04-19 09:41] SkafteNicki commented on #126
@janvainer after some going back and forth internally, here is an API change that suits the needs without breaking backwards compatability:

### new `inplace` arg
Basic idea is that the base `Metric` class will get a new fifth argument called `inplace` that as default is `True`. The idea is that the flag will indicate if metric states are updated in-place inside the update method or instead will b

[2021-04-19 11:23] IgorHoholko opened #184 "MetricCollection returns None"
## 🐛 Bug

MetricCollection fails to be logged.

### To Reproduce

[code]

### Expected behavior
[code]
or same `you tried to log None which is not currently supported. Try a dict or a scalar/tensor.`

Process finished with exit code 1

### Additional
metrics_output = {'train_accuracy': None}
during train steps. But I think it is okay as compute_on_step=False

### Environment

 - torchmetrics-0.3.0

[2021-04-19 11:49] oggyfaker opened #185 "F1 Function Error"
Hi authors ! I have some issue with F1 function in torchmetrics. When i use:
[code]
It works !! But i have warning :  UserWarning: The `multilabel=True` parameter is unused and will not have any effect.

And then i changed `torchmetrics.F1(num_classes = self.num_classes, average='weighted', multilclass=True)` like the documment : https://torchmetrics.readthedocs.io/en/latest/references/modules.htm

[2021-04-19 12:18] Borda commented on #185
@oggyfaker what version are you using? The `multiclass was added din latest RC version so most likely you give installed v0.2.0 https://torchmetrics.readthedocs.io/en/stable/references/modules.html#f1

[2021-04-19 12:20] oggyfaker commented on #185
Yes, I am using the lastet version ![image](https://user-images.githubusercontent.com/44501897/115235270-32f99e80-a144-11eb-9e22-c73c405b159e.png).

[2021-04-19 12:30] SkafteNicki commented on #184
You have set `compute_on_step=False` in the `Accuracy` metric, so calling `forward` will just update the global metric states (equal to just calling `update`). If you want a metric to return something when calling `forward` set `compute_on_step=True` (default value for most metrics).

[2021-04-19 12:31] Borda commented on #174
@AnselmC are you willing to work on this fix/enhancement?
cc: @PyTorchLightning/core-metrics

[2021-04-19 12:32] SkafteNicki commented on #185
You need to install directly from master to get the latest changes (or wait until v0.3 drops which is soon)
[code]

[2021-04-19 12:34] Borda commented on #180
@rajs96, it sounds a great addition to this package, are you interested in implantation this?
 :rabbit: it would be a highlight for the next reease!
cc: @PyTorchLightning/core-metrics

[2021-04-19 12:35] Borda commented on #183
@GeorgWa that sounds nice tom, would you be interested in implementing this enhancement? :rabbit:

[2021-04-19 12:42] #149 closed

[2021-04-19 12:43] Borda commented on #185
you can also install the last RC as `pip install torchmetrics==0.3.0rc1`

[2021-04-19 12:43] #185 closed

[2021-04-19 12:44] Borda commented on #184
@IgorHoholko feel free to reopen if needed :rabbit:

[2021-04-19 12:44] #184 closed

[2021-04-19 12:46] Borda commented on #169
@ohayonguy are you interested in implementing it?
closing this one in favor of #65 lets continue discussion there...

[2021-04-19 12:46] #169 closed

[2021-04-19 12:57] IgorHoholko commented on #184
@SkafteNicki Thank you.
It works in the way you said.

But if I want to **update** metric each step, but **compute** and log just once. What is the best way to do this?
Have I got properly, that when `compute_on_step=False` any metrics is just *extending* its internal state with **y** and **logits** and each new epoch it resets its internal state?

 If so,  can I keep  `compute_on_step=False` and

[2021-04-19 13:03] Borda commented on #112
@justusschock mind have look?

[2021-04-19 13:04] GeorgWa commented on #183
Yes, i would implement it myself first and then we can look how to merge it. My question is if i should implement it as standalone metric or as extension of the precision metric?

[2021-04-19 13:10] Borda commented on #183
I would think about the extension of exiting... let's open a draft PR as soon as you are ready to have a discussion about it :rabbit:
cc: @SkafteNicki

[2021-04-19 13:15] SkafteNicki commented on #184
If you just want to update the metric states over the hole epoch, and log the final value you can just do:
[code]

[2021-04-19 13:15] GeorgWa commented on #183
Okay, great 👍

[2021-04-19 13:20] IgorHoholko commented on #184
@SkafteNicki  But looks like my code and I got an error in this way :)

[2021-04-19 13:21] SkafteNicki commented on #183
@GeorgWa if you could provide basic implementation of what this feature involves (just on the precision metric), then we can figure out if it can be extended into something general.
IMO it would be great if it worked like the new bootstrapping wrapper metric: https://torchmetrics.readthedocs.io/en/latest/references/modules.html#wrappers

[2021-04-19 13:32] SkafteNicki commented on #184
sorry, I was a little too fast with the typing :]
Try something like this:
[code]

[2021-04-19 13:39] IgorHoholko commented on #184
@SkafteNicki, okay, thank you :)

[2021-04-19 13:56] oggyfaker commented on #185
Thanks for your answer. The issue of multi class parameter solved. But it raised the new error with num_classes:

I just turned off the raise error function but it still error with
![image](https://user-images.githubusercontent.com/44501897/115248101-950cd080-a151-11eb-8a2c-3e3254775f07.png)
So what should i do ? Hope to see your answer soon !

[2021-04-19 15:04] rajs96 commented on #180
Yup - what are next steps then?

[2021-04-19 15:24] SkafteNicki commented on #185
@oggyfaker could you please tell me what your data looks like, just to make sure that I can answer correctly.

[2021-04-19 16:08] zhengzangw opened #187 "Precision Loss in ConfusionMatrix"
## 🐛 Bug

In Pytorch, `torch.zeros` and `.float()` methods create or convert a tensor to be a `torch.float32` tensor. Compare to the default `np.float64` data type in NumPy, it cannot provide enough precision. In `ConfusionMatrix`, the default values are torch.float32, which leads to wrong calculation (although maybe very little) against ground truth.

I think we only need to change `torch.zeros(n

[2021-04-19 16:37] zhengzangw commented on #187
Considering we may not need an accurate metric when validating (I see that even 16-precision is supported), maybe a flag to enable 64-precision in testing is a better choice.

[2021-04-20 07:38] AnselmC commented on #174
@Borda Yes, of course. I didn't immediately start because I wanted to get your input on this, i.e. in which direction to go.

[2021-04-20 09:32] #152 closed

[2021-04-20 13:56] AnselmC commented on #174
@Borda should I create a draft PR for a single metric and then discuss based on this?

[2021-04-20 14:15] Borda commented on #174
Yes, please 🦝

[2021-04-20 17:38] #168 closed

[2021-04-20 21:58] christopherbate opened #190 "Allow general pickle-able types as state objects?"
## 🚀 Feature + Motivation
Some types of metrics, such as "COCO detection metrics" for computer vision are more easily computed by operating on lists of dictionaries containing arrays rather than pure tensors. In this case, the developer would like to keep multiple pieces of information about each prediction, such as the example ID, bounding boxes and associated scores, etc. I recently wrote a `tor

[2021-04-21 01:41] zhiqwang commented on #190
Hi @christopherbate ,

torchvision before have released a pickle-able version `all_gather` [here](https://github.com/pytorch/vision/blob/23a67b3fe86861b03aeb8bed4c2a927949b2f740/references/detection/utils.py#L75).

BTW I've also written a torchmetrics `wrapper` for COCO API metrics [here](https://github.com/zhiqwang/yolov5-rt-stack/blob/999fcb20fb968910440fa0e87e660cf9c55cf050/yolort/data/coco_eva

[2021-04-21 15:08] SkafteNicki commented on #190
Hi @christopherbate,
I would be fine with this improvement :]
To make it easy we can enforce that anything other than empty list and tensors are only allowed if you have pytorch v1.8 or higher.

[2021-04-21 17:45] oggyfaker commented on #185
My dataloader will return like this !
![image](https://user-images.githubusercontent.com/44501897/115597906-012f3600-a304-11eb-907c-07d0e74a7d22.png)

[2021-04-21 18:06] christopherbate commented on #190
That's interesting, thanks.
I used detectron2's implementation as a reference since I'm more familiar with their API and trust its distributed implementation.

Regarding the `all_gather` operation, then, it should be easy enough to borrow that one method from torchvision, thanks for pointing that out.

[2021-04-22 01:07] arvindmuralie77 commented on #106
@Borda , can I take up this issue?

[2021-04-22 16:13] EugenHotaj opened #195 "AUC computation is incorrect for tensors with >2048 elements."
## 🐛 Bug

When `auc` is called with `reorder=True`, a stable sort is performed on the input tensors using `_stable_1d_sort` ([code](https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/functional/classification/auc.py#L38)). However, `_stable_1d_sort` returns at most `2048` elements if `nb` is not provided ([code](https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics

[2021-04-24 11:03] FluidSense opened #199 "log_dict() got an unexpected keyword argument 'prefix'"
## 🐛 Bug

The docs of [`MetricCollection`](https://torchmetrics.readthedocs.io/en/v0.2.0/pages/overview.html#metriccollection) uses `self.log_dict` to log all of the metrics in the collection. To add a prefix to the logged values, the `prefix` keyword argument is set. However, I cannot seem to find this argument [implemented anywhere in the LightningModule of PytorchLightning.](https://github.com/

[2021-04-24 11:09] arvindmuralie77 commented on #106
@Borda , for the test cases, since there is no specificity metric in sklearn, the randomized test cases cannot be used. Should I just write some test cases with fixed values?

[2021-04-24 13:44] janvainer commented on #126
Hi @SkafteNicki, thanks for the follow-up. The suggested api changes make sense to me! I unfortunately do not have the capacity to look into it in the upcoming weeks, so feel free to reassign if anyone wants to pick this up (it should be possible to continue from my draft PR). I will be able to work on this some time in June I think.

[2021-04-26 14:23] SkafteNicki commented on #199
Hi @FluidSense,
The documentation is wrong for v0.2. It was determined that the `prefix` arg was better suited to have directly in the `MetricCollection` class ``__init__`` method. This have already been fixed in the documentation, please see either `stable` or `latest` docs: https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metriccollection

[2021-04-26 14:23] #199 closed

[2021-04-26 14:27] SkafteNicki commented on #126
@janvainer thanks for letting us know. I am going to un-assign you and also close the PR you have created, then we will see if someone feels like picking it up. Else feel free to ping me if you find the time to contribute again :]
Thanks!

[2021-04-26 14:50] #195 closed

[2021-04-26 21:43] alanhdu opened #201 "Distribute + package type hints"
## 🚀 Feature

Right now, `torchmetrics` mostly uses type hints for internal testing. However, these type annotations are not packaged for type checkers to consume downstream. From [PEP 561](https://www.python.org/dev/peps/pep-0561/):

Without this marker file, my IDE takes advantage of these type annotations, but `mypy` makes thinks everything from `torchmetrics` has an `Any` type.

I believe the

[2021-04-26 22:04] Borda commented on #201
yeah we did the same for PL, mind send PR here too? :]

[2021-04-26 22:06] Borda commented on #148
@maximsch2 @breznak @SkafteNicki how is it going here? do we have a resolution on what to do?

[2021-04-26 22:08] Borda commented on #180
I would say make an abstract/base class for this metric group and then we will particular metrics in separate PRs...
btw, ping us on SLack so we can easier coordinate :]

[2021-04-27 07:56] IgorHoholko opened #203 "True update() for MetricCollection"
## 🚀 Feature
`MetricCollection` class overrides `update `method of parent `nn.ModuleDict` class. Is it possible to add `update` from parent's class to MetricCollection?
[code]

### Example of using

[code]

[2021-04-27 14:16] IgorHoholko commented on #203
@SkafteNicki Makes sence. Thanks!

[2021-04-27 14:18] SkafteNicki commented on #203
@IgorHoholko you are welcome. Closing the issue. Feel free to re-open if necessary :]

[2021-04-27 14:23] fColangelo opened #205 "Cannot calculate AUROC for dummy multi-label data"
## 🐛 Bug

I'm trying to calculate the AUROC metric with a simple set of multi-label data to better understand the metric.
I created some data according to the documentation (binary target and float pred with the same shape).
However, while all other metrics work fine, for AUROC I get:
[code]
Probably this is just me misunderstanding something but I cannot find anything in the documentation justyfi

[2021-04-27 16:48] SkafteNicki commented on #205
Hi @fColangelo, what version of `torchmetrics` are you using?

[2021-04-27 16:56] cemde opened #206 "TorchMetrics incorrect Error about devices"
## 🐛 Bug

I was going to use `torchmetrics.Accuracy` for multi-label classification.
Under certain conditions the torchmetrics.Accuracy module breaks by complaining predictions and targets would be on different devices, despite them being on the same device.

[code]

We can test that these objects are indeed on the same device:

[code]
Running
[code]
 results in this error
[code]

### To Reproduce

[2021-04-27 17:05] maximsch2 commented on #203
Should we do something like
[code]
?

[2021-04-27 17:08] maximsch2 commented on #206
You should move the metric to the same device as well, can you try running `a.to('cuda:2')`?

[2021-04-27 18:02] IgorHoholko commented on #203
@maximsch2  It would definitely be helpful.

[2021-04-27 18:04] IgorHoholko commented on #203
`metrics.add_metricsooks()` looks better and more intuitive than `super(type(metrics), metrics).update()` :)

[2021-04-27 18:19] fColangelo commented on #205
Hi @SkafteNicki and thank you for your answer! I'm running torchmetrics 0.2.0 for compatibility with pytorch lightning 1.2.10, sorry for forgetting to mention it sooner.

[2021-04-27 18:36] cemde commented on #206
thanks for the reply. I initialise the `Accuracy` in the init method of a pytorch-lightning module using `nn.ModuleList`. During `init` the `self.device` attribute is still `cpu`. Further, I thought that pl would automatically push my metrics to the GPU when using `ModuleList`.

[code]

[2021-04-27 20:10] maximsch2 commented on #206
If you want to get the thing moved to the device in your metrics_dict you should at least use `nn.ModuleDict` - that way PyTorch will take care of the move. I think you might have a hack trying to get it moved due to accuracy_list, but that's not even on `self`, so is not persisted.

Additionally, check out `MetricsCollection` - it will require you flipping the pattern a bit, but doing something l

[2021-04-27 20:20] SkafteNicki commented on #203
fine by me :]
@IgorHoholko want to send a PR?

[2021-04-27 20:31] SkafteNicki commented on #206
Agree with @maximsch2, the problem is that pytorch is not correctly registering your metrics as submodules of your model.
Please check the `model.children()` method, if the metrics are not listed then they will not be moved to the correct device.
Also stated in the documentation: https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metrics-and-devices
A simple fix for your use case @c

[2021-04-27 20:40] SkafteNicki commented on #205
We have based our implementation on the `roc_auc_score` implementation from `sklearn` and for this case, that implementation will give you this error:
```ValueError: Only one class present in y_true. ROC AUC score is not defined in that case.```
which is the same as the `false positive value ` being meaningless. Essentially, your target tensor
[code]
in the first column does not contain any negati

[2021-04-27 22:35] cemde commented on #206
I figured it out: Using `ModuleDict` in combination with `train` as split does not work as it is registered already. But using `MetricCollection` works fine. I hope it properly distinguishes between Multi-label and Multi-class automatically.

[2021-04-28 06:33] fColangelo commented on #205
Oh, I see. Thanks for the clarification and sorry for the dumb question!

[2021-04-28 06:33] #205 closed

[2021-04-28 06:58] breznak commented on #148
I think we got stuck on more advanced cases (eg. metrics that return more values, as above). While I see it's important to design it well so it works for all usecases in the future, I think we should find a MVP that we can easily implement, otherwise this will likely get stuck.

In practice, what we're running into is that this would ideally be coordinated "API" for `pl.metrics` and `torchmetrics`

[2021-04-28 07:54] IgorHoholko commented on #203
@SkafteNicki Yes, a bit later.

[2021-04-28 08:44] SkafteNicki commented on #206
`MetricCollection` is just redirecting all arguments passed in to the individual metrics in the collection, so if they correctly distinguishes between multi-label and multi-class the collection should also do it.
Closing the issue. Please re-open if more questions arise.

[2021-04-28 08:44] #206 closed

[2021-04-28 08:50] SkafteNicki commented on #148
@breznak since `pl.metrics` will be deprecated in v1.3 of lightning and completely removed from v1.5, we only need to think about the `torchmetrics` API.

I think what @maximsch2 is referring to, is that metrics such as `PrecisionRecallCurve` have 3 outputs:
[code]
where I basically want to optimize the precision/recall but not the threshold values.

[2021-04-28 13:09] breznak commented on #148
good to know, thanks! then it should be easier.

where I basically want to optimize the precision/recall but not the threshold values.

how about adding a "tell us what is the (1) optimization criterion for you" to the metric, then?
Like `precision, recall, thresholds = pr_curve(pred, target, optimize='recall')`
Then we have 1 number that represents the "important" results from such metric.

[2021-04-28 14:29] SkafteNicki commented on #205
@fColangelo no questions are stupid :]
If you have any suggestions on how to improve the documentation, please feel free to send a PR

[2021-04-29 01:22] maximsch2 commented on #148
I'm actually thinking that maybe let's defer the multi-output metrics to later as long as we can support those in `CompositionalMetric`. E.g. for single-output metrics, we'll provide `higher_is_better`, but for multi-output metrics we'll skip it and rely on people doing something like `CompositionalMetric(RecallAndThresholdMetric()[0], None, higher_is_better=True)` which will implement the needed

[2021-04-29 07:17] breznak commented on #148
I'm for starting small, but doing it rather soon.
Btw, it'd be nice to get people from Optuna/Ray/Ax/etc PL sweepers here, as those might have valuable feedback.

[2021-04-29 21:06] #201 closed

[2021-04-30 03:23] edwardclem opened #218 "[New Metric] Expected Calibration Error"
## 🚀 Feature
A new metric computing the Expected Calibration Error (ECE) metric from [Naeini et al 2015](https://people.cs.pitt.edu/~milos/research/AAAI_Calibration.pdf). Useful for determining if a classifier's softmax probability scores are well-calibrated and represent reasonable probabilities.

### Motivation

I ran into this metric after seeing [Guo et al 2017](https://arxiv.org/pdf/1706.0459

[2021-04-30 12:39] SkafteNicki commented on #218
@edwardclem sounds like a great addition! want to send a PR?

[2021-04-30 17:47] maximsch2 commented on #112
@vilon888 , are you still seeing this issue? Can you check one thing - does your dataloader produce batches of the same size for all workers all the time?

@SkafteNicki , I've finally debugged a similar issue we've been having and it's due to handling of datasets that don't divide evenly in the full number of batches - this makes it so that last batch is partial and different lengths on different

[2021-05-01 02:05] edwardclem commented on #218
Sure! Let me write up some test cases first. Is there any documentation I should look at about this library's test practices or should I just look at some of the other classification metric tests?

[2021-05-03 07:21] SkafteNicki commented on #112
@maximsch2 I agree that could be a problem.
Are you also seeing this when using torchmetrics as standalone or also when used together with lightning?

The reason that I am asking is that lightning as default is using [Pytorchs DistributedSampler](https://pytorch.org/docs/stable/data.html#torch.utils.data.distributed.DistributedSampler) that will add additional samples to make sure that all process

[2021-05-03 16:36] maximsch2 commented on #112
DistributedSamper doesn't work for IterableDataset which is what we usually get due to reading from databases, so we never really use that sampler. This is the fix btw: #220

[2021-05-03 18:14] #106 closed

[2021-05-03 19:47] Borda commented on #180
@rajs96 how is it going, do you think we can make some initial draft about this week?

[2021-05-04 00:46] rajs96 commented on #180
I can start working on a PR draft this weekend - would that work?

[2021-05-04 05:33] Borda commented on #180
Sooner is better so we have more time to fine tuning it =)

[2021-05-04 08:12] tmachnitzki opened #223 "Continuous Ranked Probability Score (CRPS) metric"
## 🚀 Feature

The Continuous Ranked Probability Score (CRPS) is a metric for ensemble verification of continuous variables.
It is the continuous version of the  Ranked Probability Score (RPS), which is used for ensemble classification.

A nice description can be found here: https://www.xces.dkrz.de/about/problems/

### Motivation

Sampling from a GAN can be compared to having an ensemble of models

[2021-05-04 09:37] justusschock commented on #223
Hi @tmachnitzki ,

I transferred this issue to the torch metrics repository, since we don't add new metrics to the lightning repository any more, but instead to our torchmetrics package.

From my side, I'd really appreciate an implementation of (C)RPS. Would be nice if you could open a PR :)

[2021-05-04 14:22] #203 closed

[2021-05-04 21:27] ramonemiliani93 opened #227 "PearsonCorrcoef will break when single sample is passed at a time."
## 🐛 Bug

When passing a single sample at a time to the `PearsonCorrcoef` metric it will crash. I am not sure if this is the intended behavior but it causes problems for big models training with batch size of one.

### To Reproduce
[code]

Error Message:
`RuntimeError: zero-dimensional tensor (at position 0) cannot be concatenated`

[2021-05-05 07:21] sivakhno opened #228 "Can not log metric which is a tensor"
## 🐛 Bug

I get an error `The metric `val_acc_0_step/epoch_0` does not contain a single element thus it cannot be converted to float.` when running training loop.

###  Full stack trace
[code]

### To Reproduce

I train the model below, which is multi-class / multi-dimensional classifier (have multiple class categories trained in one hierarchical model). The error seem to come from the following p

[2021-05-05 17:35] #227 closed

[2021-05-06 08:49] SkafteNicki commented on #223
Hi @tmachnitzki,

Sounds like a great addition. Please feel free to open a PR :]

[2021-05-06 09:41] patricieni commented on #53
hello everyone! What is the status on this PR, is someone actively working on this?

From the prior PR in PyTorchLightning/pytorch-lightning#4564 it doesn't seem that would work for DDP, which seems to be the main challenge when implementing this as a metric.

Has anyone tried first implementing this metric as a subclass of `torchmetrics.Metric`? - our team is currently working on this

[2021-05-06 09:53] zhiqwang commented on #53
As discussed in #190 , Perhaps adding a wrapper of `pycocotools` is also an option?

[2021-05-06 15:09] SkafteNicki commented on #112
Closing as this as it should have been solved by #220.
Please re-open if the error persist.

[2021-05-06 15:09] #112 closed

[2021-05-07 11:48] cjwcommuny opened #233 "Metric Accuracy doesn't work as previous version"
## versions

[code]

## reproduce

[code]

The code above produces errors like:

[code]

I believe🤔 that in the previous version, the above code works well, and I don't have to normalize `C` dimension of `preds` to 1.

## Workaround

[code]

[2021-05-07 12:44] Nora-Go opened #232 "`RuntimeError` using `torchmetrics.IoU`"
Hi :)

I get this error using torchmetrics.IoU(num_classes=4) and running my model on gpu:
RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!

If I write my own IoU (using some code of yours and simplifying it), everything works perfectly well.

It would be great if you could resolve this issue :)
Thanks for your time and help!

[2021-05-07 13:58] SkafteNicki commented on #233
It is correct that we at some point in the past supported raw model input (logits) for various classification metrics.
We then started to only to support probability input when the metrics gained a few extra features (like `top_k` calculations).
That said, we have acknowledged that we should support logit input and have another issue open already https://github.com/PyTorchLightning/metrics/issues/

[2021-05-07 13:58] #233 closed

[2021-05-07 14:03] SkafteNicki commented on #232
I am going to take a guess here, but as @carmocca mentions a reproducible script/snippet would be nice :]

We commonly see this error when the metric is not correctly recognized inside the LightningModule. This section describes in details how metrics should be initialized inside the lightningmodule:
https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metrics-and-devices
@Nora-Go cou

[2021-05-07 17:22] maximsch2 opened #234 "AUROC metric errors lead to confusing error messages"
## 🐛 Bug

We are seeing issues like this:
[code]

AUROC metric compute calls functions precision_recall_curve which use `precision_recall_curve` as part of the error message , which is confusing, we should make sure to throw more reasonable error there.

[2021-05-08 20:40] pranjaldatta opened #235 "[New Metric] Add Mean Absolute Percentage Error metric"
## 🚀 Feature

Add[ Mean Absolute Percentage Error](https://scikit-learn.org/stable/modules/model_evaluation.html#mean-absolute-percentage-error) to the list of regression metrics.

### Motivation

It's a neat metric that is included in the scikit-learn package - considered to be a bit more intuitive than MAE and more sensitive to relative errors. More can be found on its [Wikipedia article](https:

[2021-05-09 15:18] edenlightning commented on #234
@SkafteNicki

[2021-05-09 18:29] teufelweich opened #237 "Reset of ConfusionMatrix doesn't reset the output of compute()"
## 🐛 Bug
When a ConfusionMatrix instance that has already been updated is reset, it still returns the old values before the reset.

### To Reproduce

Steps to reproduce the behavior:

[code]

#### Code sample

[code]

### Expected behavior

The output of `cm.compute()` should be all zeros after `cm.reset()` was called.

### Environment

 - PyTorch Version (e.g., 1.0): 1.8.0
 - OS (e.g., Linux): Li

[2021-05-09 19:09] Borda commented on #237
@teufelweich mind check latest v0.3.1 or eventually master?

[2021-05-09 23:00] teufelweich commented on #237
Installed the archived master (`0.4.0dev`) with pip.
The first `compute()` now gives a warning, that it was was never updated previously.
After `reset()` the `compute()` works as expected and returns all zeros.

Sorry for not checking the newest version right away 😅

[2021-05-09 23:00] #237 closed

[2021-05-10 06:47] Nora-Go commented on #232
Hi :) sorry this took so long. You can find the hopefully minimal example in the attached file.
As suggested in https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metrics-and-devices, I checked wether the metric is in the children() of the module and it is! So I guess that's not the problem.

Please let me know if the minimal example is not good (it's my first try on a minimal examp

[2021-05-10 09:51] SkafteNicki commented on #232
@Nora-Go thanks for response. I try to reproduce and debug with the example you send :]

[2021-05-10 09:55] SkafteNicki commented on #234
@maximsch2 could you provide what input looks like when such and error is raised?

[2021-05-10 10:20] Nora-Go commented on #232
Ok I messed up the print out of children()... (Sorry about that).
I fixed it by using:

`self.metric = torchmetrics.IoU(num_classes=4)`
`hparams['metric'] = self.metric`

(Yes I know that looks weird, but I need the metric to be inside of hparams, so that it gets logged...
Using self.save_hyperparameters() just is confusing, but mandatory in the newest release of pytorch lightning.)

However, now

[2021-05-10 10:23] SkafteNicki commented on #235
@pranjaldatta looks like a great addtion. Would you be up for sending a PR?
I see no problem in the limitations of this metrics, we just need to document some of them. Finally, we just provide the metrics, but it is up to the user to use them correctly

[2021-05-10 10:27] #232 closed, assigned to SkafteNicki

[2021-05-12 10:18] SkafteNicki commented on #187
Hi @zhengzangw,
So in general we want to stick with the defaults of pytorch. In general the field seems to be moving towards using tensors with dtype 16 to save memory. That said, most of our metric should be dtype agnostic meaning that you can just cast the metric to whatever dtype that you want to use:
[code]
After playing around with this, I identified a bug that currently prevents this but sho

[2021-05-12 10:30] zhengzangw commented on #187
I see. Since there is a way to maintain double precision, I will close the issue.

[2021-05-12 10:30] #187 closed

[2021-05-12 10:36] SkafteNicki commented on #234
@maximsch2 I could reproduce with this:
[code]
in this case the user should provide the `num_classes` flag (in this case it should be 3). It is basically what the final error message is saying, but let me send a PR with a better error message.

[2021-05-12 14:00] l-salewski opened #245 "Computing Accuarcy on 16bit softmaxed values causes ValueError"
## 🐛 Bug

Computing an accuarcy on on-the-fly softmaxed values causes ValueError `Probabilities in preds must sum up to 1 across the C dimension` even though the tensor does sum up to `1` in the correct dimension.

I upgraded pytorch-lightning from 1.1.8 to 1.2.10 to 1.3.1 and thus had to manually insert `F.softmax(logits)` to make the accuarcies work again (see [this](https://github.com/PyTorchLi

[2021-05-12 20:06] #60 closed

[2021-05-12 20:06] #74 closed

[2021-05-13 08:18] SkafteNicki commented on #245
Hi l-salewski,
Thanks for raising this issue. Yesterday this PR https://github.com/PyTorchLightning/metrics/pull/200 was merged that removes the check that is the preds tensor needs to sum to 1 such that users also can input unnomalized model output (logits). The issue therefore seems to be automatically solved by that. To get these changes you can install from master (`pip install git+https://git

[2021-05-13 08:18] #245 closed

[2021-05-13 08:32] #234 closed

[2021-05-13 14:18] l-salewski commented on #245
Hi SkafeNicki, thanks for the swift response and the even faster PR!

[2021-05-14 13:25] johannespitz opened #250 "Add option to compute root_mean_squared_error"
## 🚀 Feature
Allow the user to choose between MSE and RMSE.

### Motivation
In a physical domain the RMSE, which is essentially the mean of distances, may be significantly more intuitive than the MSE. Therefore, it would be nice to have the option to choose the preferd metric.

### Pitch
Similar to the implementation in [scikit-learn](https://scikit-learn.org/stable/modules/generated/sklearn.metri

[2021-05-14 18:32] seandatasci opened #251 "option to return all aucs instead of mean in multiclass per class aucroc"
## 🚀 Feature

### Motivation

want to see per class aucroc not just in aggregate, used to determine performance of individual classes

### Pitch

return list of all aucrocs
   instead of just mean of all classes
### Alternatives

n/a modify source code

[2021-05-14 18:35] #251 closed

[2021-05-14 18:35] seandatasci commented on #251
im silly

[2021-05-15 20:59] amorehead opened #252 "Add Option to Calculate Median AUROC"
## 🚀 Feature

Allow the user to calculate the median area under the receiver operating characteristic (AUROC).

### Motivation

In a classification setting where each sample can vary widely in size (e.g. graph neural networks with differing input graph sizes), it would be desirable to choose the median AUROC as the final AUROC value for a given epoch.

### Pitch

A simple option called "median" co

[2021-05-17 03:05] maximsch2 commented on #252
Do you mind clarifying what you mean by 'median over the epoch'? Do you mean AUROC is computed separately per batch and then all the per-batch and then you want to store them until the end of the epoch and compute the median?

If you are using Lightning, you can do that right now by returning appropriate things from your `<phase>_step` and then computing median in `<phase>_epoch_end` for example.

[2021-05-17 13:36] aleSuglia opened #254 "Combine two metrics that have different inputs"
I would like to create a `CompositionalMetric` that is the average of two `Metric`s that have different *inputs*. Currently, seems to me that two metrics can be composed if they have the same positional parameters. The other way would be to use the keyword argument parameters but if you're using two `Accuracy` they would be the same. Can we somehow better redirect the parameters?

[2021-05-17 14:11] justusschock commented on #254
Hi @aleSuglia

What do you propose for that case? Since currently I cannot think of another way to do so.

[2021-05-17 14:20] aleSuglia commented on #254
The problem is that they are both `Accuracy` so using keyword arguments doesn't work either (otherwise you mixup the values). Also, I tried to create my own version of an `AverageMetric`:
[code]
Now imagine I have `train_actions_accuracy` and `train_objects_accuracy`, then I create an `overall` metric using the above class. However, I'm having issues in logging it if I do:

[code]
When running my

[2021-05-17 14:28] justusschock commented on #254
@aleSuglia got it. you should be able to do it like this (I think):

[code]

since the compositional metric only takes references to those metrics.

However, I did not test this. If you run into issues, please report back :)

[2021-05-17 14:31] aleSuglia commented on #254
Would this log also `acc1` and `acc2`?

[2021-05-17 14:34] justusschock commented on #254
No, this would only log the mean.

I am not sure what happens when you change this to
[code]

since then `compute` has already been called when you reach the last log statement.
cc @SkafteNicki : Do you know what happens then/if the behaviour will be correct?

[2021-05-17 14:35] aleSuglia commented on #254
Also, you seems that you need to call the update of `mean_acc` as well otherwise it doesn't get updated.

[2021-05-17 15:50] SkafteNicki commented on #254
I propose that you subclass accuracy twice and thereby overwrite the signature of `update`:
[code]
note only `update` is required to be overridden, but this example will show that `compute` is only called **once** for both acc1 and acc2 since we cache the computed value such that repeated call to compute just returns the cache value. Here is the relevant code:
https://github.com/PyTorchLightning/m

[2021-05-17 18:48] aleSuglia commented on #254
Oh thanks for the neat example @SkafteNicki. What would be the correct way of integrating them in a LightningModule?

[2021-05-17 19:01] amorehead commented on #252
@maximsch2,

Thank you for reminding me of the `<phase>_step` and `<phase>_epoch_end` hooks in Lightning. I should easily be able to implement a solution to calculate the median AUROC of all the validation and testing dataset batches (separately). My only concern is, in the solution I have outlined below, will DDP facilitate aggregation of all the validation AUROC values for each batch when I go t

[2021-05-17 21:07] maximsch2 commented on #252
No, I think you'll need to communicate those yourself, check out `self.gather_all_tensors` method on LightningModule for that. _epoch_end hook will be called on all workers, but only rank 0 will log, so you want to gather results to that place. There will be a memory cost of aggregating all the results on one node, so be mindful of the size of your dataset there.

If your dataset size makes this i

[2021-05-18 02:58] amorehead commented on #252
@maximsch2,

Do you possibly know of any examples I can reference for how to properly use self.all_gather (is this the function you are referring to?) for my LightningModules to collect metric values?

[2021-05-18 06:25] SkafteNicki commented on #254
Personally I would do it this way:
[code]

[2021-05-18 08:04] SkafteNicki commented on #252
@amorehead this should work:
[code]

[2021-05-18 10:17] raimis commented on #227
@Borda #229 is in `v3.2.0` (https://github.com/PyTorchLightning/metrics/commits/v0.3.2), but the issue isn't fixed:

[code]
Output:
[code]

[2021-05-18 17:45] amorehead commented on #252
@SkafteNicki,

I'll give your suggestion a try to see how it goes. Thank you very much for the quick reply!

[2021-05-19 19:56] #250 closed

[2021-05-20 13:34] aleSuglia commented on #254
Sorry for the late response. Should `log()` take care of `reset()` when `on_epoch=True`? Also, why do we have a call to `reset` only for `mean_acc`?

[2021-05-20 19:58] jacanchaplais opened #256 "F1 score seems not to match harmonic mean of precision and recall scores"
## 🐛 Bug

Hi there. I am using the modular forms of `BinnedPrecisionRecallCurve` and `F1` to calculate precision, recall, and F1. I noticed that F1 went down while both precision and recall went up, so I manually checked that F1 was consistent with the harmonic mean, and it seemed to be mostly too high.

![TensorBoard logged precision, recall and f1, averaged over validation sets per epoch](https:

[2021-05-20 20:40] jacanchaplais commented on #256
I am a moron confirmed. Apologies for wasting your time.

[code]

[2021-05-20 20:40] #256 closed

[2021-05-20 20:46] Borda commented on #256
@jacanchaplais no need, thx for your concern in the implementation correctness :rabbit:

[2021-05-21 07:57] SkafteNicki commented on #254
1. Please note that in my example I am not passing the metric object directly, but instead passing the computed tensors to `log` which is the reason that I have to call `reset` manually
2. `reset` of `mean_acc` will call `reset` of the `acc1` and `acc2`

[2021-05-21 19:51] amorehead commented on #252
@SkafteNicki,

Just to double-check, what should the size (dimensions) of val_aurocs be after executing "val_aurocs = torch.cat([output_dict['val_auroc'] for output_dict in outputs]), dim=0)"?

![image](https://user-images.githubusercontent.com/7051982/119191267-01763a80-ba44-11eb-9c8f-0ee260977312.png)

[2021-05-21 21:59] mmcdermott opened #258 "Error in multilabel AUROC"
https://github.com/PyTorchLightning/metrics/blob/233f0ebb606c5fe6749f3bada6a37f5e470c72cb/torchmetrics/functional/classification/auroc.py#L85

I believe the above line and the subsequent line should be surrounded by `torch.cat(..., dim=0)` calls? When I use AUROC in my code in a binary multilabel setting it errors out because `trapz` gets passed lists instead of tensors, and when I add `torch.cat`

[2021-05-25 08:54] SkafteNicki commented on #258
Hi @mmcdermott,
Could you provide an example, because I cannot reproduce the error:
[code]
above works fine for me.

[2021-05-25 09:51] mmcdermott commented on #258
I can (next week, at least) but at first glance i think I see where my use
differed, which is in that I would set num classes to 2 in this case as it
is still binary classification, even if it is multi-label binary
classification, whereas you set it to five.

Does you setting it up like this still result in it following the
multi-label pathway? Or just the multi-class pathway? It is worth noting a

[2021-05-25 10:07] XiaomoWu commented on #254
A compositional metric that takes in different inputs is very handy when doing multi-task learning, where `total_loss = w1*loss(y1, t1) + (1-w1)*loss(y2, t2)`

[2021-05-25 14:16] SkafteNicki commented on #258
When `AUROC` is used for multi-label classification the `num_classes` flag should be set to the number of labels.
The multi-label pathway is determined from what data looks like, so as long `target.ndim==preds.ndim` then it should go to multi-label (for multi-class we have `target.ndim+1==preds.ndim`)
There is no difference in using the functional or class interface as the class interface is just

[2021-05-25 14:21] SkafteNicki commented on #254
@XiaomoWu as stated in my above commen (https://github.com/PyTorchLightning/metrics/issues/254#issuecomment-842435391), In that case overwriting the loss metric twice should give you exactly that:
[code]

[2021-05-26 00:56] #252 closed

[2021-05-26 10:49] tchaton opened #261 "CompositionalMetric should return False when composing with a non metric."
## 🐛 Bug

[code]

[2021-05-26 11:08] justusschock commented on #261
@tchaton As discussed offline, it's not that easy, since we also need to be able to do stuff like `Accuracy() == 1`. It's hard to find and exhaustive list of types we should support here.

[2021-05-27 06:43] ZeyuSun opened #263 "Error in _precision_recall_curve_update for binary classification"
## 🐛 Bug

In _precision_recall_curve_update, it should be acceptable to pass `num_classes=2` for a binary problem. However, passing `num_classes=2` raise an exception because of these lines:

https://github.com/PyTorchLightning/metrics/blob/f58f4d421d749d3bb7d2fe96c96efabd01b269c7/torchmetrics/functional/classification/precision_recall_curve.py#L79-L86

### To Reproduce

Steps to reproduce the beh

[2021-05-28 08:01] huhubrave opened #264 "Probabilities in `preds` must sum up to 1 across the `C` dimension."
## 🐛 Bug
At **16 accuracy**, When use softmax, Probabilities in `preds`  **can not** sum up to 1 across the `C` dimension.
You may not need to check like this.  in [_check_classification_inputs](https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/utilities/checks.py)
`if not torch.isclose( preds.sum(dim=1), torch.ones_like(preds.sum(dim=1))).all():
            raise ValueError("Pr

[2021-05-28 08:21] jacanchaplais opened #265 "Exclude thresholds of 0.0 and 1.0 in precision recall curve"
## 🚀 Feature

Instead of using threshold values in the inclusive range [0, 1], it would be good to have (at least the option for) thresholds in the exclusive range (0, 1). Custom threshold values would be even better, in my opinion.

### Motivation

I am tracking metrics for memory intensive models, and don't want to keep track of values which are not useful. Also, it clutters up my TensorBoard, w

[2021-05-28 09:04] amonod-gpfw opened #266 "PSNR not working with multiple GPUs and dataparallel"
## 🐛 Bug

(This is a sort of follow up to lightning issue [#7257](https://github.com/PyTorchLightning/pytorch-lightning/issues/7257) and torchmetrics bugfix #214)

Hi folks,

I have a problem when using lightning, DataParallel and torchmetrics. When training a small denoising network on MNIST with 2 gpus using DP and torchmetrics to compute training and validation PSNR I get the following error:

[2021-05-28 09:13] amonod-gpfw commented on #266
Here is the full traceback:

[code]

[2021-05-28 10:26] SkafteNicki commented on #264
Hi @huhubrave,
The check was removed in this PR https://github.com/PyTorchLightning/metrics/pull/200 to support unnormalized scores.
Please upgrade to master: pip install git+https://github.com/PytorchLightning/metrics.git@master and it should work for you :]

[2021-05-28 10:42] SkafteNicki commented on #263
Hi @ZeyuSun, the documentation directly states that you should not supply `num_classes` if you are doing binary evaluation.
https://github.com/PyTorchLightning/metrics/blob/f58f4d421d749d3bb7d2fe96c96efabd01b269c7/torchmetrics/functional/classification/precision_recall_curve.py#L176-L177

[2021-05-28 11:47] #266 closed

[2021-05-28 14:27] SkafteNicki commented on #265
@maximsch2 any opinion here?

[2021-05-28 19:22] ZeyuSun commented on #263
I see. But this kind of seems counter-intuitive. If it has to be implemented that way, then would it be better if we explicitly states that in the doc? "Not necessary" is sort of ambuiguous.

[2021-05-28 20:36] abhinavsagar opened #268 "[New Metric] Add Mean Squared Logarithmic Error metric"
## 🚀 Feature

### Motivation

I was wondering whether this metric is required for regression.

### Pitch

### Alternatives

### Additional context

[2021-05-29 14:58] jul1u5 opened #269 "`.reset()` method not called at the end of an epoch"
## 🐛 Bug

In the TorchMetrics [documentation](https://torchmetrics.readthedocs.io/en/latest/pages/lightning.html):

However, when I tried to use TorchMetrics, it seemed that the `.reset()` was never automatically called.

### To Reproduce

My code looks something like this:
[code]

#### Output
[code]

### Expected behavior

`valid_acc.tp`, `valid_acc.fp` from which accuracy is calculated should be

[2021-05-29 20:29] #268 closed

[2021-05-30 10:00] justusschock commented on #269
Hi @jul1u5 ,

This is intended behaviour. The [docs](https://torchmetrics.readthedocs.io/en/latest/pages/lightning.html#torchmetrics-in-pytorch-lightning) on this state, that you should log the metric object directly in order to have reset being called.

So your example would be like this:

[code]

[2021-05-30 10:00] #269 closed

[2021-05-31 02:15] huhubrave commented on #264
Thank you for your reply. It works very well.

[2021-05-31 02:15] #264 closed

[2021-05-31 09:14] #254 closed

[2021-06-01 09:55] #94 closed

[2021-06-01 10:03] janhenriklambrechts commented on #49
Will only be able to work on it from beginning of July onward @SkafteNicki - is that OK?

[2021-06-01 21:44] ramonemiliani93 opened #271 "PearsonCorrcoef always zero when validation batch size is one."
## 🐛 Bug

Hi, rather than a bug this is a question about how the `PearsonCorrcoef` operates. When I have an element with batch size of one on the validation set the correlation will always be zero. To my understanding, if the batch size is one on the validation set and I have 10 elements to validate with it should concatenate the 10 elements and calculate the correlation with that.

### To Reprodu

[2021-06-03 12:37] SkafteNicki commented on #271
When you call
`self.val_correlation(y_pred, y_true)`
you are calculating the correlation on that batch. If the batch size is only 1 then the correlation will always be 0. What you of cause want to do is to calculate the correlation over the hole validation set as pearsons is a global metric. You should therefore do something like this:
[code]

[2021-06-03 13:25] ramonemiliani93 commented on #271
Thanks @SkafteNicki! Could I help contributing a running version of the algorithm?

[2021-06-03 21:40] #263 closed

[2021-06-04 20:24] ashleve opened #273 "Order of outputs of ConfusionMatrix"
Hi,
is there any explanation on order of output generated by ConfusionMatrix?

Here is the example of binary classification from the docs:
[code]

Judging by the output thensor, I assume the order in matrix is:
[code]
Did I get it right?
Why is the order like that exactly?
For example, on wikipedia it looks like this:
![image](https://user-images.githubusercontent.com/43458894/120858212-c6672180-c

[2021-06-07 10:01] raimis opened #274 "PearsonCorrcoef breaks when a single sample is passed at a time"
## 🐛 Bug

When passing a single sample to the PearsonCorrcoef metric, it will crash. Similar to #227 and partially fixed by #229. Originally reported in https://github.com/PyTorchLightning/metrics/issues/227#issuecomment-843046691

### To Reproduce

[code]

Output:
[code]

### Expected behavior

The metric is computed without throwing the `RuntimeError`.

[2021-06-07 18:34] mmcdermott commented on #258
@SkafteNicki Ahh, I see. Thank you for clarifying! I'd recommend clarifying that in the documentation, but in any case I'll close the issue. Thank you again!

[2021-06-07 18:34] #258 closed

[2021-06-08 19:38] seanytak opened #275 "ConfusionMatrix does not work on GPU"
## 🐛 Bug

Hello,

When trying to utilize `torchmetrics.IoU` with `preds` and `targets` tensors on the GPU, I receive the following error

[code]

### To Reproduce

Modified from the [example](https://torchmetrics.readthedocs.io/en/latest/references/modules.html?highlight=iou#iou) to have pred and tensor on GPU

#### Code Sample

[code]

### Expected behavior

Metric should compute as normal

### E

[2021-06-08 19:49] Borda commented on #275
seems like the data are not synced correctly...

[2021-06-08 20:08] ramonemiliani93 commented on #271
Hi @Borda! Something like what is suggested [here](https://stackoverflow.com/questions/65131078/estimate-pearson-correlation-coefficient-from-stream-of-data) we would keep track of certain variables per batch and output the correlation at the end.

[2021-06-08 20:34] maximsch2 commented on #275
I think you should move the metric itself to cuda as well if you want to feed it data on GPU.

[2021-06-08 20:37] Borda opened #276 "JIT RuntimeError for property `is_differentiable`"
## 🐛 Bug

[code]

### To Reproduce

see tests on master for PT>=1.7
https://github.com/PyTorchLightning/metrics/actions/runs/904368314

### Additional context

[2021-06-08 20:49] Borda commented on #271
I see, YES, that would be very welcome contribution :]
cc: @PyTorchLightning/core-metrics

[2021-06-08 21:31] #276 closed, assigned to nobody

[2021-06-09 09:22] edgarriba commented on #275
as @maximsch2 suggested you need to move the module to the same device as the input/target data. Internally, the confusion matrix will be by default in the cpu - that's why torch asserts a mismatch between devices. This the above code with the proper usage:
[code]

[2021-06-09 09:25] edgarriba commented on #275
Closing the issue since it's not a bug, but an intended behavior.

Another possible solution could be to move the internal confusion matrix to the same device as the inputs.
In that case, this should be discussed in a separated issue.

[2021-06-09 09:25] #275 closed

[2021-06-09 09:35] edgarriba commented on #274
@raimis please try to update `torchmetrics>0.3.2` - in master this issue is fixed.

[2021-06-09 09:52] justusschock commented on #273
Hi this is actually the same as wikipedia gives just not with positive and negative but with an arbitrary number of classes. I.e. You have predicted class on the x axis and actual class on the y axis. Both start with class zero and the diagonal is always the number of correct predictions for the corresponding class

[2021-06-09 10:21] edgarriba commented on #274
I guess at some point soon since last release was a month ago. Any insights here @Borda @edenlightning ?

[2021-06-09 10:31] Borda commented on #274
do you need anything specific from master?

[2021-06-09 10:51] #271 closed

[2021-06-09 10:53] #273 closed

[2021-06-09 16:13] raimis commented on #274
Just the fix of this issue.

[2021-06-09 17:07] Borda commented on #274
I see we can make one more this week if you want :]

[2021-06-10 10:32] raimis commented on #274
I tried again:

- Install `torchmetrics` with `conda`:
[code]
- The version of `torchmetrics` is `0.3.2`, as expected:
[code]
- Run the code above and get the same error:
[code]
So, the issues is not fixed in `0.3.2`.

[2021-06-10 13:35] #235 closed

[2021-06-10 17:05] ramonemiliani93 opened #290 "Batched online algorithm for computing PearsonCorrcoef"
## 🚀 Feature

### Motivation
At the moment `PearsonCorrcoef` stores values by appending to a list until the `compute` method is called. This implementation as noted in the warning can lead to a large memory footprint.

### Pitch

I suggest implementing a solution very similar to what dmuir has [here](https://stackoverflow.com/questions/65131078/estimate-pearson-correlation-coefficient-from-stream-

[2021-06-12 15:47] SkafteNicki commented on #290
@ramonemiliani93 sound like a great enhancement, would you like to send a PR?

[2021-06-12 16:11] SkafteNicki commented on #218
@edwardclem how is it going here?

[2021-06-13 05:04] quancs opened #291 "Add new audio metrics"
## 🚀 Feature
Add audio metrics to `TorchMetrics`.

### Motivation
Audio metrics are missing in `TorchMetrics`.

### Pitch

### Alternatives

### Additional context

[2021-06-13 15:24] edwardclem commented on #218
I have the calibration error metric working and tested with the L1, L2, and max norms matching the behavior of the sklearn PR [here](https://github.com/scikit-learn/scikit-learn/pull/11096). There appears to be an implementation difference in the bias term correction from [this paper](https://arxiv.org/pdf/1909.10155.pdf) that causes those tests to fail, and I'm checking with the sklearn devs to s

[2021-06-14 12:46] #174 closed

[2021-06-14 14:37] ramonemiliani93 commented on #290
@SkafteNicki Sure! I'll start working on it.

[2021-06-14 17:16] quancs opened #294 "Add multi-speaker support to the audio metrics"
## 🚀 Feature
Permutation invariant metrics

### Motivation

Multi-speaker tasks like speech separation need to find the best permutation of the speakers in target and the speakers in prediction, and also need to compute metrics in a permutation invariant way.

### Pitch

Implement the widely used Permutation Invariant Training (PIT) method

### Alternatives

### Additional context

[2021-06-15 05:56] notonlyvandalzzz opened #295 "Wrong numbers for multiclass acc/prec/f1 if some class is not listed in true/pred tensors"
## 🐛 Bug

TM's output for precision, accuracy, f1 differs from sklearn' version of same metrics with average='macro' setting used and labels in pred/true tensors for all classes except one

### To Reproduce

Steps to reproduce the behavior:

1. Get one tensor with classlabels as y_pred, copy it to y_true, and pull thru torchmetrics.functional.f1/accuracy/precision with average="macro", num_classes

[2021-06-15 09:27] #65 closed

[2021-06-16 08:34] lsisoft opened #298 "Same value for Accuracy, Precision and Recall for MNIST classification with 10 classes"
## 🐛 Bug

When computing torchmetrics Accuracy, Precision, Recall and F1 over MNIST classification, all numbers come up the same.

Also, in this case, torchmetrics Accuracy metric sets the mode to multiclass, not multilabel, so it uses exactly the same formula as Precision.

I've attached a reduced code sample below, and a larger one is available on: https://gist.github.com/lsisoft/e49336831318729

[2021-06-16 16:43] EdwardJB opened #300 "F1 Macro score wrong(?) when label never appears"
## 🐛 Bug

When F1 (Macro) is calculated on a batch where one (or more) labels never appear, the result is <1.0 even when all predictions are correct. This seems very counterintuitive. Is it expected?

### To Reproduce

[code]
Output: `0.5`.

This occurs if one of my batches lacks one (or more) of the labels (my real use-case has many more classes).

### Expected behavior

I'm not an expert on how

[2021-06-17 05:39] vatch123 commented on #295
Hi @Borda I can have a look at this if someone is already not involved here.

[2021-06-17 06:13] Borda commented on #295
That would be great, thank you!

[2021-06-17 08:07] SkafteNicki commented on #295
Hi @vatch123,

[2021-06-17 08:09] SkafteNicki commented on #295
Hi @vatch123
Thank you for wanting to contribute. Just wanted to let you know that I debugged this a bit I think it can be solved by changing this line
https://github.com/PyTorchLightning/metrics/blob/1841cad3839f5d1907a1bb8bb6a266de5c5333f9/torchmetrics/functional/classification/stat_scores.py#L186
to also account for the `zero_div_mask` so
[code]

[2021-06-17 08:34] SkafteNicki commented on #298
Hi @lsisoft , could you please provide which version of torchmetrics you are using?

[2021-06-17 08:41] SkafteNicki commented on #300
seems related to #295

[2021-06-17 09:35] lsisoft commented on #298
torchmetrics==0.3.2

[2021-06-17 11:07] vatch123 commented on #295
Hi. Thanks for this. Let me have a look at this.

[2021-06-20 03:48] richarddwang opened #304 "Support -100 as ignore_index of Accuracy"
When running the instance `Accuracy(ignore_index=-100)`, it will tell you `-100` is not in the classes.

But `torch.nn.CrossEntropy(..., ignore_index=-100)` is default, and we often train masked language model with  label tensor in shape (batch_size, sequence_length) where positions not selected by masking process are filled with -100 to prevent counting loss from non-masking positions.

We can st

[2021-06-21 10:27] #67 closed

[2021-06-21 18:39] SkafteNicki commented on #304
Hi @richarddwang, sound good to me. Would you be up for sending a PR?

The relevant check that should be changed:
https://github.com/PyTorchLightning/metrics/blob/7af6d13b3c2186aacf5594793317c15a199608bb/torchmetrics/functional/classification/stat_scores.py#L95-L96
(and a similar checks)

[2021-06-22 01:28] richarddwang commented on #304
Hi @SkafteNicki, I am not clear about how `ignore_index` is handled,
https://github.com/PyTorchLightning/metrics/blob/7af6d13b3c2186aacf5594793317c15a199608bb/torchmetrics/functional/classification/stat_scores.py#L111-L113
https://github.com/PyTorchLightning/metrics/blob/7af6d13b3c2186aacf5594793317c15a199608bb/torchmetrics/functional/classification/stat_scores.py#L24-L27
Would it still be good wh

[2021-06-22 10:34] lsisoft commented on #298
I have reviewed your code snippet and indeed it matches sklearn. I've moved my original code to macro and now the values for all metrics are almost what they should be.

There is a an issue that remains: Accuracy vs Precision.

For Accuracy, torchmetrics/functional/classification/accuracy.py, if I can place a debug breakpoint at line 80, it hits, due to mode=DataType.MULTICLASS

The code there loo

[2021-06-22 17:39] #291 closed

[2021-06-23 08:57] SkafteNicki commented on #298
@lsisoft could you give me an example where the calculated value in torchmetrics deviates from the value in sklearn?

[2021-06-23 12:36] SkafteNicki commented on #304
@richarddwang yeah, maybe it is bit more complex than first thought. Could you please provide an example input that you would normally feed into `torch.nn.CrossEntropy` with `ignore_index=-100` just so I can better understand?

[2021-06-23 12:43] SkafteNicki commented on #218
Hi @edwardclem, sounds like a great plan to me (sorry for not getting back to you sooner).
Please feel free to open a PR :]

[2021-06-23 12:44] richarddwang commented on #304
Sure, one that wants to do masked language model will often see something like this.
[code]

[2021-06-24 14:15] CSautier opened #312 "Incorrect results with ignore_index in IoU"
## 🐛 Bug

The ignore_index option in IoU does not behave as it should

### To Reproduce

Run the above code

#### Code sample

[code]

### Expected behavior

Predicting a '0' here should not modify the score, both should give 0.1667

### Environment

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS (e.g., Linux): Linux & Windows
 - How you installed PyTorch (`conda`, `pip`, source): both
 - Build comma

[2021-06-24 21:55] jordan-benjamin opened #316 "FID with custom feature extractor crashes on compute() when torchmetrics[image] is not installed"
## 🐛 Bug

Hi there!

I'm trying to use TorchMetrics' FID metric with a custom feature extractor, without having to pip install the `torchmetrics[image]` package. However, if I don't have the additional package installed, the metric crashes when calling `compute()` due to:

[code]

If I import `scipy.linalg` myself in my script, the call to `compute()` succeeds.

Alternatively, if I install `torchm

[2021-06-25 13:41] SkafteNicki commented on #316
Hi @jordan-benjamin,
Thanks for raising this issue. I have opened PR #318 which adds note to FID metric that scipy also needs to be installed (regardless of used feature extractor)

[2021-06-25 17:39] collinmccarthy commented on #304
Can we also handle the case for segmentation with datasets like PASCAL VOC, which has a "void" label of 255 but the number of classes is 21?  I tried passing in the number of classes but then I get the error:

[code]

I can open a new issue but since this is actively being discussed and it's the same general issue I thought I'd add a comment here. Thanks!

[2021-06-26 08:27] del2z opened #320 "Bug in Matthews_correlation_coefficient"
I've tested the ConfusionMatrix and got results similar to the one in [https://en.wikipedia.org/wiki/Matthews_correlation_coefficient](https://en.wikipedia.org/wiki/Matthews_correlation_coefficient). However, the code in [line 23](https://github.com/PyTorchLightning/metrics/blob/c5d83d337f2e0b23ae32f61f0c4f3ebd71f42b23/torchmetrics/functional/classification/matthews_corrcoef.py#L23) is incorrect a

[2021-06-26 11:30] SkafteNicki commented on #320
@del2z Thanks for bringing this to our attention. I created PR #321 to fix this.

[2021-06-26 11:30] SkafteNicki commented on #316
Closing as PR #318 is merged.

[2021-06-26 11:30] #316 closed

[2021-06-26 11:32] SkafteNicki commented on #312
Hi @CSautier,
Thanks for raising this issue. Would you be up for sending a PR? :]

[2021-06-28 09:27] #320 closed

[2021-06-28 10:26] #183 closed

[2021-06-28 10:26] #35 closed

[2021-06-28 10:26] #107 closed

[2021-06-28 10:26] #66 closed

[2021-06-28 10:26] #75 closed

[2021-06-28 22:10] #265 closed

[2021-06-29 13:37] SkafteNicki commented on #274
Fix included in v0.4.0 just released (https://github.com/PyTorchLightning/metrics/releases/tag/v0.4.0). Closing.

[2021-06-29 13:37] #274 closed

[2021-06-29 13:50] raimis commented on #274
Thanks!

[2021-06-29 16:29] hassiahk commented on #73
Hello @SkafteNicki, should we have three different metrics for this?

`Tweedie deviance with power`
`Poisson deviance - Tweedie deviance with power=1`
`Gamma deviance - Tweedie deviance with power=2`

[2021-06-29 21:44] awaelchli opened #331 "Metric with ddp spawn causes script to hang after Trainer.fit()"
## 🐛 Bug

Adding a torchmetric as an attribute to the model causes processes to hang when launching with ddp spawn.

### To Reproduce

1. Install torchmetrics 0.4, PyTorch Lightning 0.3.7
2. Run the script below

#### Code sample

[code]

**A few important notes:**
- All you have to do is `self.metric = Accuracy()`, then it will break. You don't have to use the metric, just assign it.
- Installing

[2021-06-29 21:49] awaelchli commented on #331
I will try to git bisect against torchmetrics master to find the commit.

[2021-06-29 22:17] awaelchli commented on #331
Bisecting between 0.3.2 and 0.4.0 I found that commit fc3333b86c30e50ee1922d55024df1468f7d80be is the problematic one. cc @tchaton

[2021-06-30 17:02] hudeven commented on #331
thanks @awaelchli for bring it up! I'm using Lightning + torchmetric and encountered the same issue for ddp. cc: @tchaton , @maximsch2

[2021-06-30 17:10] SkafteNicki commented on #73
I think in this case, it is better to just have a single metric called `Deviance`  (or `TweedieDeviance`) and then make it clear in the docstring what `power=1`  and `power=2` corresponds to

[2021-06-30 17:29] fuine opened #337 "Metrics with list state cause crash using ddp"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Install torchmetrics 0.4, PyTorch Lightning 1.3.7
2.  Run the script below

#### Code sample

[code]
<details>
<summary>Raw output/traceback from the script</summary>

[code]
</details>

#### A few important notes:
* All you have to do is `self.metric = CosineSimilarity()`, then it will break. You don't have to use the metric, just a

[2021-06-30 17:37] ethanwharris commented on #337
Possibly related to PyTorchLightning/pytorch-lightning#8227

[2021-06-30 17:39] ethanwharris commented on #337
Hi @fuine, I think this should have been fixed with torchmetrics master. Could try installing with:
[code]
and see if the error goes?

[2021-06-30 17:43] fuine commented on #337
Hi @ethanwharris, I'm afraid it still crashes on master :slightly_frowning_face: From what I could gather with a quick debugging session and a **very**  limited knowledge of pl/torchmetrics the issue is that the sync is called on an empty state and the `output_dict` has an empty list for the state. The code then tries to asses the inner type of the state element, and does so by checking the type o

[2021-07-01 06:01] hassiahk commented on #73
Yes, that makes sense :)

[2021-07-01 08:42] SkafteNicki commented on #337
Hi @fuine,
Could you please checkout the fix in PR #338 and see if that fixes your problem

[2021-07-01 08:47] SkafteNicki commented on #331
@awaelchli could you try the fix in PR #338 and see if that fixes the problem?

[2021-07-01 08:55] awaelchli commented on #331
It was fixed on Lightning side #8218 to account for the changes in torchmetrics state_dict saving and loading.
Your branch also seems to fix it when I test against PL 1.3.7.

[2021-07-01 08:57] fuine commented on #337
Hi @SkafteNicki it does solve the problem - the code runs

[2021-07-01 08:58] awaelchli commented on #331
Btw #339 is in parallel reworking the state_dict logic, which also resolves the problem here.

[2021-07-01 09:07] jaffe-fly opened #340 "Expected all tensors to be on the same device"
## 🐛 Bug

Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!
[code]

### To Reproduce

Steps to reproduce the behavior:
1. Run 'trainer.fit(model)'
2. See error

![image](https://user-images.githubusercontent.com/49515380/124097876-954d1480-da8e-11eb-9a83-14b8efbbcbd2.png)

### Expected behavior

### Environment

 - PyTorch Version ( 1.8):
 - OS (Linux):

[2021-07-01 09:13] SkafteNicki commented on #340
Hi @jaffe-fly,
Modular metrics are `nn.Module` and therefore needs to be moved to the same device as the input. This is done automatically if you define them in the `__init__` method of your model. You can read more here: https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metrics-and-devices
However, an maybe easier fix in your case is you could just use the functional version of th

[2021-07-01 09:15] #340 closed

[2021-07-01 10:42] daureg opened #343 "Using integer >1 as label raise an error in nDCG"
## 🐛 Bug

Using integer >1 as label raise an error in nDCG. I believe it's because the `update` of the base class `RetrievalMetric` is calling `_check_retrieval_inputs` with the default value of `allow_non_binary_target` set to `False`.

#### Code sample

[code]

[code]

### Expected behavior

Getting a value

### Environment

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS (e.g., Linux): Ubuntu 18.04

[2021-07-01 11:58] tchaton opened #344 "Metric API re-design"
## 🚀 Feature

Re-design the internal API for Base Metric class to return batch states from the update function.

**The following proposal is a BC !**

### Limitations:
Currently, the Metric API is confusing for several reasons:
* The `update` function actually performs a `compute` if `compute_on_step=True`
* The `update` function actually perform 2 updates, which is an expensive operation for some

[2021-07-01 12:07] carmocca commented on #344
why not provide all the basic blocks and let people do whatever order they want?
update()
update().compute()  # compute_on_step
compute()
sync().compute()
sync().compute().unsync()
where each returns self so they can be chained

[2021-07-01 13:19] SkafteNicki commented on #343
cc: @lucadiliello

[2021-07-01 13:20] SkafteNicki commented on #344
Related PR: https://github.com/PyTorchLightning/metrics/issues/126

[2021-07-01 13:22] lucadiliello commented on #343
I do not see the reason of passing a value different than `0` and `1` in the labels. A document can be not relevant `0` or `relevant`. What does `2` mean? For this reason only binary values are allowed as labels.

[2021-07-01 13:26] tchaton commented on #344
After a chat with @carmocca, we were thinking about this API.

[code]

[2021-07-01 13:28] SkafteNicki commented on #344
@tchaton would this API mean that `forward` is longer a method that is intended to be used?

[2021-07-01 14:22] carmocca commented on #344
Yes, still can be used - I've updated Thomas' snippet

[2021-07-01 14:29] daureg commented on #343
Graded relevance is fairly common, for instance with implicit feedback in e-commerce setting: a product can non clicked `0`, clicked `1`, purchased `2`, purchased and not returned after 30 days `3`. It's mentioned in [Wikipedia](https://en.wikipedia.org/wiki/Discounted_cumulative_gain#Cumulative_Gain) and in fact, the functional version of ndcg [allows non binary label](https://github.com/PyTorchL

[2021-07-01 14:33] lucadiliello commented on #343
I didn't really take into account that possibility, mea culpa, do you think you could implement it by opening a PR?

[2021-07-01 16:18] ananthsub commented on #344
Why does the metric need to distinguish these? What exactly goes into accumulated states?

[2021-07-01 17:41] maximsch2 commented on #344
Given that we have functional metrics APIs, I'm wondering if extra complexity for allowing Module-based metrics to be computed on one batch is worth it? Practically speaking, the only thing extra we get from batch-level compute is when we do syncing and it does make sense to reduce code there. So how about something like:

[code]

That way, we will make it much clearer to users that computation ha

[2021-07-01 17:47] tchaton commented on #344
Hey @ananthsub, any thoughts there ?

[2021-07-01 17:48] maximsch2 commented on #344
@tchaton,

In here, does it mean we'll end up paying full sync cost even if we want to do just one batch computation?

In general I like the more explicit API with sync/unsync, but worry that users will forget to unsync and will get into weird states. What happens if we run update() after sync/compute without unsync? Is it a meaningful operation?

[2021-07-01 17:57] BeyondTheProof opened #348 "[metrics] AUROC Metric can't handle 0 observations of a class with multiclass classifier"
I'm attempting to calculate AUROC for a multiclass problem where some classes are very rare, occasionally never seen, and I'm getting the following error: `raise ValueError("No positive samples in targets, true positive value should be meaningless")`

In the case of 0 observations, I feel the `average='weighted'` should work, since the contribution to the final AUROC should be 0 regardless. One ca

[2021-07-01 19:13] tchaton opened #346 "[CI] Test TorchMetrics with PL releases"
## 🚀 Feature

The latest TM release introduced a wrong design causing ddp to hang in previous version of PyTorch Lightning.

To avoid this in the future, we should test TM vs `N` previous of Lightning before realising.

Proposal:

* On release CI run a matrix with multiple Lightning version:
      - Clone Lightning
      - Run Lightning tests with current metric version
      - If they all pass, M

[2021-07-01 19:14] tchaton commented on #346
@Borda Any thoughts on feasibility ?

[2021-07-01 19:23] Borda commented on #346
it is already there, you just need to add a proper test, I mentioned in https://github.com/PyTorchLightning/pytorch-lightning/pull/8231#pullrequestreview-697148399
https://github.com/PyTorchLightning/metrics/blob/master/integrations/test_metric_lightning.py

[2021-07-01 19:23] #346 closed

[2021-07-01 19:24] Borda commented on #337
closed by #339

[2021-07-01 19:24] #337 closed

[2021-07-01 19:25] Borda commented on #295
@SkafteNicki @vatch123 any chance we get for tomorrow bugfix release?

[2021-07-01 20:11] maximsch2 commented on #344
A few more concerns/feature requests:
- `sync` not being idempotent is annoying. Should we make semantics of sync such that it syncs + resets on all ranks except rank 0? That way we can sync multiple times in a row and don't need unsync() any more either.
- In the future, as things are scaled up, we might want to implement sharded metrics. Say we have a problem with 1M classes and we want to compu

[2021-07-01 20:47] Borda commented on #344
any reason why here you would need to repeat the `accumulated=False`?

[2021-07-01 20:57] Borda commented on #344
@tchaton ^^

yep, that would be also quite hard to debug, so some context wrapper around?

[2021-07-01 21:22] carmocca commented on #344
In this case, would the values of these two be the same?

`metric.sync(accumulated=False).compute(accumulated=True) == metric.compute(accumulated=True)`

We would still provide the `sync_context` context manager we currently have. Could also be renamed to `autosync` (as `autocast`)

[2021-07-02 03:19] ananthsub commented on #344
I like these 5 primitives: `reset`, `update`, `compute`, `sync`, `unsync`

In this state machine, after `sync()` the only valid operations on the metric are either `reset`, `unsync`, or `compute` - `update` or `sync` can't be allowed. Making this available with a context manager that calls either `reset` or `unsync` sounds good to me. Users could elect to chain calls themselves, but the metric sho

[2021-07-02 06:13] justusschock commented on #344
@ananthsub I think to have minimal breaking changes we could still allow forward to run `update` and `compute` on the current batch only. But it was not required before and wouldn't be required now.

[2021-07-02 07:08] tchaton commented on #344
To add on @ananthsub @SkafteNicki, forward isn't required, but PyTorch users are expecting the forward to return the current batch output. I think we should support those 6 primitives:

reset, update, compute, sync, unsync, [call or foward](update + compute)

[2021-07-02 07:11] tchaton commented on #344
Yes, as it is chaining operation and we can't do lazy operation there. However, `sync(accumulated=None | False | True)`, so you can optimise the states syncing.

[2021-07-02 07:17] ananthsub commented on #344
Above, the metric API isn't expected to return anything from `update` but here it's returning the state?

[2021-07-02 07:18] tchaton commented on #344
No it won't :) The update function is wrapped into a _wrap_update function which capture the state, store it and return None.

[2021-07-02 07:23] ananthsub commented on #344
if we're cleaning up the API, do we want to flip this? as in:
- We define an abstract `_update_impl` that metric authors/implementors must fill out
- The base Metric defines `update` which calls the implementation's `_update_impl` which captures the state and stores it.
- Users continue calling `update` as is

Would this be easier/simpler than needing to wrap the function like this:
- https://gith

[2021-07-02 07:31] Borda commented on #344
also related to #143

[2021-07-02 07:37] Borda commented on #344
that is exactly me asking, which is not clear... https://github.com/PyTorchLightning/metrics/issues/344#issuecomment-872539938

so from API for the user does the call update return anything or not?

[2021-07-02 07:37] SkafteNicki commented on #344
@ananthsub I would prefer to keep the `update`, `compute` just because it would mean minimal breaking changes from the users perspective. It is also very simple for the user to remember the API, when the methods they are implementing is exactly the once they are calling.

[2021-07-02 07:38] SkafteNicki commented on #331
Closing as #339 solved this.

[2021-07-02 07:38] #331 closed

[2021-07-02 08:18] tchaton commented on #344
I agree with @SkafteNicki there. We could do more by adding a third function, but at the same time, the API is simple to understand. I would prefer to keep wrapping the `update` and `compute` function internally for minimal breaking change and user API simplicity.

[2021-07-02 13:41] SkafteNicki commented on #348
Hi @BeyondTheProof, I transferred the issue to the torchmetrics repo.
Can I kindly ask if you are calling the `forward` method or the `update` method of the metric when trying to update the metric states?

[2021-07-02 18:08] maximsch2 commented on #344
Actually I think I'm with @ananthsub on this - given that `update` that users are implementing are not the same they are calling (even the type signature is different!), having them with the same name will bring confusion. In terms of BC issues for this change - for all metrics implemented inside torchmetrics, there will be no issue, the only issue will be for metrics implemented outside of it. As

[2021-07-02 19:20] BeyondTheProof commented on #348
Hi @SkafteNicki, thank you for the response and transferring the issue! I am just calling the `update` method.

[2021-07-04 22:58] #126 closed

[2021-07-05 08:29] justusschock commented on #344
I think I agree with @ananthsub and @maximsch2 that a separate function is better. Just for the naming of this function: IMO it should not be a protected function, since this is exposed to the user upon implementation of new metrics.

[2021-07-05 14:01] SkafteNicki commented on #348
Could you provide an example of how you are using the metric?

[2021-07-05 17:55] lsisoft commented on #298
If your criteria is that it has to only match sklearn, than you can close the issue. To my is strange that it uses the wrong formula in torchmetrics and sklearn as well.

[2021-07-06 08:30] SkafteNicki commented on #298
Yes our criteria is to match sklearn because they are the trusted standard for calculating these kind of metrics.
That said, I looked more into this and there is actually is no problem with that formula. The typical `(tp + tn) / (tp + tn + fp + fn)` is *ONLY* true when we are evaluating binary and multilabel examples. In the multiclass case we basically just need to compute `correct/total` which i

[2021-07-06 08:30] #298 closed

[2021-07-06 16:41] leonweber opened #350 "Logits and multilabel: Add support for threshold <= 0?"
## 🚀 Feature
Add support for logit input in multilabel classification

### Motivation

The docs state that F1 accepts logits and supports multilabel. However, if one uses logits as input in multilabel classification with a NLL loss, the threshold cannot be set to its' natural value 0:
[code]
This makes logits input for F1 basically unusable in a multilabel task.

### Pitch

It might be a good idea

[2021-07-06 16:47] Borda commented on #350
@SkafteNicki I think we forgot this after #200

[2021-07-06 17:17] SkafteNicki commented on #350
Yes, most definitely, going to send a fix soon :]

[2021-07-07 07:45] #343 closed

[2021-07-07 08:32] #350 closed

[2021-07-07 09:17] SkafteNicki commented on #51
Copy implementation from here:
https://github.com/PyTorchLightning/lightning-flash/blob/master/flash/text/seq2seq/summarization/metric.py

[2021-07-07 09:20] SkafteNicki opened #352 "Add Bleu score"
## 🚀 Feature

### Motivation

Add Blue score to future NLP package:
* class implementation can be taken from flash: https://github.com/PyTorchLightning/lightning-flash/blob/master/flash/text/seq2seq/translation/metric.py
* already have a functional version in https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/functional/nlp.py that just need to be move to a new file in `functiona

[2021-07-07 10:45] SkafteNicki opened #353 "Addition of more audio metrics"
## 🚀 Feature

### Motivation

Feedback based on the newly release audio package (https://twitter.com/ai_rishikesh/status/1412707569710166019), here are a couple of other audio metrics it would be great if we added:
* PESQ (https://en.wikipedia.org/wiki/Perceptual_Evaluation_of_Speech_Quality)
* STOI (https://ieeexplore.ieee.org/document/5495701)
* MCD (https://github.com/MattShannon/mcd)

cc: @qua

[2021-07-07 11:14] quancs commented on #353
PESQ and STOI are in plan. The PESQ is limited by its copy right owner. And seems we cannot translate its c++ code to pytorch see [here](https://github.com/vBaiCai/python-pesq/blob/master/pypesq/pesq.h).

PESQ refs: https://github.com/vBaiCai/python-pesq, https://github.com/ludlows/python-pesq, https://github.com/aliutkus/speechmetrics
STOI refs: https://github.com/mpariente/pystoi, https://github

[2021-07-07 11:21] quancs commented on #353
Is it good to use pytorch to wrap the c++ implementation of PESQ, like other implementations?
@SkafteNicki

[2021-07-07 11:32] SkafteNicki commented on #353
@Borda can you help with answering what to do here? They use MIT license but they are against [replications](https://github.com/vBaiCai/python-pesq/blob/d870dfa9972afa0b82ad0b0d01341010343907ba/pypesq/pesq.h#L44-L45)

[2021-07-07 12:12] Borda commented on #353
according to their statement, we cannot use even modified their code... :/
I guess the only way would be to integrate it as dependency or ask @vBaiCai @SKb10 if they are willing to contribute to TM

[2021-07-07 12:38] quancs commented on #353
Can we use the c++ code of PESQ as @vBaiCai and @SKb10 do? If we add the c++ code into TM, is it a duplication?

The statement are copied below:
[code]

[2021-07-07 12:43] quancs commented on #353
I checked the [speechmetric](https://github.com/aliutkus/speechmetrics) implementation...
It uses the two implementation as dependency......

[2021-07-07 12:44] quancs commented on #353
This might be the only way...

[2021-07-07 14:30] TheBigJones opened #354 "ValueError Multiclass F1 with Logits"
## 🐛 Bug

When logits are greater than num_classes an error is raised.
ValueError: The highest label in `preds` should be smaller than `num_classes`.

### To Reproduce

Run the code below. Shapes of preds is [8,16] and targets [8], 8 samples and 16 classes.

#### Code sample

[code]

### Expected behavior
As logits in theory can be between -inf and +inf there shouldn't be an error when logits are

[2021-07-07 17:56] SkafteNicki commented on #354
Hi @TheBigJones,
Thanks for raising this issue. I have opened PR #357 that removes this check.

[2021-07-07 20:21] BeyondTheProof commented on #348
In my subclassed lightning module, I have metrics that are calculated at the end of each epoch:

[code]

When I calculate all my losses, I also calculate some other metrics (if there are any bugs, it is only because I modified it to simplify as much as possible):
[code]

I hope this helps. If there's anything else you need, please let me know!

[2021-07-08 00:25] cemde opened #358 "logits cause error if they exceed num_classes"
## 🐛 Bug

When passing logits as predictions into some metrics, torchmetrics raises an error "The highest label in `preds` should be smaller than `num_classes`."

The docs for F1 state:
[code]

This error message is due to the `preds.max() >= num_classes` (`utilities/checks.py`, line 166)

However, the logits CAN be larger than num_classes. For instance, logits of `[1,6,1,1]` become softmax of `[0

[2021-07-08 06:57] Borda commented on #358
@cemde mind check fix in #357?

[2021-07-08 12:12] discort opened #359 "Allow passing labels in (n_samples, n_classes) to AveragePrecision"
## 🚀 Feature
Allow passing labels in `(n_samples, n_classes)` to [AveragePrecision](https://torchmetrics.readthedocs.io/en/latest/references/modules.html#averageprecision) like in sklearn.metrics [average_precision_score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.average_precision_score.html)

### Motivation

[code]

### Pitch

In sklearn there is ability to calculate avera

[2021-07-08 12:34] karthikrangasai commented on #352
@SkafteNicki
I would like to work on this issue.

I have moved the file `functional/nlp.py` to `functional/text/blue.py`. Where should I put the class implementation ??

[2021-07-08 12:46] SkafteNicki commented on #352
Hi @karthikrangasai,
Please put the class implementation in a new folder `text` inside a file called `bleu`

[2021-07-08 13:50] karthikrangasai commented on #352
@SkafteNicki
I have created a PR with the changes suggested.

I think tests and docs have to be updated, could you guide me on this ?

[2021-07-09 05:03] #190 closed

[2021-07-09 15:18] #354 closed

[2021-07-09 15:18] #358 closed

[2021-07-09 16:43] BeyondTheProof commented on #348
In this subclass, there is an error that arises when some batches have only two classes, others have more. I implemented a much cleaner subclass by just subclassing Metrics:

[code]

[2021-07-10 00:49] KimDaeUng commented on #348
@BeyondTheProof I thinks that it will be better to add the line `process_group: Optional[Any] = None,`.
[code]

[2021-07-10 17:00] satyajitghana opened #365 "BERTScore Implementation"
## 🚀 Feature
BertScore Implementation for TextGeneration in NLP

### Motivation

BERTScore computes a similarity score for each token in the candidate sentence with each token in the reference sentence. However, instead of exact matches, we compute token similarity using contextual embeddings.

### Pitch

need an api like `bert_score(translate_corpus, reference_corpus, ...)`

Related Paper: https:

[2021-07-11 15:03] tshu-w commented on #269
@justusschock So the documentation [here](https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metriccollection) is the wrong example, it took me a long time to realize the problem

[2021-07-12 13:00] SkafteNicki commented on #348
Hi @BeyondTheProof, thanks for getting back to me. It indeed seems to be a problem, even though I would consider this a very corner case. Would you be up for sending a fix to our current AUROC implementation?
IMO the only thing missing from your implementation is that the user should be warned if a class was removed.

[2021-07-12 18:44] BeyondTheProof commented on #348
Hi @SkafteNicki, good point about the user warning. Also, in the implementation above, the target only allows 2D tensors, i.e., a `(obs, classes)` binary matrix. I will implement a solution for this as well.

[2021-07-12 18:45] BeyondTheProof commented on #348
Thanks for the catch @KimDaeUng, you're totally right!

[2021-07-12 20:01] gagan3012 opened #366 "Squad V2 Question Answering Task metric"
## 🚀 Feature

For the Question Answering Task, we would need the SQUADv2 metrics
I would like to have it here

[2021-07-13 12:37] MichaelSpece opened #369 "Unqualified threshold checks contradict logits support"
## 🐛 Bug

Accuracy both functional and module-wise are currently designed to accommodate logits.  However, the most natural choice of a threshold (`0`) fails in both cases.  More generally, thresholds outside of (0, 1) trigger `ValueError`.  This is documented behavior that contradicts logits support.

### To Reproduce

#### Code sample

`torchmetrics.functional.classification.accuracy(torch.tenso

[2021-07-13 22:51] randolph-john commented on #51
A word of caution, the PyTorchLightning implementation of Rouge does not give the same results as the original PERL script. See here: https://github.com/google-research/google-research/issues/239. We also encountered this issue internally at Facebook.

[2021-07-14 17:02] discort commented on #359
cc @Borda @SkafteNicki

[2021-07-14 18:30] hugoperrin opened #372 "SMAPE regression error"
## 🚀 Feature
Add SMAPE regression error to the regression metrics

### Motivation

There was the presence of MAPE but not SMAPE. As a computer vision research engineer, I'm more used to look at SMAPE instead of MAPE because SMAPE is bounded between 0 and 1 naturally, which makes it easier to interpret and compare.

### Pitch

I implemented the metric in a fork as it is a relatively easy metric to

[2021-07-14 19:03] hugoperrin commented on #372
All tests and docs are running on the code I have, so it should not be a long task from now on. Let me know if I am supposed to create the PR now, or if I need for someone to approve the relevancy of the feature before before creating it :)

[2021-07-14 20:38] Divide-By-0 opened #373 "PearsonCorrcoef Causing OOM"
## 🐛 Bug

When using torchmetrics.PearsonCorrcoef as a validation metric, I get
UserWarning: Metric `PearsonCorrcoef` will save all targets and predictions in buffer. For large datasets this may lead to large memory footprint.

### To Reproduce

Steps to reproduce the behavior:

1. Use torchmetrics.PearsonCorrcoef as a validation_metric in any existing model.

#### Code sample

1. Use torchmetrics

[2021-07-15 05:53] #223 closed

[2021-07-15 09:35] SkafteNicki commented on #359
Hi @discort thanks for your issue.
Please feel free to send a pull request with the enchancement :]

[2021-07-15 09:39] SkafteNicki commented on #372
Hi @hugoperrin, please feel free to send us your PR, sounds like a great enhancement :]

[2021-07-15 09:41] SkafteNicki commented on #369
Fixed in PR https://github.com/PyTorchLightning/metrics/pull/351, please update to master:
[code]
Closing issue.

[2021-07-15 09:51] hugoperrin commented on #372
@SkafteNicki Perfect :) The PR has been created, I will have to change a few details regarding the automatic CI, small detail with flake8, will let you know there when it's done (tonight normally :) )

[2021-07-15 14:24] discort commented on #359
thanks for getting back to me @SkafteNicki

I found that `AveragePrecision` is used to work with multilabel targets in `pytorch-lightning==1.2.8`
[code]

output:
[code]

but in `pytorch-lightning==1.3.8` and `torchmetrics==0.4.1` it stopped working, so it seems this is a bug:
[code]
output:
[code]

I can check what changed if you are unable how to solve it quickly.

[2021-07-15 18:28] BeyondTheProof commented on #348
@SkafteNicki Submitted a PR here: https://github.com/PyTorchLightning/metrics/pull/376

Thanks!

[2021-07-16 10:09] paul-grundmann opened #377 "Functional nDCG can not be called with negative relevance targets"
## 🐛 Bug

NDCG does not work with non-binary values because ```_check_retrieval_functional_inputs``` has a wrong check for binary array contents.

### To Reproduce
Steps to reproduce the behavior:

Call ```torchmetrics.functional.retrieval_normalized_dcg``` with negative relevance targets.

[code]
#### Code sample
[code]
Should work but expects the targets to be in between 0 and 1 and thus throws

[2021-07-16 17:39] #372 closed

[2021-07-16 19:06] MichaelSpece commented on #369
Hi @SkafteNicki , Apologies for the confusion, but could we reopen this issue?  I was working off the latest (post-#351) master, as alluded to in my context description.  Please see remaining offending code at the following:
https://github.com/PyTorchLightning/metrics/blob/a5af6d851b4236483a3f34f15ccfa79bb90a728a/torchmetrics/classification/accuracy.py#L142-L143
https://github.com/PyTorchLightning

[2021-07-16 22:35] Borda commented on #49
that is great! looking forward :rabbit:

[2021-07-16 22:36] Borda commented on #54
@davzaman @SkafteNicki how is it going here?

[2021-07-16 22:37] Borda commented on #53
yep, that sounds good to me :rabbit:
cc: @SkafteNicki @maximsch2

[2021-07-16 22:38] Borda commented on #73
@hassiahk @SkafteNicki how is it going here? :rabbit:

[2021-07-16 22:39] Borda commented on #51
@ananyahjha93 any update here? :rabbit:

[2021-07-17 00:16] davzaman commented on #54
Hi @Borda We ran into issues in trying to follow a one-size-fits-all approach to including masks for metrics, since internally the computations might be very different (which would change the logic required to properly compute a "masked" version of the metric). I wasn't sure how to proceed from here. From what I could tell, it would be best to have a masked version of each metric separately, even

[2021-07-17 04:50] hassiahk commented on #73
I was working on it and then got busy with something else. I will raise a draft PR by tomorrow.

[2021-07-17 07:08] tkupek commented on #53
I have a draft for a pycocotools wrapper laying around. If you want, we can use this as a basis for a PR to discuss?

[2021-07-17 09:48] SkafteNicki commented on #53
@tkupek sounds good. Feel free to send a PR :]

[2021-07-17 11:59] SkafteNicki commented on #51
@Borda if I am not wrong, @karthikrangasai would like to work on this issue when his Bleu PR has landed

[2021-07-17 12:04] karthikrangasai commented on #51
@SkafteNicki yeah sure. I would like to work on this issue.

[2021-07-18 21:56] seannz opened #387 "Make Dice a ModuleMetric similar to IoU"
## 🚀 Feature
Make Dice a ModuleMetric similar to IoU

### Motivation

Currently, the usability of Dice (functional metric) is no on par with that of (modular metric) IoU.

### Pitch

Making Dice a Module similar to IoU would greatly improve the usability of Dice

[2021-07-19 02:24] quancs commented on #353
Sorry, I forgot our disscussion here... @Borda
I closed my pull request of pesq... and I have invited [ludlows](https://github.com/ludlows/python-pesq/issues/32) to do this job.

[2021-07-19 02:26] quancs commented on #353
Can you give an invitation to [mpariente](https://github.com/mpariente/pystoi) for stoi? His stoi is widely used in audio community.

[2021-07-19 02:43] quancs commented on #353
As for MCD, I am not familiar with it. You can invite the owner of  MCD package (https://github.com/MattShannon/mcd).

[2021-07-19 08:44] XiaomoWu opened #388 "Classification metrics do not return grad"
## 🐛 Bug

Classification metrics, for example, AveragePrecision, don't return gradient.

### To Reproduce

Steps to reproduce the behavior:

[code]

### Environment

 - PyTorch Version: 1.9.0
 - OS: Ubuntu 21.04
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Python version: 3.8.5
 - CUDA/cuDNN version: 11.1

[2021-07-19 08:49] Borda commented on #388
@XiaomoWu it is expected, as you can also see it is not differentiable:
https://github.com/PyTorchLightning/metrics/blob/5e29a6082d381c96d48dd942f903c24fef949343/torchmetrics/classification/average_precision.py#L135-L136

[2021-07-19 08:49] #388 closed

[2021-07-19 08:55] XiaomoWu commented on #388
I see... Thank you @Borda. One more question and please pardon my ignorance: If I'm doing a classification task, and want to use `torchmetrics` as the loss criterion, which metric should I pick? I can't find any counterparts like the `torch.nn.BCEloss` in pytorch. Of course, I can use `torch.nn.BCEloss`, but I'm worried it won't take care of gradient sync in DDP, which is why I want to use `torchm

[2021-07-19 09:04] justusschock commented on #388
@XiaomoWu If you use PyTorch Lightning you can use `torch.nn.BCELoss` since lightning takes care of the syncing there.

[2021-07-19 11:40] Borda opened #389 "Add docstrings to protected functions"
## 📚 Documentation

Add docstrings to all protected functions at least tell what are the arguments for...
This can see easily implemented in multiple PRs :rabbit:

[2021-07-19 16:26] #352 closed

[2021-07-20 12:44] shenberg opened #391 "Accuracy no longer works with logits"
## 🐛 Bug

Thresholds are now limited to the range (0,1), so I cannot set a threshold that makes sense for logits (e.g. 0)

### To Reproduce

Steps to reproduce the behavior:

[code]

#### Code sample

[code]
### Expected behavior

A threshold of 0 should be valid for binary and multilabel classification.

### Additional context

It makes sense to accept logits into accuracy, as often the training

[2021-07-20 15:32] tchaton opened #392 "forward_cache / computed should be moved too on device."
## 🐛 Bug

The `forward_cache` and `computed` should be registered as buffers and be moved to device along side.

[code]

### To Reproduce

#### Code sample

### Expected behavior

### Environment

### Additional context

[2021-07-20 15:43] Borda commented on #391
@shenberg what version are you using? this shall be fixed on master now #351
feel free to reopen if you still have this issue... :rabbit:

[2021-07-20 15:43] #391 closed

[2021-07-20 17:14] shenberg commented on #391
Umm, unfortunately, Accuracy has its own check, see [accuracy.py, lines 208-209 on current master](https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/classification/accuracy.py#L208-L209)

[2021-07-21 00:27] keshavd commented on #304
I fixed this by just masking out the ignored index.

ex.

[code]

[2021-07-21 02:46] richarddwang commented on #304
Hi all.
I wrote a naive solution, which makes the ignored part be incorrect in comparison and then divided by number of unignored.
There may be better way, this is just for your reference.
[code]

[2021-07-21 08:12] YovelRom opened #393 "Error At Percentile"
## 🚀 Feature
A regression metric that measures the error of the model at a certain percentile (e.g, in a price prediction model, 95% of the houses will be within 10,000$ of the projected price).

### Motivation

I personally used this metric in two very different projects, so I figured it could be useful to other people. It's a useful metric when trying to estimate risks from using the model in re

[2021-07-21 16:24] BeyondTheProof commented on #348
Hi @SkafteNicki, just following up on this. I have an approval from Borda, but still need one more :)

[2021-07-21 17:35] maximsch2 commented on #348
The tests are failing in the PR though?

[2021-07-21 18:45] BeyondTheProof commented on #348
Ah, sorry, I didn't catch that. Will fix.

[2021-07-22 13:59] SkafteNicki commented on #393
Hi @YovelRom, seems like a great addition to the regression package.
Would you be up for sending a PR?

[2021-07-22 14:59] SkafteNicki commented on #369
Hi @MichaelSpece, thanks for making me aware that the code indeed is not updated everywhere.

[2021-07-22 23:31] #76 closed

[2021-07-23 08:44] FlorianMF opened #398 "Case `reduction=None` not handled in CosineSimilarity"
https://github.com/PyTorchLightning/metrics/blob/2c528bdc1d0e5c292c769227e127aad559b3dd21/torchmetrics/functional/regression/cosine_similarity.py#L33-L39

Neither the functional nor the class version accepts reduction=None. To be aligned with the classification metrics it would be good to allow this as well.

[2021-07-23 08:49] FlorianMF commented on #398
We could change this to either:
[code]
or
[code]

[2021-07-23 15:30] SkafteNicki commented on #398
Hi @FlorianMF, thanks for opening this issue. I created PR #400 that should fix it.

[2021-07-23 23:25] gagan3012 commented on #365
Can I work on this?

[2021-07-24 15:56] #369 closed

[2021-07-24 20:28] #359 closed

[2021-07-24 21:06] #52 closed

[2021-07-25 20:28] celsofranssa opened #403 "The Macro-F1 metric is being calculated incorrectly."
## 🐛 Bug

F1 metric outputs wrong value when using `average="macro"`

### To Reproduce

Steps to reproduce the behavior:

[code]

#### Code sample

### Expected behavior

F1 metric values (macro and micro average), should be the same as scikit-learn.

[2021-07-25 20:52] celsofranssa commented on #403
I've found this issue is related to #295.

[2021-07-25 21:41] celsofranssa commented on #295
Any update on this?

[2021-07-26 03:54] DevPranjal commented on #389
Hi @Borda, I am new to PL, and would like to start working on this to gain some insights.

[2021-07-26 06:34] Borda commented on #389
@DevPranjal awsome! let do it in some smaller steps... :rabbit: Feel free to ping me on slack :]

[2021-07-26 07:40] #348 closed

[2021-07-26 08:46] DevPranjal commented on #389
Great, thanks!

[2021-07-26 13:27] SkafteNicki commented on #295
@celsofranssa we have a open PR #303 that should fix it.

[2021-07-26 13:29] SkafteNicki commented on #403
Duplicate of #295, will be fixed by #303

[2021-07-26 14:45] sameetsinghsidhu commented on #389
Hi @Borda I would like to contribute to this :)

[2021-07-28 04:32] chris-tkinter opened #409 "list index out of range when using ModuleDict with DDP"
## 🐛 Bug

Hi, I am using the torchmetrics with torch-lightning.
I have a `LightningModule` that needs several metrics, and when I register the `MetricCollection` with `ModuleDict`, it is fine in the non-ddp mode, however if I use `accelerator='ddp'`, there is the following error
[code]

### To Reproduce

Define a model like this
[code]

### Environment

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS

[2021-07-28 16:07] #373 closed

[2021-07-28 23:50] #377 closed

[2021-07-29 11:17] hassiahk commented on #73
@Borda I will be drafting a PR for this by this weekend. Sorry for the delay.

[2021-07-29 11:20] SkafteNicki commented on #73
@hassiahk sounds great :]

[2021-07-29 12:01] karthikrangasai opened #411 "`TextTester` class based in `MetricTester` class to robustly test `text` metrics"
## 🚀 Feature

The current `text` package uses various functions to test the `text` metrics. The `MetricTester` class provides a much more robust way to test metrics on all fronts such as multi-device setup etc.

Hence, we can create a new class called `TextTester` based on `MerticTester` that provides us with the necessary tools to robustly test `text` metrics.

### Motivation

The addition of a n

[2021-07-29 12:07] #51 closed

[2021-07-29 14:41] #294 closed

[2021-07-29 14:46] SkafteNicki commented on #290
Fixed by #380.

[2021-07-29 14:46] #290 closed

[2021-07-29 16:02] #398 closed

[2021-07-29 17:05] #312 closed

[2021-07-29 21:01] ad12 opened #414 "Ambiguity in semantic ordering of kernel_size and padding computation in SSIM"
## 🐛 Bug

### Ambiguity in semantic ordering of `kernel_size` and padding computation
The semantic ordering of `kernel_size` may not match the ordering of the computed padding values. Based on how the kernel is created in `_gaussian_kernel`, `kernel_size` corresponds to the `(height, width)` of the kernel. [The current code](https://github.com/PyTorchLightning/metrics/blob/c9d36b2fa2e65155b3ca2d35

[2021-07-29 21:40] ad12 commented on #414
Apologies, the first point about the difference from scikit-image does not apply. Editing the post to indicate that.

[2021-07-31 08:46] cnut1648 commented on #391
Agreed, can confirm that in the latest version 0.4.1 the threshold can't be set to 0, which makes it unable to handle output logit of binary classification model (where there is no sigmoid)

[2021-07-31 08:51] cnut1648 opened #416 "Making Accuracy support threshold = 0"
## 🐛 Bug
Hi, currently we can't set threshold to be 0 in Accuracy due to [the check here](https://github.com/PyTorchLightning/metrics/blob/5e29a6082d381c96d48dd942f903c24fef949343/torchmetrics/classification/accuracy.py#L208-L209). This would make this metric unable to support the output logit of the binary classification model (when there is no sigmoid).

### To Reproduce

[code]

### Environment

[2021-07-31 08:57] cnut1648 commented on #416
Oh wait I noticed that it was already fixed in the master. Closing this issue now.

[2021-07-31 08:57] #416 closed

[2021-08-01 01:36] hihunjin opened #417 "Too slow on ``cpu``."
## 🐛 Bug

Using ``torchmetrics`` with ``cpu`` is too slow, slower than with ``gpu``. I don't think there are a lot of calculations using ``gpu``, multiplies, divides. But I'm not sure where this bottleneck took.

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'colab'
[code]
2. See the following outcomes.

![image](https://user-images.githubusercontent.com/32363064/127756373-c1d73ae8-

[2021-08-02 11:28] SkafteNicki commented on #417
After running the python cprofiler and vizualizing with snakeviz I get this:
![image](https://user-images.githubusercontent.com/24896311/127854528-1b9bfad2-28b6-4b0a-95db-899ed76de982.png)
it is the `topk` function from pytorch that is the sinner here, that seems to have much worse performance on cpu than gpu (the program spends around 92% on that single call).
We could probably work around this t

[2021-08-02 13:37] #392 closed

[2021-08-02 14:58] SkafteNicki commented on #414
@ad12 sounds good to me. Please feel free to send a PR :]

[2021-08-02 16:29] #295 closed

[2021-08-02 16:29] #300 closed

[2021-08-02 16:29] #403 closed

[2021-08-03 07:53] akihironitta opened #420 "Let IDE(s) know public symbols"
## 🚀 Feature (or Bug?)
I'm using Pylance on VSCode, and it doesn't autocomplete, for example, `Accuracy` even if I typed the following:

[code]

This is because imported symbols are considered private by default (by at least pylance (pyright) as documented [here](https://github.com/microsoft/pyright/blob/main/docs/typed-libraries.md#library-interface)).

### Motivation
For better coding experience

[2021-08-03 08:07] #218 closed

[2021-08-03 08:55] SkafteNicki commented on #420
@akihironitta sounds good to me :]
I would prefer option 1 but have no strong opinions here.

[2021-08-03 11:28] antonibigata opened #421 "F1 score seems wrong when doing binary classification"
## 🐛 Bug

When F1 is calculated on a batch where the positive label never appears, the result is 0 even when all predictions are correct.
However, when the labels are positive the result is 1.
This seems very counterintuitive. Is it expected?

### To Reproduce

Steps to reproduce the behavior:

import torch
from torchmetrics import F1

f1=F1(num_classes=1)(preds=torch.tensor([0.,0.]), target=torch

[2021-08-03 11:49] SkafteNicki commented on #421
If I run your example using sklearns `f1_score` then we get the same:
[code]
however, in sklearn you will also get a warning that the first case `f1_score([0,0],[0,0])` is actually ill defined because no true predictions where available. I guess this is the reason why it does not seem to make sense because the score is not really defined in the first case.
We have chosen not give an error in this

[2021-08-03 11:49] #421 closed

[2021-08-03 12:27] antonibigata commented on #421
Thanks a lot for your answer!
Sklearn does have a parameter "zero_division" that will give the right result if set to 1. Would it be possible to have something similar in torchmetrics?

[2021-08-03 12:28] #417 closed

[2021-08-03 12:39] SkafteNicki commented on #421
If you need something right now you can change the default in this line in your local installation:
https://github.com/PyTorchLightning/metrics/blob/5a2388ccaa97cc3608b1fa28879f77436434a6d6/torchmetrics/functional/classification/stat_scores.py#L144
I have to think about this being a parameter exposed to the user :]

[2021-08-03 12:43] antonibigata commented on #421
Cheers!

[2021-08-03 16:06] SkafteNicki commented on #365
@gagan3012 still interested in implementing this?

[2021-08-03 16:46] gagan3012 commented on #365
Yes I am!

[2021-08-03 18:30] ed1d1a8d opened #423 "R2Score errors on size 1 batch updates"
The following code should work but crashes:
[code]
The crash is due to
https://github.com/PyTorchLightning/metrics/blob/5a2388ccaa97cc3608b1fa28879f77436434a6d6/torchmetrics/functional/regression/r2.py#L37-L38

[2021-08-04 07:21] #420 closed

[2021-08-04 07:32] SkafteNicki commented on #423
Hi @ed1d1a8d, thanks for raising this issue. I created PR #426 that solves this.

[2021-08-04 09:26] #423 closed

[2021-08-05 01:43] LuoXin-s opened #427 "LPIPS is requested for some low-level CV problem"
## 🚀 Feature

This popular metric for Perceptual Similarity is crucial, https://github.com/richzhang/PerceptualSimilarity

### Motivation

### Pitch

### Alternatives

### Additional context

[2021-08-05 11:33] SkafteNicki commented on #427
Hi @LuoXin-s, sounds like a great addition to our image metrics :]
I am going to create a PR within one of the next days.

[2021-08-06 11:51] #389 closed

[2021-08-06 13:03] SkafteNicki commented on #389
@DevPranjal should we still keep this open?

[2021-08-06 13:35] SkafteNicki commented on #53
@tkupek have you had time to take a look at this?

[2021-08-06 13:59] DevPranjal commented on #389
I think we are pretty much done. We can close this for now, I will surely make a PR incase I find a group of un-documented functions. Looking forward to contribute more, feel free to tag me in an issue! Thanks :)

[2021-08-06 16:37] SkafteNicki commented on #389
@DevPranjal sounds good to me :]
Great that you want to contribute some, will let you know if we have something .

[2021-08-06 19:41] teichert commented on #256
I think this point is actually well worth clarifying in the documentation, and it might even be worth adding a `macro-pre`
 (or, alternatively, `pre-harmonic-macro` or `early-macro`) averaging method that corresponds to the OP's original interpretation.

From [this note](https://arxiv.org/abs/1911.03347) and my own experience/investigations, both interpretation of macro-averaged F1 exist in the li

[2021-08-08 09:00] Borda commented on #409
@SkafteNicki @awaelchli could have look?

[2021-08-08 09:05] Borda opened #432 "implement own BERT score"
## 🚀 Feature

we shall come with our own BERT implementation as the bert_score require heavy Transformers dependency
follow-up for #424

### Motivation

keep the TM dependency light, and use other packages only as a reference

### Pitch

### Alternatives

use another package that has less dependencies and still use this one as reference

### Additional context

[2021-08-08 09:10] Borda opened #433 "implement own metrics or use lighter packages"
## 🚀 Feature

revisit 3rd-party dependencies and if possible make own implementation or use a lighter package

### Motivation

keep the TM dependency light, and use other packages only as a reference

### Pitch

### Alternatives

use another package that has less dependencies and still use this one as reference

### Additional context

https://github.com/PyTorchLightning/metrics/blob/525642df8c3f3

[2021-08-08 09:42] Borda commented on #411
@karthikrangasai sounds nice! do you want to send a PR? :rabbit:

[2021-08-08 09:45] karthikrangasai commented on #411
@Borda yeah, I'm working in it. Got caught up with some college work last week. I will submit one by this week.

[2021-08-08 09:49] Borda commented on #304
@SkafteNicki how are we doing here? :rabbit:

[2021-08-08 10:34] #365 closed

[2021-08-08 19:55] tkupek commented on #53
Sorry, not yet. Will have a look at it in my vacation in two weeks.

[2021-08-09 13:27] awaelchli commented on #409
Is this unrelated to the state_dict issues we had with torchmetrics 0.4 + PL? I believe 0.4.0 + 1.3.8 was no good.

[2021-08-09 13:30] awaelchli commented on #409
unrelated to the error but I believe you would run into this issue later on: make sure to reduce the outputs in `training_step_end`. I recommend only returning loss.mean() unless you need the other outputs in on of the epoch_end hooks.

[2021-08-09 15:21] Obus opened #436 "nDCG can not be called with float targets"
## 🐛 Bug

Invoking `RetrievalNormalizedNDCG` & `retrieval_normalized_dcg` with target of type float results into
`ValueError: `target` must be a tensor of booleans or integers`

The reason is this [check in `_check_retrieval_functional_inputs`](https://github.com/PyTorchLightning/metrics/blob/21fe0ca7e1e61e197a923c6482c5fa07e32908de/torchmetrics/utilities/checks.py#L514):
[code]

### To Reproduce

[2021-08-09 22:14] ad12 commented on #414
will tackle this later this week, thanks!

[2021-08-10 09:07] del2z opened #439 "Wrong results of precision, recall and F1"
I've got wrong results when calculating accuracy, precision, recall and F1.

### To Reproduce

#### Code sample

[code]
The output is
[code]
I got a right confusion matrix, but wrong precision, recall.
The expected values of P, R, F1 are all 0, not the output of 0.5500.
How should I use these functions in binary case?

### Environment

- PyTorch Version: 1.8.1
- OS: centos 8 (docker env)
- How you

[2021-08-10 09:27] #439 closed

[2021-08-10 09:27] Borda commented on #439
why it shall be 0?

[2021-08-10 12:14] del2z commented on #439
My mistake. For binary classification, only P, R, and F1 of positive class are of importance in general case. This is different from multi-class classification. I add `ignore_index=0` in `precision_recall` and got right results.

I suggest using different default values for binary classification would be very convenient for users. Some examples of binary classification are also helpful.

[2021-08-11 13:39] stancld commented on #433
@Borda May I have a look at the `rouge_score` metric?

[2021-08-11 14:04] Borda commented on #433
that would be great! looking forward to see draft PR :rabbit:

[2021-08-11 16:19] AdlyTempleton opened #442 "Forward Function of Metric not working after jit scripting"
Hello! I am trying to create new torchscriptable metrics extending torchmetrics.Metric. I believe it should be possible to do this; I see unit tests which test scriptability (ie, line 297 of https://github.com/.../21fe0ca.../tests/bases/test_metric.py). I can perform the scripting, however, I get the following error when trying to call the forward function of a scripted Metric:
'RecursiveScriptMod

[2021-08-11 16:36] ananthsub commented on #442
@AdlyTempleton - metrics weren't designed to be torchscripted. See here: https://github.com/PyTorchLightning/metrics/blob/caf7b0bc46f93641316af88256d838de3516f134/torchmetrics/metric.py#L176-L177

where the forward is explicitly marked as unused

[2021-08-12 16:01] TezRomacH commented on #304
This feature is a must-have for also `F1`, `AUCROC`, and any other classification metrics.

[2021-08-12 22:02] amanjitsk opened #444 "`SpearmanCorrcoef` bug due to incorrect ranking"
## 🐛 Bug

There is a bug in the `_rank_data` function [here](https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/functional/regression/spearman.py#L50), that causes a downstream error in the Spearman correlation coefficient calculation.

### To Reproduce

Steps to reproduce the behavior:

#### Code sample

[code]
Upon further inspection, I found that the discrepancy was due to the

[2021-08-13 13:16] sahil711 opened #445 "Using AUROC with DDP not working as expected"
## 🐛 Bug

I was trying to use a multi-gpu setup for training my model. I have a classification model for which I want to calculate AUC.
I am getting the following error from one of the gpus:

`ValueError: No positive samples in targets, true positive value should be meaningless`

This error makes sense to me as the batch on this gpu might not have any positive sample and hence AUC is meaningless.

[2021-08-14 06:34] kingyiusuen commented on #433
@Borda I'd love to contribute to this project. Do you mind if I work on the WER metric to remove the dependency of jiwer?

[2021-08-14 06:52] Borda commented on #433
wow, that you, that would be really great! :rabbit:
cc: @SeanNaren

[2021-08-16 02:07] maximsch2 commented on #445
[code]

Here you are trying to compute AUC on single batch and then log it. Instead, you should do:
[code]

(or alternatively, keep `update` in `training_step` and do `self.log('train_auc', self.metrics.compute())` in `on_training_epoch_end`)

[2021-08-16 04:13] MeganClark-Robinson opened #447 "ValueError: When your inputs are multi-dimensional multi-class, you have to set the `mdmc_reduce` parameter"
## 🐛 Bug

I am trying to find precision but it returns:

 "When your inputs are multi-dimensional multi-class, you have to set the `mdmc_reduce` parameter"
ValueError: When your inputs are multi-dimensional multi-class, you have to set the `mdmc_reduce` parameter

----
`def calc_precision_and_recall(self, y_pred, y_true, step="val"):

        y_max_pred, y_true, _ = _input_format_classification(y_

[2021-08-16 07:52] SkafteNicki commented on #445
Yes, as @maximsch2 is stating, you have a few options:
1. Call `update` instead of `compute`:
[code]
2. Initialize metric with `compute_on_step=False`. This essentially turns the call to `forward` into `update`:
[code]
3. Instead of relying on `on_step` and `on_epoch` in `self.log`, call it where you want the value logged:
[code]
Closing issue.

[2021-08-16 07:52] #445 closed

[2021-08-16 09:19] SkafteNicki commented on #444
Hi @amanjitsk, thanks for reporting this issue :]
I have opened PR #448 that should fix this issue and added test to make sure it indeed is fixed

[2021-08-16 09:20] SkafteNicki commented on #447
Hi @MeganClark-Robinson, could you kindly report what the shape of `y_pred[-1], y_true` is?

[2021-08-16 09:21] SkafteNicki commented on #442
@ananthsub ideally uses should have the option to make their metrics scriptable. I definitly think that it is something that we should have in mind for the re-design of the metrics if we can make them scriptable in some way.

[2021-08-16 10:18] MeganClark-Robinson commented on #447
Hi. They are Tensor:

def training_step(self, batch, batch_idx):
        stem, y_hat, y_true = batch
        y_pred = self.forward(stem)
        loss = self.loss_function(y_pred, y_true)
        self.log("loss", loss, on_epoch=True, on_step=True, prog_bar=True)
        precision, recall = self.calc_precision_and_recall(y_pred, y_true, step="train")
        acc_stages=self.train_acc_stages(y_pred,

[2021-08-16 10:21] MeganClark-Robinson commented on #447
Mdmc_reduce parameter is not defined in Precision and Recall classes.

[2021-08-16 10:26] #444 closed

[2021-08-16 10:33] SkafteNicki commented on #447
Depending on what you want to do you should either set the parameter to `'samplewise' or `global`. You can read more about the difference in the documentation: https://torchmetrics.readthedocs.io/en/latest/references/modules.html#id4

[2021-08-16 10:40] ethanwharris opened #449 "Support float targets for classification metrics"
## 🚀 Feature

Support float targets (possibly softened one-hot encodings) for classification metrics.

### Motivation

Techniques such as mixup or label smoothing use one-hot encoded targets that are then converted to soft labels. Ideally there would still be a way to use these with TM and not get an error. For example, for you could threshold the target then apply an argmax to get a reasonable re

[2021-08-16 10:49] justusschock commented on #449
@ethanwharris we had this issue already in https://github.com/PyTorchLightning/metrics/issues/74 . How does it differ or which metric does not yet allow this?

[2021-08-16 10:52] ethanwharris commented on #449
@justusschock that issue is for model outputs, whereas this is for the targets. Currently, all classification metrics require targets that are int or long.

[2021-08-16 10:57] justusschock commented on #449
whoops, sorry I somehow overread this. I think the current design is based on the design by the losses in PyTorch (e.g. CrossEntropy), which also requires it to be integers (so that you could reuse the same data format), but I think it makes sense to extend it.

Do you think to simply rely on the dtype here would be safe? And they have to have a "channel" dimension then (ie a dimension on which we

[2021-08-16 11:07] ethanwharris commented on #449
Yeah, I think it could be safe to just do type inference. I would expect that targets in this case would be of the same dtype and shape as the preds. E.g. we are currently running something which uses mixup and BCEWithLogitsLoss where the targets are soft and are required to be the same shape as the preds. But not sure if this is true in general or just overfits to that one use case haha...

[2021-08-16 11:09] justusschock commented on #449
I don't think we should make that assumption. This would then not allow integer predictions and float targets (and I'm pretty sure there is a usecase for this anywhere).

[2021-08-16 12:03] MeganClark-Robinson commented on #447
Thank you. I read that. But mdmc_reduce parameter is only defined in `stat_scores` class, not in `Precision` and `Recall` classes.

https://torchmetrics.readthedocs.io/en/latest/references/modules.html#statscores

[2021-08-16 12:08] SkafteNicki commented on #447
Alright, I see the confusion here. For precision and recall the parameter is named `mdmc_average` which gets translated to the `mcmc_reduce` parameter here:
https://github.com/PyTorchLightning/metrics/blob/484477a24a22b18315486da6be65eed5135e39f1/torchmetrics/classification/precision_recall.py#L144
So just set `mdmc_average` instead.

[2021-08-16 12:48] Borda opened #451 "CI: fix installing multiple PT versions"
## 🐛 Bug

Conda/Mamba install multiple PyTorch versions (gpu and cpu) which yields in colision

### To Reproduce

![image](https://user-images.githubusercontent.com/6035284/129566050-8dddc3e5-a83e-4306-9669-ac224e955922.png)
see: https://github.com/PyTorchLightning/metrics/pull/441/checks?check_run_id=3309955642

#### Code sample

### Expected behavior

install only one PT version

### Additional

[2021-08-16 14:05] AndreiSiliUiPath opened #452 "Behaviour with average=`sample`, mdmc_average=`samplewise` seems confusing."
## 🐛 Bug

Computing F1 with `average="samples"` and `mdmc_average=samplewise` seems to take into consideration all samples, including those that are ignored.

Not sure if this is a bug or I am simply confused by what average="samples" means or the docs are not clear.

#### Code sample

[code]

### Expected behavior

I am not sure what the expected behaviour is and what the utility of `average="sam

[2021-08-16 19:39] stancld commented on #432
@Borda  - Would it be a possible workaround to write the own BERTScore implementation (as in the case of rouge and other text metrics) and ask a user to pass in its model, dataloader/s and a forward method (similarly to the PL) to compute embeddings? In this way, it would give a user the freedom to use whichever implementation of a transformer model (not necessary the huggingface `transformers`).

[2021-08-16 21:04] Borda commented on #432
that would be great!, we could just keep an example with HF if a user does wants to use something prepared

not sure if Metrics shall hold implementation of "any" model, in my eyes it shall be model agnostic, but happy to hear other opinions?

I think this is widely link to the model used, so it shall be passed with the model, eventually, we can think about some wrapper which would expose just som

[2021-08-17 06:06] MeganClark-Robinson commented on #447
Thanks a lot. Solved

[2021-08-17 06:06] #447 closed

[2021-08-17 07:40] #436 closed

[2021-08-17 09:27] frcnt opened #455 "GPU support in BootStrapper"
## 🐛 Bug

BootStrapper yields a device error when the predicted and target tensors, along with the metric are on GPU.

Regardless of the device on which the tensors and the metric are hosted, this [call to `_bootstrap_sampler`](https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/wrappers/bootstrapping.py#L152)` returns indices hosted on the CPU.
The device error is later thrown wh

[2021-08-17 09:42] #451 closed

[2021-08-17 15:34] MeganClark-Robinson commented on #452
What's the difference between 'samplewise' and 'global' when solving a mdmc problem?

[2021-08-17 15:54] MeganClark-Robinson opened #458 "Accuracy for multistage classification problem"
## 🐛 Bug

I am trying to solve a multistage classification problem, using multistage temporal convolutional networks (MSTCN). I defined accuracy as follows:

[code]

### Expected Behavior

1) When the number of stages (`num_stages = 1`) is one, it gives a wrong result for accuracy (around 6), the accuracy must be between 0 and 1.
2) When I increase the number of stages it returns:
ValueError: If `

[2021-08-18 00:31] ananthsub opened #459 "Don't import all modules from torchmetrics root"
## 🚀 Feature

@SkafteNicki could we not import all metrics at the root module? https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/__init__.py

### Motivation

Reasons against this:
- This slows down import times
- Not all requirements might be installed. For instance, [torch-fidelity is required for FID under torchmetrics.image](https://github.com/PyTorchLightning/metrics/blob/00

[2021-08-18 04:25] gau-nernst commented on #53
Hello, I was also looking for a way to evaluate my object detector in PyTorch Lightning. In the end I implemented some simple logic to make predictions in `validation_step()`, gather them in `validation_epoch_end()`, write them to a temp file and run pycocotools. This probably won't work with multi-GPU training.

I tried implementing this as a `torchmetrics.Metric` subclass before but was not succ

[2021-08-18 05:26] zhiqwang commented on #53
Hi @gau-nernst ,

I've also written a `torchmetrics.Metric` wrapper of `pycocotools` [here](https://github.com/zhiqwang/yolov5-rt-stack/blob/f34194c015612b3c5096af0dbf72ff2db8fe1689/yolort/data/coco_eval.py#L28), it can be [used](https://github.com/zhiqwang/yolov5-rt-stack/blob/f34194c015612b3c5096af0dbf72ff2db8fe1689/test/test_engine.py#L110-L129) with the lightning-assembly, but there is still a

[2021-08-18 06:02] tkupek commented on #53
The main problem with your approach (moving to CPU, writing to file) will be performance and the lack of multi GPU training.

[2021-08-18 07:00] gau-nernst commented on #53
Hey @zhiqwang,

Awesome work. I see it's based on torchvision/detectron2 evaluation code. From what I understand from your code, it requires a COCO ground truth annotations file. I think if we add object detection mAP to torchmetrics, it should be agnostic to dataset format, and can be computed based on a set of ground truth and predicted boxes only.

@tkupek Yes these are the obvious problems wit

[2021-08-18 07:01] SkafteNicki commented on #458
Hi @MeganClark-Robinson,
What is the shape of the `preds` and `target` tensor that you tries to use?

[2021-08-18 07:12] zhiqwang commented on #53
Yep, I agree with you , the design and functionality of this module still requires some deliberation here.

I guess it is possiable, and seems that pytorch 1.9 provides a better interface supply to support the arbitrary picklable data synchronizes for multi-GPUs mode https://github.com/pytorch/vision/pull/3857

[2021-08-18 07:31] SkafteNicki commented on #53
It is clearly that you all are more experts than me on this specific metric, but let me get this straight:
Do we need from torchmetrics side to support gathering of arbitrarily objects if we want this metric to work or is there some trivial way around it?

[2021-08-18 07:55] tkupek commented on #53
@gau-nernst I have an approach where I bypassed the need for a temp file and initialize the CocoEval class with the detections and targets directly.
To the best of my knowledge, this works with the current torchmetrics functionality.
Let me upload my rough draft in the evening, to discuss the approach together. If we agree, we can improve the code to make it acceptable for the torchmetrics package

[2021-08-18 08:00] #427 closed

[2021-08-18 09:48] SkafteNicki commented on #432
It would be great to have this being model agnostic. IMO it would still be great if `BERTScore` had like a base feature extractor being the one commonly used. Not sure what to do with the importing of this other than if user request the default extractor we can kindly ask them to install the HF Transformer.

[2021-08-18 09:59] Borda commented on #455
@frcnt good catch, are you interested in sending a fix? @SkafteNicki ay assist :rabbit:

[2021-08-18 10:02] Borda commented on #432
@stancld interested in sending a PR? then we can make quick `v0.5.1` :rabbit:

[2021-08-18 10:15] SkafteNicki commented on #452
@MeganClark-Robinson:
* 'global' is probably the easiest to understand. This just means that all additional dimensions are just considered extra observations. So if you have tensor with provabilities that have shape `[N, C, D]` where C is the number classes it will internally just be reshaped to a `[N*D, C]` tensor.
* `samplewise` means that the score will be calculated per sample and then average

[2021-08-18 10:17] SkafteNicki commented on #455
I took a look at it yesterday, can send a fix soon :]

[2021-08-18 10:24] stancld commented on #432
@Borda - Great, I'll start working on it this afternoon 🙂

[2021-08-18 11:49] SkafteNicki commented on #452
@AndreiSiliUiPath thanks for bringing up this issue.
I am not sure at the moment if there is a bug here or the result should be like that. I have to dig a bit deeper into the code to figure it out.

[2021-08-18 16:39] tkupek commented on #53
So this is my approach:
https://github.com/tkupek/pytorchlightning-metrics/blob/mean-average-precision/torchmetrics/image/map.py

It takes the `preds` and `targets` and converts them into COCO format in memory, then initializes the `COCOeval` class and runs the evaluation.
In my company this works smoothly with only a minor performance impact and even for multi GPU training.

Incomplete TODO list:

[2021-08-19 06:41] SkafteNicki commented on #53
@tkupek Looks great to me. Please send a PR to us with what you have, then we can begin to review/comment/add to the your code.

[2021-08-19 08:22] Borda commented on #459
do you have any benchmark, how much slower it is?

this can be easily solved by conditional import... :rabbit:

[2021-08-19 11:37] SkafteNicki commented on #459
Small benchmark executing the statement "import torchmetrics as tm" 10 times
On master: 1.8266461610794067s+-0.033780458858975175 s
PR #463: 1.5197294712066651s+-0.07895099137983734 s

[2021-08-19 12:36] MartaTintore opened #468 "FID computation involves a large memory footprint"
## 🐛 Bug

When computing the FID score with your implementation I find the following error message:

[code]

As a result, my validation step takes much longer than the training step...

### To Reproduce

I initialize the FID as:

[code]

And then at every validation step I do:

[code]

x containing a batch of real images and x_sample containing a batch of sampled images

At the end of the validati

[2021-08-19 17:53] ananthsub commented on #459
@Borda it's even more pronounced when using python with tons of shared libraries through a PAR or XAR file

[2021-08-19 17:59] jeweinb opened #471 "AveragePrecision returns list of metrics per class"
Why does AveragePrecision return many results per class when num_classes is specified? The other metrics such as Precision and Recall do not do this. This seems to be an inconsistency in the API.

https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/functional/classification/average_precision.py

[2021-08-20 07:15] SkafteNicki commented on #468
Hi @MartaTintore,
There is nothing wrong here. We always give people this warning (its not an error) when they initialize the FID class:
https://github.com/PyTorchLightning/metrics/blob/689b2189c6f2aff3968d94d8e5fcfdb85dc5b98a/torchmetrics/image/fid.py#L224-L228
We store the extracted inception features in memory, so if you are evaluating a large number of samples using the FID class it can lead t

[2021-08-20 07:25] SkafteNicki commented on #471
Hi @jeweinb
When setting `num_classes` argument the user can both be evaluating multi-class problems or multi-label problems. While we can agree that for multi-label problems we can take the average (macro, micro or weighted) of the individual scores and get a proper defined value. However, this does not hold for multi-class problems where we use a one-vs-the-rest approach, and in that case the av

[2021-08-20 10:24] awaelchli commented on #459
For comparison: sklearn has also all metrics importat at the top level at sklearn.metrics. They also rely on numpy like we do on pytorch.
On the other hand, as the inventory of metrics grow, it is possible that there can be collisions in different domains where metrics have the same name but are defined very differently.

[2021-08-20 11:17] carmocca commented on #459
I think this is worth it considering the vast majority of users import 1-3 metrics at most. Loading the entire package for this is overkill

[2021-08-20 11:30] SkafteNicki commented on #53
If anyone has any opinion on the input format that `preds` and `target` should have in this metric, please comment on #467

[2021-08-20 12:24] jeweinb commented on #471
I'd say lets just treat it like the other scores. I would just expect all the classes to handle outputs the same way consistently. That way when I am coding I don't get different shapes of outputs from the metrics.

[2021-08-20 12:43] MeganClark-Robinson commented on #458
@SkafteNicki
For example, when number of stages is one, the shape of the `preds` is `torch.Size([1, 1, 7, 4])` and the shape of `target` is `torch.Size([1, 4])`. When I increase the number of stages into two, the shape of the `preds` becomes `torch.Size([2, 1, 7, 3])` and the shape of `target` `torch.Size([1, 3])`. When I set `num_stages = 3`, the shape of `preds` becomes `torch.Size([3, 1, 7, 4])

[2021-08-20 16:04] tangbinh opened #472 "BERTScore not working in DPP"
## 🐛 Bug

`BERTScore` computation doesn't seem to work in DPP. If it's related, `bert_score` is currently returning scalar scores while several others such as `bleu_score` and `rouge_score` return tensor scores.

[code]

Running the above script results in the following traceback:
[code]

### Expected behavior

`{'precision': [1.0, 0.996446967124939], 'recall': [1.0, 0.996446967124939], 'f1': [1.0

[2021-08-20 16:08] Borda commented on #432
@stancld how is it going here? do you think we can address also #472

[2021-08-20 16:24] stancld commented on #432
@Borda - I'll open a draft PR tonight. The PR definitely still requires some work, but I've already had something.

#472 Seems to me this is a consequence of storing references and predictions in a form of `List[str]`. I will take a look at that!

[2021-08-20 16:26] tkupek commented on #53
I had a look how tensorflow is handling this and it seems like a `dict` is most common:
https://github.com/tensorflow/models/blob/master/research/object_detection/metrics/coco_evaluation.py

They use this for the groundtruth (target):
[code]

and this for predictions (preds):
[code]

I find this intuitive and would go the same way. One could discuss if we want different dict keys for groundtruth a

[2021-08-23 08:07] tchaton commented on #459
I would align with Ananth there.

As the project grows, I believe there is need to provide better organizations and namespace, especially it saves loading time.

A benefit from this approach might be to incentivise users to check out other namespace and discover new metrics.

Best,
T.C

[2021-08-23 08:37] Borda commented on #459
I don't see any speed degradation, @ananthsub can you provide some benchmark?
@tchaton this is breaking chnage with any back compatibility for all users so this shall be well justified =)

[2021-08-23 09:20] stancld commented on #432
Hello @Borda, just a quick update regarding PR #473. I think that almost most of the features, tests and an example with a user's own model have been already implemented. I yet need to finish some docs to helper functions and go through the code once or twice again as it's a quite large PR.

[2021-08-23 13:18] InCogNiTo124 commented on #50
A polite request for reopening the issue, PQ is an important metric and it would be great to have it

[2021-08-23 13:48] #468 closed

[2021-08-23 14:58] SkafteNicki commented on #458
Hi @MeganClark-Robinson,
Finally found the time to take a stab at this. So here is a working implementation:
[code]
basically fixed two issues:
* `target` was passed multiple times `_input_format_classification` meaning that after the first stage it was tried being formatted once more which lead to one of the errors.
* In this line `s_correct += torch.sum(preds_stage == target)´ it should instead

[2021-08-23 14:58] #458 closed

[2021-08-24 06:46] nishprabhu opened #475 "User Warning thrown when calling AveragePrecision"
## 🐛 Bug

Using the AveragePrecision metric throws the following warning every time it is called:

UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).

### To Reproduce

Steps to reproduce the behavior:
1. Import AveragePrecision and create an object of th

[2021-08-24 06:57] Borda commented on #475
good catch, shall be a simple fix, are you interested in sending a PR? :rabbit:

[2021-08-24 07:00] nishprabhu commented on #475
Sure, I'll send a PR. :)

[2021-08-24 12:16] #475 closed

[2021-08-24 17:15] yassersouri commented on #54
I think this issue is related to #362.

[2021-08-24 17:22] yassersouri opened #480 "Refactor `_input_format_classification` and `_hinge_update` so that it uses `_input_squeeze`."
There is a function to in `checks.py` for removing the excess dimensions in https://github.com/PyTorchLightning/metrics/blob/1171a1f12507df5c8206475f3692b31ddab8d934/torchmetrics/utilities/checks.py#L284

Instead of reusing this function in [`_input_format_classification`](https://github.com/PyTorchLightning/metrics/blob/1171a1f12507df5c8206475f3692b31ddab8d934/torchmetrics/utilities/checks.py#L38